{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Systems of linear algebra" />
{% endblock %} {% block title %}
<title>Systems of Linear Equations</title>
{% endblock %} {% block content %}
<h1>Systems of Linear Equations</h1>

<section id="intro">
	<h2>Linear Systems</h2>
	<p>
		We begin by examining linear systems. We're familiar with linear
		equations: ${y = mx + b,}$ ${ax + by + c = 0,}$ ${y = cb,}$ these
		equations all form lines on the Cartesian plane. Before we go any
		further with linear equations, we must provide a few introductory
		definitions.
	</p>
	<p>
		First, linear equations are comprised of <b>linear combinations</b>, or
		<b>linear expressions</b>. A linear combination consists of variables
		${x_1, x_2, \ldots, x_n,}$ and has the form:
	</p>
	<figure>$$ a_1x_1 + a_2x_2 + a_3x_3 + \ldots + a_nx_n $$</figure>
	<p>
		where the numbers ${a_1, \ldots, a_n}$ are real numbers. Each ${a}$ is
		called a <b>coefficient</b> of the linear combination.
	</p>
	<p>
		When a linear combination has a constant value, we get a
		<b>linear equation</b>:
	</p>
	<dfn>
		<small>Definition.</small>
		<p>A <b>linear equation</b> is an equation of the form:</p>
		<figure>$$ a_1x_1 + a_2x_2 + \ldots + a_nx_n = C $$</figure>
		<p>where ${C}$ is a real or complex number constant.</p>
	</dfn>
	<p>For example, these are all linear equations:</p>
	<div class="split">
		<figure>
			$$ \begin{aligned} &2x = 3 \\ &4d = 7 \\ &3n - m = 4 \\ &a - 3b =
			\varphi \\ &5a - 9b + 2c = e \end{aligned} $$
		</figure>
		<figure>
			$$ \begin{aligned} &2a = 3 \\ &4y - 7 = 0 \\ &3m - n = 4 \\ &x_2 =
			2(\sqrt{6} - x_1) + x_3 \\ &4x - y = \pi \end{aligned} $$
		</figure>
	</div>
	<p>But these are not:</p>
	<figure>
		$$ \begin{aligned} &3x^2 + 5x + 6 = y \\ &m = 2 \sqrt{n} - 6
		\end{aligned} $$
	</figure>
	<p>Say we had the following linear equation:</p>
	<figure>$$ x_1 + 2x_2 - 3x_3 = 8 $$</figure>
	<p>
		What are some numbers we can plug in such that the equation holds true?
		Well, there are a few:
	</p>
	<figure>
		$$ x_1 = 3,~x_2 = 4,~x_3, = 1 \\ x_1 = -1,~x_2 = 3,~x_3 = -1 $$
	</figure>
	<p>
		It turns out there are numerous solutions to this equation. We can
		express all of them as:
	</p>
	<figure>
		$$ \begin{aligned} &x_1 = 8 - 2s + 3t \\ &x_2 = s \\ &x_3 = t~~~\text{
		where } (s,t \in \R) \end{aligned} $$
	</figure>
	<p>We can also write the solution set as:</p>
	<figure>$$ (8 - 2s + 3t,~s,~t) $$</figure>
	<p>
		When we written in this form, this is called an ${n}$-tuple of the form
		${(s_1, s_2, \ldots, s_n) \in \R^n.}$ More generally solutions of
		linear equations are tuples.
	</p>
	<p>
		Linear equations that have some relationship among one another can be
		gathered into a <b>system of linear equations</b>, or
		<b>linear system</b>:
	</p>
	<figure>
		$$ \begin{matrix} & a_{1,1}x_1 & + & a_{1,2}x_2 & + & \ldots & + &
		a_{1,n}x_n & = d_1 \\ & a_{2,1}x_1 & + & a_{2,2}x_2 & + & \ldots & + &
		a_{2,n} & = d_2 \\ & & & & & & & & \vdots \\ & a_{m,1}x_1 & + &
		a_{m,2}x_2 & + & \ldots & + & a_{m,n}x_n & = d_m \end{matrix} $$
	</figure>
	<p>
		The solution of a linear system is the ${n}$-tuple
		${(s_1,~s_2,~\ldots~s_n)}$ that satisfies all equations in the system.
		For example, consider this system:
	</p>
	<figure>
		$$ \begin{aligned} 3{x_1} + 2{x_2} &= 7 \\ -x_1 + x_2 &= 6
		\end{aligned} $$
	</figure>
	<p>This system has the solution:</p>
	<figure>$$ (-1, 5) $$</figure>
</section>

<section id="gausssmethod">
	<h2>Gauss's Method</h2>
	<p>
		When we attempt to find the set of all solutions, we are
		<i>solving</i> the linear system. One technique we can use to solving
		linear systems is through <b>Gaussian elimination</b>.<sup
		></sup> Formally:
	</p>
	<div class="note">
		<p>
			Gaussian elimination is also called <i>Gauss's Method</i> or
			<i>linear elimination</i>.
		</p>
	</div>
	<dfn>
		<small>Gauss's Method</small>
		<p>
			Given a linear system ${L,}$ the following operations
			<em>do not</em> change ${L}$'s set of solutions:
		</p>
		<ol>
			<li>
				<i>Swapping</i> - Moving an equation to another position in the
				system.
			</li>
			<li>
				<i>Scaling</i> - Multiplying both sides of an equation in the
				system by a nonzero constant.
			</li>
			<li>
				<i>Pivoting</i> - Replacing an equation by the sum of (a) itself,
				and (b) the multiple of another equation in the system.
			</li>
		</ol>
	</dfn>
	<p>Suppose we have the following system:</p>
	<figure>
		$$ \begin{aligned} 3x_3 = 9 \\ x_1 + 5x_2 - 2x_3 = 2 \\ \dfrac{1}{3}x_1
		+ 2x_2 = 3 \end{aligned} $$
	</figure>
	<p>
		The first step in Gaussian elimination is to align the similar
		variables:
	</p>
	<figure>
		$$ \begin{aligned} 3x_3 = 9 \\ x_1 + 5x_2 - 2x_3 = 2 \\ \frac{1}{3}x_1
		+ 2x_2 \phantom{+ 2x_3} = 3 \end{aligned} $$
	</figure>
	<p>It also helps to move the equations around:</p>
	<figure>
		$$ \begin{aligned} \frac{1}{3}x_1 + 2x_2 \phantom{+ 2x_3} = 3 \\ x_1 +
		5x_2 - 2x_3 = 2 \\ 3x_3 = 9 \end{aligned} $$
	</figure>
	<p>
		Next, let's get rid of that fraction by <b>scaling</b> the first
		equation by a factor of ${3:}$
	</p>
	<figure>
		$$ \begin{aligned} (3) \frac{1}{3}x_1 + 2x_2 \phantom{+ 2x_3} &= 3 (3)
		\\ x_1 + 5x_2 - 2x_3 &= 2 \\ 3x_3 &= 9 \end{aligned} $$
	</figure>
	<p>which results in:</p>
	<figure>
		$$ \begin{aligned} x_1 + 6x_2 \phantom{+ 2x_3} = 9 \\ x_1 + 5x_2 - 2x_3
		= 2 \\ 3x_3 = 9 \end{aligned} $$
	</figure>
	<p>Then we scale the first equation by a factor of ${-1.}$</p>
	<figure>$$ (-1) x_1 + 6x_2 = 9(-1) \\ -x_1 - 6x_2 = -9 $$</figure>
	<p>The peculiar step is adding this result to the second equation:</p>
	<figure>
		$$ \begin{aligned} x_1 + 5x_2 - 2x_3 &= 2 \\ + -x_1 - 6x_2
		\phantom{-2x_3} &= -9 \\ \hline -x_2 - 2x_3 &= -7 \end{aligned} $$
	</figure>
	<p>Our system now looks like:</p>
	<figure>
		$$ \begin{aligned} x_1 + 6x_2 \phantom{+ 2x_3} = 9 \\ \phantom{x_1 +}
		-x_2 - 2x_3 = -7 \\ 3x_3 = 9 \end{aligned} $$
	</figure>
	<p>
		Just looking at this system, we see that ${x_3 = 3.}$ Which in turn
		means that ${x_2 = 7 - 6 = 1.}$ Which in turn shows that ${x_1 = 9 - 6
		= 3.}$ Thus, we have the solution:
	</p>
	<figure>$$ (3,1,3) $$</figure>
	<p>
		Because this system has only one solution, the set of all solutions is
		simply:
	</p>
	<figure>$$ \{ (3,1,3) \} $$</figure>
	<p>Just to repeat what we can and cannot do with Gauss's method:</p>
	<ol>
		<li>We can swap the equations around.</li>
		<li>
			We can multiply both sides of any of the equations by a nonzero
			constant ${C.}$
		</li>
		<li>
			We can replace an equation with a multiple of itself plus a multiple
			of another equation.
		</li>
	</ol>
	<p>
		To illustrate each of these steps, suppose we had the following system:
	</p>
	<figure>
		$$ \begin{cases} 2x + y &= -1 \\ x - 3y &= 17 \end{cases} $$
	</figure>
	<p>The operation of swapping results in:</p>
	<div class="compare">
		$$ \begin{cases} 2x + y &= -1 \\ x - 3y &= 17 \end{cases} $$ $$
		\implies $$ $$ \begin{cases} x - 3y &= 17 \\ 2x + y &= -1 \end{cases}
		$$
	</div>
	<p>The operation of scaling:</p>
	<div class="compare">
		$$ \begin{cases} 2x + y &= -1 \\ x - 3y &= 17 \end{cases} $$ $$
		\implies $$ $$ \begin{cases} (2x + y &= -1) \cdot (-3) \\ x - 3y &= 17
		\end{cases} $$ $$ \implies $$ $$ \begin{cases} -6x - 3y &= 3 \\ x - 3y
		&= 17 \end{cases} $$
	</div>
	<p>
		The operation of <i>pivoting</i> is a little more involved. We select
		the equation we want privoted, called the <i>pivot</i>. Say, the first
		equation:
	</p>
	<figure>
		$$ \begin{cases} 2x + y &= -1 \\ x - 3y &= 17 \end{cases} $$
	</figure>
	<p>Then we select another equation, called the <i>pivoter</i>:</p>
	<figure>
		$$ \begin{cases} 2x + y &= -1 \\ x - 3y &= 17 \end{cases} $$
	</figure>
	<p>We take a multiple of the pivoter, say ${2:}$</p>
	<figure>$$ (x - 3y = 17) \cdot 2 \implies 2x - 6y = 34 $$</figure>
	<p>Then we add the multiple to the pivot:</p>
	<figure>
		$$ \begin{aligned} &2x - 6y = 34 \\ + &2x + y = -1 \\ \hline &4x - 5y =
		33 \end{aligned} $$
	</figure>
	<p>This yields:</p>
	$$ \begin{cases} 4x - 5y &= 33 \\ x - 3y &= 17 \end{cases} $$
	<p>
		The operations of swapping, scaling, and pivoting are called
		<b>elementary row operations</b>.
	</p>
</section>

<section id="augmented_matrices">
	<h2>Augmented Matrices</h2>
	<p>Suppose we had the following linear system:</p>
	<figure>
		$$ \begin{cases} &a_{11} + a_{12}x_2 + \ldots + a_{1n}x_n = b_1 \\
		&a_{21} + a_{22}x_2 + \ldots + a_{2n}x_n = b_2 \\ &\vdots \\ &a_{m1}x_1
		+ a_{m2}x_2 + \ldots a_{mn}x_n = b_m \end{cases} $$
	</figure>
	<p>
		Examining this system, we see that there are ${m}$ equations and ${n}$
		variables ${x_1, x_2, \ldots, x_n.}$ Accordingly, we say that this is a
		<b>${m \times n}$ system of linear equations</b>. The tuple:
	</p>
	<figure>$$ (x_1 = c_1, x_2 = c_2, \ldots, x_n = c_n) $$</figure>
	<p>
		is a <b>solution</b> of the linear sysem if it satsifies
		<em>all</em> ${m}$ equations simultaneously. If the ${m \times n}$
		system has no solution, then we say that the ${m \times n}$ system is
		<b>inconsistent</b>. If it does have a solution, we say that the ${m
		\times n}$ system is <b>consistent</b>.
	</p>
	<p>Suppose we have the following linear system:</p>
	<figure>
		$$ \begin{cases} \phantom{2}x_1 + x_2 - x_3 = 0 \\ \phantom{2x_1 +} x_2
		+ x_3 = 0 \\ 2x_1 - x_2 + x_3 = 0 \end{cases} $$
	</figure>
	<p>
		Notice that for each of the equations, ${b_1,}$ ${b_2,}$ and ${b_3}$ is
		zero. We say that such a system is <b>homogeneous</b>.
	</p>
	<dfn>
		<small>Definition: Homogeneous System</small>
		<p>
			An ${m \times n}$ system is <i>homogenous</i> if ${b_i = 0}$ for all
			${i = 1, 2, \ldots, n.}$
		</p>
	</dfn>
	<p>
		Notice that because a system is homogenous, we have the following
		lemma:
	</p>
	<dfn>
		<small>lemma</small>
		<p>
			If a system is homogeneous, then ${x_1 = x_2 = \ldots = x_n = 0}$ is
			always a solution.<sup></sup>
		</p>
	</dfn>
	<div class="note">
		<p>But not necessarily the only solution.</p>
	</div>
	<p>
		Some systems present themselves with too few equations. For example,
		the following system:
	</p>
	<figure>
		$$ \begin{cases} \phantom{2}x + y + 2z &= 2 \\ 2x + y - z &= 4
		\end{cases} $$
	</figure>
	<p>
		contains three distinct variables but only two equations. In general:
	</p>
	<dfn>
		<small>Definition: System Specificity</small>
		<p>Given an ${m \times n}$ linear system,</p>
		<ul>
			<li>
				If ${n &gt; m,}$ then ${m \times n}$ is an
				<i>underspecified</i> system.
			</li>
			<li>
				If ${n &lt; m,}$ then ${m \times n}$ is an
				<i>overspecified</i> system.
			</li>
		</ul>
	</dfn>
	<p>
		Given how large linear systems can be, we need a way to more concisely
		express the system. To do so, we use an <b>augmented matrix</b>.
	</p>
</section>

<!-- <section id="intro">
	<p>
		 In the
		linear algebra kingdom, we move beyond the flatland of a 2-dimensional plane
		into a world of higher dimensions.
	</p>
	
	<div class="note">
		<p>To be precise, equations of the form:</p>
		<figure>
			<div>
				<p>${a_1x_1 + a_2 x_2 + \ldots + a_n x_n = 0}$</p>
			</div>
		</figure>
		<p>are <b>homogenous linear equations</b>.</p>
	</div>
	<p>
		As long as we can arrange an equation into the form above, we can say that
		we have a linear equation. For example, the following are all linear
		equations:
	</p>
	
	<p>However, these equations are not:</p>
	
	<p>
		Consider the linear equation ${x_1 + 2x_2 - 3x_3 = 8.}$ What values can we
		substitute for the variables such that the equation is true? Well, we can
		think of a few:
	</p>
	<figure>
		<div>
			<p>${3 + 2(4) - 3(1) = 8;}$ ${x_1 = 3,}$ ${x_2 = 4,}$ ${x_3 = 1}$</p>
			<p>${-1 + 2(3) - 3(-1) = 8;}$ ${x_1 = -1,}$ ${x_2 = 3,}$ ${x_3 = -1}$</p>
		</div>
	</figure>
	<p>
		If we tried finding all the solutions, we might be at it for a while. The
		equation has an infinite number of solutions: ${x_1 = 8 - 2s + 3t,}$ where
		${x_2 = s,}$ ${x_3 = t,}$ and ${s, t \in \R.}$
	</p>
	<p>
		A set of linear equations is called a
		<b>system of linear equations</b>, or more concisely, a
		<b>linear system</b>. Here's an example of a linear system:
	</p>
	<figure>
		<div>
			<ol>
				<li>${\dfrac{1}{2}x - y = -2}$</li>
				<li>${2x + y = -3}$</li>
			</ol>
		</div>
	</figure>
	<p>
		What numbers can we plug in to ${x}$ and ${y}$ such that both equations are
		true? In this case, it's ${(-2, 1).}$ We say that ${(2,1)}$ is the
		<b>solution</b> of the linear system above. The solution of a linear system
		in ${n}$ unknowns ${x_1, x_2, \ldots, x_n}$ is a sequence of ${n}$ numbers
		${s_1, s_2, \ldots, s_n}$ for which the substitution:
	</p>
	<figure>
		<div>
			<p>${x_1 = s_1, x_2 = s_2, \ldots, x_n = s_n}$</p>
		</div>
	</figure>
	<p>
		makes each equation a true proposition. Notice that we wrote the solution as
		${(-2, 1).}$ This is an <b>ordered ${n}$-tuple</b>. Indeed, solutions to
		linear equations can be expressed as the ordered tuple:<sup></sup>
	</p>
	<figure>
		<div>
			<p>${(s_1, s_2, \ldots, s_n)}$</p>
		</div>
	</figure>
	<div class="note">
		<p>
			Notice that with two unknowns, ${n=2,}$ and we have the solution ${(s_1,
			s_2).}$ Thus, the solution to a linear system of two unknowns is an
			ordered pair; for a linear system of three unknowns an ordered triple; for
			a linear system of four unknowns an ordered quadruple, and so on.
		</p>
	</div>
	<p>
		Linear algebra is the investigation of linear systems, where the predominant
		questions include, but are not limited to: Does the linear system have any
		solutions? Does the system have no solution, a unique solution, or an
		infinite number of solutions? If there are solutions, how do we find them?
		Do the solutions have a structure or pattern? These questions will guide our
		exploration of the linear algebra world.
	</p>
</section>

<section id="simple_approaches">
	<h2>Simple Approaches to Solving Linear Systems</h2>
	<p>
		Let's start by looking at some rudimentary and straightforward ways to
		solving linear systems. Because these are the easiest approaches to apply,
		we should always consider whether we can use them before going on to more
		sophisticated tactics.
	</p>
	<p>
		<span class="topic">Subtracting Equations.</span> Looking at our previous
		example, we can find the solution to the linear system by subtracting the
		(2) from (1):
	</p>
	<figure>
		<div>
			$$ \begin{aligned} 2x + 2y &= 3 \\ -(2x + y &= 2.5) \\ \hline 0 + y &= 0.5
			\end{aligned} $$
		</div>
	</figure>
	<p>
		As we can see, ${y = 0.5.}$ But, the solution set is incomplete; we still
		need ${x.}$ Plugging ${y}$ into (1):
	</p>
	<figure>
		<div>
			$$ \begin{aligned} 2x + 2y &= 3 \\ 2x + 2(0.5) &= 3 \\ 2x + 1 &= 3 \\ 2x +
			1 - 1 &= 3 - 1 \\ 2x &= 2 \\ x &= 1 \end{aligned} $$
		</div>
	</figure>
	<p>
		Our solution set is thus ${\{ x, y \in \R \mid x = 1 \land y = 0.5 \}}$
		Alternatively, we can write this solution set as the ordered pair ${(1,
		0.5).}$ This can in turn be interpreted as the Cartesian coordinate ${(1,
		0.5).}$ If we examined the graphs of equations (2) and (1), we find that the
		coordinate ${(1, 0.5)}$ is the
		<b>point of intersection</b> between the two lines.
	</p>
	<p>
		<span class="topic">Multiplying by a Non-zero Constant.</span> Some linear
		systems aren't immediately conducive to subtraction. For example, consider
		the following linear system:
	</p>
	<figure>
		<div>
			<ol>
				<li>${9x + 3y = 6}$</li>
				<li>${2x - 7y = 9}$</li>
			</ol>
		</div>
	</figure>
	<p>
		If we tried subtracting these equations, we would arrive at a third equation
		with two unknowns: ${7x + 10y = 15.}$ That's not very helpful. What we
		instead want to do is manipulate the equations so that we arrive at some
		terms sharing a constant, resulting in a cancellation from subtraction. We
		can do so with multiplication:
	</p>
	<figure>
		<div>
			$$ \begin{aligned} 2(9x + 3y &= 6) \\ 9(2x - 7y &= 9) \\ \darr \\ 18x + 6y
			&= 12 \\ 18x - 63y &= 81 \end{aligned} $$
		</div>
	</figure>
	<p>We can then apply our familiar subtraction approach:</p>
	<figure>
		<div>
			$$ \begin{aligned} 18x + 6y &= 12 \\ - (18x - 63y) &= 81 \\ \hline 69y &=
			-69 \\ y &= -1 \end{aligned} $$
		</div>
	</figure>
	<p>Then, plugging our resulting solution for ${y}$ into equation (1):</p>
	<figure>
		<div>
			$$ \begin{aligned} 18x + 6(-1) &= 12 \\ 18x - 6 &= 12 \\ 18x - 6 + 6 &= 12
			+ 6 \\ 18x &= 18 \\ x &= 1 \end{aligned} $$
		</div>
	</figure>
	<p>
		Our solution set is thus ${\{ x, y \in \R \mid x = 1 \land y = -1 \},}$ or
		${(-1, 1).}$
	</p>
</section>

<section id="geometry_linear_equations">
	<h2>Linear Equations & Geometry</h2>
	<p>Consider the following system of linear equations:</p>
	<figure>
		<div>
			<p>${2x - y = 0}$</p>
			<p>${-x + 2y = 3}$</p>
		</div>
	</figure>
	<p>We can represent this system with a matrix:</p>
	<figure>
		<div>
			$$ \begin{bmatrix} 2 & -1 \\ -1 & 2 \end{bmatrix} \begin{bmatrix} x \\ y
			\end{bmatrix} = \begin{bmatrix} 0 \\ 3 \end{bmatrix} $$
		</div>
	</figure>
	<p>Each matrix above is called a <b>vector</b>. We define them as such:</p>
	<figure>
		<div>
			$$ A = \begin{bmatrix} 2 & -1 \\ -1 & 2 \end{bmatrix} $$ $$ X =
			\begin{bmatrix} x \\ y \end{bmatrix} $$ $$ b = \begin{bmatrix} 0 \\ 3
			\end{bmatrix} $$
		</div>
	</figure>
	<p>Accordingly, our system can be even more concisely represented as:</p>
	<figure>
		<div>
			<p>${A X = b}$</p>
		</div>
	</figure>
	<p>
		Plotting all the points that satisfy the first equation, ${2x - y = 0,}$ we
		have:
	</p>
	<figure>
		<img
			src="{% static 'images/linalg_1.svg' %}"
			alt="line 1"
			loading="lazy"
			width="200px"
			height="200px"
		/>
	</figure>
	<p>
		We can see that there are a variety of points that satisfy this equation:
		${(0,0), (1,2), (2,4), etc.}$ All these points, or solutions, lie on the
		graph of ${2x - y = 0.}$ Now consider the graph of the second equation, ${-x
		+ 2y = 0:}$
	</p>
	<figure>
		<img
			src="{% static 'images/linalg_2.svg' %}"
			alt="line 2"
			loading="lazy"
			width="200px"
			height="200px"
		/>
	</figure>
	<p>
		For this graph, we also have several points that satisfy this equation:
		${(-3, 0), (0, 1.5), etc.}$ All these points lie on the graph, and they are
		the solutions to the equation ${-x + 2y = 0.}$ If we plot the graphs of both
		equations together:
	</p>
	<figure>
		<img
			src="{% static 'images/linalg_intersection1.svg' %}"
			alt="intersect"
			loading="lazy"
			width="200px"
			height="200px"
		/>
	</figure>
	<p>
		We see that both lines intersect at the point ${(1,2).}$ And in fact, the
		point ${(1,2)}$ solves both linear equations:
	</p>
	<figure>
		<div>
			<p>${2(1) - (2) = 0}$</p>
			<p>${-(1) + 2(2) = 3}$</p>
		</div>
	</figure>
	<p>
		When we think of systems of linear equations in the manner above, we are
		thinking of them in terms of the matrix's
		<span class="italicsText">rows</span>. We can, however, also think of them
		in terms of the matrix's <span class="italicsText">columns</span>:
	</p>
	<figure>
		<div>
			<div>
				<p>${2x - y = 0}$</p>
				<p>${-x + 2y = 3}$</p>
			</div>
			<div>
				<p>${\darr}$</p>
			</div>
			<div>
				$$ \textcolor{red}{x \begin{bmatrix} 2 \\ -1 \end{bmatrix} + y
				\begin{bmatrix} -1 \\ 2 \end{bmatrix}} = \begin{bmatrix} 0 \\ 3
				\end{bmatrix} $$
			</div>
		</div>
	</figure>
	<p>
		The left-hand side of the last equation above (in red) is called a
		<b>linear combination</b> of the columns. Linear algebra asks us, what
		values of ${x}$ and ${y}$ do we multiply to produce the ${\begin{bmatrix} 0
		\\ 3 \end{bmatrix}?}$ Like the graphs above, we can draw this combination.
		But, unlike the graphs, we're going to diagram the vectors. First, the
		vector ${\begin{bmatrix} 2 \\ -1 \end{bmatrix}:}$
	</p>
	<figure>
		<img
			src="{% static 'images/vector21.svg' %}"
			alt="The vector (2, -1)"
			loading="lazy"
			width="300px"
			height="300px"
		/>
	</figure>
	<p>Adding the second vector, ${\begin{bmatrix} -1 \\ 2 \end{bmatrix}:}$</p>
	<figure>
		<img
			src="{% static 'images/vector2112.svg' %}"
			alt="The vectors (2, -1), (-1, 2)"
			loading="lazy"
			width="300px"
			height="300px"
		/>
	</figure>
	<p>
		Now we consider what combination to take. Let's say we use the combination:
	</p>
	<figure>
		<div>
			$$ 1 \begin{bmatrix} 2 \\ -1 \end{bmatrix} + 2 \begin{bmatrix} -1 \\ 2
			\end{bmatrix} = \begin{bmatrix} 0 \\ 3 \end{bmatrix} $$
		</div>
	</figure>
	<p>
		On the diagram, we add to the end of the vector ${u}$ two instances of the
		vector ${u}$:
	</p>
	<figure>
		<img
			src="{% static 'images/vector21final.svg' %}"
			alt="Final vector, (0, 3)"
			loading="lazy"
			width="300px"
			height="300px"
		/>
	</figure>
	<p>
		Notice where we end up &mdash; the point ${(0, 3).}$ Let's consider another
		example:
	</p>
	<figure>
		<div>
			<p>${2x - y = 0}$</p>
			<p>${-x + 2y - z = -1}$</p>
			<p>${-3y + 4z = 4}$</p>
		</div>
	</figure>
	<p>Now we've got a system of three equations. The matrix form:</p>
	<figure>
		<div>
			$$ A = \begin{bmatrix} 2 & -1 & 0 \\ -1 & 2 & -1 \\ 0 & -3 & 4
			\end{bmatrix} \space b = \begin{bmatrix} 0 \\ -1 \\ 4 \end{bmatrix} $$
		</div>
	</figure>
	<p>Plotting these equations:</p>
	<figure>
		<img
			src="{% static 'images/3dPlot.svg' %}"
			alt="3 dimensional plot"
			loading="lazy"
			width="300px"
			height="300px"
		/>
	</figure>
	<p>
		As we can see, once we venture beyond two variables, graphical
		representations become difficult. The key idea, however, is that linear
		equations of three variables represent a <b>plane</b>. Each row in the
		matrix above gives us a plane in three dimensions. The intersection of these
		planes embodies the solution to the linear system. From geometry, we know
		that the intersection of two planes is a <b>line</b>. The intersection of
		three planes, however, is either a <b>line</b> or a <b>point</b>. In our
		case, it's like a point.
	</p>
</section>

<section id="matrix_operations">
	<h2>Matrix Operations</h2>
	<p>
		As the number of equations and unknowns in a linear system increases, so
		does the complexity of our algebraic manipulations. For example, consider
		this generalized linear system:
	</p>
	<figure>
		$$ \begin{matrix} &a_{11}x_1 + &a_{12}x_2 + &\ldots + &a_{1n}x_n = &b_1 \\
		&a_{21}x_1 + &a_{22}x_2 + &\ldots + &a_{2n}x_n = &b_2 \\ &\vdots &\vdots
		&\vdots &\vdots &\vdots \\ &a_{m1}x_1 + &a_{m2}x_2 + &\ldots + &a_{mn}x_n =
		&b_m \\ \end{matrix} $$
	</figure>
	<p>We can abstract this system into an <b>augmented matrix</b>:</p>
	<figure>
		$$ \begin{pmatrix} & a_{11} & a_{12} & \ldots & a_{1n} & b_1 \\ & a_{21} &
		a_{22} & \ldots & a_{2n} & b_2 \\ & \vdots & \vdots & \vdots & \vdots &
		\vdots \\ & a_{m1} & a_{m2} & \ldots & a_{mn} & b_m \\ \end{pmatrix} $$
	</figure>
	<p>For example, consider the system:</p>
	<figure>
		$$
			\begin{matrix}
			&x_1 &+ &x_2 &+ &3x_3 &= &5 \\ 
			&3x_1 &+ &x_2 &+ &x_3 &= &6 \\
			&2x_1 &+ &x_2 &+ &2x_3 &= &6
			\end{matrix}
		$$
	</figure>
	<p>The augmented matrix:</p>
	<figure>
		$$
			\begin{pmatrix}
				1 & 1 & 3 & 5 \\
				3 & 1 & 1 & 6 \\
				2 & 1 & 2 & 6
			\end{pmatrix}
		$$
	</figure>
	<p>
		With the augmented matrix, we can perform several algebraic operations.
		Recall that with systems of equations, we can:
	</p>
	<figure>
		<ol>
			<li>Multiply an equation through by nonzero constant.</li>
			<li>Interchange two equations.</li>
			<li>Add a constant times one equation to another.</li>
		</ol>
	</figure>
	<p></p>
</section>

<section id="gaussian_elimination">
	<h2>Gaussian Elimination</h2>
	<p></p>
</section> -->
{% endblock %}
