{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Systems of linear algebra" />
{% endblock %} {% block title %}
<title>Systems of Linear Equations</title>
{% endblock %} {% block content %}
<h1>Systems of Linear Equations</h1>
<section id="intro">
	<p>
		We're familiar with linear equations: ${y = mx + b,}$ ${ax + by + c = 0,}$
		${y = cb,}$ these equations all form lines on the Cartesian plane. In the
		linear algebra kingdom, we move beyond the flatland of a 2-dimensional plane
		into a world of higher dimensions.
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> A
				<span class="term">linear equation</span> is an equation of the form:
			</p>
			<figure class="math-display">
				<div>
					<p>${a_1x_1 + a_2x_2 + \ldots + a_nx_n = b}$</p>
				</div>
			</figure>
			<p>
				where ${b}$ and the <span class="term">coefficients</span> ${a_1x_1,
				a2x_2, \ldots, a_nx_n}$ are real or complex constants.
			</p>
		</div>
	</figure>
	<p>As long as we can arrange an equation into the form above, we can say that we have a linear equation. For example, the following are all linear equations:</p>
	<figure class="math-display">
		<div>
			<p>${2a = 3}$</p>
			<p>${4y - 7 = 0}$</p>
			<p>${3m - n = 4}$</p>
			<p>${x_2 = 2(\sqrt{6} - x_1) + x_3}$</p>
		</div>
	</figure>
	<p>However, these equations are not:</p>
	<figure class="math-display">
		<div>
			<p>${3x^2 + 5x + 6 = y}$</p>
			<p>${m = 2 \sqrt{n} - 6}$</p>
		</div>
	</figure>
	<p>Consider the linear equation ${x_1 + 2x_2 - 3x_3 = 8.}$ What values can we substitute for the variables such that the equation is true? Well, we can think of a few:</p>
	<figure class="math-display">
		<div>
			<p>${3 + 2(4) - 3(1) = 8;}$ ${x_1 = 3,}$ ${x_2 = 4,}$ ${x_3 = 1}$</p>
			<p>${-1 + 2(3) - 3(-1) = 8;}$ ${x_1 = -1,}$ ${x_2 = 3,}$ ${x_3 = -1}$</p>
		</div>
	</figure>
	<p>If we tried finding all the solutions, we might be at it for a while. The equation has an infinite number of solutions: ${x_1 = 8 - 2s + 3t,}$ where ${x_2 = s,}$ ${x_3 = t,}$ and ${s, t \in \R.}$</p>
</section>
{% endblock %}
