{% extends "numerc/layout.html" %} {% block description %}
<meta
	name="description"
	content="Computer science notes on Python, C, C++, ML, Ruby, Java, Swift, Racket, Scheme, Haskell, and many more."
/>
{% endblock %} {% block title %}
<title>Review of Computation</title>
{% endblock %}

<!-- {% block nav %}
<ul>
	<li><a href="{% url 'numerc:py_preface' %}">Fundamentals I: Python</a></li>
	<li><a href="{% url 'numerc:arch_preface' %}">Computer Architecture</a></li>
	<li><a href="{% url 'numerc:java_preface' %}">Object-Oriented Programming I: Java</a></li>
	<li><a href="{% url 'numerc:cpp_preface' %}">Data Structures & Algorithms: C++</a></li>
	<li><a href="{% url 'numerc:lisp_preface' %}">Functional Programming I: Lisp</a></li>
	<li><a href="{% url 'numerc:ml_preface' %}">Programming Language Theory</a></li>
	<li><a href="{% url 'numerc:swift_preface' %}">Mobile Development: Swift</a></li>
	<li><a href="{% url 'numerc:js_preface' %}">Object-Oriented Programming II: JavaScript</a></li>
	<li><a href="{% url 'numerc:haskell_intro' %}">Functional Programming II: Haskell</a></li>
</ul>
{% endblock %} -->

{% block content %}
<h1>Preface</h1>
<section>
	<p>
		<span class="drop">T</span>he pages below contain notes from various
		computer science courses I've taken, as well as my own independent readings.
		This page is updated daily, but every now and then I will miss something. I
		try to correct these errors during a full-weekend review at month's end. In
		the meantime, please excuse errors or omissions.
	</p>
	<p>
		Separately, I have another page,
		<a href="{% url 'numerm:index' %}"
			><span class="title">Review of Mathematics</span></a
		>, containing similar notes for mathematics. I hope at least one of these
		pages helps anyone else exploring computer science.
	</p>
	<p>
		The notes are organized by volume (indicated by a Roman numeral), then by
		chapter (indicated by a Hindu-Arabic numeral). The organization attempts to
		mirror a typical course sequence for a computer science concentration at a
		U.S. university. The volumes focus on a specific area of computer science,
		and the chapters focus on topics within that area. For particularly long
		topics, an outline is provided at the beginning of the page.
	</p>
	<p>
		<span class="topic">Some Conventions.</span> In my experience, English is
		not the best language for communicating ideas in computer science. There are
		many concepts in computer science that can easily come into conflict with
		conversational and formal English. As such, please take note of the
		following conventions I've adopted in my writing.
	</p>
	<p>
		First, I use the words <span class="term">to</span> and
		<span class="term">through</span> to mean different things in the context of
		intervals. I adopt this convention because there's no consistency in English
		when it comes to counting. My remedy: The phrase &#8220;1
		<span class="underlineText">to</span> 3&#8221; denotes the open interval
		${[1, 3).}$ In other words, when I write &#8220;Count from 1 to 3,&#8221; I
		mean, &#8220;1, 2.&#8221; The phrase &#8220;1
		<span class="underlineText">through</span> 3&#8221; denotes the closed
		interval ${[1, 3].}$ I.e., the phrase &#8220;Count from 1 through 3&#8221;
		implies &#8220;1, 2, 3.&#8221; In short, &#8220;to&#8221; means exclude the
		last number, and &#8220;through&#8221; means include the last number.
	</p>
	<p>
		Second, in formal American English, punctuation at the end of a clause is
		inserted inside quotation marks, if any. For example: This is
		&#8220;correct,&#8221; But not &#8220;this&#8221;. This is one of the more
		asinine rules of American English that does not appear to serve any purpose.
		Worse, it comes into conflict with sentences refering to string values.
		To avoid any confusion, I adopt the more sensible British rule, where
		punctuation is placed &#8220;outside&#8221;. Owing to how
		deeply ingrained the American rule is in me, there may be instances where I
		succumb to the habit, but never will I do so with string values.
	</p>
	<p>
		Third, the use of <span class="term">while</span> and
		<span class="term">whilst</span>. Because the word &#8220;while&#8221; is
		ubiquitous in computer science for while-loops, I will only use
		&#8220;while&#8221; in the context of iteration. Where a clause would mean
		&#8220;while at the same time&#8221;, I use the British
		&#8220;whilst&#8221;.
	</p>
	<p>
		Fourth, a few notes on logic. I will occasionally use the clipping
		&#8220;iff&#8221; to mean &#8220;if and only if&#8221;. The biconditional is
		one of the most important and pervasive constructs in logic, and it would be
		inefficient to have to write &#8220;if and only if&#8221; every time.
		Additionally: The word &#8220;or&#8221; is always the inclusive-or, and
		where the exclusive-or is intended, I use either &#8220;${a}$ xor
		${b}$&#8221; or &#8220;${a}$ or ${b}$ but not both&#8221;. Finally, the
		construct &#8220;${x}$ unless ${y}$&#8221; means &#8220;If ${y,}$ not
		${x}$&#8221;.
	</p>
</section>
<section>
	<h2>Table of Contents</h2>
	<ul class="toc">
		<li class="grid-item"><a href="{% url 'numerc:index' %}">Preface</a></li>
		{% include './java/outline.html' %} 
		{% include './sml/outline.html' %}
		{% include './lisp/outline.html' %} 
		{% include './ruby/outline.html' %} 
		{% include './cpp/outline.html' %} 
		{% include './ml/outline.html' %} 
		{% include './py/outline.html' %} 
		{% include './swift/outline.html' %} 
		{% include './js/outline.html' %} 
		{% include './haskell/outline.html' %} 
		{% include './cmp/outline.html' %} 
		{% include './sys/outline.html' %} 
		{% include './des/outline.html' %}
	</ul>
</section>
{% endblock %}
