{% extends "numerc/layout.html" %} {% block description %}
<meta
	name="description"
	content="Computer science notes on Python, C, C++, ML, Ruby, Java, Swift, Racket, Scheme, Haskell, and many more."
/>
{% endblock %} {% block title %}
<title>Review of Computation</title>
{% endblock %}

<!-- {% block nav %}
<ul>
	<li><a href="{% url 'numerc:py_preface' %}">Fundamentals I: Python</a></li>
	<li><a href="{% url 'numerc:arch_preface' %}">Computer Architecture</a></li>
	<li><a href="{% url 'numerc:java_preface' %}">Object-Oriented Programming I: Java</a></li>
	<li><a href="{% url 'numerc:cpp_preface' %}">Data Structures & Algorithms: C++</a></li>
	<li><a href="{% url 'numerc:lisp_preface' %}">Functional Programming I: Lisp</a></li>
	<li><a href="{% url 'numerc:ml_preface' %}">Programming Language Theory</a></li>
	<li><a href="{% url 'numerc:swift_preface' %}">Mobile Development: Swift</a></li>
	<li><a href="{% url 'numerc:js_preface' %}">Object-Oriented Programming II: JavaScript</a></li>
	<li><a href="{% url 'numerc:haskell_intro' %}">Functional Programming II: Haskell</a></li>
</ul>
{% endblock %} -->

{% block content %}
<h1>Preface</h1>
<section>
	<p>
		<span class="drop">T</span>he pages below contain notes from various
		computer science courses I've taken, as well as my own independent readings.
		This page is updated daily, but every now and then I will miss something. I
		try to correct these errors during a full-weekend review at month's end. In
		the meantime, please excuse errors or omissions.
	</p>
	<p>
		Separately, I have another page,
		<a href="{% url 'numerm:index' %}"
			><span class="title">Summa Mathematica</span></a
		>, containing similar notes for mathematics. I hope at least one of these
		pages helps anyone else exploring computer science.
	</p>
	<p>
		The notes are organized by volume (indicated by a Roman numeral), then by
		chapter (indicated by a Hindu-Arabic numeral). The organization attempts to
		mirror a typical course sequence for a computer science concentration at a
		U.S. university. The volumes focus on a specific area of computer science,
		and the chapters focus on topics within that area. For particularly long
		topics, an outline is provided at the beginning of the page.
	</p>
</section>
<section>
	<h2>Table of Contents</h2>
	<ul class="toc">
		<li class="grid-item"><a href="{% url 'numerc:index' %}">Preface</a></li>
		{% include './java/outline.html' %} 
		{% include './py/outline.html' %} 
		{% include './lisp/outline.html' %} 
		{% include './arch/outline.html' %} 
		{% include './cpp/outline.html' %} 
		{% include './ml/outline.html' %} 
		{% include './swift/outline.html' %} 
		{% include './js/outline.html' %} 
		{% include './haskell/outline.html' %}
		{% include './cmp/outline.html' %}
		{% include './sys/outline.html' %}
		{% include './des/outline.html' %}
	</ul>
</section>
{% endblock %}
