<ul>
	<!-- <li><a href="">Computer Architecture</a></li>
	<ul>
		<li><a href="">Preface</a></li>
		<li><a href="">Elementary Logic Gates</a></li>
		<li><a href="">Boolean Algebra</a></li>
	</ul> -->
	<li><a href="{% url 'numerc:index' %}">Preface</a></li>
	<li><a href="{% url 'numerc:py_preface' %}">Fundamentals II: Python</a></li>
	<ul>
		<li><a href="{% url 'numerc:py_computability' %}">Computability</a></li>
		<li><a href="{% url 'numerc:py_programs' %}">Programs in Python</a></li>
		<li><a href="{% url 'numerc:py_libraryImport' %}">Importing Libraries in Python</a></li>
		<li><a href="{% url 'numerc:py_objects' %}">Data Objects in Python</a></li>
		<li><a href="{% url 'numerc:py_typeConvert' %}">Converting Types in Python</a></li>
		<li><a href="{% url 'numerc:py_arithmeticOperators' %}">Arithmetic Operators</a></li>
		<li><a href="{% url 'numerc:py_variables' %}">Variables in Python</a></li>
		<li><a href="{% url 'numerc:py_comparisonOperators' %}">Python Comparison Operators</a></li>
		<li><a href="{% url 'numerc:py_booleanOperators' %}">Python Boolean Operators</a></li>
		<li><a href="{% url 'numerc:py_branchingPrograms' %}">Branching Programs</a></li>
		<li><a href="{% url 'numerc:py_strings' %}">Strings in Python</a></li>
		<li><a href="{% url 'numerc:py_io' %}">Input and Output in Python</a></li>
		<li><a href="{% url 'numerc:py_loops' %}">Python Loops</a></li>
		<li><a href="{% url 'numerc:py_bisectionSearch' %}">Bisection Search</a></li>
		<li><a href="{% url 'numerc:py_floatsFractions' %}">Floats and Fractions</a></li>
		<li><a href="{% url 'numerc:py_newtonRaphson' %}">Newton-Raphson Method</a></li>
		<li><a href="{% url 'numerc:py_decomposition' %}">Decomposition and Abstraction</a></li>
		<li><a href="{% url 'numerc:py_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:py_controlFlow' %}">Control Flow</a></li>
		<li><a href="{% url 'numerc:py_keywordArguments' %}">Keyword Arguments</a></li>
		<li><a href="{% url 'numerc:py_specifications' %}">Specifications</a></li>
		<li><a href="{% url 'numerc:py_recursion' %}">Recursion</a></li>
		<li><a href="{% url 'numerc:py_files' %}">Python Files</a></li>
		<li><a href="{% url 'numerc:py_structuredTypes' %}">Structured Types</a></li>
		<li><a href="{% url 'numerc:py_tuples' %}">Tuples</a></li>
		<li><a href="{% url 'numerc:py_lists' %}">Lists</a></li>
		<li><a href="{% url 'numerc:py_mutability' %}">Mutability</a></li>
		<li><a href="{% url 'numerc:py_functionObjects' %}">Functions as Objects</a></li>
		<li><a href="{% url 'numerc:py_dictionaries' %}">Dictionaries</a></li>
		<li><a href="{% url 'numerc:py_tests' %}">Testing</a></li>
		<li><a href="{% url 'numerc:py_bugs' %}">Debugging</a></li>
		<li><a href="{% url 'numerc:py_exceptionsAssertions' %}">Exceptions & Assertions</a></li>
		<li><a href="{% url 'numerc:py_oop' %}">Object-oriented Programming</a></li>
		<li><a href="{% url 'numerc:py_classes' %}">Classes</a></li>
		<li><a href="{% url 'numerc:py_sets' %}">Sets</a></li>
		<li><a href="{% url 'numerc:py_oopBenefits' %}">The Power of OOP</a></li>
		<li><a href="{% url 'numerc:py_hierarchies' %}">Hierarchies</a></li>
		<li><a href="{% url 'numerc:py_classVariables' %}">Class Variables</a></li>
	</ul>

	<li><a href="{% url 'numerc:java_preface' %}">Object Oriented Programming I: Java</a></li>
	<ul>
		<li><a href="{% url 'numerc:java_typesAndVariables' %}">Types & Variables</a></li>
		<li><a href="{% url 'numerc:java_conditionals' %}">Conditional Statements</a></li>
		<li><a href="{% url 'numerc:java_variableScope' %}">Variable Scope</a></li>
		<li><a href="{% url 'numerc:java_arrays' %}">Arrays</a></li>
		<li><a href="{% url 'numerc:java_loops' %}">Loops</a></li>
		<li><a href="{% url 'numerc:java_algorithms' %}">Algorithms</a></li>
		<li><a href="{% url 'numerc:java_consolePrograms' %}">Console Programs</a></li>
		<li><a href="{% url 'numerc:java_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:java_strings' %}">Strings</a></li>
		<li><a href="{% url 'numerc:java_overloading' %}">Overloading</a></li>
		<li><a href="{% url 'numerc:java_multidimensional' %}">Multidimensional Data</a></li>
		<li><a href="{% url 'numerc:java_compilation' %}">Compilation</a></li>
		<li><a href="{% url 'numerc:java_objects' %}">Objects</a></li>
		<li><a href="{% url 'numerc:java_constructors' %}">Constructs & Visibility</a></li>
		<li><a href="{% url 'numerc:java_gettersSetters' %}">Getters & Setters</a></li>
		<li><a href="{% url 'numerc:java_inheritance' %}">Inheritance</a></li>
		<li><a href="{% url 'numerc:java_fileProcessing' %}">File Processing</a></li>
		<li><a href="{% url 'numerc:java_polymorphism' %}">Polymorphism</a></li>
		<li><a href="{% url 'numerc:java_objectReferences' %}">Object References</a></li>
		<li><a href="{% url 'numerc:java_interfaces' %}">Interfaces</a></li>
		<li><a href="{% url 'numerc:java_dataStructuresAndAlgorithms' %}">Data Structures & Algorithms</a></li>
	</ul>

	<li><a href="{% url 'numerc:cpp_preface' %}">Data Structures & Algorithms: C++</a></li>
	<ul>
		<li><a href="{% url 'numerc:cpp_errors' %}">Errors Generally</a></li>
		<li><a href="{% url 'numerc:cpp_basicOperators' %}">Basic Operators</a></li>
		<li><a href="{% url 'numerc:cpp_variablesAndTypes' %}">Variables & Types</a></li>
		<li><a href="{% url 'numerc:cpp_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:cpp_controlFlow' %}">Control Flow</a></li>
		<li><a href="{% url 'numerc:cpp_preprocessor' %}">Preprocessor</a></li>
		<li><a href="{% url 'numerc:cpp_namespaces' %}">Namespaces</a></li>
		<li><a href="{% url 'numerc:cpp_algorithmIntro' %}">Algorithms: Introduction</a></li>
		<li><a href="{% url 'numerc:cpp_insertionSort' %}">Insertion Sort</a></li>
		<li><a href="{% url 'numerc:cpp_mergeSort' %}">Merge Sort</a></li>
		<li><a href="{% url 'numerc:cpp_peakFinder' %}">Peak Finding</a></li>
	</ul>

	<!-- <li><a href="">Logic Programming: Prolog</a></li>
	<ul>
		<li><a href="{% url 'numerc:prolog_preface' %}">Preface</a></li>
		<li><a href="{% url 'numerc:prolog_atoms' %}">Basic Constructs</a></li>
	</ul> -->

	<li><a href="{% url 'numerc:lisp_preface' %}">Functional Programming I: Lisp</a></li>
	<ul>
		<li><a href="{% url 'numerc:lisp_expressions' %}">Expressions</a></li>
		<li><a href="{% url 'numerc:lisp_naming' %}">Naming</a></li>
		<li><a href="{% url 'numerc:lisp_environment' %}">Environment</a></li>
		<li><a href="{% url 'numerc:lisp_evaluatingCombinations' %}">Evaluating Combinations</a></li>
		<li><a href="{% url 'numerc:lisp_strings' %}">Strings in Lisp</a></li>
		<li><a href="{% url 'numerc:lisp_images' %}">Images</a></li>
		<li><a href="{% url 'numerc:lisp_constants' %}">Defining Constants</a></li>
		<li><a href="{% url 'numerc:lisp_compoundProcedures' %}">Compound Procedures</a></li>
		<li><a href="{% url 'numerc:lisp_substitutionModel' %}">Substitution Model</a></li>
		<li><a href="{% url 'numerc:lisp_applicativeNormal' %}">Applicative v. Normal Order Evaluation</a></li>
		<li><a href="{% url 'numerc:lisp_conditionals' %}">Conditional Expressions</a></li>
		<li><a href="{% url 'numerc:lisp_compoundPredicates' %}">Compound Predicates</a></li>
		<li><a href="{% url 'numerc:lisp_lists' %}">Lists</a></li>
		<li><a href="{% url 'numerc:lisp_listDataDefinitions' %}">List Data Definitions</a></li>
		<li><a href="{% url 'numerc:lisp_newtonsMethod' %}">Square Roots: Newton's Method</a></li>
		<li><a href="{% url 'numerc:lisp_blockStructuring' %}">Block Structuring</a></li>
		<li><a href="{% url 'numerc:lisp_iteration' %}">Linear Recursion & Iteration</a></li>
		<li><a href="{% url 'numerc:lisp_treeRecursion' %}">Tree Recursion</a></li>
		<li><a href="{% url 'numerc:lisp_ordersOfGrowth' %}">Orders of Growth</a></li>
		<li><a href="{% url 'numerc:lisp_higherOrderFunctions' %}">Higher-Order Functions</a></li>
		<li><a href="{% url 'numerc:lisp_designingFunctions' %}">Designing Functions</a></li>
		<li><a href="{% url 'numerc:lisp_designingData' %}">Designing Data</a></li>
		<li><a href="{% url 'numerc:lisp_designingLargePrograms' %}">Designing Large Programs</a></li>
		<li><a href="{% url 'numerc:lisp_selfReference' %}">Self Reference</a></li>
	</ul>

	<li><a href="{% url 'numerc:ml_preface' %}">Programming Language Theory</a></li>
	<ul>
		<li><a href="{% url 'numerc:ml_simpleData' %}">Simple Data</a></li>
		<li><a href="{% url 'numerc:ml_expressionsVariableBindings' %}">Expressions & Variable Bindings</a></li>
		<li><a href="{% url 'numerc:ml_variableImmutability' %}">Variable Immutability</a></li>
		<li><a href="{% url 'numerc:ml_logicalOperators' %}">Logical Operators</a></li>
		<li><a href="{% url 'numerc:ml_functionBindings' %}">Function Bindings</a></li>
		<li><a href="{% url 'numerc:ml_pairs' %}">Pairs</a></li>
		<li><a href="{% url 'numerc:ml_tuples' %}">Tuples</a></li>
		<li><a href="{% url 'numerc:ml_errors' %}">Errors</a></li>
		<li><a href="{% url 'numerc:ml_customDataTypes' %}">Composite Data Types</a></li>
	</ul>
	
	<li><a href="{% url 'numerc:swift_preface' %}">Mobile Development: Swift</a></li>
	<ul>
		<li><a href="{% url 'numerc:swift_firstFiles' %}">First Files</a></li>
		<li><a href="{% url 'numerc:swift_stacks' %}">Stacks</a></li>
		<li><a href="{% url 'numerc:swift_basicConstructs' %}">Basic Constructs</a></li>
		<li><a href="{% url 'numerc:swift_statements' %}">Statements</a></li>
		<li><a href="{% url 'numerc:swift_comments' %}">Comments</a></li>
		<li><a href="{% url 'numerc:swift_variables' %}">Variables</a></li>
		<li><a href="{% url 'numerc:swift_baseTypes' %}">Base Types</a></li>
		<li><a href="{% url 'numerc:swift_booleanOperators' %}">Boolean Operators</a></li>
		<li><a href="{% url 'numerc:swift_optionals' %}">Optionals</a></li>
		<li><a href="{% url 'numerc:swift_tuples' %}">Tuples</a></li>
		<li><a href="{% url 'numerc:swift_arrays' %}">Arrays</a></li>
		<li><a href="{% url 'numerc:swift_namedTypes' %}">Named Types</a></li>
		<li><a href="{% url 'numerc:swift_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:swift_overloading' %}">Overloading</a></li>
		<li><a href="{% url 'numerc:swift_variadicParameters' %}">Variadic Parameters</a></li>
		<li><a href="{% url 'numerc:swift_inoutParameters' %}">Inout Parameters</a></li>
		<li><a href="{% url 'numerc:swift_closures' %}">Closures</a></li>
		<li><a href="{% url 'numerc:swift_forEach' %}">For Each</a></li>
		<li><a href="{% url 'numerc:swift_filter' %}">Filter</a></li>
		<li><a href="{% url 'numerc:swift_reduce' %}">Reduce</a></li>
		<li><a href="{% url 'numerc:swift_sort' %}">Sort</a></li>
		<li><a href="{% url 'numerc:swift_structs' %}">Structures</a></li>
		<li><a href="{% url 'numerc:swift_properties' %}">Properties</a></li>
		<li><a href="{% url 'numerc:swift_classes' %}">Classes</a></li>
		<li><a href="{% url 'numerc:swift_enums' %}">Enumerations</a></li>
		<li><a href="{% url 'numerc:swift_methods' %}">Methods</a></li>
		<li><a href="{% url 'numerc:swift_switch' %}">Switch Statements</a></li>
		<li><a href="{% url 'numerc:swift_protocolsAndInheritance' %}">Protocols & Inheritance</a></li>
		<li><a href="{% url 'numerc:swift_override' %}">Override</a></li>
		<li><a href="{% url 'numerc:swift_init' %}">Initializers</a></li>
		<li><a href="{% url 'numerc:swift_standardLibrary' %}">Swift Standard Library</a></li>
		<li><a href="{% url 'numerc:swift_casting'%}">Casting</a></li>
		<li><a href="{% url 'numerc:swift_dictionaries' %}">Dictionaries</a></li>
		<li><a href="{% url 'numerc:swift_sets' %}">Sets</a></li>
		<li><a href="{% url 'numerc:swift_conditionals' %}">Control: Conditionals</a></li>
		<li><a href="{% url 'numerc:swift_loops' %}">Control: Loops</a></li>
		<li><a href="{% url 'numerc:swift_views' %}">Views</a></li>
		<li><a href="{% url 'numerc:swift_stateAndSwiftUI' %}">State and SwiftUI</a></li>
		<li><a href="{% url 'numerc:swift_programArchitecture' %}">Program Architecture</a></li>
		<li><a href="{% url 'numerc:swift_xcodeShortcuts' %}">Shortcuts</a></li>
		<li><a href="{% url 'numerc:swift_mvvm' %}">MVVM</a></li>
	</ul>

	<li><a href="{% url 'numerc:js_preface' %}">Object-Oriented Programming II: JavaScript</a></li>
	<ul>
		<li><a href="{% url 'numerc:js_syntaxParsers' %}">Syntax Parsers</a></li>
		<li><a href="{% url 'numerc:js_lexicalEnvironments' %}">Lexical Environments</a></li>
		<li><a href="{% url 'numerc:js_executionContexts' %}">Execution Contexts</a></li>
		<li><a href="{% url 'numerc:js_variables' %}">Variables</a></li>
		<li><a href="{% url 'numerc:js_baseTypes' %}">Base Types</a></li>
		<li><a href="{% url 'numerc:js_mathObject' %}">The Math Object</a></li>
		<li><a href="{% url 'numerc:js_booleanOperators' %}">Boolean & Comparison Operators</a></li>
		<li><a href="{% url 'numerc:js_conditionalControl' %}">Conditional Control</a></li>
		<li><a href="{% url 'numerc:js_regex' %}">Regular Expressions</a></li>
		<li><a href="{% url 'numerc:js_loops' %}">Loop Control</a></li>
		<li><a href="{% url 'numerc:js_arrays' %}">Arrays</a></li>
		<li><a href="{% url 'numerc:js_objects' %}">Objects</a></li>
		<li><a href="{% url 'numerc:js_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:js_methods' %}">Objects & Methods</a></li>
		<li><a href="{% url 'numerc:js_this' %}"><span class="monoText">this</span></a></li>
		<li><a href="{% url 'numerc:js_scope' %}">Scope</a></li>
		<li><a href="{% url 'numerc:js_angular' %}">Angular</a></li>
	</ul>

	<li><a href="{% url 'numerc:haskell_intro' %}">Functional Programming II: Haskell</a></li>
	<ul>
		<li><a href="{% url 'numerc:haskell_lambdaCalculus' %}">Lambda Calculus</a></li>
		<li><a href="{% url 'numerc:haskell_variables' %}">Variable Declarations</a></li>
	</ul>
</ul>