<li><a href="{% url 'numerc:swift_preface' %}">Mobile Development: Swift</a>
	<ul>
		<li><a href="{% url 'numerc:swift_firstFiles' %}">First Files</a></li>
		<li><a href="{% url 'numerc:swift_stacks' %}">Stacks</a></li>
		<li><a href="{% url 'numerc:swift_basicConstructs' %}">Basic Constructs</a></li>
		<li><a href="{% url 'numerc:swift_statements' %}">Statements</a></li>
		<li><a href="{% url 'numerc:swift_comments' %}">Comments</a></li>
		<li><a href="{% url 'numerc:swift_variables' %}">Variables</a></li>
		<li><a href="{% url 'numerc:swift_baseTypes' %}">Base Types</a></li>
		<li><a href="{% url 'numerc:swift_booleanOperators' %}">Boolean Operators</a></li>
		<li><a href="{% url 'numerc:swift_optionals' %}">Optionals</a></li>
		<li><a href="{% url 'numerc:swift_tuples' %}">Tuples</a></li>
		<li><a href="{% url 'numerc:swift_arrays' %}">Collections</a></li>
		<li><a href="{% url 'numerc:swift_namedTypes' %}">Named Types</a></li>
		<li><a href="{% url 'numerc:swift_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:swift_overloading' %}">Overloading</a></li>
		<li><a href="{% url 'numerc:swift_variadicParameters' %}">Variadic Parameters</a></li>
		<li><a href="{% url 'numerc:swift_inoutParameters' %}">Inout Parameters</a></li>
		<li><a href="{% url 'numerc:swift_closures' %}">Closures</a></li>
		<li><a href="{% url 'numerc:swift_forEach' %}">For Each</a></li>
		<li><a href="{% url 'numerc:swift_filter' %}">Filter</a></li>
		<li><a href="{% url 'numerc:swift_reduce' %}">Reduce</a></li>
		<li><a href="{% url 'numerc:swift_sort' %}">Sort</a></li>
		<li><a href="{% url 'numerc:swift_structs' %}">Structures</a></li>
		<li><a href="{% url 'numerc:swift_properties' %}">Properties</a></li>
		<li><a href="{% url 'numerc:swift_classes' %}">Classes</a></li>
		<li><a href="{% url 'numerc:swift_enums' %}">Enumerations</a></li>
		<li><a href="{% url 'numerc:swift_methods' %}">Methods</a></li>
		<li><a href="{% url 'numerc:swift_switch' %}">Switch Statements</a></li>
		<li><a href="{% url 'numerc:swift_protocolsAndInheritance' %}">Protocols & Inheritance</a></li>
		<li><a href="{% url 'numerc:swift_override' %}">Override</a></li>
		<li><a href="{% url 'numerc:swift_init' %}">Initializers</a></li>
		<li><a href="{% url 'numerc:swift_standardLibrary' %}">Swift Standard Library</a></li>
		<li><a href="{% url 'numerc:swift_sets' %}">Sets</a></li>
		<li><a href="{% url 'numerc:swift_conditionals' %}">Control: Conditionals</a></li>
		<li><a href="{% url 'numerc:swift_loops' %}">Control: Loops</a></li>
		<li><a href="{% url 'numerc:swift_views' %}">Views</a></li>
		<li><a href="{% url 'numerc:swift_stateAndSwiftUI' %}">State and SwiftUI</a></li>
		<li><a href="{% url 'numerc:swift_programArchitecture' %}">Program Architecture</a></li>
		<li><a href="{% url 'numerc:swift_xcodeShortcuts' %}">Shortcuts</a></li>
		<li><a href="{% url 'numerc:swift_mvvm' %}">MVVM</a></li>
	</ul>
</li>
