{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="override">
	<p>
		<span class="topic"><span class="monoText">override</span>.</span> In Swift,
		subclasses can <span class="italicsText">override</span> methods and
		properties defined in their superclasses. For example, in the code below,
		the class <span class="monoText">B</span> inherits the method
		<span class="monoText">sound()</span>.
	</p>
	<pre class="language-swift"><code>
		class A {
			func sound() {
				print("Vroom")
			}
		}
		class B: A {
			override func sound() {
				print("Bang")
			}
		}
		let foo = A()
		let bar = B()
		foo.sound()
		bar.sound()
	</code></pre>
	<pre class="language-bash"><code>
		Vroom
		Bang
	</code></pre>
	<p>
		However, by appending the <span class="monoText">override</span> keyword, we
		override the inherited method <span class="monoText">sound()</span>,
		replacing it with a more specific implementation, unique to instances of
		<span class="monoText">B</span>.
	</p>
</section>
{% endblock %}
