{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="inout_parameters">
	<p>
		<span class="topic">Inout Parameters.</span> Recall that by default,
		function arguments cannot be mutated when passed into the function. If we
		want an output that is effectively a mutation of the argument passed in, we
		can declare a variable and initialize it to the value of the parameter
		(essentially making a copy), then mutating that variable. This is a
		perfectly fine approach, but we are still just outputting a copy of the
		argument mutated. What if we want a function to actually mutate the original
		variable? Swift provides a built-in approach for doing so &mdash;
		<span class="term">in-out parameters</span>.
	</p>
	<p>
		In-out parameters are parameters that take an argument and effectively
		mutate the argument:
	</p>

	<pre class="language-swift"><code>
		func increment(_ value: inout Int) {
			value += 1
		}
		var foo = 0
		print(foo)
		increment(&foo)
		print(foo)
	</code></pre>
	<pre class="language-bash"><code>
		0
		1
	</code></pre>
</section>
{% endblock %}
