{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="statements">
	<p>
		<span class="topic">Statements.</span> A Swift command is a statement.
		Because Swift's default path of execution is to execute lines in sequence,
		line breaks are meaningful:
	</p>

	<pre class="language-swift"><code>
		// This is bad
		print("Hello world") print("Hello world")

		// This is ok
		print("Hello world"); print("Hello world")
	</code></pre>

	<p>
		The use of a semicolon tells Swift when a statement is complete. They are
		not necessary in Swift, but they are necessary in Objective-C, the former
		language for iOS development.
	</p>
</section>
{% endblock %}
