{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="base_types">
	<p>
		<span class="topic">Base Types.</span> Swift is a
		<span class="term">type-safe language</span> &mdash; we must be clear about
		the types of our values for the code to compile (granted, Swift also has
		type-inference, but more on this later). Swift has the following base types:
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>base type</th>
				<th>information</th>
				<th>comment</th>
			</thead>
			<tbody>
				<tr>
					<td>Int</td>
					<td>integers</td>
				</tr>
				<tr>
					<td>Double</td>
					<td>64-bit floating point number</td>
					<td>
						precision of at least 15 decimal places; in situations where
						optimization at bit levels is unnecessary,
						<span class="boldText">Double</span> should be used
					</td>
				</tr>
				<tr>
					<td>Float</td>
					<td>32-bit floating point number</td>
					<td>precision can be as low as 6 decimal places</td>
				</tr>
				<tr>
					<td>Bool</td>
					<td>Boolean values: true or false</td>
				</tr>
				<tr>
					<td>String</td>
					<td>textual information</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>Numbers in Swift can be expressed in a variety of formats. For example:</p>
	<pre class="language-swift"><code>
		// The number 17 in different base systems:

		let aBinaryNumber = 0b10001
		let anOctalNumber = 0o21 
		let aHexNumber = 0x11
	</code></pre>

	<p>
		We can also use underscores as delimiters to make numbers easier to read:
	</p>

	<pre class="language-swift"><code>
		let ceoSalary = 1_243_568
	</code></pre>

	<p>And to express numbers in scientific notation:</p>

	<pre class="language-swift"><code>
		let speedOfLight = 3e8
		let electronMass = 9.1e-31
	</code></pre>

	<p>
		Swift also provides <span class="term">type aliases</span> &mdash;
		alternative names for an existing type. Type aliases can be particularly
		useful when we want to make code more readable:
	</p>

	<pre class="language-swift"><code>
		typealias Name = String
		typealias Age = Int
		typealias BigInt = Int64
	</code></pre>

	<p>
		The typealiases above are effectively synonyms for the existing types. Thus,
		when we declare a variable or constant and want to explicitly state their
		types, we can write:
	</p>

	<pre class="language-swift"><code>
		let johnAge: Age = 35
	</code></pre>
</section>

<section id="interpolation">
	<p><span class="topic">Interpolating Strings.</span> In the previous example, we attempted to include a value of numeric type in a string. We do not need to convert the numeric value to a string to do so. We can instead <span class="term">interpolate</span>:</p>

	<pre class="language-swift"><code>
		let currentStockPrice = 4.99
		let formerStockPrice = 3.75

		let summary = "The stock price changed from \(formerStockPrice) to \(currentStockPrice)."
		print(summary)
	</code></pre>
	<pre class="language-bash"><code>
		The stock price changed from 3.75 to 4.99.	
	</code></pre>

	<p>We can also include calculations in interpolated strings:</p>

	<pre class="language-swift"><code>
		let roses = 5
		let daisies = 6
		let summary = "I have \(roses + daisies) flowers."
	</code></pre>
</section>
{% endblock %}
