{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="shortcuts">
	<h3>Shortcuts</h3>
	<p>
		Because XCode is proprietary software, it's often best to stick with Apple's
		provided shortcuts (in the event we switch to working on someone else's
		machine). There are numerous shortcuts, but some shortcuts are more commonly
		used than others:
	</p>

	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>shortcut</th>
				<th>behavior</th>
			</thead>
			<tbody>
				<tr>
					<td>cmd + b</td>
					<td>builds application</td>
				</tr>
				<tr>
					<td>cmd + r</td>
					<td>run application</td>
				</tr>
				<tr>
					<td>cmd + u</td>
					<td>run unit tests</td>
				</tr>
				<tr>
					<td>opt + cmd + u</td>
					<td>run unit tests</td>
				</tr>
				<tr>
					<td>opt + cmd + enter</td>
					<td>show/hide preview</td>
				</tr>
				<tr>
					<td>opt + cmd + p</td>
					<td>run preview application in SwiftUI canvas</td>
				</tr>
				<tr>
					<td>opt + cmd + [</td>
					<td>move a line of code up</td>
				</tr>
				<tr>
					<td>opt + cmd + ]</td>
					<td>move a line of code down</td>
				</tr>
				<tr>
					<td>shift + cmd + y</td>
					<td>show/hide debug console (y is my code not working)</td>
				</tr>
				<tr>
					<td>opt + ${n}$</td>
					<td>
						where ${n}$ is a number key, moves between the options navigator
					</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>
{% endblock %}
