{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="boolean_operators">
	<p>
		<span class="topic">Built-in Operators.</span> Swift provides the several
		built-in operators:
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>operator</th>
				<th>operation</th>
				<th>comment</th>
			</thead>
			<tbody>
				<tr>
					<td><span class="redText">${e_0}$ > ${e_1}$</span></td>
					<td>Is ${e_0}$ greater than ${e_1}$?</td>
					<td>
						When used on strings: Does ${e_0}$ come before ${e_1}$
						alphabetically?
					</td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ < ${e_1}$</span></td>
					<td>Is ${e_0}$ less than than ${e_1}$?</td>
					<td>On strings: Does ${e_0}$ come after ${e_1}$ alphabetically?</td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ <= ${e_1}$</span></td>
					<td>Is ${e_0}$ less than OR equal to ${e_1}$?</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ >= ${e_1}$</span></td>
					<td>Is ${e_0}$ greater than OR equal to ${e_1}$?</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ == ${e_1}$</span></td>
					<td>Is ${e_0}$ equal to ${e_1}$?</td>
					<td>
						The equality operator only works if ${e_0}$ and ${e_1}$ are of the
						same type (e.g., cannot compare an Int and a Double). Operator also
						works on strings.
					</td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ != ${e_1}$</span></td>
					<td>Is ${e_0}$ not equal to ${e_1}$?</td>
					<td>
						The inequality operator only works if ${e_0}$ and ${e_1}$ are of the
						same type. Operator also works on strings.
					</td>
				</tr>
				<tr>
					<td><span class="redText">!${e_0}$</span></td>
					<td>
						If ${e_0}$ is true, returns false; if ${e_1}$ is false, returns true
					</td>
					<td>
						The NOT operator; equivalent to
						<span class="blueText">${e_0}$ == false</span>; restricted to Bool
						type variables
					</td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ && ${e_1}$</span></td>
					<td>
						If both ${e_0}$ and ${e_1}$ are true, returns true, otherwise false
					</td>
					<td>The AND operator; restricted to Bool type variables</td>
				</tr>
				<tr>
					<td><span class="redText">${e_0}$ || ${e_1}$</span></td>
					<td>
						If ${e_0}$ is true, returns true; otherwise, returns the value of
						${e_1}$
					</td>
					<td>The OR operator; restricted to Bool type variables</td>
				</tr>
				<tr>
					<td>
						<span class="monoText"
							><span class="redText">${e}$ ? ${v_t}$ : ${v_f}$</span></span
						>
					</td>
					<td>If ${e}$ is true, return ${v_t}$; otherwise, returns ${v_f}$</td>
					<td>
						The ternary operator; equivalent to
						<span class="monoText blueText"
							>if ${exp}$ == true {return ${v_t}$} else {return ${val_f}$}</span
						>; this is a particularly useful operator for assigning values
						depending on Boolean results:
						<pre class="language-swift"><code>
							let y = 10
							let x = y < 15 ? "less than 15" : "not less than 15" 
						</code></pre>
					</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>
{% endblock %}
