{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="stacks">
	<p>
		<span class="topic"><span class="monoText">stacks.</span></span> We can
		think of a <span class="monoText">View</span> as block of Lego. With smaller
		blocks, we can build bigger and more complex structures. This idea extends
		to <span class="monoText">Views</span>. We can collect and arrange
		<span class="monoText">View</span>s to build bigger and more complex
		<span class="monoText">View</span>s, culminating in a user interface &mdash;
		the <span class="monoText">struct</span> named
		<span class="monoText">ContentView</span>. There are three primary ways to
		arrange <span class="monoText">Views</span>: through a
		<span class="monoText">VStack</span>, an
		<span class="monoText">HStack</span>, and a
		<span class="monoText">ZStack</span>.
	</p>
	<p>
		The <span class="monoText">VStack</span> arranges its collection of
		<span class="monoText">Views</span> vertically. The
		<span class="monoText">HStack</span> arranges it collection of
		<span class="monoText">Views</span> horizontally. The
		<span class="monoText">ZStack</span> arranges its views toward the user
		&mdash; i.e., along the Z-axis, views on top of the views, moving up and off
		the screen. Remember, all of these &mdash;
		<span class="monoText">VStack</span>, <span class="monoText">HStack</span>,
		and <span class="monoText">ZStack</span> &mdash; are themselves
		<span class="monoText">Views</span>.
	</p>
</section>
{% endblock %}
