{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="ordered_pairs" class="grid-item">
	<h4>Ordered Pairs</h4>
	<p>
		When set theory was first introduced, it faced a major issue &mdash; how do
		you represent ordered pairs? The axiom of extension renders order irrelevant
		for defining sets. For example, $\{ a, b \}$ is the same set as $\{ b, a
		\}$. This is problematic if we are referring specifically to "$a$ then b",
		rather than "$b$ then $a$."
	</p>
	<p>
		The patch was to define ordered pairs as sets. An ordered pair is a set of
		the form $\{ \{ a \}, \{ a, b \} \}$. The set has two elements: $\{ a \}$
		and $\{ a, b \}$. If $a \neq b$, then the two sets are distinct, and $a$ is
		in both sets but $b$ is not. With this definition, we can differentiate
		between $a$, and $b$. If $a = b$, then we can say that $a$ is both the first
		and second element of the pair.
	</p>
	<p>
		Eventually, however, mathematicians learned that writing $\{ \{ a \}, \{ a,b
		\} \mid a = b \}$ was too cumbersome. So, the syntax was shortened: $(a,
		b)$.
	</p>
	<p>
		Formalizing the discussion above: Let $a$ and $b$ be elements. The notation
		$(a, b)$ means the <span class="boldText">ordered pair</span> consisting of
		$a$ and $b$ together, such that $a$ is the first element of the pair and $b$
		is the second element.
	</p>

	<p>
		<span class="topic">Equality of Ordered Pairs.</span> Suppose $(a, b)$ and
		$(c, d)$ are ordered pairs. The ordered pairs are equal if, and only if, $a
		= c$ and $b = d$. Thus, the statement $(a, b) = (c, d)$ implies that $a = c$
		and $b = d$.
	</p>
</section>
{% endblock %}
