{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Introduction to graph theory" />
{% endblock %} {% block title %}
<title>Graph Theory</title>
{% endblock %} {% block content %}
<h1>Graph Theory</h1>
<section id="forray">
	Consider the following diagram:
	<figure>
		<img
			src="{% static 'images/graph1.svg' %}"
			alt="A graph with 5 notes and 8 edges"
			width="150vw"
			height="150vw"
			loading="lazy"
		/>
		<figcaption>A graph with 5 vertices and 8 edges.</figcaption>
	</figure>
	<p>
		In graph theory, we call this diagram a <span class="term">graph</span>. A
		graph is an object consisting of two objects: vertices and edges. Each of
		the circles, or points, is called a <span class="term">vertex</span>, or
		<span class="term">node</span> (we will use the term vertex; plural
		<span class="italicsText">vertices</span>). Each of the lines connecting the
		circles is called an <span class="term">edge</span>. The graph above is
		called a <span class="term">simple graph</span>. We will elaborate further
		on what this distinction means in later sections. For now, we will say that
		a simple graph has the following constraints:
	</p>
	<figure class="math-display">
		<div class="rule">
			<ol>
				<li>
					An edge connects
					<span class="underlineText">only</span> a
					<span class="italicsText">pair</span> of vertices. For example, in a
					simple graph, we cannot have an edge connecting ${v_4}$ to itself;
					i.e., a loop.
				</li>
				<li>
					We cannot we have more than one edge connect two vertices. I.e., two
					edges connecting ${v_3}$ and ${v_5.}$
				</li>
				<li>
					Edges have no direction; i.e., the fact that ${v_4}$ and ${v_1}$ are
					connected by the edge ${e_4}$ does not imply that the edge goes from
					${v_4}$ to ${v_1}$ or vice versa.
				</li>
			</ol>
		</div>
	</figure>
	<p>Having said all this, we now state our first definition formally:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> A graph, denoted ${G,}$ is an
				ordered pair ${(V, E).}$ I.e., ${G = (E, V).}$ The first element of the
				pair, ${V,}$ is the set of <span class="italicsText">vertices</span>, or
				<span class="italicsText">nodes</span>, of ${G.}$ The second element of
				the pair, ${E,}$ is the set of <span class="italicsText">edges</span> of
				${G.}$ Each edge has 1 or 2 vertices associated with it, called the
				edge's <span class="italicsText">endpoints</span>. An edge
				<span class="italicsText">connects</span> its endpoints.
			</p>
		</div>
	</figure>
	<p>Let's apply the definition above to another simple graph:</p>
	<figure>
		<img
			src="{% static 'images/graph2.svg' %}"
			alt="4 nodes, 4 edges"
			width="100vw"
			height="100vw"
			loading="lazy"
		/>
		<figcaption>Graph ${H}$</figcaption>
	</figure>
	<p>
		The graph above, ${H,}$ consists of 4 vertices and 4 edges. The vertices are
		denoted:
	</p>
	<figure class="math-display">
		<div>
			<p>${V = \{ v_1, v_2, v_3, v_4 \}}$</p>
		</div>
	</figure>
	<p>And the edges:</p>
	<figure class="math-display">
		<div>
			$$ \begin{aligned} E &= \{ e_1, e_2, e_3, e_4 \} \\[1em] &= \{ \{ v_1, v_2 \}, \{ v_2, v_3
			\}, \{ v_3, v_4 \}, \{ v_4, v_1 \} \} \end{aligned} $$
		</div>
	</figure>
	<p>The entire graph:</p>
	<figure class="math-display">
		<div>
			$$ \begin{aligned} H &= (V, E) \\[1em] &= ( \{ v_1, v_2, v_3, v_4 \}, \{
			e_1, e_2, e_3, e_4 \}) \\[1em] &= (\{ v_1, v_2, v_3, v_4 \}, \{ \{ v_1, v_2 \}, \{
			v_2, v_3 \}, \{ v_3, v_4 \}, \{ v_4, v_1 \} \}) \end{aligned} $$
		</div>
	</figure>
</section>
{% endblock %}
