{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Notes on probability." />
{% endblock %} {% block title %}
<title>Probability</title>
{% endblock %} {% block content %}

<h1>Probability</h1>
<section id="intro">
	<p>
		<span class="drop">I</span>n this section, we examine some key concepts
		from probability. Probability is the foundation of statistics, and
		statistics is the driver of modern analytical thinking. What do we
		think of when we hear the word <q>probability?</q> Typically,
		mathematics, gambling, risk analysis, physics, economics, and so on.
		Probability, however, also finds itself in the humanities.
		Statisticians Frederick Mosteller and David Wallace employed
		probability to determine which of James Madison or Alexander Hamilton
		wrote each of the disputed Federalist papers.
	</p>
	<p>
		The historical roots of probability, however, lie in gambling.
		Moreover, while humans have attempted to <q>game</q> systems for a
		millenia, the formalization of probability as a mathematical field is
		relatively recent development. The sixteenth century mathematician
		Gerolamo Cardano was among the first to introduce a few basic axioms,
		but more rigorous treatment occurred about a century later, in
		correspondence letters between Pierre de Fermat and Blaise Pascal.<sup
		></sup> These long correspondence letters focused primarily on the
		probabilities of various gambling games at the time.
	</p>
	<div class="note">
		<p>
			Outside of mathematics, Pascal is known for <i>Pascal's Wager</i>, an
			argument for believing in God's existence. The argument is
			straightforward: If we believe God exists, and it turns out God does
			exist, then we gain entry to heaven. If it turns out God does not
			exist, then nothing happens. However, if we do not believe God
			exists, and it turns out God does exist, then we face brimstone and
			fire. But if we do not believe God exists, and God turns out not to
			exist, then nothing happens. According to Pascal, the rational
			choice, therefore, is to believe God exists.
		</p>
		<p>
			Needless to say, it's easy to think of numerous counter-arguments to
			Pascal. Given how the argument's been beat to a pulp for centuries,
			we won't spend anymore time addressing them here.
		</p>
	</div>
	<p>
		As probability developed further in the modern era, it gave birth to an
		entirely separate science &mdash; statistics. We can think of
		statistics as the other side of logic's coin. Where mathematics is the
		science of
		<i>certainty</i>, statistics is the science of <i>uncertainty</i>. As
		examine probability, we will eventually see bridges to statistics. To
		quantify uncertainty, we must cross those bridges and employ various
		propositions in statistics.
	</p>
</section>

<section id="sample_space">
	<h2>Sample Space</h2>
	<p>
		A <b>sample space</b> is the set of all possible outcomes of some
		experiment. Alongside the sample space, we have a notion of
		<i>events</i>. An <b>event</b> is a subset of the sample space.
	</p>
	<div class="compare">
		<div id="venn1"></div>
	</div>
	<p>
		For example, consider the experiment of rolling two dice. Because a die
		has six sides, there 36 possible outcomes. Accordingly, we have a
		sample space of size 36. Once we have the sample size, we can use the
		<i>naive definition of probability</i>:
	</p>
	<figure>
		<div class="rule">
			<p>
				<span class="topic">Naive Definition of Probability.</span> Suppose
				${A}$ is some event in the sample space ${S.}$ Given a sample space
				of size ${n(S),}$ the probability of the event ${A}$ occurring is:
			</p>
			<figure>
				<div>
					<p>${ \mathit{P}(A) = \dfrac{n(F)}{n(S)} }$</p>
				</div>
			</figure>
			<p>where ${n(F)}$ is the number of outcomes favorable to ${A.}$</p>
		</div>
	</figure>
	<p>
		In the definition aobve, we denote the probability of the event ${A}$
		occurring with ${\mathit{P}(A).}$ For example, considering flipping a
		coin twice. This experiment has four possible outcomes:
	</p>
	<div id="coinToss"></div>
	<p>
		Now suppose someone asks, what is the probability of both tosses ending
		in heads? According to the naive definition, the probability is:
	</p>
	<figure>
		<div>
			<p>${\mathit{P}(HH) = \dfrac{1}{4}}$</p>
		</div>
	</figure>
	<p>
		What are some shortcomings with this analysis? Well, for starters,
		we're assuming that the tosser isn't doing anything mischievous like
		using a weighted coin. In other words, we're assuming that all outcomes
		in the sample space are <i>equally likely</i>. We're also assuming that
		there are finitely many outcomes. I.e., the sample space is a
		<i>finite set</i>.<sup></sup>
	</p>
	<div class="note">
		<p>
			This is a particularly critical assumption. If we used some magical
			coin whose side could be any real number, then our sample space would
			be an infinite set. And if our sample space is an infinite set, then
			the denominator of the naive definition, ${\dfrac{n(F)}{n(S)},}$
			would be infinity. This in turn renders the naive definition
			meaningless.
		</p>
	</div>
	<p>
		The assumption of equal likelihood is a
		<em>very strong assumption</em>. It's a reasonable assumption in some
		problems &mdash; those with some form of symmetry &mdash; but certainly
		not all. For example, a die is a cube with six faces, and we might say
		that rolling a particular face has a probability of ${1/6.}$ That only
		be true if we assume the die is not loaded.
	</p>
	<p>
		The naive definition also lends itself to abuse, most commonly by news
		outlets. Here's a question: What is the probability of life on the sun?
		Well, there are only two outcomes. (1) There's life on the sun, or (2)
		There's no life on the sun. Because the sample space is ${2,}$ the
		probability of there being life on venus is ${1/2,}$ or ${50\%.}$
		Clearly, this is ridiculous. We're assuming both outcomes are equally
		likely, but we have no reasons for making that assumption.
	</p>
	<p>
		If we're still not convinced by why this is a problem, consider a
		follow-up question: What is the probability of there being a human on
		the sun? Again, by our naive definition, it's ${50\%.}$ There's either
		a human, or there isn't. But does this make sense? Shouldn't the
		probability of there being a human on the sun be lower than there being
		life at all? The naive definition doesn't capture this, and the media
		industry has abused this deficiency remarkably well.
	</p>
	<p>
		Despite its deficiency, the naive definition is one of the earliest
		steps towards formalizing probability, so it's worth spending some time
		familiarizing ourselves with it. We begin by quickly reviewing the
		mathematics of <i>counting</i>.
	</p>
</section>

<section id="counting">
	<h2>Counting</h2>
	<p>The naive definition has two key components:</p>
	<ol>
		<li>The number of favorable outcomes, ${n(F),}$ and</li>
		<li>the number of possible outcomes, ${n(S).}$</li>
	</ol>
	<p>
		Many problems concerning the naive definition require us to
		<i>count</i> these outcomes. And to count those outcomes, we must use
		counting principles. Accordingly, we review the fundamentals of
		counting.
	</p>

	<section id="basic_counting">
		<h3>Basic Counting</h3>
		<p>
			In this section, we review some of the basic techniques in counting.
			Many of these techniques will prove helpful in later sections.
		</p>
		<p>
			Suppose we have a six-sided die. How many ways can we roll an even
			number? Well, there are six sides:
			<i class="fa-solid fa-dice-one"></i>
			<i class="fa-solid fa-dice-two"></i>
			<i class="fa-solid fa-dice-three"></i>
			<i class="fa-solid fa-dice-four"></i>
			<i class="fa-solid fa-dice-five"></i>
			<i class="fa-solid fa-dice-six"></i>. Of these six sides, three are
			even:
			<i class="fa-solid fa-dice-two"></i>
			<i class="fa-solid fa-dice-four"></i>
			<i class="fa-solid fa-dice-six"></i>. Accordingly, there are three
			ways to roll an even number. Simple enough.
		</p>
		<p>
			Here's another question: How many different ways can we draw a face
			card in a ${52}$-card deck? There are ${4}$ suits: &heartsuit;
			&clubsuit; &spadesuit; &diamondsuit;. And for each of these suits,
			there are three face cards: ${J,}$ ${Q,}$ ${K.}$ Thus, there are
			${12}$ different ways to draw a face card.
		</p>
		<p>
			This is just a brief appetizer for the kinds of questions we're
			concerned with in counting. Let's look at a few more interesting
			problems.
		</p>
		<section id="complimentary_counting">
			<h4>Complementary Counting</h4>
			<p>Consider the following problem:</p>
			<dfn>
				<small>problem</small>
				<p>
					How many three-digit numbers are <em>not</em> multiples of ${7?}$
				</p>
			</dfn>
			<p>
				This problem is best solved through
				<b>complementary counting</b> &mdash; counting what we
				<i>do not</i> want to count. Often, it's much easier to count
				whatever it is we don't want, as opposed to what we actually want.
				In this case, the largest three digit number is ${999.}$ The
				smallest three digit number is ${100.}$ With a little trial and
				error, we find that: (1) the smallest multiple of ${7}$ which is a
				three digit number is ${105 / 7 = 15.}$ The largest multiple of
				${7}$ which is a three digit number is ${994 / 7 = 142.}$
			</p>
			<p>
				These two numbers, ${105}$ and ${994,}$ form the endpoints for our
				count. Since we're counting multiples of ${7,}$ the number of
				multiples of ${7}$ from ${105}$ through ${994}$ is:
			</p>
			<figure>$$ 142 - 15 + 1 = 128 $$</figure>
			<p>numbers. From ${100}$ to ${999}$ there are:</p>
			<figure>$$ 999 - 100 + 1 = 900 $$</figure>
			<p>numbers. Hence, there are:</p>
			<figure>$$ 900 - 128 = 772 $$</figure>
			<p>three digit numbers which are not multiples of ${7.}$</p>
		</section>
	</section>

	<section id="addition_rule">
		<h3>The Addition Rule</h3>
		<p>The addition rule provides the following:</p>
		<dfn>
			<dt>The Addition Rule</dt>
			<p>
				Let ${A}$ and ${B}$ be separate tasks. If ${A}$ can be done in
				${m}$ ways and ${B}$ can be done in ${n}$ ways, then:
			</p>
			<dd>${A}$ and ${B}$ can be done in ${m + n}$ ways.</dd>
		</dfn>
		<p>
			The addition rule is what allows us to answer the question: How many
			ways can you roll an even number on a die <em>or</em> draw a face
			card? The key connective in this question is <i>or</i>. Because there
			are ${3}$ ways to draw and even number die and ${12}$ ways to draw a
			face card, there are ${15}$ ways to (a) draw an even number with a
			die <i>or</i> (b) draw a face card from a ${52}$-card deck.
		</p>
	</section>

	<section id="multiplicationRule">
		<h3>The Multiplication Rule</h3>
		<p>
			The <cite>multiplication rule</cite>, or
			<cite>rule of product</cite>, provides the following:
		</p>
		<dfn>
			<dt>Multiplication Rule</dt>
			<p>
				Let ${A}$ and ${B}$ be subsequent tasks (i.e., ${A}$ is performed
				then ${B}$ is performed). If there are ${m}$ ways to do ${A}$ and
				${n}$ ways to do ${B,}$ then:
			</p>
			<dd>There are ${m \cdot n}$ ways to do ${A}$ then ${B.}$</dd>
		</dfn>
		<p>
			The key difference between the multiplication rule and the addition
			rule is the logical connective. Both rules concern some events ${A}$
			and ${B.}$ The addition rule, however, governs problems where we do
			${A}$ <i>or</i> ${B.}$ The multiplication rule governs problems where
			we do ${A}$ <i>and</i> ${B.}$
		</p>
		<p>
			Suppose we want to make a sandwich with one, and only one, thing from
			each category:
		</p>
		<figure>
			<table style="width: fit-content">
				<tr style="background-color: var(--wheat)">
					<td>top bread: white, wheat, sourdough ${(3)}$</td>
				</tr>
				<tr style="background-color: rgb(255, 225, 213)">
					<td>
						meat: ham, bologna, pork, steak, salami, chicken, tuna ${(7)}$
					</td>
				</tr>
				<tr style="background-color: rgb(232, 255, 219)">
					<td>vegetable: lettuce, tomato, cucumber, spinach ${(4)}$</td>
				</tr>
				<tr style="background-color: var(--wheat)">
					<td>bottom bread: white, wheat, sourdough, rye ${(4)}$</td>
				</tr>
			</table>
		</figure>
		<p>
			How many different possible sandwiches are there? The multiplication
			rule provides there are:
		</p>
		<figure>$$ 3 \times 7 \times 4 \times 4 = 336 $$</figure>
		<p>possible sandwiches. Here are a few more examples:</p>
		<div class="split">
			<div>
				<p>
					<small>problem</small>
					How many ways can we make a ${6}$-digit license plate with ${3}$
					even numbers and ${3}$ letters?
				</p>
			</div>
			<div>
				<p>
					There are ${5}$ even number digits: ${\{ 0, 2, 4, 6, 8 \},}$ and
					there are ${26}$ letters of the alphabet. This means we have
					${5}$ ways for the first three spots on the license plate, and
					${26}$ different ways for the last three spots:
				</p>
				<figure>
					$$ 5 \times 5 \times 5 \times 26 \times 26 \times 26 =
					(5^3)(26^3) $$
				</figure>
				<p>different license plates.</p>
			</div>
		</div>
		<div class="split">
			<div>
				<p>
					<small>problem</small>
					How many ways can we make an ${8}$-digit license plate with ${2}$
					numbers, ${2}$ letters, ${1}$ odd number, ${1}$ even number, and
					${2}$ vowels?
				</p>
			</div>
			<div>
				<p>
					There are ${10}$ digits, ${26}$ letters, ${5}$ odd number digits,
					${5}$ even number digits, and ${5}$ vowels. Accordingly:
				</p>
				<figure>
					$$ 10 \times 10 \times 26 \times 26 \times 5 \times 5 \times 5
					\times 5 = 10^2 \times 26^2 \times 5^4 $$
				</figure>
				<p>different license plates.</p>
			</div>
		</div>

		<section id="factorial">
			<h4>Factorials</h4>
			<p>The <b>factorial</b> is defined as follows:</p>
			<dfn>
				<dt>Definition: Factorial</dt>
				<p>If ${n \in \Z^{+},}$ then <i>${n}$ factorial</i> is denoted:</p>
				<dd>${n! = (n)(n-1)(n-1) \ldots (3)(2)(1)}$</dd>
			</dfn>
			<p>For example:</p>
			<figure>$$ 3! = 3 \times 2 \times 1 = 6 $$</figure>
			<p>Note that there is a special case with factorials:</p>
			<dfn>
				<dt>Special Case: Zero Factorial</dt>
				<p>Zero factorial is equal to ${1.}$</p>
				<dd>${0! = 1}$</dd>
			</dfn>
			<p>
				Why is zero factorial ${1?}$ Because factorials, at their core, are
				a way to express arrangement. And there is only one way to arrange
				nothing. What do we mean by <q>express arrangment?</q> The answer
				is best illustrated via example. Consider the following question:
			</p>
			<dfn>
				<p>
					<small>problem</small>
					How many ways can we write a list of ${4}$ letters &mdash; ${\{
					a, b, c, d \}}$ &mdash; without repeating any?
				</p>
			</dfn>
			<p>
				The key constraint to this problem is the fact that we cannot
				repeat. This means that whatever we pick for the first letter in
				the list cannot then be picked for the second, third, or fourth.
				And whatever we pick for the second cannot then be picked for the
				third, or fourth, and so on. This means that, by the multiplication
				rule, we have:
			</p>
			<figure>$$ 4 \times 3 \times 2 \times 1 = 4! = 24 $$</figure>
			<p>possible lists.</p>
		</section>

		<section id="permutations">
			<h4>Permutations</h4>
			<p>
				The factorial, which stems directly from the product rule, provides
				a way of counting <b>permutations</b> &mdash; arrangements of
				objects where <i>order matters</i>. And where order matters, there
				is an additional question we want to ask: Can we replace? For
				example:
			</p>
			<div class="bipart">
				<div>
					<p>
						<small>problem</small> How many permutations of ${\{ a,b,c \}}$
						are there, replacement not allowed?
					</p>
				</div>
				<div>
					<p>There are ${3! = 6}$ permutations:</p>
					<ol>
						<li>${(a, b, c)}$</li>
						<li>${(a, c, b)}$</li>
						<li>${(b, a, c)}$</li>
						<li>${(b, c, a)}$</li>
						<li>${(c, a, b)}$</li>
						<li>${(c, b, a)}$</li>
					</ol>
				</div>
			</div>
			<div class="bipart">
				<div>
					<p>
						<small>problem</small> How many permutations of ${\{ 0, 1 \}}$
						are there, replacement allowed?
					</p>
				</div>
				<div>
					<p>There are ${2 \times 2 = 4}$ permutations:</p>
					<ol>
						<li>${(0,0)}$</li>
						<li>${(0,1)}$</li>
						<li>${(1,0)}$</li>
						<li>${(1,1)}$</li>
					</ol>
				</div>
			</div>
			<p>
				The illustration above yields an important point: Whenever we're
				dealing with permutations, we must always consider whether we're
				allowed to replace (i.e., <q>reuse</q> a particular object in the
				arrangement). With this in mind, we consider the following problem:
			</p>
			<div class="bipart">
				<div>
					<p>
						<small>problem</small> How many ways can write a list of four
						numbers from the set ${\{ 1,2,3,4,5,6,7 \},}$ with no numbers
						repeating?
					</p>
				</div>
				<div>
					<p>
						The list consists of four spaces, and we aren't allowed to
						replace. Thus, we have:
					</p>
					<figure>$$ 7 \times 6 \times 5 \times 4 = 840 $$</figure>
					<p>possible lists.</p>
				</div>
			</div>
			<p>
				The problem above is an application of a more general formula for
				the number of permutations:
			</p>
			<dfn>
				<small>formula</small>
				<p>
					The number of permutations of length ${k}$ from a list of ${n}$
					elements <i>without repetition</i> is given by:
				</p>
				<figure>$$ \dfrac{n!}{(n-k)!} $$</figure>
			</dfn>
			<p>With this rule in mind, consider the following problem:</p>
			<dfn>
				<p>
					<small>problem</small> How many ways can we order the letters in
					the word ${err?}$
				</p>
			</dfn>
			<p>
				This problem is a bit more peculiar, since we have two letters that
				are the same: ${r}$ and ${r.}$ A helpful starting point is to
				denote the word's letters as a set, differentiating the two ${r}$s:
			</p>
			<figure>$$ \{ e, r_1, r_2 \} $$</figure>
			<p>If we listed all the possiblities:</p>
			<ol>
				<li>${(e, r_1, r_2)}$</li>
				<li>${(e, r_2, r_1)}$</li>
				<li>${(r_1, e, r_2)}$</li>
				<li>${(r_1, r_2, e)}$</li>
				<li>${(r_2, e, r_1)}$</li>
				<li>${(r_2, r_1, e)}$</li>
			</ol>
			<p>
				It looks as if we have ${6}$ possible arrangements. In reality,
				however, an ${r}$ is an ${r.}$ This means that possibilities with
				sequential ${r}$s are <em>not</em> unique:
			</p>
			<ol>
				<li>${(e, r_1, r_2)}$</li>
				<li>${\cancel{(e, r_2, r_1)}}$</li>
				<li>${(r_1, e, r_2)}$</li>
				<li>${(r_1, r_2, e)}$</li>
				<li>${\cancel{(r_2, e, r_1)}}$</li>
				<li>${\cancel{(r_2, r_1, e)}}$</li>
			</ol>
			<p>
				Looking at it this way, we just have three possible ways to order
				the letters in the word ${err.}$ Is there a formula we can use for
				computing the possibilities in this situation? Sure. Ordinarily,
				given ${n}$ objects, to count the number of permutations without
				replacement, we would just compute ${n!}$ (in this case, ${3! =
				6}$). However, when we have duplicates, as we saw with our problem,
				we must divide by the number of times each object occurs. In this
				case, ${e}$ occurs exactly once, so we divide by ${1!}$:
			</p>
			<figure>$$ \dfrac{3!}{1!} $$</figure>
			<p>Then we see that ${r}$ occurs twice, so we get:</p>
			<figure>$$ \dfrac{3!}{(1!)(2!)} = 3 $$</figure>
			<p>To see that this formula works, here's another problem:</p>
			<dfn>
				<p>
					<small>problem</small> How many ways can we order the letters in
					the word ${Mississippi?}$
				</p>
			</dfn>
			<p>Here, we see that there ${11}$ letters, so we have:</p>
			<figure>$$ 11! $$</figure>
			<p>
				The letter ${M}$ occurs exactly once, the letter ${i}$ occurs ${4}$
				times, the letter ${s}$ occurs ${4}$ times, and the letter ${p}$
				occurs twice. Thus, we have:
			</p>
			<figure>$$ \dfrac{11!}{(1!)(4!)(4!)(2!)} = 34~650 $$</figure>
			<p>
				possible ways to order the letters in the word ${Mississippi.}$
				Note that this formula is just an expanded form of the factorial as
				applied to counting. For example: How many different ways can we
				order the letters in the word ${mad?}$ According to our formula,
				it's just:
			</p>
			<figure>$$ \dfrac{3!}{(1!)(1!)(1!)} = 6 $$</figure>
			<p>
				The permutation formula can be extended to problems that do not
				appear, at first, to be counting problems. Consider the following
				problem:
			</p>
			<div class="split">
				<div>
					<p>
						<small>problem</small> How many paths are there from ${(1,1)}$
						to ${(4,3)}$ if the only legal moves are:
					</p>
					<ul>
						<li>${(x,y) \to (x+1, y)}$</li>
						<li>${(x,y) \to (x, y+1)}$</li>
					</ul>
				</div>
				<img
					src="{% static 'images/permutation_graphing.svg' %}"
					alt="permutation graphing"
					loading="lazy"
					height="150px"
				/>
			</div>
			<p>
				To solve this problem, let's give some names to the moves. The
				legal moves are ${(x+1,y)}$ or ${(x, y+1).}$ In the first move, we
				stay on the same ${\text{$y$-coordinate},}$ and move right by
				${1.}$ We'll denote this move ${E}$ for <i>east</i>. In the second
				move, we stay on the same ${\text{$x$-coordinate},}$ and move up by
				${1.}$ We'll denote this move ${N}$ for <i>north</i>.
			</p>
			<p>
				Since we're starting at the point ${(1,1),}$ we must perform ${3}$
				east movements:
			</p>
			<figure>$$ \{ E, E, E \} $$</figure>
			<p>We also need to perform ${2}$ north movements:</p>
			<figure>$$ \{ E, E, E, N, N \} $$</figure>
			<p>
				This constitutes the entire set of possible moves we can make. The
				question then is: How many possible ways can we order these
				movements? Easy &mdash; we just apply our formula. There are ${5}$
				moves. ${E}$ occurs three times, and ${N}$ occurs two times:
			</p>
			<figure>
				$$ \begin{aligned} \dfrac{5!}{(3!)(2!)} &=
				\dfrac{(5)(4)\cancel{(3!)}}{\cancel{(3!)}(2!)} \\[1em] &=
				\dfrac{20}{2} \\[1em] &= 10 \end{aligned} $$
			</figure>
			<p>
				There are ${10}$ possible ways to move from ${(1,1)}$ to ${(4,3)}$
				given the two legal moves of moving only east by ${1}$ or north by
				${1.}$
			</p>

			<section id="permutations_for_circular_lists">
				<h4>Rotational Duplicates</h4>

				<p>Let's consider another problem:</p>
				<dfn>
					<small>Problem</small>
					<p>
						How many ways are there to arrange six people at circular
						table?
					</p>
				</dfn>
				<p>
					To tackle this problem, it's helpful to begin with a diagram:
				</p>
				<figure>
					<img
						src="{% static 'images/circular_table.svg' %}"
						alt=""
						loading="lazy"
						height="100px"
					/>
				</figure>
				<p>
					There are, in fact, ${6!}$ ways of arranging people on this
					table. The problem, however, is that some of those positions may
					be duplicated. For example, suppose we started with the
					arrangement as shown in the diagram above. If we shifted everyone
					to the right, we would get:
				</p>
				<figure>
					<img
						src="{% static 'images/circular_table1.svg' %}"
						alt=""
						loading="lazy"
						height="100px"
					/>
				</figure>
				<p>
					This would be counted among the ${6!}$ calculation, but it isn't
					a different seating arrangement. The people are still in the same
					arrangement relative to one another; they're just in different
					seats. Accordingly, the actual number of ways is:
				</p>
				<figure>$$ \dfrac{6!}{6} = 5! $$</figure>
				<p>
					We have to divide by ${6}$ to get rid of the count for a mere
					shift. Let's add another wrinkle to the problem:
				</p>
				<dfn>
					<small>Problem</small>
					<p>
						Suppose six people must be seated at circular table. Three are
						men, three are women. How many different ways can we arrange
						the men and women such that the genders alternate?
					</p>
				</dfn>
				<p>Again, it's helpful to diagram:</p>
				<figure>
					<img
						src="{% static 'images/men_women_alternate.svg' %}"
						alt=""
						loading="lazy"
						height="130px"
					/>
				</figure>
				<p>
					Because the constraint is to alternate, our initial thought might
					be to map out the different ways to arrange each person:
				</p>
				<table class="alg">
					<thead>
						<th>Person</th>
						<th>Possible Ways</th>
					</thead>
					<tbody>
						<tr>
							<td>${m_1}$</td>
							<td>3</td>
						</tr>
						<tr>
							<td>${w_1}$</td>
							<td>3</td>
						</tr>
						<tr>
							<td>${m_2}$</td>
							<td>2</td>
						</tr>
						<tr>
							<td>${w_2}$</td>
							<td>2</td>
						</tr>
						<tr>
							<td>${m_3}$</td>
							<td>1</td>
						</tr>
						<tr>
							<td>${w_3}$</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
				<p>This yields:</p>
				<figure>
					$$ 3 \cdot 3 \cdot 2 \cdot 2 \cdot 1 \cdot 1 = 36 $$
				</figure>
				<p>
					possible seating arrangements. But, like we saw with the previous
					problem, this computation also counts the arrangement where each
					person simply shifts over by ${1}$ seat. The question then is,
					should we divide by ${6?}$
				</p>
				<p>
					Not exactly. In this problem, the key constraint is that the
					genders must alternate. Accordingly, a better way to think about
					this problem is to place an <b>anchor position</b>, and then
					denote the remaining positions in terms of ${O}$ (opposite
					gender), and ${S}$ (same gender). The anchor position ${A}$
					essentially starts the list, which ends at ${O_3,}$ and we then
					move ${A}$ around. Thinking of it this way, our diagram becomes:
				</p>
				<figure>
					<img
						src="{% static 'images/men_women_alternate1.svg' %}"
						alt=""
						loading="lazy"
						height="130px"
					/>
				</figure>
				<p>which in turn shows that the number of possible ways are:</p>
				<table class="alg">
					<thead>
						<th>Person</th>
						<th>Possible Ways</th>
					</thead>
					<tbody>
						<tr>
							<td>${A}$</td>
							<td>1</td>
						</tr>
						<tr>
							<td>${O_1}$</td>
							<td>3</td>
						</tr>
						<tr>
							<td>${S_1}$</td>
							<td>2</td>
						</tr>
						<tr>
							<td>${O_2}$</td>
							<td>2</td>
						</tr>
						<tr>
							<td>${S_2}$</td>
							<td>1</td>
						</tr>
						<tr>
							<td>${O_3}$</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
				<p>Hence, there are:</p>
				<figure>
					$$ 1 \cdot 3 \cdot 2 \cdot 2 \cdot 1 \cdot 1 = 12 $$
				</figure>
				<p>ways to seat the men and women.</p>
				<p>
					If the examples aren't entirely clear, a helpful way to think
					about this intuitively is to just consider a simpler example.
					Let's say ${a,}$ ${b,}$ and ${c}$ are seated on a circular table.
					How many ways are there to arrange ${a,}$ ${b,}$ and ${c?}$ Well,
					let's list them out. First, keep ${a}$ anchored, then move ${b}$
					and ${c.}$ Next keep ${b}$ anchored, and move ${a}$ and ${c.}$
					Finally, keep ${c}$ anchored and move ${a}$ and ${b.}$ That will
					yield all the possible arrangements:
				</p>
				<table class="alg">
					<thead>
						<th>Anchored</th>
						<th>Permutations</th>
					</thead>
					<tr>
						<td>${a}$</td>
						<td>$$ (a, b, c) \\ (a, c, b) $$</td>
					</tr>
					<tr>
						<td>${b}$</td>
						<td>$$ (a, b, c) \\ (c, b, a) $$</td>
					</tr>
					<tr>
						<td>${c}$</td>
						<td>$$ (a, b, c) \\ (b, a, c) $$</td>
					</tr>
				</table>
				<p>
					Because the table is circular, there are duplicates in the count.
					Let's color all of the duplicates:
				</p>
				<table class="alg">
					<thead>
						<th>Anchored</th>
						<th>Permutations</th>
					</thead>
					<tr>
						<td>${a}$</td>
						<td>
							$$ \textcolor{red}{(a, b, c)} \\ \textcolor{teal}{(a, c, b)}
							$$
						</td>
					</tr>
					<tr>
						<td>${b}$</td>
						<td>
							$$ \textcolor{red}{(a, b, c)} \\ \textcolor{teal}{(c, b, a)}
							$$
						</td>
					</tr>
					<tr>
						<td>${c}$</td>
						<td>
							$$ \textcolor{red}{(a, b, c)} \\ \textcolor{teal}{(b, a, c)}
							$$
						</td>
					</tr>
				</table>
				<p>
					Examining the duplicates, we see that there really just two ways
					to seat three people on a circular table:
				</p>
				<figure>
					<img
						src="{% static 'images/rotational_duplicates.svg' %}"
						alt=""
						loading="lazy"
						height="130px"
					/>
				</figure>
			</section>
		</section>

		<section id="combinations">
			<h4>Combinations</h4>
			<p>
				With permutations, order matters. With combinations, however,
				<i>order does not matter</i>. One way to think about this
				distinction is that with permutations, we're looking for the number
				of possible <i>sequences</i> under the given constraints. But with
				combinations, we're looking for <i>subsets</i> under the given
				constraints. For example, consider the following problem:
			</p>
			<dfn>
				<small>Problem</small>
				<p>
					Let ${A}$ be the set ${\{ a, b, c \}.}$ How many different
					subsets can be mad with ${2}$ elements?
				</p>
			</dfn>
			<p>If we listed all the different permutations, we would have:</p>
			<div class="tripart">
				$$ \{a, b\} \\ \{a, c\} $$ $$ \{b, a\} \\ \{b, c\} $$ $$ \{c, a\}
				\\ \{c, b\} $$
			</div>
			<p>
				However, because sets do not inherently have order &mdash; i.e.,
				order does not matter &mdash; several of the sets above are
				identical. Thus, if we counted all of the sets above separately,
				we'd have duplicates. Let's color match the identical sets:
			</p>
			<div class="tripart">
				$$ \textcolor{red}{\{a, b\}} \\ \textcolor{purple}{\{a, c\}} $$ $$
				\textcolor{red}{\{b, a\}} \\ \textcolor{teal}{\{b, c\}} $$ $$
				\textcolor{purple}{\{c, a\}} \\ \textcolor{teal}{\{c, b\}} $$
			</div>
			<p>
				Looking at this way, we see that there are only three different
				subsets that can be made:
			</p>
			<figure>$$ \{ a, b \},~~\{ b, c \},~~\{ a, c \} $$</figure>
		</section>

		<section id="multiplcation_rule_probability">
			<h3>The Multiplication Rule & Probability</h3>
			<p>
				Suppose we perform an experiment ${E_1}$ with ${n_1}$ outcomes.
				After performing ${E_1,}$ we perform a second experiment ${E_2,}$
				with ${n_2}$ outcomes. Suppose we continue performing ${r}$
				experiments, such that for each experiment ${E_r,}$ there are
				${n_r}$ outcomes. Then overall, there are:
			</p>
			<figure>
				<div>
					<p>${n_1 \times n_2 \times \ldots \times n_r}$</p>
				</div>
			</figure>
			<p>
				possible outcomes. We can visualize the multiplication rule with a
				dendogram (i.e., a tree diagram). Suppose we had three ice cream
				flavors: strawberry, vanilla, and chocolate. Suppose further that
				we had two types of cones: waffle and pretzel. What are the
				possible ice cream cones we can get? We can suppose the first
				experiment is selecting a cone, and the second experiment is
				selecting a flavor. In which case we have:
			</p>
			<div id="iceCreamTree"></div>
			<p>
				Counting the tree's <i>leaves</i> (nodes without children), we see
				that there are ${6}$ total possibilities, or ${6}$ total possible
				ice cream cones. This corresponds to the multiplication rule:
			</p>
			<figure>$$2 \times 3 = 6$$</figure>
			<p>
				Note that we could've also picked a flavor first, followed by a
				cone:
			</p>
			<div id="iceCreamTree1"></div>
			<p>
				Doing so does not change the result &mdash; we still have six
				possibilities. Examining the multiplication rule from the
				perspective of a tree diagram, we can see that the number of
				possibilities grows exponentially. If we had ${10}$ ice cream
				flavors, we would have ${2^{10} = 1024}$ possible ice cream cones.
				This tells us that experiments following the multiplication rule
				grow very, very quickly.
			</p>
		</section>
	</section>

	<section id="binomial_coefficient">
		<h3>The Binomial Coefficient</h3>
		<p>
			Here's another example. Using the naive definition, what is the
			probability of a full house in a game of poker? First, we make the
			following assumptions: (1) The deck consists of 52 unique cards; (2)
			a poker hand consists of five cards; and (3) the deck is shuffled
			such that the five cards comprising a hand are all equally likely.
			With these assumptions, we can begin analyzing.
		</p>
		<p>
			First, we denote the ${5}$ cards chosen as a
			<b>binomial coefficient</b>:
		</p>
		<figure>
			<div>
				<p>${\dbinom{52}{5}}$</p>
			</div>
		</figure>
		<p>
			We read the notation above as <q>Fifty-two choose five.</q
			><sup></sup> In other words, given ${52}$ cards, take ${5}$ cards.
			Recall that the binomial coefficient is defined as follows:
		</p>
		<div class="note">
			<p>
				These materials assume familiarity with the binomial theorem and
				binomial coefficients, so we won't delve into them deeply. For a
				review, see
				<a href="{% url 'numerm:balg_equations' %}#binomial_coefficients"
					><strong>Classical Algebra: Binomial Coefficients</strong>.</a
				>
			</p>
		</div>
		<dfn>
			<small>Definition: Binomial Coefficient</small>
			<p>
				Where ${n}$ and ${k}$ are nonnegative integers, the
				<i>binomial coefficient</i> is defined as follows:
			</p>
			$$ \dbinom{n}{k} = \begin{cases} \dfrac{n!}{k!(n-k)!} &\text{ if }
			~~k \leq n \\[2em] 0 &\text{ else } \end{cases} $$
		</dfn>
		<p>
			The binomial coefficient represents the following proposition:
			<q
				>Given ${n}$ choices, how many ways can we choose ${k}$ out of
				${n.}$</q
			>
			In other words, choose a subset of ${n}$ of size ${k,}$ where order
			does not matter. Accordingly, when we write ${\dbinom{n}{k},}$ we are
			denoting the size of a particular set. In this case, the subset of
			${n}$ of size ${k,}$ with the condition that order is irrelevant.
		</p>
		<p>
			From the definition above, it follows that if ${k > n}$ (the
			else-condition in the definition above) then the set
			${\dbinom{n}{k}}$ must be zero, because if we have ${k}$ choices, we
			can't choose more than ${k.}$ I.e., if we have ${10}$ applicants for
			a job position, we can't choose ${11}$ applicants. We make this
			proposition explicit:
		</p>
		<figure>
			<div class="rule">
				<p>
					<span class="topic">Lemma.</span> Given two nonnegative integers
					${n}$ and ${k,}$ the following proposition is true:
				</p>
				<figure>
					<div>
						<p>${k > n \implies \dbinom{n}{k} = 0}$</p>
					</div>
				</figure>
			</div>
		</figure>
		<p>
			That said, let's return to our full house problem. In poker, a full
			house is defined as three cards of one rank and two of another. For
			example, three ${7}$s and two Jacks, or three Kings and two ${4}$s.
		</p>
		<p>Generalizing the hand, we have:</p>
		<figure>
			<div>
				<p>${((3,r_1),~(2,r_2))}$<sup></sup></p>
			</div>
		</figure>
		<div class="note">
			<p>
				As an aside, in probability &mdash; and mathematics more generally
				&mdash; it's always helpful to descriptively, and concisely, label
				objects. For example, if we have a problem concerning a jar of red
				and green candy, we want to break the problem down into descriptive
				symbols, stating them as assumptions: Let the total number of
				candies be ${n.}$ Suppose the jar of red candy consists of ${R}$
				candies, each candy ${1, 2, \ldots, R.}$ Further suppose the jar of
				green candy consits of ${G}$ candies, each candy ${R+1, R+2, R+3,
				\ldots, R+G.}$
			</p>
		</div>
		<p>
			Let's consider the first part of the hand, the three cards. What can
			we have three of? Well, there are ${13}$ ranks, so there are ${13}$
			possibilities. In other words, <q>${13}$ choose ${1.}$</q> Applying
			the binomial coefficient, our formula looks thus far as:
		</p>
		<figure>$$ \dfrac{\dbinom{13}{1}}{\dbinom{52}{5}} $$</figure>
		<p>
			This takes care of choosing the rank for the first part of the hand.
			Now we apply the multiplication rule. Suppose we chose as a rank
			King. There are four Kings in a deck of cards, and we must choose
			three out of the four. Accordingly, we have:
		</p>
		<figure>
			$$ \dfrac{\dbinom{13}{1} \cdot \dbinom{4}{3} }{\dbinom{52}{5}} $$
		</figure>
		<p>
			Now we must handle the second part of the hand, the two cards. Both
			of these cards must be the same rank, and that rank must be different
			from the rank we just chose. Because we just chose a rank, there are
			twelve ranks remaining &mdash; ${12}$ choose ${1.}$ Accordingly, we
			have:
		</p>
		<figure>
			$$ \dfrac{\dbinom{13}{1} \cdot \dbinom{4}{3} \cdot \dbinom{12}{1}
			}{\dbinom{52}{5}} $$
		</figure>
		<p>Then, we need two of this chosen rank:</p>
		<figure>
			$$ \dfrac{\dbinom{13}{1} \cdot \dbinom{4}{3} \cdot \dbinom{12}{1}
			\cdot \dbinom{4}{2} }{\dbinom{52}{5}} $$
		</figure>
		<p>Simplifying this, we have:</p>
		<figure>
			$$ \begin{aligned} \dfrac{\dbinom{13}{1} \cdot \dbinom{4}{3} \cdot
			\dbinom{12}{1} \cdot \dbinom{4}{2} }{\dbinom{52}{5}} &= \dfrac{13
			\cdot \dbinom{4}{3} \cdot 12 \cdot \dbinom{4}{2} }{\dbinom{52}{5}}
			\\[3em] &= \dfrac{13 \cdot 4 \cdot 12 \cdot 6}{2~598~960} \\[2em] &=
			\dfrac{3744}{2~598~960} \\[2em] &= \dfrac{3744}{2~598~960} \\[2em] &=
			\dfrac{6}{4165} \\[2em] &\approx 0.1441\% \\[2em] \end{aligned} $$
		</figure>
	</section>

	<section id="sampling_table">
		<h3>Sampling Tables</h3>
		<p>
			Having examined the rule's above, we can summarize outcome counting
			as follows. When we are told to choose ${k}$ objects out of ${n,}$
			there are two questions we should always ask:
		</p>
		<ol>
			<li>Does order matter?</li>
			<li>Are we replacing?</li>
		</ol>
		<p>
			When we say that order matters, we mean that choices are unique in
			terms of the order they're made in. For example, choosing John then
			Alice is distinct from choosing Alice then John. If order does not
			matter, then choosing John then Alice is the same as choosing Alice
			then John.
		</p>
		<p>
			Next, whether we're allowed to replace impacts how much we can count.
			By replacement, we mean that, if we choose between ${Mango}$ and
			${Kiwi,}$ we can choose: ${(Mango, Mango)}$, ${(Mango, Kiwi)}$,
			${(Kiwi, Kiwi)}$, ${(Kiwi, Mango).}$
		</p>
		<p>We can summarize these findings in a <b>sample table</b>:</p>
		<figure style="margin: 0">
			<table class="punnett">
				<thead>
					<th></th>
					<th>order matters</th>
					<th>order does not matter</th>
				</thead>
				<tbody>
					<tr>
						<td>can replace</td>
						<td>${\Large n^k}$</td>
						<td>
							${\left( \dbinom{n}{k} \right) = \dbinom{n + k - 1}{k} =
							\dfrac{(n + k - 1)!}{k!(n-1)!}}$
						</td>
					</tr>
					<tr>
						<td>cannot replace</td>
						<td>${n(n-1)(n-2)\ldots(n-(k-1)) = n!}$</td>
						<td>${\dbinom{n}{k} = \dfrac{n!}{k!(n-k)!}}$</td>
					</tr>
				</tbody>
			</table>
		</figure>
		<p>
			For the sake of conciseness, we use the following terms to denote
			each of the sampling conditions above.
		</p>
		<figure>
			<div class="rule">
				<p>
					<span class="topic">Definition.</span> Suppose ${n}$ things are
					taken ${k}$ at a time, then:
				</p>
				<ul>
					<li>
						If <span class="greenText">order matters</span> and
						<span class="redText">replacement is not allowed</span>, each
						sampling is called a <b>permutation</b>.
					</li>
					<li>
						If <span class="greenText">order matters</span> and
						<span class="blueText">replacement is allowed</span>, each
						sampling is called a <b>${k}$-tuple</b>, or simply
						<b>tuple</b>.
					</li>
					<li>
						If <span class="purpleText">order does not matter</span> and
						<span class="redText">replacement is not allowed</span>, each
						sampling is called a <b>combination</b>.
					</li>
					<li>
						If <span class="purpleText">order does not matter</span> and
						<span class="blueText">replacement is allowed</span>, each
						sampling is called a <b>${k}$-multicombination</b>, or simply
						<b>multicombination</b>.
					</li>
				</ul>
			</div>
		</figure>
		<p>
			The table's entries are consistent with what we've seen so far. The
			one exception is the scenario where order is irrelevant, and
			replacement is permissible. In this case, we have:
		</p>
		<figure>
			<div>
				<p>${\dbinom{n + k - 1}{k}}$</p>
			</div>
		</figure>
		<p>
			This is peculiar result, and it's not immediately clear why this is
			the case. Let's clarify this result.
		</p>
		<p>
			To begin, we should be clear about what it is we're doing. We want to
			pick something ${k}$ times from a set of ${n}$ objects, with the
			conditions that: (1) order does not matter, and (2) we can replace.
			In other words, we pick some object, put it back, pick another, put
			it back, pick another, put it back, &hellip;, ${k}$ times. But in
			doing so, our selections aren't unique in terms of order. Thus,
			picking ${A-A-B}$ is no different from ${A-B-A}$ or ${B-A-A.}$
		</p>
		<p>
			The formula provides that the number of possible selections is given
			by ${n + k - 1}$ choose ${k.}$ Let's consider the edge cases. The
			simplest edge case is ${k = 0.}$
		</p>
		<figure>
			$$ \begin{aligned} \dbinom{n + k - 1}{k} &= \dbinom{n + (0) - 1}{0}
			\\[1em] &= \dbinom{n - 1}{0} \\[1em] &= 1 \\[1em] \end{aligned} $$
		</figure>
		<p>
			Indeed, there is only one way to chose ${0}$ objects from ${n}$
			objects with replacement and disregarding order &mdash; do nothing.
			If there are ${n}$ toppings for a hotdog and and no one is there to
			order the toppings, there is only one way to order toppings &mdash;
			do not order toppings. There is exactly one way to do nothing.
		</p>
		<p>
			What if ${k = 1?}$ In this case (using our same spices), we have:
		</p>
		<figure>
			<div>
				$$ \begin{aligned} \dbinom{n + k - 1}{k} &= \dbinom{n + 1 - 1}{1}
				\\[1em] &= \dbinom{n}{1} \\[1em] &= n \end{aligned} $$
			</div>
			<p>
				This makes sense. If we're only picking once, it's irrelevant
				whether we're replacing or taking things in order.
			</p>
			<p>
				Now let's consider the <i>simplest non-trivial case</i>. Here, it's
				${n = 2.}$ If ${n = 2,}$ then we have:
			</p>
			<figure>
				$$ \begin{aligned} \dbinom{n + k - 1}{k} &= \dbinom{2 + k - 1}{k}
				\\[1em] &= \dbinom{k + 1}{k} \end{aligned} $$
			</figure>
			<p>
				Given that ${C_{k+1}^{n}}$ is the same as ${C_{1}^{k+1},}$ when ${n
				= 2,}$ we have:
			</p>
			<figure>$$ \dbinom{k + 1}{1} = k + 1 $$</figure>
			<p>
				This too makes sense. If we have two objects, then since
				replacement is permissible and order is irrelevant, we have ${k +
				1}$ multicombinations. For example, if the two objects are cheddar
				and gouda, and we're told to make three selections, then we can
				pick:
			</p>
			<figure>
				<div>
					<p>cheddar, cheddar, cheddar</p>
					<p>gouda, gouda, gouda</p>
					<p>cheddar, gouda, cheddar</p>
					<p>cheddar, cheddar, gouda</p>
				</div>
			</figure>
		</figure>
	</section>
</section>
<script
	src="https://kit.fontawesome.com/8f194b5644.js"
	crossorigin="anonymous"
></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="../../../static/numerm/venn.min.js"></script>
<script src="../../../static/numerm/bubblePack.js"></script>
<script src="../../../static/numerm/setTheory.js"></script>
<script src="../../../static/numerm/tree.js"></script>
{% endblock %}
