{% extends '../layout.html' %} {% load static %} {% block content %}
<h1>Discrete Mathematics</h1>
<section id="preface">
	<blockquote>
		<p>
			A math textbook will assume you know the basics of representation theory
			and then a page later write ${\varnothing}$ is the empty set, just in
			case you'd forgotten.
		</p>
		<cite></cite>
	</blockquote>
	<p>
		<span class="drop">T</span>he overarching focus in the following materials
		is with <span class="term">proof</span>. Question: What is a proof? A
		<span class="term">proof</span> is a method of ascertaining the
		<span class="underlineText">truth</span>. One method of proof is a
		<span class="term">mathematical proof</span> &mdash; a logically valid path
		from assumptions to conclusions, collectively forming a
		<span class="italicsText">sound argument</span>. But there are other methods
		of proof. The <span class="term">scientific method</span> is one method of
		proof. We begin with a question, form a hypothesis, conduct experiments
		confirming or denying that hypothesis, and reach a conclusion. A
		<span class="term">trial</span> is another method of proof. It begins with a
		complaint, then a defense, then an adverserial proceeding before a
		fact-finder presenting arguments and evidence, then a verdict by the
		fact-finder, then a decision from the court.
	</p>

	<p>
		Here, we are focused on just one method: mathematical proof. A mathematical
		proof is the verification of a proposition by a chain of logical deductions
		from a set of axioms. In mathematics, the proof is a showing that something
		is true
		<span class="underlineText">always</span>. Regardess of creed, ethnicity,
		beliefs, gender, country, planet, universe, time &mdash; anything that
		differentiates another &mdash; a proposition mathematically proven to be
		true is true. Always. This is an extremely stringent and rigorous standard.
		The only field more formal and stringent than mathematics is logic.<label
			for="logic"
			class="margin-toggle"
			><sup></sup
		></label>
		<input type="checkbox" id="logic" class="margin-toggle sidenote-number" />
		<span class="marginnote"
			>The logician is to the mathematician what the mathematician is to the
			layperson. If we think mathematics is abstract, take a look at what the
			logicians in the philosophy department are up to.</span
		>
	</p>
	<p>
		A <span class="term">proposition</span> is a statement that is either true
		or false. For example, ${2 + 3 = 5.}$ This is a true proposition. Here is
		another proposition:
	</p>

	<figure class="math-display">
		<div>
			<p>${\forall n \in \N: prime(n^2 + n + 41)}$</p>
		</div>
	</figure>

	<p>
		The proposition above reads, "For all ${n}$ in the set of natural numbers,
		${n^2 + n + 41}$ is a prime number." The part of the proposition ${prime(n^2
		+ n + 41)}$ is called a <span class="term">predicate</span>. A predicate is
		a proposition whose truth depends on the value of a variable. In this case,
		the truth of the predicate ${prime(n^2 + n + 41)}$ depends on the variable
		${n.}$
	</p>

	<p>
		The part of the proposition ${\forall n \in \N}$ is called the
		<span class="term">domain of discourse</span>. This tells us that the
		predicate ${prime(n^2 + n + 41)}$ relates only to ${n \in \N.}$ We're not
		talking about the real numbers, we're not talking about the integers, we're
		not talking about the complex numbers. We're talking about the natural
		numbers. The symbol ${\forall}$ means "for all" and it is called a
		<span class="term">quantifier</span>. More specifically, it is called a
		<span class="term">universal quantifier</span>.
	</p>

	<p>
		To show that ${\forall \in \N: prime(n^2 + n + 41)}$ is true, we have to
		determine whether the predicate ${prime(n^2 + n + 41)}$ is true for any
		natural number ${n.}$ In other words, no matter what natural number value of
		${n}$ is, ${prime(n^2 + n + 41)}$ is true. We can try some values:
	</p>

	<figure class="math-display">
		<div>
			<p>${n = 0 \implies 0^2 + 0 + 41 = 41}$</p>
			<p>${n = 1 \implies 1^2 + 1 + 41 = 43}$</p>
			<p>${n = 2 \implies 2^2 + 2 + 41 = 47}$</p>
			<p>${n = 3 \implies 3^2 + 3 + 41 = 53}$</p>
			<p>${\vdots}$</p>
			<p>${n = 20 \implies 20^2 + 20 + 41 = 461}$</p>
			<p>${\vdots}$</p>
			<p>${n = 39 \implies 39^2 + 39 + 41 = 1601}$</p>
		</div>
	</figure>

	<p>
		This method of verification is called the
		<span class="term">method of exhaustion</span> &mdash; we exhaust all of the
		possibilities before we exhaust ourselves.
	</p>

	<p>
		We could keep going, and it seems as if no matter what natural number we put
		in, it's always prime. In a lot of other fields, this check would have been
		enough. In physics, if we ran 20 experiments, that would have been more than
		enough. In criminal law, a single trial would have been not only enough, but
		mandatory (double jeopardy). Mathematics, however, is
		<span class="term">rigorous</span>. Repeated observation is not enough. As
		the philosopher David Hume famously argued, the repeated past observation of
		a phenomenon in does not imply that the phenomenon will always occur.<sup
			>1</sup
		>
		In fact, the proposition above is a good example:
	</p>

	<figure class="math-display">
		<div>
			<p>${n = 40 \implies 40^2 + 40 + 41 = 1681 = 41^2}$</p>
		</div>
	</figure>

	<p>Or, an even more obvious example:</p>

	<figure class="math-display">
		<div>
			<p>${n = 41 \implies 41^2 + 41 + 41}$</p>
		</div>
	</figure>

	<p>
		The proposition ${\forall n \in \N: prime(n^2 + n + 41)}$ is false. Here is
		another very famous proposition:
	</p>

	<figure class="math-display">
		<div>
			<p>${a^4 + b^4 + c^4 = d^4}$ has no positive integer solutions.</p>
		</div>
	</figure>

	<p>
		This proposition is called
		<span class="term">Euler's sum of powers conjecture</span>. The legendary
		mathematician Leonard Euler <span class="term">conjectured</span> the
		proposition above to be true in 1769. It was unsolved for over two hundred
		years before a very clever mathematician named Noam Elkies disproved it in
		1988. His solution:
	</p>

	<figure class="math-display">
		<div>
			<p>${a = 95,800}$</p>
			<p>${b = 217, 519}$</p>
			<p>${c = 414,560}$</p>
			<p>${d = 422,481}$</p>
		</div>
	</figure>

	<p>
		In disproving
		<span class="italicsText">Euler's sum of powers conjecture</span>, the
		correct proposition is now:
	</p>

	<figure class="math-display">
		<div>
			<p>${\exists a, b, c, d \in \Z^{+} : a^4 + b^4 + c^4 = d^4}$</p>
		</div>
	</figure>

	<p>
		Here, we see a new quantifier, ${\exists.}$ This symbol means "there
		exists." This is called an <span class="term">existential quantifier</span>.
		Here is another proposition:
	</p>

	<figure class="math-display">
		<div>
			<p>${313(x^3 + y^3) = z^3}$ has no positive integer solutions.</p>
		</div>
	</figure>

	<p>
		In formal notation: ${\nexists x, y, z \in \Z^{+} : 313(x^3 + y^3 = z^3).}$
		A line crossing out the existential quantifer, ${\nexists,}$ means "there
		does not exist." This proposition turns out to be false, but the earliest
		counterexample has over a thousand digits. There is simply no way to verify
		this by the method of exhaustion; a computer can't do it, let alone
		ourselves.
	</p>

	<p>
		Now we might be asking, why on earth would we ever want to ascertain the
		truth for these propositions? It turns out that the last example is
		something extremely important. The equation ${313(x^3 + y^3 = z^3)}$ is an
		equation for an <span class="italicsText">elliptic curve</span>. Knowing the
		proposition above is true turns out to be central to factoring extremely
		large integers. And factoring is something very important in the real world
		&mdash; it is how cryptographic systems are made and broken. GroupMe
		messages, private pictures, medical records, trade secrets, classified
		government information, they all depend on cryptography. Ascertaining the
		truth of the above proposition caused massive shift in how cryptographic
		systems were designed &mdash; we went from using hundred digit SSL numbers
		to thousand digit SSL numbers in the wake of the conclusion above.
	</p>

	<p>Here is another famous proposition:</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				The regions in any map can be colored in 4 colors so that adjacent
				regions have different colors.
			</p>
		</div>
	</figure>

	<p>
		This is the famous <span class="term">four-color theorem</span>. A
		mathematician named Francis Guthrie conjectured the proposition above to be
		true in 1852. For next century, mathematicians attempted to solve this
		problem, all of which were failed attempts. In 1879, the mathematician
		Alfred Kempe presented a <span class="term">proof-by-picture</span> that was
		believed to be correct for over a decade. Kempe's idea was that all maps
		fell into certain types, and from that axiom, he concluded that any map
		could be colored according to the proposition. A proof-by-picture is a
		method of proof wherein the truth of a proposition is ascertained by
		pictoral evidence. They are almost always very, very wrong (but they are, of
		course, a helpful device for conjecturing). In 1890, a mathematician named
		Percy Heawood showed that Kempe's proof was wrong.
	</p>

	<p>
		The <span class="italicsText">four-color theorem</span> was proved true by
		mathematicians Kenneth Appel and Wolfgang Haken in 1977. However, unlike the
		previous proofs we've discussed, Appel and Haken had to use a computer to
		check thousands of cases. Mathematicians were skeptical &mdash; how do we
		<span class="underlineText">know</span> that the computer did the right
		thing? What if the computer missed a case? Another proof was presented in
		1997, and yet another proof was presented in 2005, but these too were done
		with programming. Mathematicians have accepted the theorem to be proved, but
		it is nowhere near as satisfying as a human proof.
	</p>

	<p>Here is another proposition:</p>

	<figure class="math-display">
		<div class="rule">
			<p>Every even integer greater than 2 is the sum of two prime numbers.</p>
		</div>
	</figure>

	<p>
		For example, ${24 = 11 + 13,}$ ${16 = 11 + 5,}$ ${32 = 13 + 19,}$ and so on.
		This is proposition is known as
		<span class="term">Goldbach's conjecture</span>, and it is one of the most
		famous unsolved problems in all of mathematics. The proposition was
		conjectured to be true by German mathematician Christian Goldbach in a
		letter he wrote to Leonhard Euler in 1742. To this day, no one knows if the
		proposition is true or false.
	</p>

	<p>Here is a simpler proposition:</p>

	<figure class="math-display">
		<div>
			<p>${\forall n \in \Z: (n \geq 2 \implies n^2 \geq 4)}$</p>
		</div>
	</figure>

	<p>
		The symbol ${\implies}$ means "implies." Thus, the proposition above reads,
		"For any integer ${n,}$ if ${n \geq 2,}$ then ${n^2 \geq 4.}$" An
		<span class="term">implication</span> ${p \implies q}$ is true if ${p}$ is
		false or ${q}$ is true. Thus, if ${p}$ is true, and ${q}$ is true, then ${p
		\implies q}$ is true. If ${p}$ is false and ${q}$ is true, then ${p \implies
		q}$ is false. But if ${p}$ is false, then ${p \implies q}$ is true,
		regardless of whether ${q}$ is true or false. The last point is important to
		remember: False implies anything is true. This is strange thing to think
		about, so let's try and think about it in terms of an example.
	</p>

	<p>
		Consider this proposition: "If fish can walk, then dogs are mammals." This
		implication is true. Why? Because dogs are mammals regardless of whether
		fish can walk. "If fish can walk, then the earth is flat." Again, this
		implication is true; "the earth is flat" is false regardless of whether fish
		can walk. False implies anything.
	</p>

	<p>Here is another proposition:</p>

	<figure class="math-display">
		<div>
			<p>${\forall n \in \Z: (n \geq 2 \iff n^2 \geq 4)}$</p>
		</div>
	</figure>

	<p>
		The symbol ${\iff}$ means "if and only if." The proposition thus reads, "For
		any integer ${n,}$ ${n^2 \geq 2}$ if and only if ${n^2 \geq 4."}$ The
		${\implies}$ tells us that there are implications both ways:
	</p>

	<figure class="math-display">
		<div>
			<p>${n \geq \implies n^2 \geq 4}$</p>
			<p>${n^2 \geq 4 \implies n \geq 2}$</p>
		</div>
	</figure>

	<p>
		Thus, to verify the original proposition, we must verify the two component
		propositions. Here, we see that the original proposition is false if we
		suppose ${n = -3.}$
	</p>

	<figure class="math-display">
		<div>
			<p>${(-3)^2 \geq 4 = 9 \geq 4 \implies -3 \geq 2}$</p>
		</div>
	</figure>

	<p>
		We see that ${p}$ is true, but ${q}$ is false. Because the component
		proposition ${n^2 \geq 4 \implies n \geq 2}$ is false, the original
		proposition ${n \geq 2 \iff n \geq 4}$ is false. Thus, ${p \iff q}$ is true
		only if both ${p}$ and ${q}$ are true, or both ${p}$ and ${q}$ are false.
		The crucial point: Whenever we have an
		<span class="italicsText">iff</span> (if and only if) proposition, we must
		always check both ways.
	</p>

	<p>
		Let's think a bit more about propositions. Propositions come in several
		forms. Some propositions are called <span class="term">axioms</span>. These
		are propositions that we assume are true. Axioms are effectively
		propositions that are treated as true without proof. The word axiom comes
		from the Greek word <span class="italicsText">axioma</span>, meaning "what
		is thought fitting" or "to think worthy." Essentially, something we think is
		worthy enough to be true.
	</p>

	<p>
		In mathematics, we must make assumptions. Without assumptions, we can never
		reason about anything. The difference between mathematics and other fields,
		however, is the requirement of being hyper-vigilant and always identifying
		what assumptions we've made. There are numerous axioms, or assumptions, in
		mathematics:
	</p>

	<figure class="math-display">
		<div>
			<p>If ${a = b}$ and ${b = c,}$ then ${a = c.}$</p>
		</div>
	</figure>

	<p>
		This is called the <span class="term">axiom of transitivity</span>, or the
		<span class="term">transitive property</span>, and there is no proof for it.
		But, we've accepted that it's a pretty good proposition that seems to hold
		up, so we accept it as true.
	</p>

	<p>
		Axioms can be contradictory depending on context. In Euclidean geometry, we
		have the following axiom:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				Given a line ${\ell}$ and a point ${p}$ not on ${\ell,}$ there is
				<span class="underlineText">exactly one</span> line passing through
				${p}$ parallel to ${\ell.}$
			</p>
		</div>
	</figure>

	<p>Now, in spherical geometry, we have another axiom:</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				Given a line ${\ell}$ and a point ${p}$ not on ${\ell,}$ there is
				<span class="underlineText">no</span> line through ${p}$ parallel to
				${\ell.}$
			</p>
		</div>
	</figure>

	<p>In hyperbolic geometry:</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				Given a line ${\ell}$ and a point ${p}$ not on ${\ell,}$ there
				<span class="underlineText">are infinitely many</span> lines through
				${p}$ parallel to ${\ell.}$
			</p>
		</div>
	</figure>

	<p>
		Does this mean the axiom is wrong, or worse, that the entire mathematical
		field is wrong? Of course not. The axioms hold up their fields well. The key
		point, however, is that the axioms are restricted to their fields. In other
		words, the axioms are contained in a particular
		<span class="italicsText">domain of discourse</span>. But, there are two
		rules about using axioms:
	</p>

	<figure class="math-display">
		<ol>
			<li>
				A set of axioms must be <span class="italicsText">consistent</span>.
			</li>
			<li>
				A set of axioms must be <span class="italicsText">complete</span>.
			</li>
			<li>
				A set of axioms must be <span class="italicsText">decidable</span>.
			</li>
		</ol>
	</figure>

	<p>
		A set of axioms is <span class="term">consistent</span> if no proposition
		can be proved to be both true and false. A set of axioms is
		<span class="term">complete</span> if it can be used to prove every
		proposition is either true or false. A set of axioms is
		<span class="italicsText">decidable</span> if it provides an algorithm for
		deciding the truth or falsity of any proposition. These rules seem
		straightforward, but they turn out to be incredibly difficult to satisfy.
		Logicians and philosophers like Bertrand Russell, Alfred Whitehead, and
		David Hilbert spent signficant parts of their lives trying to find just one
		set of axioms that satisfied these rules. The debates and wars between these
		thinkers inspired others to join the struggle.
	</p>

	<p>
		In the 1930s, a German logician named Kurt Godel proved that no set of
		axioms was complete and consistent. Separately, the English mathematician
		Alan Turing proved that no set of axioms was decidable (Turing's work in
		this area spawned the modern computer).
	</p>

	<p>
		Godel proved that if we want consistency, there will always be true facts
		that we will never be able to prove. This particular proof is just one of
		Godel's <span class="term">incompleteness theorems</span>. Godel's proof is
		best left to a course on logic, but the effect of this proof is profound:
		Perhaps <span class="italicsText">Goldbach's conjecture</span> is true, and
		it is impossible to prove.
	</p>

	<p>
		<span class="boldText">Discrete mathematics</span> is the mathematics of
		discrete and finite mathematical objects. Mathematical objects are abstract
		concepts &mdash; concepts like numbers, functions, triangles, matrices,
		groups, vector spaces, series, etc. Unlike what we might think of when we
		hear the word "object" &mdash; maybe a car, a table, or a molecule &mdash;
		mathematical objects are not physical. They do not move; they do not change
		over time; and they do not physically interact with real world entities.
	</p>

	<p>
		We can classify mathematical objects into two categories: (1) discrete
		(i.e., finite) and (2) continuous (i.e., infinite). Discrete mathematics is
		a branch of mathematics separate from
		<span class="italicsText">continuous mathematics</span>, which concerns
		infinite, or continuous, mathematical objects. This difference might seem
		vague at the moment, but this is expected. The distinction can only be
		clarified with experience in both areas.
	</p>

	<p>
		All ideas in mathematics, discrete or continuous, are discovered<sup>1</sup>
		through <span class="boldText">logic</span>. Accordingly, a strong logic
		background is invaluable to any serious student of mathematics. As we study
		logic, we might find ourselves asking questions about knowledge and truth.
		Play with those questions. They are a strong indicator of encountering a
		link between philosophy and mathematics. Because these questions are
		excellent opportunities for deeper and playful thinking, the text will
		occassionally present difficult questions that may or may not have any clear
		answers.
	</p>

	<p class="fn">
		<sup>1</sup>. This is the famous
		<span class="italicsText">problem of induction</span>, which has largely
		been accepted as an insoluble problem. The problem has peculiar implications
		&mdash; Bertrand Russell noted that if Hume's problem cannot be solved, then
		there is no intellectual difference between sanity and insanity.
	</p>
	<p class="fn">
		<sup>2</sup> Are mathematical ideas
		<span class="italicsText">discovered</span> or
		<span class="italicsText">created</span>?
	</p>
</section>
{% endblock %}
