{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="set_theory" class="grid-item">
	<h3>Set Theory</h3>

	<p>
		In mathematics, a <span class="boldText">set</span> is a collection of
		objects. Those objects might be dogs, people, trees, numbers, values,
		variables, or more abstractly, propositions. For example, the set of all
		coins includes nickels, sterling, and yen. The set of all countries includes
		Japan, Palau, and Uruguay. The set of all integers includes 1 and -117. We
		can visualize a set as:
	</p>

	<figure>
		<img
			src="{% static 'images/set_intro.svg' %}"
			alt="simple set"
			class="seventy-p"
			loading="lazy"
		/>
	</figure>

	<p>
		Sets can be finite (there are only so many countries), or infinite (there
		are infinitely many of numbers). Each object in a set is called a
		<span class="term">member</span> of that set.
	</p>

	<p>
		<span class="topic">The Axiom of Extension.</span> The
		<span class="boldText">axiom of extension</span> provides that a set is
		completely determined by what its elements are &mdash; it is irrelevant
		whether the elements are in order, or whether an element is listed more than
		once.
	</p>
	<p>
		For example, the set $\{ 1, 2, 3 \}$ is the same as the set $\{ 2, 1, 3 \}$,
		and the same set as $\{ 2, 2, 3, 1 \}$.
	</p>

	<p>
		<span class="topic">Subsets.</span> Some sets are themselves elements of
		another set. These sets are called <span class="boldText">subsets</span>.
		More formally:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Suppose $A$ and $B$ are sets. The
				set $A$ is a <span class="italicsText">subset</span> of $B$ if, and only
				if, <span class="underlineText">every</span> element of $A$ is also an
				element of ${B.}$ To denote this relationship, we write:
			</p>
			<figure class="math-display">
				<div>
					<p>${ A \subseteq B }$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		If ${A \subseteq B}$ is true, then we can infer: For every element ${x}$, if
		${x \in A}$, then ${x \in B.}$ We describe ${A}$ and ${B's}$ relationship
		with statements such as "${A}$ is contained in $B$" and "${B}$ contains
		${A.}$"
	</p>

	<p>If $A$ is not a subset of $B$, then we write:</p>

	<figure>$$ A \nsubseteq B $$</figure>

	<p>
		If $A \nsubseteq B$ is true, then we can infer: There is at least one
		element $x$ such that $x \in A$ and $x \notin B$. In other words, if $A$ is
		not a subset of $B$, then there is at least one element in $A$ that is not
		an element of B.
	</p>

	<p><span class="topic">Proper Subsets.</span></p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Suppose ${A}$ and ${B}$ are sets.
				${A}$ is a <span class="term">proper subset</span> of ${B}$ if, and only
				if, every element of ${A}$ is in ${B,}$ but there is at least one
				element in $B$ that is not in $A$. If $A$ is a proper subset of $B$, we
				write:
			</p>
			<figure class="math-display">
				<div>
					<p>${ A \subset B }$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		If ${A \subset B}$ is true, we can infer: All of the elements of ${A}$ are
		elements of $B$, but there is at least one element of ${B}$ that is not an
		element of ${A.}$ We can also infer that all the elements of ${A}$ have some
		property in common that separate it from other subsets of ${B.}$
	</p>

	<p>
		If $A \subset B$ is false (i.e., $A$ is not a proper subset of $B$), we
		write:
	</p>

	<figure class="math-display">
		<div>
			<p>${ A \not\subset B }$</p>
		</div>
	</figure>

	<p>
		If $A \not\subset B$ is true, then either $A \not\subseteq B$ is true, or $A
		\subseteq B$ is true, but no elements in $B$ are not in $A$.
	</p>

	<p>
		<span class="topic">Special Case: ${\emptyset.}$</span> By convention, the
		null set ${\emptyset}$ is a subset of every set, and is a proper subset of
		every set except itself (since the null set has no members).
	</p>

	<p>
		<span class="topic">Set Notation.</span> To more efficiently discuss sets,
		mathematicians have come up with <span class="term">set notation</span>.
		Let's go over some of the most common notation.
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Suppose that ${S}$ is a set. The
				notation ${x \in S}$ means "${x}$ is an element of ${S}$."
			</p>
		</div>
	</figure>

	<p>
		A set may be made more explicit through
		<span class="term">set roster notation</span>. For instance, $\{ 0, 1, 2 \}$
		is a set containing the elements 0, 1, and 2. If the set has too many
		elements to list, ellipses may be used. For example, the set of all integers
		from 0 to 100 may be written as: $\{ 0, 1, 2, \ldots , 100 \}$. Likewise,
		the set of all positive integers may be written as $\{ 1, 2, 3, \ldots \}$.
	</p>

	<p>
		We can also specify sets in <span class="term">set builder notation</span>.
		Suppose that $S$ is a set, and $P(x)$ is a property that elements of $S$ may
		or may not satisfy. We can define a new set that contains all the elements
		of $S$ such that $P(x)$ is true:
	</p>
	<figure class="math-display">
		<div>
			<p>${ \{ x \in S \mid P(x) \} }$</p>
		</div>
	</figure>
	<p>
		The pipe character, |, is shorthand for "such that." Thus, above notation
		refers to all the elements of ${S}$ with the property $P(x)$. Note that in
		some mathematical contexts, the phrase "such that" is often abbreviated
		"s.t." or $\ni$. Thus, the above set may appear in some texts as:
	</p>

	<figure class="math-display">
		<div>
			<p>
				$$ \{ x \in S \ni P(x) \}, \space \text{or} \\[1em] \{ x \in S \text{
				s.t. } P(x) \} $$
			</p>
		</div>
	</figure>

	<div class="compare">
		<div>
			<p>
				<span class="exh">Exercise.</span> What are all the subsets and proper
				subsets of ${\{ 1, 2, 3 \}?}$
			</p>
			<details class="answer">
				<summary>Solution</summary>
				<p>All subsets:</p>
				<ul>
					<li>${\{ 1, 2, 3 \}}$</li>
					<li>${\{ 1, 2 \}}$</li>
					<li>${\{ 1, 3 \}}$</li>
					<li>${\{ 2, 3 \}}$</li>
					<li>${\{ 1 \}}$</li>
					<li>${\{ 2 \}}$</li>
					<li>${\{ 3 \}}$</li>
					<li>${\emptyset}$</li>
				</ul>
				<p>All of the above are proper subsets except for ${1,2,3.}$</p>
			</details>
		</div>
	</div>

	<p><span class="topic">Set Identity.</span> Consider the following sets:</p>
	<figure class="math-display">
		<div>
			<p>${A = \{ 1, 2, 3 \}}$</p>
			<p>${B = \{ 3, 2, 1 \}}$</p>
			<p>${C = \{ 2, 1, 3 \}}$</p>
		</div>
	</figure>
	<p>
		By the axiom of extension, ${A,}$ ${B,}$ and ${C}$ all have the same
		elements. Observing this, we have the following definition:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Two sets are
				<span class="term">identical</span> if, and only if, every element of
				each is an element of the other. When ${A}$ and ${B}$ are identical, we
				write ${A = B.}$
			</p>
		</div>
	</figure>

	<p>
		<span class="topic">1-to-1 Correspondence.</span> When Oliver Twist asked
		for more gruel, the master grew pale and aimed a blow at Oliver's head. Why?
		Because at meal time, each child was to receive one, and only one, serving
		of gruel. Suppose each boy is a member of the set ${\text{workers},}$ and
		each serving of gruel is a member of the set ${\text{servings}.}$ Then, each
		element of ${\text{workers}}$ gets one, and only one, element of
		${\text{servings}.}$ In mathematics, we call this
		<span class="term">1-to-1 correspondence</span>.
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Let ${A = \{ a_1, a_2, \cdot, a_n
				\}}$ and ${B = \{ b_1, b_2, \cdot, b_n \}.}$ Sets ${A}$ and ${B}$ are in
				<span class="italicsText">1-to-1 correspondence</span> if there exists a
				pairing of the elements of ${A}$ to the elements of ${B,}$ such that
				each ${a}$ corresponds to one and only one ${b,}$ and each ${b}$
				corresponds to one and only one ${b.}$
			</p>
		</div>
	</figure>
</section>

<section id="set_roster_example" class="grid-item">
	<details>
		<summary>Problems</summary>
		<ol>
			<li>
				Let $A = \{ 1, 2, 3 \}$, $B = \{ 3, 1, 2 \}$, and $C = \{ 1, 1, 2, 3, 3,
				3 \}$. What are the elements of $A$, $B$, and $C$? How are $A$, $B$, and
				$C$ related?
			</li>
			<ul>
				<li>
					The elements of $A$, $B$, and $C$ are the numbers 1, 2, and 3. They
					are related in that they have the same elements.
				</li>
			</ul>

			<li>Is $\{ 0 \} = 0$?</li>
			<ul>
				<li>
					No. $\{ 0 \} \neq 0$. $\{ 0 \}$ is a set containing the number 0,
					while 0 is itself the number 0. A set is a collection of things, not a
					number.
				</li>
			</ul>

			<li>How many elements are in the set $\{ 1, \{ 1 \} \}$?</li>
			<ul>
				<li>
					The set $\{ 1, \{ 1 \} \}$ contains two elements: the number 1, and
					the set $\{ 1 \}$.
				</li>
			</ul>

			<li>
				For each nonnegative integer $n$, let $U_n = \{ n, -n \}$. Find $U_1,
				U_2, U_0$.
			</li>
			<ul>
				<li>$U_1 = \{ 1, -1 \}$</li>
				<li>$U_2 = \{ 2, -2 \}$</li>
				<li>$U_0 = \{ 0, -0 \} = \{ 0, 0 \} = \{ 0 \}$</li>
			</ul>
		</ol>
	</details>
</section>

<section id="special_number_sets" class="grid-item">
	<h4>Special Number Sets</h4>
	<p>
		Certain number sets are used so frequently in mathematics that we denote
		them with symbols.
	</p>
	<figure id="special_number_table" class="table">
		<table>
			<thead>
				<th>Symbol</th>
				<th>Set</th>
			</thead>
			<tbody>
				<tr>
					<td>$\mathbb{R}$</td>
					<td>
						The set of all real numbers. E.g., $\{ -2, 0, 1, \pi, \sqrt{2},
						\ldots \}$
					</td>
				</tr>
				<tr>
					<td>$\mathbb{R}^-$</td>
					<td>
						The set of all negative real numbers. E.g., $\{ - \sqrt{3}, -1,
						-117, \ldots \}$. This set does not include 0.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{R}^{\text{nonpos}}$</td>
					<td>
						The set of all nonpositive real numbers. This is the set of negative
						real numbers including 0.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{R}^+$</td>
					<td>
						The set of all positive real numbers. E.g., $\{ 2, \pi, e,
						\frac{1}{2}, \ldots \}$. This set does not include 0.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{R}^{\text{nonneg}}$</td>
					<td>
						The set of all nonnegative positive real numbers. This is the set of
						all positive real numbers including 0.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{Q}$</td>
					<td>
						The set of all rational numbers. These are numbers that can be
						expressed as $\frac{a}{b}$, where $a$ and $b$ are integers. E.g.,
						$\{ 3, 0, -2, 0.75, \ldots \}$.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{I}$</td>
					<td>
						The set of all irrational numbers. This is the set of all numbers
						that are not rational numbers. E.g., $\{ - \sqrt{2}, \pi, \phi, e,
						\ldots \}$.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{Z}$</td>
					<td>
						The set of all integers. This is the set of what we refer to as the
						counting numbers, and their negative counterparts. E.g., $\{ \ldots
						-3, -2, -1, 0, 1, 2, 3, \ldots \}$.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{Z}^-$</td>
					<td>
						The set of all negative integers. This is a subset of $\mathbb{Z}$.
						It consists of all the negative integers. E.g., $\{ -1, -2, -3,
						\ldots \}$. This set does not include 0.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{Z}^+$</td>
					<td>
						The set of all positive integers. Another subset of $\mathbb{Z}$. It
						consists of all the positive integers. E.g., $\{ 1, 2, 3, 4, \ldots
						\}$. This set does not include 0.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{Z}_{\text{even}}$</td>
					<td>
						The set of all even integers. This is the set of all integers that
						can be written in the form $2k$, where $k$ is an integer. E.g., $\{
						0, 2, 4, 6, 8, 10 \}$.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{Z}_{\text{odd}}$</td>
					<td>
						The set of all odd integers. This is the set of all integers that
						can be written in the form $2k + 1$, where $k$ is an integer. E.g.,
						$\{ 1, 3, 5, 7, 9, \ldots \}$
					</td>
				</tr>
				<tr>
					<td>$\mathbb{N}$</td>
					<td>
						The set of all natural numbers. This is the set of all counting
						numbers (equivalent to the set of positive integers). E.g., $\{ 1,
						2, 3, 4, \ldots \}$.
					</td>
				</tr>
				<tr>
					<td>$\mathbb{P}$</td>
					<td>
						The set of all prime numbers. E.g., $\{ 2, 3, 5, 7, \ldots \}$.
					</td>
				</tr>
			</tbody>
		</table>
	</figure>

	<p>
		<span class="topic">The Number Line.</span> We usually think of numbers as
		lying along a number line.
	</p>
	<figure>
		<img src="{% static 'images/number_line.svg' %}" alt="number line" loading="lazy" />
	</figure>
	<p>
		The number 0 is the middle point of the number line, and because of that
		property, we refer to it as the <span class="boldText">origin</span>. Every
		number to the left of 0 is a a negative number. Every number to the right is
		a positive number. 0 itself is neither positive nor negative.
	</p>
	<p>
		The real number line is <span class="boldText">continuous</span> because it
		has no holes (i.e., areas where there is nothing). There are points all
		along the number line. Thus, whenever we refer to a set of numbers (e.g.,
		the integers, the rationals, the naturals, etc.), we are referring to those
		points along the number line corresponding to those numbers.
	</p>
	<p>
		Some of the numbers are separated from one another at specific, constant
		distances. For example, the set of integers consists of numbers separated by
		exactly 1 unit of distance. Because the integers are all separated from one
		another, we say that the set of integers is
		<span class="boldText">discrete</span>. This is where the name of
		<span class="boldText">discrete mathematics</span> comes from. Discrete
		mathematics is the study of
		<span class="italicsText">discrete mathematical objects</span>, while
		<span class="boldText">continuous mathematics</span> is the study of
		<span class="italicsText">continuous mathematical objects</span>.
	</p>
</section>
{% endblock %}
