{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="tuples" class="grid-item">
	<h4>Tuples</h4>
	<p>
		Suppose $n \in \mathbb{Z}^+$. Let $x_1, x_2, \ldots x_n$ be elements. The
		<span class="boldText">ordered $n$-tuple</span> consists of $x_1, x_2,
		\ldots x_n$, with the ordering: first $x_1$, second $x_2$, and so on up to
		$x_n$.
	</p>
	<p>
		An <span class="boldText">ordered 2-tuple</span> is an ordered pair, and an
		<span class="boldText">ordered 3-tuple</span> is an ordered triple.
	</p>
	<p>
		Two ordered $n$-tuples ($x_1, x_2, \ldots x_n$) and ($y_1, y_2, \ldots y_n$)
		are equal if, and only if, $x_1 = y_1$, $x_2 = y_2$, $\ldots$, $x_n = y_n$.
	</p>

	<p>
		<span class="topic">Cartesian Products.</span> Given sets $A_1, A_2, \ldots
		, A_n$, the <span class="boldText">Cartesian product</span> of $A_1, A_2,
		\ldots , A_n$, denoted $A_1 \times A_2 \times \ldots \times A_n$, is the set
		of all ordered $n$-tuples $(a_1, a_2, \ldots , a_n)$, where $a_1 \in A_1,
		a_2 \in A_2, \ldots , a_n \in A_n$.
	</p>
	<p>
		Symbolically, $A_1 \times A_2 \times \ldots \times A_n = \{ (a_1, a_2,
		\ldots , a_n) \mid a_1 \in A_1, a_2 \in A_2, \ldots , a_n \in A_n \}$
	</p>
	<p>
		Particularly, $A_1 \times A_2 = \{ (a_1, a_2) \mid a_1 \in A_1, a_2 \in A_2
		\}$ is the Cartesian product of $A_1$ and $A_2$.
	</p>
	<details>
		<summary>Examples</summary>
		<ol>
			<li>Let $A = \{ x, y \}$, $B = \{ 1, 2, 3 \}$, and $C = \{ a, b \}$.</li>
			<ul>
				<li>What is $A \times B$?</li>
				<ul>
					<li>
						$A \times B = \{ (x, 1), (y, 1), (x, 2), (y, 2), (x, 3), (y, 3) \}$.
					</li>
				</ul>
				<li>What is $B \times A$?</li>
				<ul>
					<li>
						$B \times A = \{ (1,x), (1,y), (2,x), (2,y), (3,x), (3,y) \}$.
					</li>
				</ul>
				<li>What is $A \times A$?</li>
				<ul>
					<li>$A \times A = \{ (x, x), (x, y), (y, x), (y, y) \}$.</li>
				</ul>
				<li>How many elements are in $A \times B$?</li>
				<ul>
					<li>There are 6 elements $A \times B$.</li>
				</ul>
				<li>How many elements are in $B \times A$?</li>
				<ul>
					<li>There are also 6 elements in $B \times A$.</li>
				</ul>
				<li>How many elements are in $A \times A$?</li>
				<ul>
					<li>There are 4 elements in $A$.</li>
				</ul>
				<li>What is $(A \times B) \times C$?</li>
				<ul>
					<li>$(A \times B) \times C = \{ ((x,1), a), ((x,1), b), \} $</li>
				</ul>
			</ul>
		</ol>
	</details>

	<p>
		<span class="topic">${\R \times \R.}$</span> $\mathbb{R} \times \mathbb{R}$
		is the Cartesian product &mdash; the set of all ordered pairs &mdash; $(x,
		y)$ where both $x$ and $y$ are real numbers. If we assign every $x$ to a
		point on a line and every $y$ to a point on another line perpendicular to
		$x$'s line, the lines form a plane. That plane is called the
		<span class="boldText">Cartesian plane</span>, and every ordered pair $(x,
		y)$ lies on it.
	</p>
	<figure>
		<img
			src="{% static 'images/cartesian_plane.svg' %}"
			alt="cartesian_plane"
			class="sixty-p"
			loading="lazy"
		/>
	</figure>
</section>
{% endblock %}
