{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="strings" class="grid-item">
	<h3>Strings</h3>
	<p>
		Suppose that $n$ is a positive integer. Given a finite set $A$, a
		<span class="boldText">string</span> of length $n$ over $A$ is an ordered
		$n$-tuple of elements of $A$ written without parantheses or commas. The
		elements of $A$ are called the <span class="boldText">characters</span> of
		the string.
	</p>
	<p>
		The <span class="boldText">null string</span> over $A$ is the string with no
		characters. It is denoted $\lambda$, and is described as having length 0. If
		${ A = \{ 0,1 \} }$, then a string over $A$ is a
		<span class="boldText">bit string</span>.
	</p>
</section>
{% endblock %}
