{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="conditional_statements">
	<h3>Conditional Statements</h3>
	<p>
		Logic provides the foundation to programs.
		<span class="term">Conditional statements</span> are what provide the
		necessary logic.
	</p>
</section>

<section id="if_statement">
	<h4>The <span class="monoText">if</span> statement</h4>
	<p>
		The <em>if statement</em> tells JavaScript to run a given block of code
		<span class="term">if</span> a given condition is
		<span class="greenText">true</span>. If the condition is
		<span class="redText">false</span>, then the code block is never run. The
		<span class="monoText">if <em>statement</em></span>
		takes the following format:
	</p>
	<pre class="language-javascript">
				<code>
					if ("<em>condition-is-true</em>") {
						"<em>run-this-code-block</em>";
					}
				</code>
			</pre>
	<p>Examples:</p>
	<pre class="language-javascript">
				<code>
					if (2 > 1) {
						console.log("True");
					}
					// This code says, "If 2 is greater than 1, display in the console 'True.'"

					if (1 !== 1) {
						console.log("True");
					}
					// This code says, "If 1 is not equal to 1 in value or type, then display in the console 'True.'" Because the condition is false, the code block never runs.
				</code>
			</pre>
	<details>
		<summary>Common Code: Check if a Number is an Odd or Even Number</summary>
		<p>To check if a number is odd or even, we can use the following code:</p>
		<pre class="language-javascript">
				<code>
					let num = 39;
					if (num % 2 != 0) {
						console.log("Odd number");
					}
					// This returns "Odd number" in the console
				</code>
			</pre>
	</details>
</section>

<section id="else_if_statement">
	<h4>The <span class="monoText">else if</span> Statement</h4>
	<p>
		The <em>else if statement</em> tells JavaScript: If the first condition (to
		the <em>if statement</em>) is <span class="greenText">true</span>, run the
		<em>if statement</em>'s block of code. If the first condition (to the
		<em>if statement</em>) is <span class="redText">false</span>, check this
		second condition (to the <em>else statement</em>), and if it is true, run
		the <em>else statement</em>'s block of code. The <em>else if</em> statement
		takes the following form:
	</p>
	<pre class="language-javascript">
				<code>
					if ("condition-is-true") {
						"run-this-block-of-code";
					}
					else if ("this-condition-is-true") {
						"run-this-block-of-code";
					}
				</code>
			</pre>
</section>

<section id="limitations_else_if">
	<h5 class="warning-heading">
		&#9888; Warning: Limitation of
		<span class="monoText">else if</span> Statements
	</h5>
	<p>
		JavaScript will only look at the <em>else if statement</em>'s condition if
		the first condition, from the <em>if statement</em>, is
		<span class="redText">false</span>. This means that an
		<em>else if statement</em> must always accompany an <em>if statement</em>.
	</p>
</section>

<section id="multiple_else_ifs">
	<h5>
		Multiple
		<span class="monoText">else if</span> Statements:
	</h5>
	<p>
		An <em>if statement</em> can be accompanied by multiple
		<em>else if</em> statements:
	</p>
	<pre class="language-javascript">
				<code>
					if ("condition1-is-true") {
						"run-this-code-block";
					}
					// Condition 1 is false? Check condition 2.
					else if ("condition2-is-true") {
						"run-this-code-block";
					}
					// Condition 2 is false? Check condition 3.
					else if ("condition3-is-true") {
						"run-this-code-block";
					}
				</code>
			</pre>
</section>

<section id="else_statement">
	<h4>The <span class="monoText">else</span> Statement</h4>
	<p>
		The <em>else statement</em> acts like an "otherwise." I.e., the
		<em>else statement</em> effectively tells JavaScript that this is the code
		that should be run if all the conditions before it fail. In a way, it sort
		of sets the "default" instruction to a set of conditionals. The
		<em>else statement</em> takes the following form:
	</p>
	<pre class="language-javascript">
				<code>
					if ("condition1-is-true") {
						"run-this-block-of-code";
					}
					else {
						"run-this-block-of-code";
					}
				</code>
			</pre>
</section>

<section id="limitation_of_else">
	<h5 class="warning-heading">
		&#9888; Warning: Limitation of
		<span class="monoText">else</span> Statements
	</h5>
	<p>
		Because JavaScript only executes an <em>else statement</em> after checking
		an <em>if statement</em>, the <em>else statement</em> must always be
		preceded by an <em>if statement</em> or an <em>else if statement</em>. Thus,
		an <em>else statement</em> can never stand on its own. Furthermore, because
		an <em>else statement</em> effectively provides the default, or fallback,
		instruction to JavaScript in a set of conditionals, there can only be
		<span class="term">one</span> <em>else statement</em> in a given block of
		conditionals.
	</p>
</section>

<section id="nesting_conditional_statements">
	<h4>Nesting Conditional Statements</h4>
	<p>
		Conditional statements can be nested within conditional statements. For
		example, below is some code that attempts to verify a password.
	</p>
	<pre class="language-javascript">
				<code>
					let password;
					// First condition: Check if the password has at least 6 characters:
					if (password.length >= 6) {
					/* 
					If it meets this condition, run this code below.
					First condition: Check if the password contains spaces. We can do this by using indexOf. If it does not contain spaces, it will return -1. If it does contain spaces, it will return a number other than -1. 
					*/
						if (password.indexOf(' ') === -1) {
							console.log("Valid password!");
						}
					/* 
					If the password contains a space (i.e., the first condition is not strictly equal to 1, run this code below.)
					*/
						else {
							console.log("Password cannot contain a space.")
						}
					}
					/*
					If the password is not at least 6 characters (i.e., the first condition is not satisfied), run this code.
					*/
					else {
						console.log("Password must be longer.");
					}
				</code>
			</pre>
</section>

<section id="inherent_boolean_values">
	<h4>Inherent Boolean Values</h4>

	<p>
		In JavaScript, all values have an inherently
		<span class="greenText">true</span> or
		<span class="redText">false</span> value. Values that are inherently
		<span class="redText">false</span>:
	</p>
	<ul>
		<li><span class="monoText">false</span></li>
		<li><span class="monoText">0</span></li>
		<li><span class="monoText">""</span> (an empty string)</li>
		<li><span class="monoText">null</span></li>
		<li><span class="monoText">undefined</span></li>
		<li><span class="monoText">NaN</span></li>
	</ul>
	<p>
		Every value other than the above has an inherently
		<span class="greenText">true</span> value. Example:
	</p>
	<pre class="language-javascript">
				<code>
					let x = 3;
					if (x) {
						console.log("true");
					}
					/*
					The console displays "true" because 3 is inherently true, the if statement's condition is satisfied, and so JavaScript executes its code block.
					*/

					let y = NaN;
					if (y) {
						console.log("true");
					}
					else {
						console.log("false");
					}
					/* The console displays "false" because NaN is inherently false---because the condition is not satisfied (the if statement's condition is false), the else statement's code block is run.
					*/
				</code>
			</pre>
</section>

<section id="logical_operators">
	<h3>JavaScript Logical Operators</h3>
	<p>
		The <em>logical operators</em> provide a way to arrange, or connect,
		conditional statements. With the ability to connect and arrange conditional
		statements, we can write programs with more complex conditional statements.
		This in turn allows us to write more concise and efficient code.
	</p>
</section>

<section id="and_operator">
	<h4>
		The <em>and</em> Operator:
		<span class="monoText">&&</span>
	</h4>
	<p>
		The <span class="monoText">&&</span> operator allows us to streamline nested
		<span class="italicsText">if statements:</span>
	</p>
	<pre class="language-javascript">
				<code>
					// Here is code that attempts to verify a password.
					let password = "masterProgrammer";

					/*
					First condition: Check if these two sub-expressions are true:

					(1) The password has at least 6 characters.

					(2) The password contains no spaces.
					*/

					if( password.length >= 6 && 
						password.indexOf(' ') === -1
					) {
						console.log("Valid password");
					}
					else {
						console.log("Invalid password");
					}
				</code>
			</pre>

	<p>
		The <em>and operator</em> <span class="monoText">&&</span> allows us to
		connect conditional statements into a single conditional expression, called
		a <span class="term">conditional AND expression</span>. We can connect as
		many conditional expressions (i.e., conditions) as we want with
		<span class="monoText">&&</span>. For the
		<em>conditional AND expression</em> to be true, all of its
		<span class="term">sub-expressions</span> (the connected conditions) must
		all be true. Thus, if a single sub-expression is false, the entire
		<em>conditional AND expression</em> is false. Example:
	</p>
	<pre class="language-javascript">
				<code>
					/*
					Condition 1: Check if these two sub-expressions are true:
						(1) Is 1 <= 4?
						(2) Is 'a' strictly equal to 'a'?
					*/
					if (1 <= 4 && 'a' === 'a') {
						console.log("true");
					}
					/*
					Default code: If Condition 1 is false, run this code block.
					*/
					else {
						console.log("false");
					}
					/*
					Running this code, the console returns true. Why is that? Because 1 <= 4 is true, and 'a' is strictly equal to 'a'.
					*/
				</code>
			</pre>
</section>

<section id="limitation_of_and">
	<h5 class="warning-heading">
		&#9888; Warning: Limitation of
		<em>Conditional AND Expressions</em>
	</h5>
	<p>
		Remember, if just <span class="underlineText">one</span> of the
		sub-expressions is <span class="redText">false</span>, then the entire
		<span class="italicsText">conditional AND statement</span> is
		<span class="redText">false.</span> Example:
	</p>
	<pre class="language-javascript">
					<code>
						/*
						Condition 1: Check if these two sub-expressions are true:
							(1) Is 9 <= 10?
							(2) Is 'a' strictly equal to 'a'?
						*/
						if (9 > 10 && 'a' === 'a') {
							console.log("true");
						}
						/*
						If Condition 1 is false, run this code block.
						*/
						else {
							console.log("false");
						}
						/*
						Here, the console returns "false". Why? Because even though sub-expression (2) is true, sub-expression (1) is false, so the entire condition (1), a <span class="italicsText">conditional AND statement</span>, is false. Because condition (1) is false, the <span class="italicsText">else statement</span>'s code block is run.
						*/
					</code>
				</pre>
</section>

<section id="or_operator">
	<h3>
		The <span class="italicsText">OR</span> Operator:
		<span class="monoText">||</span>
	</h3>
	<p>
		The <span class="monoText">||</span> operator allows us to connect
		sub-expressions into a single conditional expression, called a
		<span class="term">conditional OR expression</span>. If just
		<span class="underlineText">one</span> of the sub-expressions is
		<span class="greenText">true</span>, then the entire
		<span class="italicsText">OR expression</span> is
		<span class="greenText">true</span>. Example:
	</p>
	<pre class="language-javascript">
				<code>
					1 !== 1 || 10 === 10;
					// Returns true, since one of the sub-expressions, 10 === 10, is true.
					10 / 2 === 5 || null;
					// Returns true, because one of the sub-expressions, 10 /2 === 5, is true.
					0 || undefined;
					// Returns false, because both 0 and undefined are inherently false (i.e., none of the sub-expressions are true.)
				</code>
			</pre>
	<p>
		Below is a code example using the
		<span class="monoText">||</span> operator.
	</p>
	<pre class="language-javascript">
				<code>
					/*
					Suppose we provide a service that gives users under 6 or over 60 a discount. We want to let the user know, after inputting their age, that they get a discount.
					*/
					let age = 64;
					/*
					First condition: Check if <span class="underlineText">at least one</span> of these sub-expressions is true:
						(1) The person's age is less than or equal to 6. 
						(2) The person's age is greater than or equal to 60.
					*/
					if (
						age <= 6 ||
						age >= 60
					) {
						console.log("You get a discount!");
					}
					// If none of the above sub-expressions is true, run this code block.
					else {
						console.log("Proceeding to checkout")
					}
				</code>
			</pre>
</section>

<section id="not_operator">
	<h3>
		The <span class="italicsText">NOT</span> Operator:
		<span class="monoText">!</span>
	</h3>
	<p>
		The <span class="italicsText">NOT operator</span> reverses the values for a
		conditional expression. Thus, if a conditional expression is
		<span class="greenText">true</span>, if the
		<span class="italicsText">NOT operator</span>
		<span class="monoText">!</span> is attached to the expression, then the
		conditional expression returns the opposite—<span class="redText"
			>false</span
		>. Illustration:
	</p>
	<pre class="language-javascript">
				<code>
					!null; // Returns true; null is an inherently false value, and so its opposite is true.
					!0; // Returns true
					!'' // Returns true
					!45 // Returns false
				</code>
			</pre>
	<p>
		We can attach the
		<span class="italicsText">NOT operator</span> to
		<span class="italicsText">AND conditionals</span> or
		<span class="italicsText">OR conditionals</span> :
	</p>
	<pre class="language-javascript">
				<code>
					/*
					Suppose we are running a bubble tea stand. We only have two flavors: taro or tea.
					*/
					let flavor = "blueberry";
					// Condition 1: If the flavor inputted by the user is NOT "taro" or "tea", then run this code block.
					if (
						!(flavor === "taro" || flavor === "tea")
					) {
						console.log("Sorry, we only have taro and tea at the moment.");
					}
					// Default: Otherwise, run this code block.
					else {
						console.log(`One ${flavor} bubble tea, coming right up!`);
					}
				</code>
			</pre>
</section>

<section id="operator_precedence">
	<h3>Logical Operator Precedence</h3>

	<p>
		JavaScript follows a strict rule, called
		<span class="term">operator precedence</span>, when evaluating complex
		conditional statements. For example, what does JavaScript return for the
		following:
	</p>
	<pre class="language-javascript">
				<code>
					let x = 7;
					x == 7 || x === 3 && x > 10;
				</code>
			</pre>
	<p>
		<span class="italicsText">Operator precedence</span>
		applies:
	</p>
	<ul>
		<li>
			Conditional expressions contained inside parantheses are always evaluated
			first.
		</li>
		<li>
			The <span class="italicsText">NOT operator</span> is evaluated before the
			<span class="italicsText">AND operator</span>.
		</li>
		<li>
			The <span class="italicsText">AND operator</span> is evaluated before the
			<span class="italicsText">OR operator</span>.
		</li>
	</ul>
	<p>Thus, in the above code, JavaScript evaluates the above code as:</p>
	<pre class="language-javascript">
				<code>
					let x = 7;
					(x == 7 || x === 3) && (x > 10);
				</code>
			</pre>
	<p>If we want to change this behavior, we need to use parentheses:</p>
	<pre class="language-javascript">
				<code>
					let x = 7;
					(x == 7) || (x === 3 && x > 10);
				</code>
			</pre>
</section>

<section id="switch_statement">
	<h3>The <span class="monoText">switch</span> Statement</h3>
	<p>
		The <span class="italicsText">switch statement</span> allows us to perform
		different actions based on different conditions. The switch statement takes
		the following form:
	</p>
	<pre class="language-javascript">
				<code>
					// First, evaluate the <span class="italicsText">expression</span>.
					switch ("<span class="italicsText">expression</span>") {
					// Next, compare the returned value with each of the values in the cases below.
					// If there is a match, run that case's code block.
						case "1":
							"Run this code block";
						break;

						case "2":
							"Run this code block";
						break;

						case "3":
							"Run this code block";
						break;
					// If there is no match, run the default's code block.
						default:
							"Run this code block"
					}
				</code>
			</pre>
	<p>For example, consider the following code:</p>
	<pre class="language-javascript">
				<code>
					/*
					Suppose we have a program where the user enters a number from 1 to 7, and gets back out a day of the wee. We could do the following:
					*/

					let day = 8;
					if (day === 1) {
						console.log("Monday");
					}
					else if (day === 2) {
						console.log("Tuesday");
					}
					else if (day === 3) {
						console.log("Wednesday");
					}
					else if (day === 4) {
						console.log("Thursday");
					}
					else if (day === 5) {
						console.log("Friday");
					}
					else if (day === 6) {
						console.log("Saturday");
					}
					else if (day === 7) {
						console.log("Sunday");
					}
					else {
						console.log("Invalid---enter a number from 1 to 7.");
					}
				</code>
			</pre>
	<p>
		The above code accomplishes the task, but it can be written much more
		compactly with a switch statement:
	</p>
	<pre class="language-javascript">
				<code>
					let day = 1;
					switch (day) {
						case 1: // If the value for day is 1, run this block of code.
							console.log("Monday");
							break;
						case 2: // If the value for day is 2, run this block of code. 
							console.log("Tuesday");
							break; 
						case 3: // If the value for day is 3, run this block of code.
							console.log("Wednesday");
							break; 
						case 4: // If the value for day is 4, run this block of code.
							console.log("Thursday");
							break; 
						case 5: // If the value for day is 5, run this block of code.
							console.log("Friday");
							break;
						case 6: // If the value for day is 6, run this block of code.
							console.log("Saturday");
							break; 
						case 7: // If the value for day is 7, run this block of code.
							console.log("Sunday");
							break;
						default: // If there are no matching cases, run this block of code.
							console.log("Please enter a number from 1 to 7.")
					}
					// Note how each of the cases contains a "break" statement. This is because without the break statement, the moment JavaScript arrives at a matching case, it will run the code block for everything thereafter. This default behavior is prevented by using the <span class="italicsText">break statement</span>.
				</code>
			</pre>
</section>

<section id="ternary_operator">
	<h3>The <span class="italicsText">Ternary</span> Operator</h3>
	<p>
		If we have a single
		<span class="italicsText">if statement</span> accompanied with an
		<span class="italicsText">else statement</span>, we can write the statements
		as a single line of code with the
		<span class="term">ternary operator</span>. The
		<span class="italicsText">ternary operator</span> takes the following form:
	</p>
	<figure>
		<code class="language-javascript"
			>condition ?
			<span class="greenText">("code block for when condition is true")</span>
			:
			<span class="redText"
				>("code block for when condition is false")</span
			></code
		>
	</figure>
	<p>For example:</p>
	<pre class="language-javascript">
				<code>
					/*
					Here is a program that displays in the console "Lucky Number 7" if the user picks 7. 
					*/
					let num = 7;
					if (num === 7) {
						console.log("Lucky Number 7!");
					}
					else {
						console.log("Sorry, no lucky number.");
					}

					// We can write the above with a <span class="italicsText">switch statement</span>:
					let num = 7;
					num === 7 ? console.log("Lucky Number 7!") : console.log("Sorry, no lucky number.");
				</code>
			</pre>
</section>
{% endblock %}
