{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="Data structures and algorithms in JavaScript"
/>
{% endblock %} {% block title %}
<title>Data Structures & Algorithms</title>
{% endblock %} {% block content %}
<h1>Data Structures & Algorithms</h1>
<section id="intro">
	<p>
		<span class="drop">I</span>n this chapter, we explore data structures and
		algorithms in JavaScript. Much of the materials here focus on implementing
		data structures and algorithms in JavaScript. A more rigorous treatment
		(i.e., a treatment with stronger groundings in theory and mathematics) is
		presented in the volume
		<a href="{% url 'numerc:cpp_preface' %}"
			><span class="title">Data Structures & Algorithms: C++</span></a
		>.
	</p>
</section>
{% endblock %}
