{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="execution_contexts" class="grid-item">
	<p>
		<span class="topic">Execution Contexts.</span> Because programs use multiple
		statements and span multiple lines, if a programming language has a lexical
		environment, then it follows that there are multiple lexical environments.
		Those lexical environments do not all run at the same time. The environment
		that is currently run is managed through
		<span class="term">execution contexts</span>. An
		<span class="italicsText">execution context</span> is simply a wrapper that
		helps manage the code currently running. To do so, it not only contains your
		code, but additional code&mdash;that we may or may not have written&mdash;to
		help the syntax parser process our code.
	</p>
</section>
{% endblock %}
