{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="JavaScript at the lower level" />
{% endblock %} {% block title %}
<title>Lower Level JavaScript</title>
{% endblock %} {% block content %}
<h1>JavaScript Theory</h1>

<section id="intro">
	<p>
		<span class="drop">W</span> e've now covered the basic syntax for
		JavaScript. We now proceed to a more rigorous investigation of
		JavaScript's lower level details. This discussion will lead to a more
		nuanced understanding of scope, as well as why JavaScript behaves the
		way it does.
	</p>
</section>

<section id="syntax_parser_revisted">
	<h2>Syntax Parser</h2>
	<p>
		Recall that when we write JavaScript code, we aren't directly
		interacting with the computer. The computer itself doesn't understand
		what JavaScript statements are&mdash;it only understands 1s and 0s.
		Writing entirely in 1s and 0s, however, is difficult for hardware
		engineers, so an
		<b>assembly language</b> is used; abstractions of those 1s and 0s.
		Assembly, however, is difficult to write for non-hardware engineers,
		and it is specifically suited to programming computer hardware. It is
		not meant to dynamically display Twitch streams, macros in Word, or
		stock tickers on Bloomberg. To accomplish this task, a computer
		language is needed. They are abstractions of that assembly language.
	</p>
	<p>
		That programming language, however, can only work if it is written
		<i>correctly</i>, and performs operations that are <i>permitted</i>. A
		<b>syntax parser</b>, such as a <b>compiler</b> or
		<b>interpreter</b> is a program that performs this task. It reads our
		source code, determines what the code does, and decides whether the
		code's "grammar" is valid. If the source code's syntax is valid, then
		it is translated into <i>assembly</i>, which is then translated into 1s
		and 0s.
	</p>
	<p>
		Note what this means. A programming language is at the mercy of the
		syntax parser, and the syntax parser is a program written by another
		programmer. That syntax parser can decide to do additional things
		outside of simply determining the code's syntax is valid. It can also
		decide what syntax is considered valid. Particularly with JavaScript,
		this fact can lead to a variety of unexpected consequences.
	</p>
</section>

<section id="lexical_environments">
	<h2>Lexical Environment</h2>
	<p>
		The world "lexical" means "having to do with words or grammar." Some
		programming languages, like JavaScript, have
		<b>lexical environments</b>. If a programming language has a
		<i>lexical environment</i>, then the lines where we write code
		<em>matters</em>. In other words, you cannot just write anything,
		anywhere. For example:
	</p>
	<pre class="language-javascript"><code>
		function hello() {
			greeting = "Hello world!"
			console.log(greeting);
		}
	</code></pre>
	<p>Briefly, variables in JavaScript are indicated with the symbols:</p>
	<ul>
		<li><var>let</var></li>
		<li><var>const</var></li>
		<li><var>var</var></li>
	</ul>
	<p>
		When writing variable names, the convention is to use only ASCII
		characters, but we are free to use the full set of Unicode characters.
	</p>
	<p>
		In the code above, the variable
		<var>greeting</var> sits <i>lexically</i> inside the function
		<var>hello()</var>. Moreover, if a programming language has a
		<i>lexical environment</i>, then the language gives us an idea of where
		in the computer's memory our code resides, and how it will interact
		with other parts of the program. Put simply, whenever we use the term
		<i>lexical environment</i>, we are referring to <em>where</em> the code
		is in the program, and <em>what</em> surrounds that code.
	</p>
</section>

<section id="execution_contexts">
	<h2>Execution Contexts</h2>
	<p>
		Because programs use multiple statements and span multiple lines, if a
		programming language has a lexical environment, then it follows that
		there are multiple lexical environments. Those lexical environments do
		not all run at the same time. The environment that is currently run is
		managed through
		<b>execution contexts</b>. An <i>execution context</i> is simply a
		wrapper that helps manage the code currently running. To do so, it not
		only contains your code, but additional code&mdash;that we may or may
		not have written&mdash;to help the syntax parser process our code.
	</p>
</section>

<section id="objects_revisited">
	<h2>Bindings & Objects</h2>
	<p>
		When we saw objects, we compared them to the Python dictionary.
		However, objects are a much more general construct in JavaScript.
		Before we discuss objects, however, let's revisit the
		<i>binding</i>. Formally: A <b>binding</b> is a <i>name</i> that maps
		to a unique <i>value</i>. Essentially, it is a <i>name-value pair</i>.
		The name may be defined more than once, <em>but</em> it can only have
		one value in any given execution context. The value itself, however,
		need not be a literal. The name could map to more objects.
	</p>
	<p>
		Having formally defined a binding, we should now have a clearer
		understanding of objects. And <b>object</b> is a collection of
		bindings. More specifically, it is a collection of name-value pairs.
	</p>
</section>

<section id="the_global_object">
	<h2>The Global Object</h2>
	<p>
		In JavaScript, there is an execution context called the
		<b>global execution context</b>. This is the <i>base</i> execution
		context. All execution contexts "lie on top" of the global execution
		context. Code written in the global execution context is accessible to
		everything everywhere else in the program.
	</p>
	<p>
		The global execution context creates two things: (1) a
		<b>global object</b> and (2) a variable called <var>this</var>. These
		are created by the JavaScript engine whenever code is executed, since
		all code, in JavaScript, exists in an execution context. If we execute
		JavaScript in the browser, we can see the global object by simply
		typing the keyword <var>this</var>:
	</p>
	<pre class="language-javascript"><code>
		this
	</code></pre>
	<pre class="language-bash"><code>
		Window {
			window: Window, 
			self: Window, 
			document: document, 
			name: "", 
			location: Location,
			&vellip;
		}
	</code></pre>
	<p>
		On the browser, the global object is the
		<var>window</var> object. However, the global object is not always the
		<var>window</var> object. It depends on where we execute JavaScript
		code. If we ran JavaScript in a separate tab or window, the global
		object would still be called the <var>window</var> object, but it is a
		different object&mdash;it's a different execution context. In NodeJS,
		the global object is something else entirely. Nevertheless, in every
		situation, there is <em>always</em> a global object whenever we run
		JavaScript.
	</p>
	<p>
		Note that in JavaScript, the word "global" refers to an execution
		context other than a function's. Thus, if we have code that is
		<em>not</em> inside a function, that code resides in the global
		execution context. For example, suppose we wrote the following code:
	</p>

	<pre class="language-javascript"><code>
		var x = 'Hello world!';
		function b() {
			return x
		};
	</code></pre>

	<p>Then, in our console, we wrote:</p>

	<pre class="language-javascript"><code>
		window
	</code></pre>
	<pre class="language-bash"><code>
		Window {
			&vellip;

			x: "Hello World!"
			b: function b() {}
		}
	</code></pre>
	<p>
		we see that the variable we wrote, <var>x</var>, and the function we
		wrote, <var>b</var>, reside in the <var>Window</var> object &mdash; the
		global object. Because they are inside the global object, we can
		reference them by writing:
	</p>

	<pre class="language-javascript"><code>
		window.a
		window.b
	</code></pre>
	<pre class="language-bash"><code>
		"Hello world!"

		ƒ b() {}
	</code></pre>
</section>

<section id="creation_hoisting">
	<h2>Hoisting</h2>
	<p>
		If there's one thing that surprises newcomers to JavaScript, it's
		<i>hoisting</i>. This phenomenon is best explained by way of example.
		Suppose we wrote the following in a JavaScript file linked to an HTML
		document:
	</p>

	<pre class="language-javascript"><code>
		var greeting = "Hello world!";

		function bye() {
			console.log("Goodbye!");
		}
		
		bye();

		console.log(greeting);
	</code></pre>

	<p>Loading the HTML page and examining the console:</p>

	<pre class="language-bash"><code>
		"Goodbye!"
		"Hello world!"
	</code></pre>

	<p>This works as expected. Now suppose we rearranged the code:</p>

	<pre class="language-javascript"><code>
		bye();

		console.log(greeting);

		var greeting = "Hello world!";

		function bye() {
			console.log("Goodbye!")
		}
	</code></pre>
	<p>
		Notice what we've done. We moved the call
		<var>bye()</var> to the very first line. We've also moved the method
		call <var>console.log()</var> to the second line. The binding
		<var>greeting</var> has now moved to after these two invocations, along
		with the function initialization for <var>bye()</var>. If we're coming
		from a language like C++, this should return a compiler error. But
		notice the output from running this code:
	</p>
	<pre class="language-bash"><code>
		"Goodbye!"
		undefined
	</code></pre>
	<p>
		The function <var>bye()</var> is actually executed, and the console
		displays <var>undefined</var> for the variable <var>greeting</var>.
		This is unusual behavior. In most programming languages, the function
		<var>bye()</var> would not have been executed, since executions go from
		top down. Similarly, we do not get an error from executing a method
		with a variable declared later down the code. To maintain some sanity,
		we do get an error if we completely removed the variable declaration:
	</p>

	<pre class="language-javascript"><code>
		bye();

		console.log(greeting);

		function bye() {
			console.log("Goodbye!")
		}
	</code></pre>
	<pre class="language-bash"><code>
		"Goodbye!"
		Uncaught ReferenceError: greeting is not defined
	</code></pre>

	<p>
		In JavaScript, this phenomenon of allowing functions to execute
		"before" the function is defined or variables declared is called
		<b>hoisting</b>. Hoisting occurs because JavaScript execution contexts
		are created in two phases:
	</p>
	<ol>
		<li>The Creation Phase; and</li>
		<li>The Execution Phase</li>
	</ol>
</section>

<section id="creation_phase">
	<h3>The Creation Phase</h3>
	<p>
		In the <b>creation phase</b>, three things are created: (1) the
		<i>global object</i>, (2) the variable <var>this</var>, and (3) the
		<i>outer environment</i>. During the creation phase, the syntax parser
		runs through all of the code, setting everything up for translation.
		During that run, the parser recognizes where we've created variables,
		and where we've created functions. To keep track of everything it's
		doing, it allocates memory for variables and functions. This is what we
		see as <i>hoisting</i>.
	</p>

	<p>
		Contrary to what many think (and teach), the parser does not actually
		move code to the top of the page. What's actually happening is that
		before the code is even executed line by line, the parser has already
		stored the variables and functions we've written in memory. Because the
		variables and functions already exist in memory, when the code actually
		executes line by line, the functions we've written after a particular
		line (in the global object) are accessible.
	</p>

	<p>
		Variables, however, are treatedly differently from functions. With
		functions, the entire function is stored in memory when the parser runs
		through the code. This is why they can be executed when called before
		their arguments are initialized. Variables, however, are only partly
		stored&mdash;the variable declaration and its identifier (name) are
		stored in memory during the parser's run, but the variable's assignment
		is done only during the second phase,
		<i>execution</i>. This means that the JavaScript engine does not
		actually know what a variable's assigned value is until the execution
		phase.
	</p>

	<p>
		Rather than storing the variables assigned value, the parser stores a
		placeholder value in memory space &mdash;
		<var>undefined</var>. Storing the placeholder value is effectively
		JavaScript's way of saying "I don't know what the value of this
		variable is yet, but it does have a value." This is the same
		placeholder value that we would have if we never assigned a value to a
		variable. This is why <em>all</em> variables in JavaScript are
		initially set to <var>undefined</var>.
	</p>
	<p>
		This discussion also reveals that
		<var>undefined</var> does not mean &#8220;not defined&#8221;. For
		example, consider the following code:
	</p>
	<pre class="language-javascript"><code>
		console.log(x)
	</code></pre>
	<pre class="language-bash"><code>
		app.js:1 Uncaught ReferenceError: x is not defined
			at app.js:1
	</code></pre>
	<p>
		We get the error as expected. But if we declared
		<var>x</var>:
	</p>
	<pre class="language-javascript"><code>
		var x;
		console.log(x)
	</code></pre>
	<pre class="language-bash"><code>
		undefined
	</code></pre>
	<p>
		We get <var>undefined</var>. We can confirm that is the case by testing
		for the equality of <var>x</var> to <var>undefined</var>:
	</p>
	<pre class="language-javascript"><code>
		var x;
		if (x == undefined) {
			console.log("x is undefined")
		} else {
			console.log("x is not defined")
		}
	</code></pre>
	<pre class="language-bash"><code>
		x is undefined
	</code></pre>
</section>

<section id="execution_phase">
	<h3>Execution Phase</h3>
	<p>
		In the sections above, we discussed the
		<i>creation phase</i>. Once the creation phase ends, the
		<b>execution phase</b> begins. This is where the JavaScript interpret
		begins translating the code into assembly language&mdash;code that the
		computer can understand. Once translated, the code is then executed.
	</p>
	<p>Suppose we had the following code:</p>

	<pre class="language-javascript"><code>
		function b() {
			console.log('Called b!')
		}
		b();
		console.log(a);
		var a = 'Hello world!';
		console.log(a);
	</code></pre>

	<p>In the code above, the output looks like the following:</p>

	<pre class="language-javascript"><code>
		"Called b!"
		undefined
		"Hello world!"
	</code></pre>

	<p>
		The function <var>b()</var> is executed, then the method
		<var>console.log()</var> is executed (with a value of
		<var>undefined</var>), then the second <var>console.log()</var> is
		executed, with the value <var>"Hello world!"</var>.
	</p>
	<p>
		Why are there two different values for the variable
		<var>a</var>? Because initially, the value of <var>a</var> was
		<var>undefined</var>, as set by the parser in the
		<i>creation phase</i>. In the line just after that, however, we
		assigned <var>a</var> the value <var>"Hello world!"</var>, so the value
		is no longer <var>undefined</var>, but a string instead.
	</p>
</section>

{% endblock %}
