{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="regular_expressions_introduction" class="grid-item">
	<h2>Regular Expressions</h2>
	<p>
		A <span class="term">regular expression</span> is a sequence of characters
		instructing JavaScript on what to search for in a set of data. Regular
		expressions effectively allow us to describe patterns in string type data.
	</p>
	<p>
		There are two ways to create regular expressions: (1) with a
		<span class="term">regular expression constructor</span>
		or (2) with a
		<span class="term">regular expression literal</span>.
	</p>
	<p>
		The result from using a regular expression is a
		<span class="term">regex object</span>.
	</p>
</section>

<section id="regular_expression_constructor" class="grid-item">
	<h3>The Regular Expression Constructor</h3>
	<p>
		The regular expression constructor takes the form
		<code class="language-javascript"
			>new RegExp(<em>pattern</em>[, <em>flags</em>])</code
		>.
	</p>
</section>

<section id="regular_expression_literal" class="grid-item">
	<h3>The Regular Expression Literal</h3>
	<p>
		The regular expression literal, on the other hand, takes the form
		<code class="language-javascript">/<em>pattern</em>/<em>flags</em></code>
	</p>
</section>
{% endblock %}
