{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="scope_introduction">
	<h2>Scope</h2>
	<p>
		In computer science, <span class="term">scope</span> is the set of all
		<span class="term">name bindings</span>
		<span class="italicsText">visible</span> to the programming language in a
		given <span class="term">context</span> or
		<span class="term">environment</span>. The term
		<span class="term">scope</span> refers to the area of a programming where
		JavaScript can "see" a particular entity (e.g., a variable). If JavaScript
		cannot see that entity, then it cannot use it when it executes code.
	</p>
	<p>
		Like many other programming languages, JavaScript's "sight" is limited by
		the way we write code. This is to prevent JavaScript from getting
		confused&mdash;if JavaScript could see every variable we declared, it would
		not know what to do (computers are not nearly as smart as we think): "I see
		you declared this variable here, but I can see the same variable over there,
		so I'm confused. Here's an error."
	</p>
</section>

<section id="function_scope">
	<h3>Function Scope</h3>
	<p>
		When a variable is declared in a function's body (i.e., the function's code
		block), JavaScript can only see that variable if JavaScript itself is inside
		that code block. Outside of that code block, JavaScript cannot see that
		variable.
	</p>
	<p>This allows us to have multiple functions with the same variable names:</p>

	<pre class="language-javascript">
				<code>
					function() {
						let x = null;
						// JavaScript cannot see the variable x outside this code block
					}
					function() {
						let x = 1;
					}
				</code>
			</pre>

	<h3>Block Scope</h3>
	<p>
		Like <span class="italicsText">function scope</span>, if we declare a
		variable inside a <span class="italicsText">conditional statement</span>'s
		code block, JavaScript can only see the variable within that code block–it
		cannot access the variable outside the statement's code block.
	</p>

	<pre class="language-javascript">
				<code>
					if (<span class="greyText italicsText">condition</span>) {
						let x = null;
					}
					// JavaScript cannot see the variable x outside the curly braces, so it can be declared again outside of the curly braces.
				</code>
			</pre>

	<section id="warning_var_scope">
		<p class="warning-heading">
			&#9888; Warning: <span class="monoText">var</span> Is the Exception
		</p>

		<p>
			The above rules
			<span class="underlineText">do not apply</span> to variables declared with
			<span class="monoText">var</span>.
		</p>

		<pre class="language-javascript">
					<code>
						if (<span class="greyText italicsText">condition</span>) {
							var x = null;
						}
						// JavaScript <span class="underlineText">can</span> see the variable x outside the curly braces.
					</code>
				</pre>
	</section>

	<h3>Lexical Scope</h3>
	<p>
		When we have
		<span class="italicsText">nested functions</span> (a function inside a
		function), a variable declared in the
		<span class="italicsText">outer function</span>
		<span class="underlineText">can</span> be accessed in the inner function.
	</p>

	<pre class="language-javascript">
				<code>
					function outer() {
						let x = null;
						function inner() {
							<span class="greyText italicsText">statements</span>;
							// JavaScript can see x here
							let y = null;
						}
						// JavaScript can see x here
						// JavaScript <span class="underlineText">cannot</span> see y here (function scope)
					}
					// JavaScript cannot see x here, unless we invoke the function outer()
				</code>
			</pre>
</section>
{% endblock %}
