{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="syntax_parsers">
	<p>
		<span class="topic">Syntax Parsers.</span> When we write JavaScript code, we
		aren't directly interacting with the computer. The computer itself doesn't
		understand what JavaScript statements are&mdash;it only understands 1s and
		0s. Writing entirely in 1s and 0s, however, is difficult for hardware
		engineers, so an <span class="term">assembly language</span> is used;
		abstractions of those 1s and 0s. Assembly, however, is difficult to write
		for non-hardware engineers, and it is specifically suited to programming
		computer hardware. It is not meant to dynamically display Twitch streams,
		macros in Word, or stock tickers on Bloomberg. To accomplish this task, a
		computer language is needed. They are abstractions of that assembly
		language.
	</p>
	<p>
		That programming language, however, can only work if it is written
		<span class="italicsText">correctly</span>, and performs operations that are
		<span class="italicsText">permitted</span>. A
		<span class="term">syntax parser</span>, such as a
		<span class="term">compiler</span> or
		<span class="term">interpreter</span> is a program that performs this task.
		It reads our source code, determines what the code does, and decides whether
		the code's "grammar" is valid. If the source code's syntax is valid, then it
		is translated into <span class="italicsText">assembly</span>, which is then
		translated into 1s and 0s.
	</p>
	<p>
		Note what this means. A programming language is at the mercy of the syntax
		parser, and the syntax parser is a program written by another programmer.
		That syntax parser can decide to do additional things outside of simply
		determining the code's syntax is valid. It can also decide what syntax is
		considered valid. Particularly with JavaScript, this fact can lead to a
		variety of unexpected consequences.
	</p>
</section>
{% endblock %}
