<!-- prettier-ignore -->
<li class="grid-item"><a href="{% url 'numerc:js_preface' %}"><span class="boldText">Event-driven Programming: JavaScript</span></a>
	<ul>
		<li><a href="{% url 'numerc:js_howJSWorks' %}">How JavaScript Works</a></li>
		<li><a href="{% url 'numerc:js_baseTypes' %}">Basics</a></li>
		<li><a href="{% url 'numerc:js_controlFlow' %}">Branching</a></li>
		<li><a href="{% url 'numerc:js_arrays' %}">Collections & Loops</a></li>
		<li><a href="{% url 'numerc:js_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:js_methods' %}">Objects Methods & Properties</a></li>
		<li><a href="{% url 'numerc:js_this' %}">The Keyword this</a></li>
		<li><a href="{% url 'numerc:js_jsLowerLevel' %}">JavaScript Beneath the Hood</a></li>
		<li><a href="{% url 'numerc:js_dom' %}">The DOM</a></li>
		<li><a href="{% url 'numerc:js_computerGraphics' %}">Computer Graphics</a></li>
		<li><a href="{% url 'numerc:js_dsalg' %}">Data Structures & Algorithms</a></li>
		<!-- <li><a href="{% url 'numerc:js_regex' %}">Regular Expressions</a></li> -->
		<!-- <li><a href="{% url 'numerc:js_angular' %}">Angular</a></li> -->
	</ul>
</li>
