<!-- prettier-ignore -->
<li class="grid-item"><a href="{% url 'numerc:js_preface' %}"><span class="boldText">Computer Graphics: JavaScript</span></a>
	<ul>
		<li><a href="{% url 'numerc:js_howJSWorks' %}">How JavaScript Works</a></li>
		<li><a href="{% url 'numerc:js_baseTypes' %}">Basics</a></li>
		<li><a href="{% url 'numerc:js_controlFlow' %}">Branching</a></li>
		<li><a href="{% url 'numerc:js_arrays' %}">Collections & Loops</a></li>
		<li><a href="{% url 'numerc:js_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:js_regex' %}">Regular Expressions</a></li>
		<li><a href="{% url 'numerc:js_classes' %}">Classes</a></li>
		<li><a href="{% url 'numerc:js_jsLowerLevel' %}">JavaScript Beneath the Hood</a></li>
		<li><a href="{% url 'numerc:js_dom' %}">The DOM</a></li>
		<li><a href="{% url 'numerc:js_async' %}">Asynchronous JavaScript</a></li>
		<li><a href="{% url 'numerc:js_node' %}">Node.js</a></li>
		<li><a href="{% url 'numerc:js_react' %}">React</a></li>
		<li><a href="{% url 'numerc:js_d3' %}">D3</a></li>
		<li><a href="{% url 'numerc:js_threeJS' %}">ThreeJS</a></li>
		<!-- <li><a href="{% url 'numerc:js_dsalg' %}">Data Structures & Algorithms</a></li> -->
		<!-- <li><a href="{% url 'numerc:js_angular' %}">Angular</a></li> -->
	</ul>
</li>
