{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="Physics: unit conversion, vector addition and subtraction, vector multiplication and division, vector arithmetic, significant figures"
/>
{% endblock %} {% block title %}
<title>Unit Conversion, Vector Arithmetic, & Measurement</title>
{% endblock %} {% block content %}
<h1>Unit Conversion, Vector Arithmetic, & Measurement</h1>
<section id="forray">
	<p>
		We now turn to laying some ground work for future applied mathematics
		examples. In this case, we will lay the ground work for future physics
		illustrations.
	</p>
</section>
<section id="problem_solving">
	<h2>Problem Solving in Physics</h2>
	<p>
		The following problem-solving strategy is often useful for solving physics
		problems:
	</p>
	<p>
		<span class="topic">Identify explicit data.</span> The first step is to
		identify all the relevant data. What are the problem's conditions? Given
		those conditions, what concepts apply?
	</p>
	<p>
		<span class="topic">Identify implicit data.</span> Here, we want to identify
		any data that is implied from the explicit data. For example, if we know
		that ${x + 2 = 4,}$ we have the implicit data that ${x = 2.}$ Identifying
		these implicit data often proves enormously useful for later calculations.
		This is also the step where we identify things we
		<span class="underlineText">don't</span> know. What are the
		<span class="italicsText">target variables</span>? I.e., what are the things
		we want to find out about?
	</p>
	<p>
		<span class="topic">Set up the problem.</span> This is where we want to
		layout all the equations, algorithms, systems, data structures, and concepts
		necessary to solving the problem. It may seem as if everything is relevant
		&mdash; with practice, this step can become much more like
		pattern-recognition.
	</p>
	<p>
		<span class="topic">Implement and execute the solution.</span> Having laid
		out all of our tools, we now use them to implement a solution. Once
		implemented, we execute the solution and examine the results.
	</p>
	<p>
		<span class="topic">Test.</span> Assuming the results returned correctly, we
		now test. Here, we'll want to replace the provided values with similar ones,
		then begin exploring edge cases.
	</p>
	<p>
		<span class="topic">Evaluate.</span> Having performed all of the previous
		steps, we must then evaluate the answer. Think of this as writing a journal
		entry for the entire process, a sort of self-reflection. What is the
		significance for each step in the process? What are the solution's
		shortcomings? Were there edge cases that failed?
	</p>
</section>

<section id="modeling">
	<h2>Modeling</h2>
	<p>
		One of the most valuable skills in physics is
		<span class="term">modeling</span> &mdash; the process of reducing complex
		systems into smaller, simplified systems. For example, analyzing the motion
		of a bullet fired from a handgun is terrifyingly complex. How much gunpowder
		is used? What is the chemical composition of said gun powder? What is the
		handgun's model? Air resistance? Bullet's weight? Air temperature? Humidity?
		Distance? Height? All these questions are relevant, and unfortunately, paint
		a freakishly complex reality. If we tried solving the problem by answering
		all these questions at once, we likely wouldn't get anywhere.
	</p>
	<p>
		Instead, a better approach is to model. Instead of thinking of the bullet
		with all its contours and metallic nature, we just envision a particle.
		Instead of worrying about the gun power chemistry, we just assume some
		initial acceleration. Instead of worrying about air resitance, we assume no
		air resistance; a vaccuum. We make whatever assumptions are necessary to
		make the system as easy as possible to analyze. This is modeling.
	</p>
</section>
{% endblock %}
