@font-face {
	font-family: "Old Standard";
	src: url("../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Crimson";
	src: url("../fonts/Crimson/CrimsonText-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "CMU Serif";
	src: url("../fonts/cmu_serif/cmunrm.woff");
	font-style: normal;
	font-weight: bold;
}
body {
	font-family: "CMU Serif";
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto;
}
a {
	font-family: "Old Standard";
	font-size: 1.5rem;
}
main {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
p {
	margin: 1rem;
	padding: 0;
	font-size: 1.3rem;
}
header {
	margin: 3vh 3vh 0 3vh;
}
h1 {
	text-align: center;
	font-family: "Crimson";
	font-size: 3rem;
	margin: 0;
	padding: 0;
	line-height: 1;
}
blockquote {
	margin: 0.5rem 1.5rem;
	padding: 0;
}
blockquote > p {
	font-size: 0.86rem;
	padding: 0;
	margin: 0; 
}
figure {
	margin: 0 2rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}
figcaption {
	text-align: left;
	font-size: 0.76rem;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: teal;
	display: block;
	padding: 3rem 1rem;
	margin: 0.8rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	text-align: center;
}
a:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
ul {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	justify-content: space-between;
}

footer p {
	text-align: center;
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
}
footer {
	grid-row-start: 3;
	grid-row-end: 4;
	margin: 0;
	padding: 0.5em;
}

span.title {
	font-variant: small-caps;
	font-style: normal;
}

@media (max-width: 800px) {
	li {margin: 2vh;}
}

html {
	font-size: 16px;
}

@media (min-width: 640px) and (max-width: 1439px) {
	html {
		font-size: calc(16px + (23 - 16) * (100vw - 640px) / (1439 - 640));
	}
}
@media (min-width: 1440px) {
	html {
		font-size: 23px;
	}
}