/* fonts */
	@font-face {
		font-family: "Old Standard";
		src: url("../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "Crimson";
		src: url("../fonts/Crimson/CrimsonText-Bold.ttf");
		font-style: normal;
		font-weight: bold;
	}
	@font-face {
		font-family: "CMU Serif";
		src: url("../fonts/cmu_serif/cmunrm.woff");
		font-style: normal;
		font-weight: bold;
	}
	@font-face {
		font-family: "Nunito";
		src: url("../fonts/Nunito/Nunito-Regular.ttf");
	}
/* global */
	* {box-sizing: border-box; padding: 0; margin: 0;}
	body {
		font-family: "CMU Serif";
		padding: 0;
		margin: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	main {
		padding: 0.5em;
		margin: 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	header { margin: 1.8em 1em; margin-bottom: 0.8em; padding: 0.5em;}
	footer p {
		text-align: center;
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
	}
	footer {
		margin: 0;
		padding: 0.5em;
		margin: 0;
	}
	footer p {
		font-family: "Nunito";
		font-size: 0.95rem;
		background-color: #6e6e6e;
		color: transparent;
		text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	}
	footer a {
		color: coral;
		text-shadow: none;
		font-size: 0.95rem;
	}
/* links */
	a {
		color: coral;
		text-decoration: none;
	}
	main a {
		color: rgb(1, 179, 179);
		font-family: "Old Standard";
		font-size: 1.5rem;
		display: block;
		padding: 2rem 1rem;
		margin: 0.5em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		text-align: center;
	}
	main a:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}
/* paragraphs  */
	p {
		margin: 0.8rem 1rem;
		padding: 0;
		font-size: 1.3rem;
	}
/* headings */
	h1 {
		text-align: center;
		font-family: "Crimson";
		font-size: 3.5rem;
		margin: 0;
		padding: 0;
		line-height: 1;
	}
	span.title {
		font-variant: small-caps;
		font-style: normal;
	}
/* block quotes */
	blockquote {
		margin: 0 2vw;
		padding: 0;
	}
	blockquote > p {
		font-size: 0.9rem;
		padding: 0;
		margin: 0;
	}
/* figure */
	figure {
		margin: 0 2rem;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
	}
	figcaption {
		text-align: left;
		font-size: 0.76rem;
		margin: 0;
		padding: 0.5em;
	}
/* list */
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		flex-direction: row;
		justify-content: space-between;
	}
	li { list-style-type: none; }
/* Media Queries */
html {
	font-size: 16px;
}
@media (min-width: 640px) and (max-width: 1439px) {
	html {
		font-size: calc(16px + (23 - 16) * (100vw - 640px) / (1439 - 640));
	}
}
@media (min-width: 1440px) {
	html {
		font-size: 1.25vw;
	}
	body {margin: 0 25%}
}
@media (max-width: 600px) {
	html {font-size: 2.8vw;}
	blockquote p {font-size: 1rem;}
	figcaption {font-size: 0.9rem;}
}