{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="objects_in_java">
	<h3>Objects in Java</h3>
	<p>
		All of the topics covered thus far are concepts we can collect into our
		programming toolbox and use as needed. Indeed, a substantial part of being a
		programmer is discovering new concepts to add to that toolbox. We now
		introduce another concept &mdash; <span class="italicsText">objects</span>.
	</p>
	<p>
		Objects are placed in the tool slot for data structures &mdash; objects are
		one possible approach for organizing data. More specifically, they allow us
		to create custom <span class="italicsText">types</span>. So far, we have
		only used primitive types &mdash; the types Java provides by default.
		Objects give us a way to have more types.
	</p>
	<p>
		Recall: How do we structure good programs? So far, we've seen one approach:
		Using <span class="italicsText">functions</span> &mdash; break down the
		program into smaller, reusable, testable, and understandable pieces. Objects
		give us a second approach: Combining
		<span class="italicsText">state</span> and
		<span class="italicsText">behavior</span> &mdash; modeling data (state) and
		what we can do with that data (behavior).
	</p>
	<p>
		Creating objects is a strenous exercise of creativity, imagination, holistic
		thinking, and intuition. This is in contrast to implementing functions,
		which often involves logic, fact analysis, and computation. This is because
		implementing objects depends much more heavily on design, rather than
		sequences of steps.
	</p>
	<p>
		<span class="topic">What is an object?</span> Objects are data structures
		that combine <span class="italicsText">state</span> (e.g., variables;
		storing information) and <span class="italicsText">behavior</span> (e.g.,
		functions; what things we can do with that stored information).
	</p>
	<p>
		For something to be an object, it must answer the following questions: (1)
		What does it store? In other words, what
		<span class="italicsText">state</span>, or information, does this thing
		store? (2) What does it do? What sort of functionality does the thing
		provide?
	</p>
	<p>
		We've seen one object repeatedly, strings. Strings have a state: They store
		values of type <span class="monoText">char</span>, along with those values'
		respective indices. Strings also have functions (called
		<span class="italicsText">methods</span>) that operate on all strings:
		indexing, concatentation, slicing, upper-casing, etc. Thus, strings satisfy
		the definition of an object: (1) they store data, and (2) they implement
		algorithms.
	</p>
	<p>
		<span class="topic">Objects in Java.</span> In the discussion above, we used
		the term &#8220;object&#8221; loosely. To be very specific, an
		<span class="italicsText">object</span> is an instance of a
		<span class="term">class</span> &mdash; a representation of real-world
		objects. An object is simply one instance of that class. For example,
		<span class="monoText">reptile</span> is a class, and
		<span class="monoText">crocodile</span> is an instance of that class. Of
		course, <span class="monoText">crocodile</span> itself can be a class, with
		<span class="monoText">Nile crocodile</span> and
		<span class="monoText">Saltwater crocodiles</span> as instances of that
		class. An individual saltwater crocodile would be instance of
		<span class="monoText">Saltwater crocodiles</span>. Thus, as a matter of
		logic, classes are objects, but not all objects are classes.
	</p>
	<p>
		<span class="topic">Class in Java.</span> A
		<span class="term">class</span> in Java determines how a particular
		<span class="italicsText">type</span> of object will behave. We can think of
		a class as a blueprint that creates object instances of a particular type.
	</p>
	<p>
		Analogously, we can think of a class as a statute that defines certain
		persons. For example, metaphysically, there is no such thing as an
		&#8220;asylum seeker&#8221; (epistemology and philosophy of language aside).
		Such an entity exists only because of the definition provided by 8 U.S.C. §
		1158. Absent that statute, there are no asylum seekers. If a person is an
		asylum seeker, there are certain things we can do with that person,
		separating it from other persons &mdash; we can allow them to obtain certain
		visas, they can follow special tracks to obtaining a Green Card, there are
		certain things the federal government cannot do with them, etc. The same
		concept underlies classes in programming.
	</p>
	<p>
		Here is an example of a
		<span class="italicsText">class declaration</span> creating a new type
		called <span class="monoText">Person</span>:
	</p>
	<pre class="language-java"><code>
		class Person {
			String name;
			int age;
			void printName() {
				System.out.println(this.name);
			}
		}
	</code></pre>
	<p>
		When we define a class, we start with the special keyword
		<span class="monoText">class</span>. Then we give it a name, in this case,
		<span class="monoText">Person</span>. As a matter of convention, class names
		are capitalized.
	</p>
	<p>
		After the name, we have a block, the class definition's body. Inside that
		block, we have pieces of data and algorithms. In the example above, the body
		says: every instance of <span class="monoText">Person</span>, i.e., every
		object of type <span class="monoText">Person</span>, has a
		<span class="monoText">name</span>, a piece of data of type
		<span class="monoText">String</span>, and an
		<span class="monoText">age</span>, a piece of data of type
		<span class="monoText">int</span>. This is the
		<span class="italicsText">state</span> that every object of type
		<span class="monoText">Person</span> stores.
	</p>
	<p>
		Furthermore, every object of type <span class="monoText">Person</span> can
		perform an algorithm called <span class="monoText">printName()</span>. This
		is the <span class="italicsText">behavior</span> that every object of type
		<span class="monoText">Person</span> stores. In the method's definition, we
		indicate that the method takes no arguments, and returns nothing (<span
			class="monoText"
			>void</span
		>). Recall that <span class="monoText">void</span> is a special type, used
		only with method declarations to indicate the method does not return
		anything.
	</p>
	<p>
		A word of caution: Unlike languages like Python and JavaScript, Java classes
		<span class="underlineText">cannot</span> be modified after the program is
		compiled. This means that if we needed to make a change to a class
		definition, we must recompile the program before execution. This can be
		frustrating when writing smaller pieces of code, but it is particularly
		useful once we start dealing with very large programs.
	</p>
	<p>
		<span class="topic">The <span class="topic">new</span> Keyword.</span> In
		the previous sections, we often used the keyword
		<span class="monoText">new</span>, and we stated we would discuss it in
		later sections. Now that we've introduced objects, we can begin that
		discussion. An <span class="term">instance</span> of a class is an object of
		the type created by that class. To create an instance, we must use the
		<span class="monoText">new</span> keyword:
	</p>
	<pre class="language-java"><code>
		// create a new type called Person

		class Person {
			String name;
			int age;
			void printName() {
				System.out.println(this.name);
			}
		}

		// create an object of type Person
		
		Person adam = new Person();
	</code></pre>
	<p>
		The type <span class="monoText">Person</span> can be used just like how an
		<span class="monoText">int</span> or <span class="monoText">char</span> is
		are used, but we must use the keyword <span class="monoText">new</span>.
	</p>
	<p>
		<span class="topic"
			>Getting and Setting an Object's State and Methods.</span
		>
		Like many other object-oriented languages, the states and behaviors of Java
		objects are accessed and set using <span class="term">dot notation</span>:
	</p>
	<pre class="language-java"><code>
		// create a new type called Person
		class Person {
			String name;
			int age;
			void printName() {
				System.out.println(this.name);
			}
		}

		// create an object of type Person
		Person adam = new Person();

		// set the instance variables
		adam.age = 40;
		adam.name = "Adam";

		// use the instance variables
		System.out.println(adam.age);

		// call the method
		adam.printName();
	</code></pre>
	<pre class="language-bash"><code>
		40
		Adam
	</code></pre>
	<p>
		<span class="topic">Instance Variables.</span> With classes, we can use
		instance variables that are of
		<span class="italicsText">primitive types</span> or of
		<span class="italicsText">types we've created</span>. This ability allows us
		to create classes of varying complexity:
	</p>
	<pre class="language-java"><code>
		class Dimensions {
			int length;
			int width;
			int height;
		}
		class Room {
			String name;
			Dimensions dimensions;
		}
		Room diningRoom = new Room();
		diningRoom.dimensions = new Dimensions();
		diningRoom.dimensions.length = 50;
		diningRoom.dimensions.width = 20;
		diningRoom.dimensions.height = 40;
	</code></pre>
	<p>
		Why might we write a separate class for dimensions? Well, rooms aren't the
		only things with dimensions. Windows, tables, cabinets, closets, these all
		have dimensions. We don't want to repeat ourselves.
	</p>
	<p>
		<span class="topic"
			>Class Instances and the Value <span class="monoText">null</span>.</span
		>
		If we create a new class instance without initializing its instance
		variables, those instance variables have a default value of
		<span class="monoText">null</span>. This is a common Java feature that
		confuses those new to the language.
	</p>
	<pre class="language-java"><code>
		class Dimensions {
			int width;
			int height;
		}
		class Room {
			String name;
			Dimensions dimensions;
		}
		Room diningRoom = new Room();
		System.out.println(diningRoom.dimensions.width);
	</code></pre>
	<pre class="language-bash"><code>
		null
	</code></pre>
	<p>
		<span class="topic">Methods.</span> The methods we define in a class have
		access to the variables defined <span class="italicsText">inside</span> that
		class; i.e., the instance variables. Thus:
	</p>
	<pre class="language-java"><code>
		class Dimensions {
			int width;
			int height;

			int area() {
				System.out.println(width);
				return width * height;
			}
		}
		Dimensions example = new Dimensions();
		example.width = 10;
		example.height = 20;
		Dimensions second = new Dimensions();
		second.width = 20;
		second.height = 20;
		System.out.println(example.area());
		System.out.println(second.area());
	</code></pre>
	<pre class="language-bash"><code>
		10
		200
		20
		400
	</code></pre>
	<p>
		<span class="topic">The <span class="monoText">this</span> Keyword.</span>
		The <span class="monoText">this</span> keyword is a special variable used to
		refer to the instance of the class. Thus, when we define a method, we use
		<span class="monoText">this</span> to refer to the instance's instance
		variables.
	</p>
	<pre class="language-java"><code>
		class Dimensions {
			int width;
			int height;

			int area() {
				return this.width * this.height;
			}
		}
	</code></pre>
	<p>
		Unlike many other programming languages, we do not
		<span class="italicsText">have</span> to use the
		<span class="monoText">this</span> keyword. We can, but because the method
		has access to the instance variables, the keyword is not necessary.
	</p>
</section>
{% endblock %}
