{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="How to read user input in Java: The Java util package, scanner class, and next methods." />
{% endblock %} {% block title %}
<title>Java Streams</title>
{% endblock %} {% block content %}
<h1>Console Programming in Java</h1>
<section id="java_console_programming">
	<p>
		<span class="drop">O</span>ften, we want our programs to process arbitrary
		input. This is especially the case for code testing. One way to do so is to
		implement our program to read input. Reading input comes in two forms:
		Reading from the keyboard, or reading from a file.
	</p>
	<p>
		Reading user inputs is also useful for
		<span class="term">console programs</span> &mdash; programs that run on a
		console (the window displayed by a terminal). Console programs go all the
		way back to the early days of modern computing, before word processors and
		GUI applications grew popular. The basic idea of a console program is that
		text appears on the console (e.g., a Terminal window), prompting the user to
		supply data. A program then executes on the basis of that data.
	</p>
	<p>
		While console programs have been largely replaced by GUI applications, they
		remain a useful way of studying programming in the context of user
		interaction without having to deal with the complexities of graphic
		implementation (an entire field on to itself). As an aside, there is a
		difference between a terminal and a console. A &#8220;terminal&#8221; is a
		colloquial term that broadly refers to programs providing access to a
		<span class="italicsText">shell</span>. A console is simply a rectangle that
		displays program behavior.
	</p>
</section>
<section id="keyboard_input">
	<h2>Reading from the Keyboard</h2>
	<p>
		In Java, we can read from the keyboard using the
		<span class="monoText">Scanner</span> class. This is a class provided by
		Java's <span class="monoText">util</span> (clipping of
		&#8220;utility&#8221;) package. Because
		<span class="monoText">util</span> is a package, we must import the package
		into our program to use it.
	</p>
	<figure class="math-display">
		<pre class="language-java"><code>
			import java.util.scanner; // import package, but only scanner

			class ScannerDemo {
				public static void main(String[] args) {
					Scanner namePrompt = new Scanner(System.in); // create scanner object
					System.out.println("Name: "); // prompt for user input
					String name = namePrompt.nextLine(); // read user input
					System.out.println("Hello " + name); // use user input
				}
			}
		</code></pre>
	</figure>
	<p>
		In the code above, we imported the
		<span class="monoText">util</span> package, but specified that we only want
		to import the <span class="monoText">Scanner</span> class. Our program is
		contained in a file called <span class="monoText">ScannerDemo.java</span>,
		so our main driver class is named accordingly.
		<span class="monoText">System.in</span> is essentially a connection to the
		keyboard, and we pass it as an argument to the
		<span class="monoText">Scanner()</span> constructor so our
		<span class="monoText">Scanner</span> object can use it. The
		<span class="monoText">nextLine()</span> method is used to read Strings.
		Here's an API of some other methods:
	</p>
	<figure class="table">
		<table class="api">
			<thead>
				<th>Method</th>
				<th>Description</th>
			</thead>
			<tbody>
				<tr>
					<td>nextInt()</td>
					<td>Reads an <span class="monoText">int</span></td>
				</tr>
				<tr>
					<td>nextFloat()</td>
					<td>Reads a <span class="monoText">float</span></td>
				</tr>
				<tr>
					<td>nextDouble()</td>
					<td>Reads a <span class="monoText">double</span></td>
				</tr>
				<tr>
					<td>next()</td>
					<td>
						Reads a single <span class="monoText">string</span> (i.e., read one
						word)
					</td>
				</tr>
				<tr>
					<td>nextLine()</td>
					<td>Reads a sequence of strings (i.e., read multiple words)</td>
				</tr>
				<tr>
					<td>nextByte()</td>
					<td>Reads a <span class="monoText">byte</span></td>
				</tr>
				<tr>
					<td>nextShort()</td>
					<td>Reads a <span class="monoText">short</span></td>
				</tr>
				<tr>
					<td>nextLong()</td>
					<td>Reads a <span class="monoText">long</span></td>
				</tr>
				<tr>
					<td>nextBoolean()</td>
					<td>Reads a <span class="monoText">boolean</span></td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>
{% endblock %}
