{% extends '../layout.html' %} {% load static %} {% block content %}
<h1>Object-Oriented Programming I: Java</h1>
<section id="java_preface">
	<p>
		A <span class="boldText">program</span> is a set of instructions to be
		carried out by a computer. When the computer carries out the instructions,
		the program is said to have <span class="italicsText">executed</span>. Like
		humans, computers can only carry out those instructions if actually
		understands the them. However, unlike humans, computers can only understand
		0s and 1s. To ensure our instructions are translated to 0s and 1s, we write
		our instructions in a
		<span class="boldText">programming language</span> &mdash; a systematic set
		of rules used to describe computations in a format that we, as humans, can
		edit.
	</p>
	<p>
		The instructions we write in a program are broadly referred to as
		<span class="boldText">source code</span>. When we're ready to execute, we
		<span class="italicsText">compile</span> the program, whereupon the
		<span class="italicsText">Java compiler</span> translates our source code
		into <span class="boldText">byte code</span> &mdash; code that the computer
		understands.
	</p>
	<p>
		There are numerous programming languages, many of which are designed with a
		particular &#8220;philosophy&#8221; or &#8220;principle.&#8221;
		<span class="italicsText">Procedural languages</span> are those whose
		programs are a series of commands. These languages include Pascal and C.
		<span class="italicsText">Functional programming languages</span> are
		premised on the idea that programs are composed of functions, mapping inputs
		to outputs. Examples of such languages include Lisp, ML, and Haskell. Then
		there are <span class="italicsText">object-oriented languages</span> &mdash;
		programs are composed of interacting &#8220;objects.&#8221; This family
		includes Smalltalk, C++, and Java. Finally, there are
		<span class="italicsText">logic programming languages</span>, where programs
		consist of sentences in logical form, expressing facts and rules about
		problems. This group includes languages like Prolog and Datalog.
	</p>
	<p>
		Most languages result from programmers attempting to solve a problem where
		either (a) there was no language available, or (b) an existing language was
		insufficient. For example, C is used primarily for low-level operating
		systems and devices, and C++ was the result of C not providing a means for
		object-oriented design. JavaScript was borne out of frustrations with static
		web pages.
	</p>
	<p>
		Java, the language explored in these next sections, was originally intended
		for use by embedded systems &mdash; devices like digital timers, MP3
		players, recording devices, etc. Over time, however, it began to be used for
		web applications. If we use a very old web browser and visit very old
		webpages, we might see this historical fact in the form of Java applets (if
		you don't know what those are, that's a good thing; Java applets have been
		outdated for many, many years). Today, JavaScript has taken that mantle, but
		Java is now the language of choice for the most popular mobile operating
		system, Android OS. Moreover, along with Python, Java is a common language
		for introductory computer scince courses.
	</p>
	<p>Here is a basic program in Java:</p>
	<pre class="language-java"><code>
		int x = 5;
		int y = 6;
		System.out.println(x + y);
		int z = x + y + 1;
		System.out.println(z);
	</code></pre>
	<pre class="language-bash"><code>
		11
		12
	</code></pre>
	<p>
		This is a simple arithmetic computation in Java. As we've seen, computers
		can do simple math. Another example:
	</p>
	<pre class="language-java"><code>
		int temperature = 
		if (temperature < 0) {
			System.out.println("Ok this is cold")
		} else {
			System.out.println("Meh, typical winter")
		}
	</code></pre>
	<pre class="language-bash"><code>
		Line 3: error: extraneous input 'if' expecting {'boolean', 'byte', 'char', 'double', 'float', 'int', 'long', 'new', 'record', 'short', 'super', 'switch', 'this', 'void', DECIMAL_LITERAL, HEX_LITERAL, OCT_LITERAL, BINARY_LITERAL, FLOAT_LITERAL, HEX_FLOAT_LITERAL, BOOL_LITERAL, CHAR_LITERAL, STRING_LITERAL, TEXT_BLOCK_LITERAL, 'null', '(', '{', '<', '!', '~', '++', '--', '+', '-', '@', IDENTIFIER}
		if (temperature < 0) {
		^
		Line 3: error: missing ';' at '{'
		if (temperature < 0) {
								^
		Line 5: error: extraneous input 'else' expecting {'abstract', 'assert', 'boolean', 'break', 'byte', 'char', 'class', 'continue', 'do', 'double', 'final', 'float', 'for', 'if', 'import', 'int', 'interface', 'long', 'native', 'new', 'private', 'protected', 'public', 'record', 'return', 'short', 'static', 'strictfp', 'super', 'switch', 'synchronized', 'this', 'throw', 'transient', 'try', 'void', 'volatile', 'yield', 'while', DECIMAL_LITERAL, HEX_LITERAL, OCT_LITERAL, BINARY_LITERAL, FLOAT_LITERAL, HEX_FLOAT_LITERAL, BOOL_LITERAL, CHAR_LITERAL, STRING_LITERAL, TEXT_BLOCK_LITERAL, 'null', '(', '{', '}', ';', '<', '!', '~', '++', '--', '+', '-', '@', IDENTIFIER}
		} else {
		^
		3 errors
	</code></pre>
	<p>
		The code above was supposed to compute a simple conditional. But, the output
		is a large error message. This is a typical error message in Java. In this
		case, the error message is telling us we neglected to assign a value to the
		variable <span class="monoText">temperature</span>. If we actually assign a
		value to <span class="monoText">temperature</span>:
	</p>
	<pre class="language-java"><code>
		int temperature = 10
		if (temperature < 0) {
			System.out.println("Ok this is cold")
		} else {
			System.out.println("Meh, typical winter")
		}
	</code></pre>
	<pre class="language-bash"><code>
		Meh, typical winter
	</code></pre>
	<p>
		Now the code works. Computers are good at making simple decisions. Here is
		another example:
	</p>
	<pre class="language-java"><code>
		long i = 0;
		while (i < 1000000L) {
			i++;
		}
		System.out.println("Finished");
	</code></pre>
	<pre class="language-bash"><code>
		Finished
	</code></pre>
	<p>
		The code above incremented the value <span class="monoText">0</span> by 1 a
		million times before it outputs the string
		<span class="monoText">"Finished"</span>. Executing this code, it takes less
		than a second to output the string. Compare that to how long it would take a
		human. If you held then dropped a tennis ball, a typical modern computer
		could easily have executed over a billion instructions before the ball even
		hit the floor. Computers can perform repetitive tasks very very quickly.
	</p>
	<p>Computers can also communicate:</p>
	<pre class="language-java"><code>
		System.out.println("Hello, world!");
	</code></pre>
	<pre class="language-bash"><code>
		Hello, world!
	</code></pre>
	<p>Putting it all together, computers are good at four things:</p>
	<ol>
		<li>Basic arithmetic</li>
		<li>Simple decision making</li>
		<li>Repeating tasks over and over again, very fast</li>
		<li>Communicating</li>
	</ol>
	<p>
		These are all things we generally aren't very good at. We might be good at
		the fourth point, but really, when it comes to communicating
		<span class="italicsText">efficiently</span> and
		<span class="italicsText">clearly</span>, most of us fall short.
	</p>
	<p>
		These four points evidence an implicit value of studying computer science
		&mdash; it teaches us more about what separates humans from everything else.
		The conjecture: If a computer can do $x$, where $x$ is some activity, then
		$x$ is <span class="underlineText">not</span> a uniquely human activity."
	</p>
</section>
{% endblock %}
