{% extends '../layout.html' %} {% load static %} 

{% block description %}
<meta name="description" content="What is an algorithm?">
{% endblock %}
{% block title %}
<title>Introduction to Algorithms</title>
{% endblock %}

{% block content %}
<h1>Algorithms</h1>
<section id="java_algorithms">
	<p>
		An <span class="boldText">algorithm</span> is a sequence of steps, or a set
		of rules, for solving a problem. Computer scientist or otherwise, humans use
		algorithms daily. The child brushing her teeth; the father preparing her
		sandwich for lunch; the traveler changing a flat tire; the doctor deciding
		to order a biopsy; the lawyer filing an appeal and the judge deciding the
		issue is moot &mdash; regardless of complexity, these are all actions
		involving algorithms.
	</p>
	<p>
		In computer science, however, we're concerned with a particular kind of
		algorithm &mdash; those that can be implemented by a computer, called
		<span class="italicsText">effective procedures</span>. More explicitly,
		these are algorithms that can be completed by relying only on what computers
		can do: Performing simple arithmetic, store results, make simple decisions,
		and repeating the preceding actions as fast as possible, over and over.
	</p>
	<p>
		A common misconception, often perpetuated by the media, is that algorithms
		are code. No. Algorithms are abstractions. We can
		<span class="italicsText">implement</span> that algorithm with code, in
		which case the code becomes an <span class="boldText">implementation</span>.
		But we can just as well implement the same algorithm with a checkbox and
		have a human compute and store the results themselves. Regardless of
		implementation, the algorithm is still there: ${\text{algorithm}
		\nRightarrow \text{code} .}$
	</p>
	<div class="example">
		<p>
			<span class="exh">Problem</span>. Given three integers assigned to
			separate variables, find the maximum value.
		</p>
		<p>
			The first step to solving this problem is figuring out what we know. How
			do we compare two numbers? Well, say we have $a$ and ${b,}$ $a$ being the
			first number. To determine if $a$ is greater, we have to rule out the two
			cases: ${a < b}$ and ${a = b.}$ If ${a < b,}$ then $a$ is not greater. If
			${a = b,}$ then its irrelevant whether $a$ or $b$ is greater. This means
			there are only two relevant cases ${a < b,}$ and ${a > b.}$ If ${a > b,}$
			then $a$ is the greatest number. If ${a < b,}$ then $b$ is the greatest
			number.
		</p>
		<p>
			Great, now we have to implement. To do so, we have to remember that a
			computer can only see values one at a time. That is a mindset we must
			always have when thinking of implementations.
		</p>
		<pre class="language-java"><code>
			int first = 12;
			int second = 28;
			int third = 9;
			int biggest = first;

			if (first < second) {
				biggest = second;
			}
			if (biggest < third) {
				biggest = third;
			}
			System.out.println(biggest);
		</code></pre>
		<pre class="language-bash"><code>
			28
		</code></pre>
		<p>
			Now, suppose we had instead an array of integers. How would we find the
			maximum?
		</p>
		<pre class="language-java"><code>
			int[] values = {3, 12, 27, 91, 2, 98, 14, 76};
			int maxValue = values[0];
			for (int i = 1; i < values.length; i++) {
				if (values[i] > maxValue) {
					maxValue = values[i];
				}
			}
			System.out.println(maxValue);
		</code></pre>
		<pre class="language-bash"><code>
			98
		</code></pre>
		<p>
			Note that in the above implementation, we started the counter at
			<span class="monoText">1</span> rather <span class="monoText">0</span>.
			Why? Because we don't need to look at the first value.
		</p>
	</div>
</section>
{% endblock %}
