{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="java_console_programming">
	<h3>Console Programming in Java</h3>
	<p>
		<span class="term">Console programs</span> are programs that run on a
		console (the window displayed by a terminal). Console programs go all the
		way back to the early days of modern computing, before word processors and
		GUI applications grew popular. The basic idea of a console program is that
		text appears on the console (e.g., a Terminal window), prompting the user to
		supply data. A program then executes on the basis of that data.
	</p>
	<p>
		While console programs have largely been replaced by applications with GUIs,
		they remain a useful way of studying programming in the context of user
		interaction without having to deal with the complexities of graphic
		implementation (an entire field on to itself). As an aside, there is a
		difference between a terminal and a console. A &#8220;terminal&#8221; is a
		colloquial term that broadly refers to programs providing access to a
		<span class="italicsText">shell</span>. A console is simply a rectangle that
		displays program behavior.
	</p>
	<p>
		<span class="topic">Using <span class="monoText">acm</span> Packages.</span>
		For some of the applications below, we will use the
		<span class="monoText">acm</span> packages provided by the ACM Java Task
		Force. To do so, ensure that you have the
		<span class="monoText">acm.jar</span> file in the same working directory as
		the <span class="monoText">.java</span> file containing our program. All
		code should be written inside the
		<span class="monoText">public void run() {}</span> method:
	</p>
	<pre class="language-java"><code>
		import acm.program.*;

		public class zing extends ConsoleProgram {
			public void run() {
				println("Hello world!");
			}
		}
	</code></pre>
	<p>To compile and execute the program above, we write:</p>
	<pre class="language-bash"><code>
		java -cp .:acm.jar zing
	</code></pre>
	<p>
		Alternatively, we will also use the
		<span class="monoText">Scanner</span> object to create console programs for
		certain examples. To create a new console program with a
		<span class="monoText">Scanner</span> object, we use the following:
	</p>
	<figure class="math-display">
		<pre class="language-java"><code>
			import java.util.scanner;

			public class foo {
				public static void main(String[] args) {
					Scanner namePrompt = new Scanner(System.in); // create new scanner object
					System.out.println("Name: "); // prompt for user input
					String name = namePrompt.nextLine(); // read user input
					System.out.println("Hello " + name); // use user input
				}
			}
		</code></pre>
	</figure>
	<p>
		There is a fair amount of new keywords in the code, and we will explore them
		in due course. For now, all we need to do is follow the template above,
		replacing <span class="monoText">⟨file_name⟩</span> with the name of the
		<span class="monoText">.java</span> file containing our code, and
		<span class="monoText">⟨statements⟩</span> with the code we actually want to
		run. Console programs have two key components: (1)
		<span class="term">user inputs</span> &mdash; the data read by the program
		that the user types; and (2)
		<span class="monoText">console outputs</span> &mdash; the messages displayed
		by the program.
	</p>
	<p>
		The <span class="monoText">nextLine()</span> method is used to read Strings.
		To read other types:
	</p>
	<figure class="table">
		<table class="loop_table">
			<thead>
				<th>Method</th>
				<th>Description</th>
			</thead>
			<tbody>
				<tr>
					<td><span class="monoText">nextBoolean</span></td>
					<td>Reads a <span class="monoText">boolean</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextByte()</span></td>
					<td>Reads a <span class="monoText">byte</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextDouble()</span></td>
					<td>Reads a <span class="monoText">double</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextFloat()</span></td>
					<td>Reads a <span class="monoText">float</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextInt()</span></td>
					<td>Reads a <span class="monoText">int</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextLine()</span></td>
					<td>Reads a <span class="monoText">String</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextLong()</span></td>
					<td>Reads a <span class="monoText">long</span> user input</td>
				</tr>
				<tr>
					<td><span class="monoText">nextShort()</span></td>
					<td>Reads a <span class="monoText">short</span> user input</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>
{% endblock %}
