<li class="grid-item"><a href="{% url 'numerc:java_preface' %}">Foundations I: Java</a>
	<ul>
		<li><a href="{% url 'numerc:java_typesAndVariables' %}">Types & Variables</a></li>
		<li><a href="{% url 'numerc:java_conditionals' %}">Conditional Statements</a></li>
		<li><a href="{% url 'numerc:java_variableScope' %}">Variable Scope</a></li>
		<li><a href="{% url 'numerc:java_arrays' %}">Arrays</a></li>
		<li><a href="{% url 'numerc:java_loops' %}">Loops</a></li>
		<li><a href="{% url 'numerc:java_consolePrograms' %}">Console Programs</a></li>
		<li><a href="{% url 'numerc:java_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:java_strings' %}">Strings</a></li>
		<li><a href="{% url 'numerc:java_overloading' %}">Overloading</a></li>
		<li><a href="{% url 'numerc:java_multidimensional' %}">Multidimensional Data</a></li>
		<li><a href="{% url 'numerc:java_compilation' %}">Compilation</a></li>
		<li><a href="{% url 'numerc:java_objects' %}">Objects</a></li>
		<li><a href="{% url 'numerc:java_constructors' %}">Constructs & Visibility</a></li>
		<li><a href="{% url 'numerc:java_gettersSetters' %}">Getters & Setters</a></li>
		<li><a href="{% url 'numerc:java_inheritance' %}">Inheritance</a></li>
		<li><a href="{% url 'numerc:java_fileProcessing' %}">File Processing</a></li>
		<li><a href="{% url 'numerc:java_polymorphism' %}">Polymorphism</a></li>
		<li><a href="{% url 'numerc:java_objectReferences' %}">Object References</a></li>
		<li><a href="{% url 'numerc:java_interfaces' %}">Interfaces</a></li>
		<li><a href="{% url 'numerc:java_dataStructuresAndAlgorithms' %}">Data Structures & Algorithms</a></li>
	</ul>
</li>
