{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Numerstack</title>
	<link rel="stylesheet" href="{% static 'numerstack/css/styles.css' %}"
</head>
<header>
	<h1>Numerstack</h1>
</header>
<body>
	<main>
		<figure>
			<blockquote>
				<p>The acts of the mind, wherein it exerts its power over simple ideas, are chiefly these three: 1. Combining several simple ideas into one compound one, and thus all complex ideas are made. 2. The second is bringing two ideas, whether simple or complex, together, and setting them by one another so as to take a view of them at once, without uniting them into one, by which it gets all its ideas of relations. 3. The third is separating them from all other ideas that accompany them in their real existence: this is called abstraction, and thus all its general ideas are made.</p>
			</blockquote>
			<figcaption><cite>- John Locke, <span class="title">An Essay Concerning Human Understanding</span></cite></figcaption>
		</figure>
		
		<p>Welcome to Numerstack, a collection of mathematics and computer science notes. The Numer pages contain math notes, and the Numerc pages contain computer science notes. I hope they prove useful.</p>
		<ul>
			<li><a href="{% url 'numerm:index' %}">Numerm</a></li>
			<li><a href="{% url 'numerc:index' %}">Numerc</a></li>
		</ul>
	</main>
</body>
<footer>
	<p>This site is supported with: Heroku, Django, Angular, PrismJS, & Katex</p>
</footer>
</html>