{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="Introduction to computer systems and organization."
/>
{% endblock %} {% block title %}
<title>Introduction to Computer Systems & Organization</title>
{% endblock %} {% block content %}
<h1>Computer Systems & Organization</h1>
<section id="intro">
	<p>
		In this volume, we will explore how computers are constructed and organized.
		In many of the other volumes, we've worked at a very high level, discussing
		idioms, data structures, algorithms, functions, iteration, inheritance,
		polymorphism, recursion, and many more. In this volume, we will dig away at
		those abstractions to see what grounds it all.
	</p>
</section>
{% endblock %}
