{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="What are pointers? Overview of pointers, pointer operators, allocating memory in the heap, pointer arithmetic."
/>
{% endblock %} {% block title %}
<title>Pointers</title>
{% endblock %} {% block content %}
<h1>Pointers</h1>
<section id="intro">
	<p>
		Let's talk pointers. Pointers are often a point of confusion among new
		programmers, but their underlying concepts are fairly simple. Applying those
		concepts, however, can be challenging, as we'll see. The trick to getting
		over these challenges: Establishing a very strong understanding of the
		underlying concepts, and practicing using pointers as much as possible.
	</p>
</section>
{% endblock %}
