{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="What is an operating system? An overview of operating systems."
/>
{% endblock %} {% block title %}
<title>Overview of Operating Systems</title>
{% endblock %} {% block content %}
<h1>The Operating System</h1>
<section id="intro">
	<p>
		<span class="drop">A</span> computer system consists of four parts: (1) the
		hardware, (2) the operating system, (3) application programs, and (4) the
		user. So far, we've focused heavily on application programs. Application
		programs are those we're all familiar with: compilers, browsers, text
		editors, games, etc. In this section, we focus on the operating system. An
		operating system is a program that manages a computer system's hardware.
		That management mandates two roles: (1) serving as a regulator and
		gatekeeper for connections between programs and hardware, and (2) providing
		an interface between the user and the hardware. To perform these dual roles,
		operating systems consist of numerous pieces. We examine each of these
		pieces in turn.
	</p>
	<p>
		In the hardware section, we presented the view of thinking of hardware as a
		large city where bits are transported from place to place, pursuant to the
		user's commands. The operating system is akin to this city's government. As
		a government, the operating system has numerous roles. It enforces laws for
		what programs can and cannot do. It regulates how I/O devices connect to
		hardware. It also serves as a resource allocator: CPU time, memory space,
		storage space, power usage, I/O devices, etc.
	</p>
	<p>
		The operating system itself is often identified by a program called the
		<span class="term">kernel</span>. This is a program that runs at all times
		on a computer system. We can think of the kernel as the heart of the
		operating system. The user never actually interacts with the kernel.
		Instead, the user writes programs, and the programs request
		&#8220;permission&#8221; from the kernel to execute the user's instructions.
		We do not refer to the kernel as the operating system because the operating
		system does not just consist of a kernel. It also consists of
		<span class="term">system programs</span> &mdash; programs that provide
		environments, or platforms, for other programs to run. Modern operating
		systems also often include <span class="term">middleware</span> &mdash;
		programs that provide additional tools for software development on the
		operating system.
	</p>
</section>
{% endblock %}
