{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Introduction to computer systems and C" />
{% endblock %} {% block title %}
<title>C Introduction</title>
{% endblock %} {% block content %}
<h1>C the Low Level</h1>
<section>
	<p>Nodding to tradition, here is our introductory C program:</p>
	<pre class="language-c"><code>
		#include &lt;stdio.h&gt;
		int main() {
			printf("Hello, world\n");
			return 0;
		}
	</code></pre>
	<p>
		The program we've written above is called a
		<span class="term">source program</span>, and it's stored in a
		<span class="term">source file</span> (in the example above, the source
		program is stored in a file named <span class="monoText">Hello.c</span>).
		The entire program is a collection of bytes, which are chunks of 8 bits.
		Every bit has a <span class="term">state</span>, which can be only one of
		two values: 0 or 1. Accordingly, every program, across all languages, is a
		sequence of 0s and 1s.
	</p>
	<p>
		Every character in the source program above is represented by unique
		integer, as proscribed by the ASCII standard (or, in most modern standards,
		UNICODE). For example, the character <span class="monoText">#</span> is
		represented by the integer 35, <span class="monoText">i</span> by 105,
		<span class="monoText">\n</span> by 10, and whitespace (denoted
		<span class="monoText">SP</span>) by 32.
	</p>
	<p>
		Files like <span class="monoText">Hello.c</span> are called
		<span class="italicsText">text files</span> &mdash; files that consist
		exclusively of ASCII characters. All other files are called
		<span class="italicsText">binary files</span>. For reasons we will see
		later, this is a helpful distinction to keep in mind.
	</p>
</section>
<section id="hardware">
	<h2>The Hardware</h2>
	<p>
		If we drew a rough sketch of how a computer is organized, it would look
		something like this:
	</p>
	<figure>
		<img
			src="{% static 'images/hardware.svg' %}"
			alt="hardware"
			loading="lazy"
		/>
	</figure>
	<p>
		If this picture looks fairly complex, don't worry. One of our goals is to
		fill in the details. To get started, let's just go over a few key parts.
	</p>
	<p>
		When we study computer hardware, it's often helpful to think of the whole
		system as a busy metropolis, where different places rely on one another. The
		whole city is powered by electricity, and its inhabitants are the bits, tiny
		creatures that are either 1 or 0. The bits usually work in groups of 8,
		forming a byte. The city's ultimate goal is facilitating the movement of
		these bits, and more broadly, bytes.
	</p>
	<p>
		<span class="topic">Buses.</span> In the diagram above, there are blue lines
		connecting each of the hardware pieces. These are called
		<span class="term">buses</span>. Despite their name, buses are better
		thought of as lanes, or roads, where bytes travel from one location in
		hardware to the next. The buses are typically designed to transfer one group
		of bytes at a time. That group is called a <span class="term">word</span>.
		On most systems, a word consists of either 4 bytes (32 bits) or 8 bytes (64
		bits).
	</p>
</section>
{% endblock %}
