{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="right_angle_trigonometry">
	<h4>Right Angle Trigonometry</h4>
	<p>
		Recall that an angle is formed by two rays originating from a common vertex.
		Because we are studying trigonometry in the context of continuous
		mathematics, we want to think about trigonometry analytically (i.e., through
		a coordinate system). To do so, we first define the
		<span class="term">standard position</span> for all angles.
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Lemma.</span> An angle is in
				<span class="italicsText">standard position</span> when its vertex has
				the coordinates ${(0,0)}$ and the initial side lies along the positive
				horizontal axis.
			</p>
		</div>
	</figure>

	<p>
		Having covered the basic facts concerning angles and the unit circle, we can
		now proceed to address right angle trigonometry. Consider this triangle
		formed on the unit circle:
	</p>

	<figure>
		<img
			src="{% static 'images/right_triangle_unit_circle.svg' %}"
			alt="right triangle"
			loading="lazy"
			class="sixty-p"
		/>
	</figure>

	<p>
		Each of the sides in the triangle above has a name defined in relation to
		the angle:
	</p>

	<figure>
		<img
			src="{% static 'images/triangle_sides.svg' %}"
			alt="right triangle sides"
			loading="lazy"
			class="sixty-p"
		/>
	</figure>

	<p>
		The <span class="term">adjacent side</span> is the side closest to the angle
		${\theta.}$ The <span class="term">opposite side</span> is the side directly
		across ${\theta.}$ And the <span class="term">hypotenuse</span> is the side
		directly across the right angle.
	</p>

	<p>
		If we know the measure of the angle ${\theta}$ and the length of at least
		one of the sides, we can determine the lengths of the triangle's sides
		through ratios of the lengths of these sides. Because of how pervasive
		triangles are, we give special names to these ratios:
		<span class="term">Sine</span>, <span class="term">Cosine</span>, and
		<span class="term">Tangent</span>. These ratios are defined as such:
	</p>

	<figure class="math-display">
		<div>
			<p>${\sin \theta = \dfrac{\textit{opposite}}{\textit{hypotenuse}}}$</p>
		</div>
		<div>
			<p>${\cos \theta = \dfrac{\textit{adjacent}}{\textit{hypotenuse}}}$</p>
		</div>
		<div>
			<p>${\tan \theta = \dfrac{\textit{opposite}}{\textit{adjacent}}}$</p>
		</div>
	</figure>

	<p>
		A common mnemonic for recalling these ratios is
		<span class="italicsText">SohCahToa</span> ("Sine is opposite over
		hypotenuse, cosine is adjacent over hypotenuse, and tangent is opposite over
		adjacent."). Note that from our current analysis, we have defined these
		ratios as only applying to angles between ${0}$ and ${\pi / 2.}$ (The ratios
		can be extended more generally to all triangles, but for now, we concern
		ourselves only to ${0 \leq \theta \leq \pi / 2.}$)
	</p>

	<p>
		<span class="topic">Reciprocal Trigonometric Ratios.</span> Alongside sine,
		cosine, and tangent, we have their reciprocals:
	</p>

	<figure class="math-display">
		<div>
			<p>${\cosec \theta = \dfrac{\textit{hypotenuse}}{\textit{opposite}}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\sec \theta = \dfrac{\textit{hypotenuse}}{\textit{adjacent}}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\cot \theta = \dfrac{\textit{adjacent}}{\textit{opposite}}}$</p>
		</div>
	</figure>

	<p>
		From the above, we can see that ${\cosec \theta}$ is the reciprocal of
		${\sin \theta,}$ ${\sec \theta}$ is the reciprocal of ${\cos \theta,}$ and
		${\cot \theta}$ is the reciprocal of ${\tan \theta.}$ In other words:
	</p>
	<figure class="math-display">
		<div>
			<p>${\cosec \theta = \dfrac{1}{\sin \theta}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\sec \theta = \dfrac{1}{\cos \theta}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\cot \theta = \dfrac{1}{\tan \theta}}$</p>
		</div>
	</figure>

	<p>
		<span class="topic">Special Triangles.</span> Some angles serve as base
		cases because of how they cleanly divide the unit circle and how commonly
		they occur. These angles are ${0}$ (${{0}^\circ}$), ${\pi / 6}$
		(${{30}^\circ}$), ${\pi / 4}$ (${{45}^\circ}$), ${\pi / 3}$
		(${{60}^\circ}$), and ${\pi / 2}$ (${{90}^\circ}$).
	</p>

	<p>
		The <span class="term">isosceles triangle</span>, for example, is a right
		triangle with two equal sides and two equal angles. Because all right
		triangles must have a total degree measure of ${2 \pi,}$ we know that the
		isosceles triangle has two angles with a measure of ${\pi / 4,}$ and one
		angle, a right angle, of measure ${\pi / 2.}$ This means the isosceles
		triangle has lengths of ${s, s,}$ and ${\sqrt{2}s.}$
	</p>

	<p>
		The <span class="term">30-60-90 triangle</span> is another special triangle
		with a right angle and two acute angles. In this case, the triangle has legs
		of lengths ${s}$ and ${\sqrt{3}s,}$ and a hypotenuse of ${2s.}$ The 30-60-90
		triangle arises often because it is half of an
		<span class="term">equilateral triangle</span>, a triangle with sides of all
		equal lengths. Visualizing these triangles:
	</p>

	<figure>
		<img
			src="{% static 'images/special_triangles.svg' %}"
			alt="special triangles"
			loading="lazy"
		/>
	</figure>

	<p>
		The 30-60-90 triangle's special nature comes from a theorem in the geometry
		kingdom:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Theorem.</span> Given a 30-60-90 triangle, the
				length of the side opposite ${30^\circ}$ is ${\dfrac{1}{2}}$ the
				length of the hypotenuse.
			</p>
		</div>
	</figure>

	<p>
		Suppose ${y}$ is the length of the 30-60-90 triangle's leg opposite
		${{60}^\circ.}$ Following the Pythagorean Theorem, we have ${y^2 + x^2 =
		(2x)^2,}$ where ${y}$ is the hypotenuse. In other words: ${y^2 = 4x^2 - x^2
		= 3x^2.}$ Finally, solving for ${y}$ we have: ${y = \sqrt{3}x.}$
	</p>

	<p>
		For the isosceles triangle, both legts are equal. Thus, we can label both
		legs with the same variable, ${x}$ (say). Hence, by the Pythagorean Theorem
		gain, ${y^2 = x^2 + x^2 = 2x^2,}$ where ${y}$ is the hypotenuse. Solving for
		${y}$ we obtain ${y = \sqrt{2}x.}$
	</p>

	<p>
		Recalling that the trigonometric ratios pertain to ratios, and as such do
		not depend on size, we have the following base cases:
	</p>

	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>${m \angle \theta}$ (radians)</th>
				<th>${m \angle \theta}$ (degrees)</th>
				<th>${\sin \theta}$</th>
				<th>${\cos \theta}$</th>
				<th>${\tan \theta}$</th>
			</thead>
			<tbody>
				<tr>
					<td>${0}$</td>
					<td>${{0}^\circ}$</td>
					<td>${\dfrac{\sqrt{0}}{2} = 0}$</td>
					<td>${\dfrac{\sqrt{4}}{2} = 1}$</td>
					<td>${0}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{6}}$</td>
					<td>${{30}^\circ}$</td>
					<td>${\dfrac{\sqrt{1}}{2} = \dfrac{1}{2}}$</td>
					<td>${\dfrac{\sqrt{3}}{2}}$</td>
					<td>${\dfrac{1}{\sqrt{3}}}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{4}}$</td>
					<td>${{45}^\circ}$</td>
					<td>${\dfrac{\sqrt{2}}{2} = \dfrac{1}{\sqrt{2}}}$</td>
					<td>${\dfrac{\sqrt{2}}{2} = \dfrac{1}{\sqrt{2}}}$</td>
					<td>${1}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{3}}$</td>
					<td>${{60}^\circ}$</td>
					<td>${\dfrac{\sqrt{3}}{2}}$</td>
					<td>${\dfrac{\sqrt{1}}{2} = \dfrac{1}{2}}$</td>
					<td>${\sqrt{3}}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{2}}$</td>
					<td>${{90}^\circ}$</td>
					<td>${\dfrac{\sqrt{4}}{2} = 1}$</td>
					<td>${\dfrac{\sqrt{0}}{2} = 0}$</td>
					<td>${\textit{undefined}}$</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>

<section id="equal_cofunction_of_complements">
	<p>
		<span class="topic">Sine and Cosine of Complements.</span> Notice that with
		special angles, ${\sin (\pi/3)}$ is ${\sqrt{3} / 2,}$ and ${\cos (\pi/6)}$
		is also ${\sqrt{3} / 2.}$ Similarly, ${\sin (\pi/6) = 1/2}$ and ${\cos (\pi
		/ 3) = 1/2.}$ In other words:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\sin \left( \dfrac{\pi}{3} \right) = \cos \left( \dfrac{\pi}{6}
				\right) = \dfrac{\sqrt{3}}{2}}$
			</p>
			<p>
				${\sin \left( \dfrac{\pi}{6} \right) = \cos \left( \dfrac{\pi}{3}
				\right) = \dfrac{1}{2}}$
			</p>
		</div>
	</figure>

	<p>
		This is not a surprising result. The side opposite the angle ${\pi/3}$ is
		the side adjacent to the angle ${\pi/6,}$ so ${\sin (\pi/6)}$ and ${\cos
		(\pi/6)}$ are exactly the same ratio. The same goes for ${\cos (\pi/3)}$ and
		${\sin (\pi/6).}$
	</p>
	<p>
		The connection between sine and cosine extends to all the acute angles of a
		right triangle, given the facts that every right triangle has a total degree
		measure of ${\pi,}$ and because the two acute angles are
		<span class="term">complementary angles</span> &mdash; because the right
		triangle has a measure of ${\pi/2,}$ the two acute angles must both total
		${\pi/2.}$
	</p>
	<p>
		The relationship between sine and cosine is the result of a
		<span class="term">cofunction identity</span> &mdash; if any two angles are
		complementary, the sine of one is the cosine of the other, and vice versa.
		Knowing this relationship allows us to rewrite trigonometric expressions
		quickly.
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\sin \left( \dfrac{\pi}{12} \right) = \cos \left( \dfrac{5\pi}{12}
				\right)}$
			</p>
			<p>
				${\sin \left( \dfrac{5 \pi}{12} \right) = \cos \left( \dfrac{\pi}{12}
				\right)}$
			</p>
			<p>
				${\cos \theta = \dfrac{5}{13} = \sin \left(\dfrac{\pi}{2} - \theta
				\right) = \dfrac{5}{13}}$
			</p>
		</div>
	</figure>
	<p>Some of the more common cofunction identities:</p>
	<div class="compare">
		<div>
			<p>${\sin \theta = \cos \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\cos \theta = \sin \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\sec \theta = \csc \left( \dfrac{\pi}{2} - \theta \right)}$</p>
		</div>
		<div>
			<p>${\csc \theta = \sec \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\tan \theta = \cot \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\cot \theta = \tan \left( \dfrac{\pi}{2} - \theta \right)}$</p>
		</div>
	</div>
	<p>A helpful algorithm for determining sine and cosine:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Suppose there is some angle
				${\theta.}$ To find the sine and cosine of its complement ${\iota:}$
			</p>
			<ol>
				<li>To find ${\sin (\iota),}$ find ${\cos (\theta).}$</li>
				<li>To find ${\cos (\iota),}$ find ${\sin (\theta).}$</li>
			</ol>
		</div>
	</figure>
</section>

<section id="notation_conventions">
	<p>
		<span class="topic">Notational Conventions.</span> There are three
		notational conventions to bear in mind when handling the trigonometric
		functions. These conventions are largely a result of tradition and history.
	</p>
	<p>
		First, we often suppress the parentheses for trigonometric functions, so
		long as doing so is not confusing. For example, ${sin (\theta)}$ is simply
		written as ${sin \theta.}$ To that end, if the function is parametrized with
		a particularly long expression, parentheses should be included. E.g., ${sin
		(\theta + 1/x).}$
	</p>
	<p>
		Furthermore, parentheses are also suppressed for multiplication. For
		example, the expression ${\sin \theta \cos \theta}$ is equivalent to ${(\sin
		(\theta))(\cos (\theta)).}$ Similarly, ${2 \sin \theta}$ is equivalent to
		${2(\sin (\theta)).}$ If we ever think that applying these conventions leads
		to ambiguity, it is best to err on the side of including parentheses.
	</p>
	<p>
		Finally, the quantity ${(\sin \theta)^n}$ is almost always simply written as
		${\sin^n \theta.}$ Thus, the expression ${\sin^n \theta}$ is equivalent to
		${(\sin \theta)^2.}$ <span class="underlineText">But</span> this convention
		does not apply ${\sin^{-1} \theta.}$ This is an entirely different function
		(the ${\arcsin}$ function) to be addressed in later sections.
	</p>
</section>

<section id="applying_trig">
	<h4>Applying Trigonometry</h4>
	<p>
		Knowing what we know now about trigonometry, we can now find find all three
		sides of a a triangle if we know the length of af at least one side and the
		measure of at least one acute angle.
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given a right triangle, the length
				of one side, and the measure of one acute angle, to find the remaining
				sides:
			</p>
			<ol>
				<li>
					For each side, apply the trigonometric ratio expressing the unknown
					side as either the numerator or the denominator, and the known side
					the other.
				</li>
				<li>
					Write an equation setting the ratio's value equal to the ratio of the
					corresponding sides.
				</li>
				<li>Solve for missing side length.</li>
			</ol>
		</div>
	</figure>
	<p>
		For example, suppose a right triangle ${\triangle ABC,}$ with a hypotenuse
		of length ${x,}$ its longest leg of length ${y}$ and its shortest leg of
		length ${7.}$ ${\triangle ABC}$ is a 30-60-90 triangle. Why might be the
		lengths of ${a}$ and ${c?}$
	</p>
	<p>
		First, because this is a 30-60-90 triangle, we know that ${\tan (\pi/6) =
		\dfrac{7}{a}.}$ We can then write ${a = \dfrac{7}{\tan(\pi/6)} \approx
		12.1244.}$ Next, we can then use sine to find the hypotenuse. ${sin(\pi/6) =
		\dfrac{7}{c}.}$ Rewriting to solve for ${c,}$ ${c = \dfrac{7}{\sin(\pi/6)} =
		14.}$
	</p>
</section>
{% endblock %}
