{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="exponential_functions">
	<h3>Exponential Functions</h3>
	<p>
		Consider the following statement: &#8220;Farmer's beware: The coyote
		population is set to increase at a rate of 434 coyotes each year.&#8221;
		News outlets often erroneously describe this as &#8220;exponential
		increase.&#8221; <span class="italicsText">Exponential growth</span>,
		however, has a very specific meaning, and it relates to
		<span class="italicsText">exponential functions</span>. We define them now
		to rid ourselves of blatantly false and misleading information:
	</p>
	<ul>
		<li>
			The term <span class="italicsText">percentage change</span> refers to a
			<span class="underlineText">change</span> based on a
			<span class="underlineText">percent</span> of the
			<span class="underlineText">initial value</span>.
		</li>
		<li>
			The term <span class="italicsText">exponential increase</span> refers to
			an <span class="underlineText">increase</span> based on a
			<span class="underlineText">constant multiplicative rate of change</span>
			over <span class="underlineText">equal increments of time</span> &mdash;
			i.e., a <span class="underlineText">percent</span> increase of the initial
			value over equal time intervals.
		</li>
		<li>
			The term <span class="italicsText">exponential decrease</span> refers to a
			<span class="underlineText">decrease</span> based on a
			<span class="underlineText">constant multiplicative rate of change</span>
			over <span class="underlineText">equal increments of time</span> &mdash;
			i.e., a <span class="underlineText">percent</span> decrease of the initial
			value over equal time intervals.
		</li>
	</ul>
	<p>
		Thus, whenever we use the phrase
		<span class="italicsText">exponential increase</span>, we are referring to a
		<span class="italicsText">rule of assignment</span> &mdash; a function
		definition. When say, &#8220;$x$ grows exponentially,&#8221; mean that
		${f(x_0)}$ increases by
		<span class="underlineText">the same percentage</span> over equal
		incrementing intervals ${I}$ in ${\text{dom}(f).}$ What many refer to as
		&#8220;exponential growth&#8221; is actually
		<span class="italicsText">linear growth</span> &mdash; ${f(x_0)}$ increases
		by a <span class="underlineText">constant</span> over equal incrementing
		intervals ${I}$ in ${\text{dom}(f).}$
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> For any ${x \in \R,}$ an
				exponential function is a function of the form:
			</p>
			<figure class="math-display">
				<div>
					<p>${f(x) = ab^x}$</p>
				</div>
			</figure>
			<p>where:</p>
			<ul>
				<li>${a \in \R^*}$ (${\R^* = \R \setminus \{ 0 \}}$)</li>
				<li>${b \in \R^{+}}$</li>
			</ul>
			<p>
				The domain of ${f}$ is the set of all real numbers ${\R.}$ If ${a > 0,}$
				then ${\text{ran}(f) \in \R^{+}.}$ If ${a < 0,}$ then ${\text{ran}(f)
				\in \R^{-}.}$ Further: ${\text{y-intercept}(f) \coloneqq (0, a).}$ And
				${\text{[horizontal asymptote]}(f) \coloneqq (y=0).}$
			</p>
		</div>
	</figure>
	<p>
		<span class="topic">Exponential Increase.</span>
		<span class="italicsText">Exponential increase functions</span> are a subset
		of exponential functions. Accordingly, exponential growth functions inherit
		all of the properties and parameters of exponential functions, but narrow
		and override them in certain aspects:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> For every ${x \in \R,}$ ${\{a, b
				\in \R\ \mid b \neq 1\},}$ the exponential increase function has the
				form:
			</p>
			<figure class="math-display">
				<div>
					<p>${f(x) = ab^x}$</p>
				</div>
				<ul class="def">
					<li class="where">${x \in \R,}$</li>
					<li>${a, b \in \R,}$ and</li>
					<li>${b > 1.}$</li>
				</ul>
			</figure>
			<p>
				The variable ${a}$ is called the
				<span class="italicsText">initial value</span> of ${f,}$ ${x}$ the
				<span class="italicsText">growth factor</span> of ${f}$ (measured per
				unit of ${x}$), and ${b}$ the
				<span class="italicsText">constant ratio</span> of ${f.}$
			</p>
		</div>
	</figure>
	<p>
		In an exponential increase function, the function's output values grow by a
		rate proportional to the input value passed into the function. This behavior
		is inherited from the general case of exponential functions. In an
		exponential function, the function's outputs depend entirely on the base,
		and the base is a <span class="italicsText">constant</span>. That constant
		is then raised to a <span class="italicsText">variable</span> exponent. For
		example, suppose ${f(x) = 2^x.}$ Then, we have:
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>${x}$</th>
				<th>${f}$</th>
				<th>${f(x)}$</th>
			</thead>
			<tbody>
				<tr>
					<td>${x = -3}$</td>
					<td>${f(-3) = 2^{-3}}$</td>
					<td>${1/8}$</td>
				</tr>
				<tr>
					<td>${x = -2}$</td>
					<td>${f(-2) = 2^{-2}}$</td>
					<td>${1/4}$</td>
				</tr>
				<tr>
					<td>${x = -1}$</td>
					<td>${f(-1) = 2^{-1}}$</td>
					<td>${1/2}$</td>
				</tr>
				<tr>
					<td>${x = 0}$</td>
					<td>${f(0) = 2^0}$</td>
					<td>${1}$</td>
				</tr>
				<tr>
					<td>${x = 1}$</td>
					<td>${f(1) = 2^1}$</td>
					<td>${2}$</td>
				</tr>
				<tr>
					<td>${x = 2}$</td>
					<td>${f(2) = 2^2}$</td>
					<td>${4}$</td>
				</tr>
				<tr>
					<td>${x = 3}$</td>
					<td>${f(3) = 2^3}$</td>
					<td>${8}$</td>
				</tr>
				<tr>
					<td>${x = 4}$</td>
					<td>${f(4) = 2^4}$</td>
					<td>${16}$</td>
				</tr>
				<tr>
					<td>${x = 5}$</td>
					<td>${f(5) = 2^5}$</td>
					<td>${32}$</td>
				</tr>
				<tr>
					<td>${\vdots}$</td>
					<td>${\vdots}$</td>
					<td>${\vdots}$</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>As a graph:</p>
	<figure>
		<img
			src="{% static 'images/exponential_A.svg' %}"
			alt="exponential a"
			loading="lazy"
		/>
	</figure>
	<p>
		<span class="topic"
			>Finding Equations of Exponential Increase Functions.</span
		>
		Often, we are given a set of information that must be represented as an
		exponential model. Below is an algorithm for constructing exponential models
		from existing data:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given two data points, to
				construct an exponential model:
			</p>
			<ol>
				<li>
					If one of the data points has the form ${(0,a)}$ then ${a}$ is the
					base case (the initial value).
				</li>
				<li>
					Using ${a,}$ substitute the second point into the equation ${f(x) =
					a(b)^x,}$ and solve for ${b.}$
				</li>
				<li>
					If neither of the data points have the form ${(0,a),}$ substitute both
					points into two equations with the form ${f(x) = a(b)^x,}$ and solve
					the resulting system of two equations in two variables to find ${a}$
					and ${b.}$
				</li>
				<li>
					Using the ${a}$ and ${b}$ found in the steps above, write the
					exponential function in the form ${f(x) = a(b)^x.}$
				</li>
			</ol>
		</div>
	</figure>
	<p>
		For example, suppose we have two data points, ${(0,80)}$ and ${(6, 180)}$ To
		construct the exponential model:
	</p>
	<ol class="arg">
		<li>We have ${(0,80),}$ so we solve for ${b:}$</li>
		<ul>
			<li>${f(x) = 80(b)^x}$</li>
		</ul>
		<li>Substituting with ${(6, 180):}$</li>
		<ul>
			<li>${180 = 80(b)^6}$</li>
			<li>${180/80 = b^6}$</li>
			<li>${9/4 = b^6}$</li>
			<li>${(9/4)^{1/6} = b}$</li>
			<li>${\sqrt[6]{9/4} = b}$</li>
			<li>${b = \dfrac{\sqrt[6]{9}}{\sqrt[6]{4}} \approx 1.1447}$</li>
		</ul>
		<li>
			Using ${a}$ and ${b}$ to write ${f(x) = a(b)^x,}$ we have the following
			model:
		</li>
		<ul>
			<li>${f(x) = 80(1.1447)^x}$</li>
		</ul>
	</ol>
	<p>
		Another example, without the base case: Suppose we have the points ${(-2,
		6)}$ and ${(2,1).}$
	</p>
	<ol class="arg">
		<li>Substituting ${(-2,6)}$ returns ${6 = ab^{-2}.}$</li>
		<li>Substituting ${(2,1)}$ returns ${1 = ab^{2}.}$</li>
		<li>
			Solving the system of equations, we first solve for ${a}$ in terms of
			${b:}$
		</li>
		<ul>
			<li>${6 = ab^{-2}.}$</li>
			<li>${\dfrac{6}{b^{-2}} = a}$</li>
			<li>${6b^2 = a}$</li>
		</ul>
		<li>Solving for ${b}$ in terms of ${a:}$</li>
		<ul>
			<li>${1 = ab^2}$</li>
			<li>${1 = (6b^2)b^2 = 6b^4}$</li>
			<li>${1/6 = b^4}$</li>
			<li>${(1/6)^{1/4} = b}$</li>
			<li>${b \approx 0.6389}$</li>
		</ul>
		<li>Using the value of ${b}$ to solve for the value of ${a:}$</li>
		<ul>
			<li>${a = 6b^2 \approx 6(0.6389)^2 \approx 2.4492}$</li>
		</ul>
		<li>
			Using ${a}$ and ${b}$ to write the equation ${f(x) = ab^x,}$ we have the
			model:
		</li>
		<ul>
			<li>${f(x) = (2.4492)(0.6389)^x}$</li>
		</ul>
	</ol>
	<p>
		As we can see, models are not perfectly accurate. Inaccuracy is inevitable,
		however, because the models are likely analyzed and generated by computers.
		Computers themselves cannot generate an infinite amount of decimal places.
		But, inevitable inaccuracy does not imply we cannot reduce margins of error.
		One way to reduce error margins is to delay rounding as long as we can until
		the very end of the process. Never round intermediate calculations unless
		there are truly no other options.
	</p>

	<p>
		<span class="topic">Exponential Decrease Functions.</span> Like the
		exponential increase function,
		<span class="italicsText">exponential decrease functions</span> are a subset
		of exponential functions.
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> The exponential increase function
				has the form:
			</p>
			<figure class="math-display">
				<div>
					<p>${m(x) = ab^x}$</p>
				</div>
				<ul class="def">
					<li class="where">${x \in \R,}$</li>
					<li>${a, b \in \R,}$ and</li>
					<li>${b < 1.}$</li>
				</ul>
			</figure>
			<p>
				The variable ${a}$ is called the
				<span class="italicsText">initial value</span> of ${m,}$ ${x}$ the
				<span class="italicsText">growth factor</span> of ${f}$ (measured per
				unit of ${x}$), and ${b}$ the
				<span class="italicsText">constant ratio</span> of ${m.}$
			</p>
		</div>
	</figure>

	<p>
		The same algorithms discussed above apply to exponential decrease functions.
	</p>

	<p>
		<span class="topic">The Natural Number ${e.}$</span> The general form of the
		compound interest formula:
	</p>
	<figure class="math-display">
		<div>
			<p>${A(t) = P\left(1 + \dfrac{r}{n}\right)^{nt}}$</p>
			<ul class="def">
				<li class="where">${A(t)}$ is the account value;</li>
				<li>${t}$ is the number of years</li>
				<li>${P}$ is initial amount of the account (the principal)</li>
				<li>${r}$ is the annual percentage rate, expressed as a float</li>
				<li>${n}$ is the number of compounding periods in one year</li>
			</ul>
		</div>
	</figure>
	<p>
		The compound interest formula tells us that the account's initial amount
		increases as the compound frequency increases. Suppose ${P = 1}$ and ${t =
		1.}$ Then suppose that the amount is compounded from annually, to
		semiannually, to quarterly, to monthly, to daily, etc. From these
		assumptions, we have the following table:
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>Frequency</th>
				<th>${A(t) = \left(1 + \dfrac{1}{n}\right)^{nt}}$</th>
				<th>Value</th>
			</thead>
			<tbody>
				<tr>
					<td>annually</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{1} \right)^1}$</td>
					<td>2</td>
				</tr>
				<tr>
					<td>semiannually</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{2} \right)^2}$</td>
					<td>2.25</td>
				</tr>
				<tr>
					<td>quarterly</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{4} \right)^4}$</td>
					<td>2.441406</td>
				</tr>
				<tr>
					<td>monthly</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{12} \right)^{12}}$</td>
					<td>2.613035</td>
				</tr>
				<tr>
					<td>daily</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{365} \right)^{365}}$</td>
					<td>2.714567</td>
				</tr>
				<tr>
					<td>hourly</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{8,760} \right)^{8,760}}$</td>
					<td>2.718279</td>
				</tr>
				<tr>
					<td>per minute</td>
					<td>${A(t) = \left( 1 + \dfrac{1}{525,600} \right)^{525,600}}$</td>
					<td>2.71829</td>
				</tr>
				<tr>
					<td>per minute</td>
					<td>
						${A(t) = \left( 1 + \dfrac{1}{31,536,000} \right)^{31,536,000}}$
					</td>
					<td>2.718282</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		This is interesting. It appears that the value eventually converge at
		approximately 2.718. Indeed, it does (we will see a proof in later
		sections). We provide a formal definition now:
	</p>
	<figure class="math-display">
		<div>
			<p>
				<span class="topic">Definition.</span> The irrational number of the
				form:
			</p>
			<figure class="math-display">
				<div>
					<p>
						${e = \lim\limits_{n \to \infty} \left(1 + \dfrac{1}{n}\right)^n}$
					</p>
				</div>
			</figure>
			<p>
				is represented by <span class="term">Euler's constant</span> ${e,}$
				whose approximate value is ${2.718282.}$
			</p>
		</div>
	</figure>
	<p>
		The number ${e}$ holds a special place in both pure and applied mathematics,
		and we will see it frequently. ${e}$ is especially important for
		<span class="italicsText">continuous growth functions</span> and
		<span class="italicsText">continuous decay functions</span>.
	</p>

	<p>
		<span class="topic">Continuous Growth Functions.</span>
		<span class="italicsText">Continuous growth functions</span> are a subset of
		<span class="italicsText">exponential increase functions</span>. Continuous
		growth functions are pervasive in computer science, physics, chemistry, and
		biology. In finance, we see continuous growth functions in the form of
		continuous compounding.
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> The
				<span class="term">continuous growth function</span> ${G}$ is a function
				of the form:
			</p>
			<figure class="math-display">
				<div>
					<p>${G(t) = ve^{gt}}$</p>
					<ul class="def">
						<li class="where">${t \in \R,}$</li>
						<li>${v, g \in \R^{+},}$</li>
						<li>${g > 0,}$ and</li>
						<li>${e}$ is Euler's constant.</li>
					</ul>
				</div>
			</figure>
			<p>
				${v}$ is called the initial value of ${G,}$ ${g}$ the
				<span class="italicsText">continuous growth rate</span> (per unit of
				time elapsed, ${t.}$)
			</p>
		</div>
	</figure>

	<p>
		<span class="topic">Continuous Decay Functions.</span>
		<span class="italicsText">Continuous decay functions</span> are a subset of
		<span class="italicsText">exponential decrease functions</span>. A common
		use case for continous decay functions is carbon dating, where a particular
		carbon-based object's age is measured according to the half-life of
		${^{14}C,}$ a radioactive carbon isotope.
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> The
				<span class="term">continuous decay function</span> is a function of the
				form:
			</p>
			<figure class="math-display">
				<div>
					<p>${D(t) = ve^{dt}}$</p>
					<ul class="def">
						<li class="where">${t \in \R,}$</li>
						<li>${v, r \in \R^{+},}$</li>
						<li>${r < 0,}$ and</li>
						<li>${e}$ is Euler's constant</li>
					</ul>
				</div>
			</figure>
			<p>
				${v}$ is called the initial value of ${G,}$ ${g}$ the
				<span class="italicsText">continuous decay rate</span> (per unit of time
				elapsed, ${t.}$)
			</p>
		</div>
	</figure>

	<p>
		Given a continuous growth or continuous decay function ${f(t),}$ we can
		compute the output of ${f(t)}$ at some input value ${t}$ with the following
		algorithm:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Let ${f(t)}$ be a continuous
				growth or continous decay function. To compute the output of ${f(t)}$ at
				some input value ${t,}$
			</p>
			<ol>
				<li>
					Use the problem's information to determine ${v,}$ the initial value of
					the ${f.}$
				</li>
				<li>
					Use the problem's information to determine the rate ${r}$ of ${f.}$
				</li>
				<ul>
					<li>
						If the problem refers to
						<span class="italicsText">continuous growth</span>, then ${r > 0}$
						(i.e., ${r \in \R^{+};}$ ${r}$ is a positive real number).
					</li>
					<li>
						If the problem refers to
						<span class="italicsText">continuous decay</span>, then ${r < 0}$
						(i.e., ${r \in \R^{-};}$ ${r}$ is a negative real number).
					</li>
				</ul>
				<li>Use the problem's information to determine the time ${t.}$</li>
				<li>
					Substitute the given information into the continous growth formula and
					solve for ${f(t).}$
				</li>
			</ol>
		</div>
	</figure>

	<p>
		<span class="topic">Graphs of Exponential Functions.</span> Exponential
		functions have generally the same graph. The most obvious difference is that
		exponential decrease functions decrease, and exponential increase functions
		increase:
	</p>
	<div class="compare">
		<figure>
			<img
				src="{% static 'images/exponential_decay_compare.svg' %}"
				loading="lazy"
				alt="exponential decay"
			/>
			<figcaption>Exponential decrease function</figcaption>
		</figure>
		<figure>
			<img
				src="{% static 'images/exponential_growth_compare.svg' %}"
				loading="lazy"
				alt="exponential growth"
			/>
			<figcaption>Exponential increase function</figcaption>
		</figure>
	</div>
	<p>
		In both functions above the <span class="italicsText">constant ratio</span>,
		or the base, is 2. Where they differ is how the inputs and outputs relate.
	</p>
	<p>
		For the <span class="italicsText">exponential increase function</span> we
		have the following observations: (1) The output value is always positive or
		0. (2) As the input values increase, the output values also increase. (3)
		Large input values return large ouput values, and small input values return
		small output values. More formally:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Properties.</span> Given an exponential increase
				function with the form ${f(x) = b^x,}$ the following properties hold:
			</p>
			<ul>
				<li>${b > 1.}$</li>
				<li>${f}$ is an injective (one-to-one) function.</li>
				<li>${f}$ is an increasing function.</li>
				<ul>
					<li>${\lim\limits_{x \to + \infty} f(x) = + \infty}$</li>
					<li>${\lim\limits_{x \to - \infty} f(x) = 0}$</li>
				</ul>
				<li>${f}$ has the horizontal asymptote ${y = 0.}$</li>
				<li>${f}$ has no vertical asymptote.</li>
				<li>${\text{dom}(f) = (- \infty , \infty ) = \{ x \}.}$</li>
				<li>${\text{ran}(f) = (0, \infty) = \{ x \in \R_{\geq 0} \}.}$</li>
				<li>${f}$ has no ${\text{x-intercept}.}$</li>
				<li>${f}$ has the ${\text{y-intercept}}$ ${(0,1).}$</li>
			</ul>
		</div>
	</figure>

	<p>
		For the <span class="italicsText">exponential decrease function</span>, we
		observe: (1) The output value is always positive or 0. (2) As the input
		values increase, the output values decrease. (3) Large input values return
		small output values, and small input values return large output values. More
		formally:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Properties.</span> Given an exponential decrease
				function with the form ${f(x) = b^x,}$ the following properties hold:
			</p>
			<ul>
				<li>${b < 1.}$</li>
				<li>${f}$ is an injective (one-to-one) function.</li>
				<li>${f}$ is a decreasing function.</li>
				<ul>
					<li>${\lim\limits_{x \to + \infty} f(x) = 0}$</li>
					<li>${\lim\limits_{x \to - \infty} f(x) = + \infty}$</li>
				</ul>
				<li>${f}$ has the horizontal asymptote ${y = 0.}$</li>
				<li>${f}$ has no vertical asymptote.</li>
				<li>${\text{dom}(f) = (- \infty , \infty ) = \{ x \}.}$</li>
				<li>${\text{ran}(f) = (0, \infty) = \{ x \in \R_{\geq 0} \}.}$</li>
				<li>${f}$ has no ${\text{x-intercept}.}$</li>
				<li>${f}$ has the ${\text{y-intercept}}$ ${(0,1).}$</li>
			</ul>
		</div>
	</figure>
	<p>
		<span class="topic">Exponential Function Base Case.</span> An important
		point regarding exponential functions: With an exponential function of the
		form ${f(x) = b^x,}$ where ${b}$ is a constant, the base case is ${b = 0.}$
		Because a base case exists, we can write recursive programs employing
		exponentials.
	</p>
</section>

<section id="transformations_exponential_functions">
	<h4>Transformations of Exponential Functions</h4>
	<p>
		We can transform exponential function graphs just as we would other
		functions. Suppose the exponential function ${f(x) = b^{x}.}$
	</p>

	<p>
		<span class="topic">Exponential Function Vertical Shift.</span> A
		<span class="italicsText">vertical shift</span> occurs if ${f(x) = b^x +
		C,}$ where ${C}$ is a constant. If ${C \in \R^{+},}$ then ${G(f)}$ shifts
		<span class="underlineText">up</span> the ${y \text{-axis}}$ by ${C}$ units.
		If ${C \in \R^{-},}$ then ${G(f)}$ shifts
		<span class="underlineText">down</span> the ${y \text{-axis}}$ by ${C}$
		units.
	</p>

	<figure>
		<img
			src="{% static 'images/exponential_vertical_shift.svg' %}"
			alt="vert shift"
			loading="lazy"
		/>
	</figure>

	<p>
		Note that when we vertically shift the graph, ${f}$'s vertical asymptote
		changes. When ${f(x) = 2^x + 1,}$ the vertical asymptote is ${y = 1.}$ When
		${f(x) = 2^x - 1,}$ the vertical asymptote is ${y = -1.}$
	</p>

	<p>
		More broadly, if ${f(x) = 2^x + C,}$ we shift ${f(x) = 2^x}$
		<span class="italicsText">up</span> the ${\text{$y$-axis}}$, we observe the
		following: (i) ${\text{dom}(f) = \{ x \in \R \};}$ i.e., the domain remains
		unchanged. (ii) When ${f}$ is shifted up by ${C,}$ the
		${\text{$y$-intercept}}$ shifts up by ${C}$ units to ${(0, C).}$
		Furthermore, the horizontal asymptote shifts up by ${C}$ units to ${y = C.}$
		(iii) The range bcecomes ${\text{ran} = \{ f(x) \in \R \mid f(x) > C \}.}$
	</p>

	<p>
		If ${f(x) = 2^x - C,}$ we shift ${f(x) = 2^x}$
		<span class="italicsText">down</span> the ${\text{$y$-axis},}$ then: (i) The
		${\text{$y$-intercept}}$ shifts down ${C}$ units to ${(0, -C).}$ (ii) The
		asymptote shifts down ${C}$ units to ${y = -C.}$ (iii) The range becomes
		${\text{ran} = \{ f(x) \in \R \mid f(x) > -C \},}$ while the domain remains
		unchanged, ${\{ x \in \R \}.}$
	</p>

	<p>
		<span class="topic">Exponential Function Horizontal Shift.</span> A
		horizontal shift occurs when we add a constant ${C}$ to the parent function
		${f(x) = b^x.}$ This will return a horizontal shift in the
		<span class="underlineText">opposite</span> direction of the sign.
	</p>

	<figure>
		<img
			src="{% static 'images/exponential_hor_shift.svg' %}"
			alt="horizontal shift exp"
			loading="lazy"
		/>
	</figure>

	<p>
		Observations from shifting ${f(x) = 2^x}$ horizontall: (1) The domain, ${(-
		\infty , \infty),}$ ${\R,}$ remains unchanged. (2) The horizontal asymptote,
		${y = 0,}$ remains unchanged. (3) The ${\text{$y$-intercept}}$ shifts such
		that: (i) When the function is shifted
		<span class="underlineText">left</span> 1 unit &mdash; ${f(x) = 2^{x+1}}$
		&mdash; the ${\text{$y$-intercept}}$ becomes ${(0,2).}$ This is because
		${f(0) = 2^{0+1} = 2^1 = 2.}$ so the initial value of the function is 2.
		(ii) When the function is shifted <span class="underlineText">right</span> 1
		unit &mdash; ${f(x) = 2^{x-1}}$ &mdash; the ${\text{$y$-intercept}}$ becomes
		${(0, 1/2).}$ Again, because ${f(0) = 2^{0-1} = 2^{-1} = 1/2.}$
	</p>

	<p>
		We can can encapsulate the transformations with an algorithm for drawing
		them:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an exponential function with
				the form ${g(x) = b^{x + C} + d,}$ the transformation can be graphed
				through the following algorithm:
			</p>
			<ol>
				<li>Draw the graph of ${f(x) = b^x.}$ Call this graph ${G(f).}$</li>
				<li>Draw the horizontal asymptote ${y = d.}$</li>
				<li>Identify the shift as ${(-C, d).}$</li>
				<ul>
					<li>
						If ${C \in \R^{+},}$ shift ${G(f)}$
						<span class="underlineText">left</span> ${C}$ units.
					</li>
					<li>
						If ${C \in \R^{-},}$ shift ${G(f)}$
						<span class="underlineText">right</span> ${C}$ units.
					</li>
					<li>
						If ${d \in \R^{+},}$ shift ${G(f)}$
						<span class="underlineText">up</span> ${d}$ units.
					</li>
					<li>
						If ${d \in \R^{-},}$ shift ${G(f)}$
						<span class="underlineText">down</span> ${d}$ units.
					</li>
				</ul>
				<li>
					State the domain, ${\R,}$ and the range, ${d, \infty,}$ and the
					horizontal asymptote, ${y = d.}$
				</li>
			</ol>
		</div>
	</figure>

	<p>
		<span class="topic"
			>Stretching and Compressing Exponential Function Graphs.</span
		>
		When we multiply the parent function ${f(x) = b^x}$ by a constant ${\lvert a
		\rvert > 1,}$ we <span class="italicsText">vertically stretch</span> (or
		<span class="italicsText">horizontally compress</span>) ${G(f)}$ by a factor
		of ${a.}$ When we multiply the parent function ${f(x) = b^x}$ by a constant
		${\lvert a \rvert < 1,}$ we
		<span class="italicsText">vertically compress</span> (or
		<span class="italicsText">horizontally stretch</span>) ${G(f)}$ by a factor
		of ${a.}$ Consider the following:
	</p>

	<figure>
		<img
			src="{% static 'images/exponential_stretch.svg' %}"
			alt="exponential stretch/compress"
			loading="lazy"
		/>
	</figure>

	<p>We can summarize these properties as such:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Properties.</span> Let ${f(x) = a(b)^x.}$ For any
				factor ${a > 0,}$
			</p>
			<ul>
				<li>
					If ${\lvert a \rvert > 1,}$ then ${G(f)}$ is
					<span class="italicsText">stretched vertically</span> by a factor of
					${a.}$
				</li>
				<li>
					If ${\lvert a \rvert < 1,}$ then ${G(f)}$ is
					<span class="italicsText">compressed vertically</span> by a factor
					${a.}$
				</li>
				<li>${G(f)}$ has a ${\text{$y$-intercept}}$ of ${(0,a).}$</li>
				<li>${G(f)}$ has a horizontal asymptote at ${y = 0.}$</li>
				<li>
					The domain and range of the shifted graph are unchanged from the
					parent function:
				</li>
				<ul>
					<li>${\text{dom}(f) = (- \infty , \infty.)}$</li>
					<li>${\text{ran}(f) = (0, \infty).}$</li>
				</ul>
			</ul>
		</div>
	</figure>

	<p>
		<span class="topic">Reflections of Exponential Function Graphs.</span> The
		last possible transformation is <span class="term">reflection</span>. When
		we multiply the <span class="italicsText">outputs</span> of the parent
		function ${f(x) = b^x}$ by ${-1,}$ we reflect ${G(f)}$ along the
		${\text{$x$-axis}.}$ When we multiply the
		<span class="italicsText">inputs</span> of the parent function ${f(x) =
		b^x}$ by ${-1,}$ we reflect ${G(f)}$ along the ${\text{$y$-axis}.}$
	</p>

	<div class="compare">
		<figure>
			<img
				src="{% static 'images/exponential_reflect_y.svg' %}"
				alt="reflect x"
				loading="lazy"
				class="ninety-p"
			/>
			<figcaption>reflection along the ${\text{$x$-axis}}$</figcaption>
		</figure>
		<figure>
			<img
				src="{% static 'images/exponential_reflect_x.svg' %}"
				alt="reflect y"
				loading="lazy"
				class="ninety-p"
			/>
			<figcaption>reflection along the ${\text{$y$-axis}}$</figcaption>
		</figure>
	</div>

	<p>Summarizing these properties:</p>
	<figure class="math-display">
		<div class="rule">
			<p><span class="topic">Properties.</span> Suppose ${f(x) = b^x.}$</p>
			<p>Then the graph of ${g(x) = -b^x}$</p>
			<ul>
				<li>reflects ${G(f)}$ about the ${\text{$x$-axis},}$</li>
				<li>has the ${\text{$y$-intercept}}$ of ${(0,1),}$</li>
				<li>${\text{dom}(g) = (- \infty , \infty) = \R,}$</li>
				<li>${\text{ran}(g) = (- \infty , 0),}$</li>
				<li>has a horizontal asymptote at ${y = 0.}$</li>
			</ul>
			<p>The graph of ${h(x) = b^{-x}}$</p>
			<ul>
				<li>reflects ${G(f)}$ about the ${\text{$y$-axis},}$</li>
				<li>has the ${\text{$y$-intercept}}$ of ${(0,1),}$</li>
				<li>has a horizontal asymptote at ${y = 0,}$</li>
				<li>${\text{ran}(h) = (0, \infty)}$</li>
				<li>${\text{dom}(h) = (- \infty , \infty) = \R}$</li>
			</ul>
		</div>
	</figure>

	<p>
		Summarizing all of the possible transformations for exponential functions:
	</p>
	<figure class="table">
		<table class="property_table">
			<thead>
				<th>Form</th>
				<th>Transformation</th>
			</thead>
			<tbody>
				<tr>
					<td>${f(x) = b^{x+c} + d}$</td>
					<td>
						<ul>
							<li>If ${c > 0,}$ shift horizontally ${c}$ units to the left.</li>
							<li>
								If ${c < 0,}$ shift horizontally ${c}$ units to the right.
							</li>
							<li>If ${c = 0,}$ no horizontal shifting.</li>
							<li>If ${d > 0,}$ shift vertically ${d}$ units up.</li>
							<li>If ${d < 0,}$ shift vertically ${d}$ units down.</li>
							<li>If ${d = 0,}$ no vertical shifting.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>${f(x) = ab^x}$</td>
					<td>
						<ul>
							<li>If ${\lvert a \rvert > 1,}$ stretch.</li>
							<li>If ${\lvert a \rvert < 1,}$ compress.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>${f(x) = -b^x}$</td>
					<td>Reflect about the ${\text{$x$-axis}}$</td>
				</tr>
				<tr>
					<td>${f(x) = b^{-x} = \left(\dfrac{1}{b}\right)^x}$</td>
					<td>Reflect about the ${\text{$y$-axis}}$</td>
				</tr>
				<tr>
					<td>${f(x) = ab^{x+c} + d}$</td>
					<td>General equation for all transformations</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>
{% endblock %}
