{% extends '../layout.html' %} {% load static %} {% block content %}

<h3>Function Graphs</h3>

<p>
	A function with a domain and range of real numbers can be graphed. When
	graphing functions, we use two axes &mdash; a horizontal axis for the
	function's domain (i.e., inputs) and vertical axis for function's range (i.e.,
	outputs). We call the input axis the ${\text{x-axis}}$ and the output axis the
	${\text{y-axis.}}$
</p>

<div class="rule">
	<p>
		<span class="topic">Definition</span>. Given a function ${f,}$ the graph of
		${f}$ on the ${x-y}$ plane consists of those points ${(x, y)}$ such that
		${x}$ is the domain of ${f}$ and ${y = f(x).}$
	</p>
</div>

<p>
	<span class="topic">The Vertical Line Test</span>. The
	<span class="term">vertical line test</span> allows us to determine if a
	particular graph represents a function. This is a particularly helpful result
	when we aren't provided any equation for a possible function, or if we are
	uncertain about what sets the function maps to and from.
</p>

<div class="rule">
	<p>
		<span class="topic">Vertical Line Test</span>. A graph in the ${x-y}$ plane
		represents a function of $x$ iff any vertical line intersects the graph in
		at most one point.
	</p>
</div>
<p>
	For example, the graph below is not a function, since the blue vertical line
	passes through it at more than one point:
</p>

<figure>
	<img
		src="{% static 'images/not_a_graph.svg' %}"
		alt="not a graph"
		loading="lazy"
	/>
</figure>

<section id="graph_transformations">
	<h4>Graphing Transformations</h4>
	<p>
		Graphs of functions serve as a bridge between geometry and algebra. Crossing
		from geometry to algebra are the definitions of
		<span class="italicsText">reflection</span>,
		<span class="italicsText">translation</span>, and
		<span class="italicsText">scaling</span>. All of these defines are broadly
		referred to as <span class="term">transformations</span> &mdash; if we
		reflect, translate, or scale a function's graph, we are
		<span class="italicsText">transforming</span> the function's graph.
	</p>
	<p>
		<span class="topic">Vertical Translation.</span> When we
		<span class="italicsText">vertically translate</span> a graph, we either
		shift the graph up or down the ${\text{$y$-axis}.}$ For example, the
		following are vertical translations of the graph ${f(x) = x^2.}$
	</p>
	<figure>
		<img
			src="{% static 'images/vertical_translation.svg' %}"
			alt="vertical translation"
			loading="lazy"
			class="ninety-p"
		/>
	</figure>
	<p>
		Observe that when add a positive constant to the function's expression, we
		shift the graph up the ${\text{$y$-axis}.}$ And when we add a negative
		constant (i.e., subtraction) to the function's expression, we shift the
		grown down the ${\text{$y$-axis}.}$ This logically follows from the fact
		that we are essentially adding a constant value to each element in the
		function's <span class="italicsText">range</span>. In other words, for every
		output, add or substract some constant &mdash; shift the graph up or down
		respectively.
	</p>
	<div class="rule">
		<p>
			<span class="topic">Definition.</span> Let ${f(x)}$ be a function and
			${c}$ a constant, where ${c \in \R.}$ Suppose ${y = f(x).}$ Substituting
			${y}$ with ${y - c},$ we obtain ${y - c = f(x),}$ which is equivalent to
			${y = f(x) + c.}$ This is a
			<span class="italicsText">vertical translation</span> of ${f(x).}$
		</p>
		<p>
			If ${c \in \R^{+},}$ then ${f(x)}$ transforms to ${f(x) + c,}$ which
			shifts ${G(f)}$ by ${c}$ units <span class="underlineText">up</span> the
			${\text{$y$-axis}.}$
		</p>
		<p>
			If ${c \in \R^{-},}$ then ${f(x)}$ transforms to ${f(x) + c = f(x) - c,}$
			which shifts ${G(f)}$ by ${c}$ units
			<span class="underlineText">down</span> the ${\text{$y$-axis}.}$
		</p>
		<p>
			If ${c = 0,}$ then there is no transformation, and
			<span class="italicsText">a fortiori</span>, no vertical translation.
		</p>
	</div>
	<p>
		<span class="topic">Horizontal Translation.</span> When we
		<span class="italicsText">horizontally translate</span> a graph, we either
		shift the graph left or right along the ${\text{$x$-axis}.}$ In essence, we
		are are adding or subtracting some constant from each element in the
		function's <span class="italicsText">domain</span>: For every input, add or
		substract some constant value. Horizontal translations, however, are a
		common source of error.
	</p>
	<p>
		Consider again the graph of ${y = x^2.}$ To shift the graph to the right, we
		add some negative constant ${c}$ to every input. Thus, ${y = (x - c)^2}$
		indicates a shift ${c}$ units to the right along the ${\text{$x$-axis}.}$
		Why is it a shift right? Because to get back to the original function ${y}$,
		we have to add ${c}$ units. It is the same logic behind why scrolling down
		with a mouse wheel moves this page up, or why a gear moving clockwise turns
		a second gear counter-clockwise. For example, given ${y = x^2,}$ the
		parabola's vertex is ${(0,0).}$ However, given ${y = (x-1)^2,}$ the
		parabola's vertex is now ${(1,0);}$ a shift to the right.
	</p>
	<p>
		In contrast, given ${y = (x + c)^2,}$ we have a horizontal shift to the
		<span class="italicsText">left</span>. Again, consider ${y = x^2.}$ The
		parabola is ${(0, 0).}$ When ${y = (x + 1)^2,}$ the vertex is now ${(-1,
		0);}$ a shift to the left. Below are horizontal translations:
	</p>
	<figure>
		<img
			src="{% static 'images/horizontal_shift_parabola.svg' %}"
			alt="horiztonal shift"
			loading="lazy"
		/>
	</figure>
	<p>
		In sum: If we subtract a constant, we shift right; add a constant, we shift
		left.
	</p>
	<div class="rule">
		<p>
			<span class="topic">Definition.</span> Let ${f(x)}$ be a function and
			${c}$ a constant, where ${c \in \R.}$ Suppose ${y = f(x).}$ Substituting
			${x}$ with ${x - c},$ we obtain ${y = f(x - c).}$ This is a
			<span class="italicsText">horizontal translation</span> of ${f(x).}$
		</p>
		<p>
			If ${c \in \R^{+},}$ then ${f(x)}$ transforms to ${f(x - c),}$ which
			shifts ${G(f)}$ by ${c}$ units to the
			<span class="underlineText">right</span> along the ${\text{$y$-axis}.}$
		</p>
		<p>
			If ${c \in \R^{-},}$ then ${f(x)}$ transforms to ${f(x + c)}$ which shifts
			${G(f)}$ by ${c}$ units to the
			<span class="underlineText">left</span> along the ${\text{$y$-axis}.}$
		</p>
		<p>
			If ${c = 0,}$ then there is no transformation, and
			<span class="italicsText">a fortiori</span>, no horizontal translation.
		</p>
	</div>
</section>

{% endblock %}
