{% extends '../layout.html' %} {% load static %} {% block content %}

<section>
	<h4>The Pythagorean Theorem and Coordinates</h4>
	<p>
		The Cartesian plane constructs a bridge between algebra and geometry. Many
		theorems and ideas from geometry can be applied in continuous mathematics.
		One such theorem is the <span class="term">Pythagorean theorem</span>:
	</p>
	<div class="rule">
		<p>
			<span class="topic">Theorem.</span> Given a right trangle, the lengths of
			the sides are related by the equation: ${ a^2 + b^2 = c^2 }$, where ${ a
			}$ and ${ b }$ are the lengths of the sides forming the right triangle,
			and ${ c }$ is the length of the hypotentuse.
		</p>
		<p>
			Conversely, if ${ a }$, ${ b }$, and ${ c }$ are the sides of a triangle,
			and all three lengths are related by an equation of the form ${ a^2 + b^2
			= c^2 }$, then the triangle is a right triangle, and ${ c }$ is the
			hypotenuse.
		</p>
	</div>
	<p>We can visualize the Pythagorean Theorem with the following diagram:</p>
	<figure>
		<img
			src="{% static 'images/pythagorean_theorem.svg' %}"
			alt="Pythagorean Theorem"
			class="ninety-p"
			loading="lazy"
		/>
	</figure>
</section>

{% endblock %}
