{% extends '../layout.html' %}
{% load static %}
{% block content %}

<h4>Domain Restrictions</h4>

<p>Because the natural domain of the function's we are concerned with is $\mathbb{R}$, the real numbers, the functions we explore here must comply with the basic rules of algebra. Otherwise, they are not functions of $\mathbb{R}$.</p>

<p>Domain restrictions are often a source of frustration for new mathematics students. This frustration stems from carelessness. We make explicit the most common problem areas to ensure care is taken.</p>

<p><span class="topic">Functions with Square Roots</span>. If a function's equation contains a square root, the square root's radicand must be greater than or equal to 0.</p>

<div class="rule">
	<p><span class="topic">Rule.</span> Let $f(x)$ be a function. If $f(x)$ contains a factor of the form $\sqrt{x}$, then $dom(f) = \{x \in \mathbb{R} \mid x \geq 0 \}$</p>
</div>

<p><span class="topic">Domains and Rational Functions</span>. If a function's equation contains a denominator, then the expression in the denominator cannot equal 0.
</p>

<div class="rule">
	<p><span class="topic">Rule.</span> Let $f(x)$ be a function. If $f(x)$ is a function of the form $\frac{a}{b}$, where $a$ and $b$ are either expressions or constants, then $b \neq 0$.</p>
</div>

<p><span class="exh">Exercise</span>. What is the domain of $g(t) = \dfrac{5t}{t^3 - 16t}$?</p>
	<details class="answer">
		<summary>Solution</summary>
		<p>
			The function $g(t)$ is a rational function, so we need to restrict
			its domain according to its denominator, $t^3 - 16t$. Thus:
		</p>
		<figure class="math-display">
			<div>
				<p>$0 = t^3 - 16t$</p>
				<p>$\phantom{0} = t(t^t - 16)$</p>
			</div>
		</figure>
		<p>Then, solving for $t$:</p>
		<figure class="math-display">
			<div>
				<p>$t = 0$</p>
				<p>$t = 4$</p>
				<p>$t = -4$</p>
			</div>
		</figure>
		<p>
			The values of $t$ listed above cannot be members of the $dom(g)$.
			Hence:
		</p>
		<figure class="math-display">
			<div>
				<p>
					$dom(f) = \{ t \in \mathbb{R} \mid t \neq 0, t \neq 4, t \neq -4
					\}$
				</p>
			</div>
		</figure>
		<p>Or, in interval notation:</p>
		<figure class="math-display">
			<div>
				<p>$(- \infty , -4) \cup (-4,0) \cup (0,4) \cup (4, \infty)$</p>
			</div>
		</figure>
	</details>

<p><span class="exh">Exercise</span>. What is the domain of the function $f(x) = \sqrt{5-4x}$?</p>

<details class="answer">
	<summary>Solution</summary>
	<p>The domain of $f$ cannot include $x < 0$. Thus, $5 - 4x \geq 0$.  Adding $4x$ to both sides, $5 \geq 4x$. Dividing both sides by 4, $\frac{5}{4} \geq x$. Hence, $dom(f) = \{ x \in \mathbb{R} \mid x \leq \frac{5}{4} \}$.</p>
</details>

<p><span class="topic">Inequality Switches</span>. This issue is not directly related to functions, but their mistakes appear often enough when handling functions that it bears mentioning.</p>

<p>Given an inequality containing an expression, whenever we multiply both sides by -1, the inequality sign switches directions. For example, given the expression $-3x > 2$, to solve for $x$, we need to divide both sides by -3. When we divide both sides by -3, the resulting expression is $x < -\frac{2}{3}$.</p>

<p>Why do we switch directions? Because given two numbers, $a$ and $b$, $a < b$ if, and only if, $b-a \in \mathbb{R}^{+}$ (in other words, $b - a > 0$). We know that: </p>

<figure class="math-display">
	<div>
		<p>${b - a = -a + b = (-a) - (-b)}$</p>
	</div>
</figure>

<p>Hence, $a < b$ if, and only if, $(-a) - (-b) \in \mathbb{R}^+$.  $(-a)-(-b) \in \mathbb{R}^+$ if, and only if, $-a > -b$. Thus, $a < b$ if and only if, $-a > -b$.</p>

{% endblock %}