{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="cubic_func">
	<p>
		<span class="topic">The Cubing Function</span>. The cubing function has the
		form ${y = x^3,}$ with the graph:
	</p>
	<figure>
		<img
			src="{% static 'images/basic_cubic.svg' %}"
			alt="cubic"
			loading="lazy"
		/>
	</figure>
	<p>
		Both the range and the domain of the cubing function is all real numbers,
		${\R,}$ or ${(- \infty, \infty)}$ in interval notation. Key points of the
		cubing function include ${(-1, -1),}$ ${(0, 0),}$ and ${(1, 1).}$ Observe
		that for the cubing function, members of its range and their corresponding
		domain members always have the same sign (i.e., negative input &rarr;
		negative output; positive input &rarr; positive output).
	</p>
</section>
{% endblock %}
