{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="trigonometric_functions">
	<h4>Trigonometric Functions</h4>
	<p>
		Now, in the context of geometry and discrete mathematics, sine, cosine,
		tangent, and their reciprocals are purely ratios. However, in continuous
		mathematics, we will think of these ratios as
		<span class="term">trigonometric functions</span>. The distinction is made
		because we seldom treat the trigonometric ratios as purely ratios in
		continuous mathematics; rather, they more often arise as functions.
	</p>

	<p>
		To define the trigonometric functions, we first place some angle ${\theta}$
		in the standard position on the
		<span class="term">unit circle</span> &mdash; the graph of the equation
		${x^2 + y^2 = 1.}$ Next, consider the following diagram:
	</p>

	<figure>
		<img src="{% static 'images/unit_circle_coordinates.svg' %}" alt="unit circle" />
	</figure>

	<p>
		The point ${(\cos \theta, \sin \theta)}$ is called the
		<span class="term">terminal point</span> of ${\theta.}$ It is this discovery
		that begins the path towards the algebraic landscape of trigonometry:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> The expression ${\cos \theta}$ is
				the ${\text{$x$-coordinate}}$ of the terminal point of ${\theta.}$
			</p>
		</div>
	</figure>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> The expression ${\sin \theta}$ is
				the ${\text{$y$-coordinate}}$ of the terminal point of ${\theta.}$
			</p>
		</div>
	</figure>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> The expression ${\tan \theta}$ is
				${\dfrac{\text{$y$-coordinate}}{\text{$x$-coordinate}},}$ the ratio of
				the ${\text{$y$-coordinate}}$ to the ${\text{$x$-coordinate}}$ of the
				terminal point of ${\theta.}$
			</p>
		</div>
	</figure>

	<p>
		Assuming that ${(x, y)}$ is the terminal point of ${\theta,}$ then we have
		the following identities:
	</p>

	<figure class="math-display">
		<div class="compare">
			<div>
				<p>${\cos \theta = x}$</p>
				<p>${\sin \theta = y}$</p>
				<p>${\tan \theta = \dfrac{\sin \theta}{\cos \theta} = \dfrac{y}{x}}$</p>
			</div>
			<div>
				<p>${\sec \theta = \dfrac{1}{\cos \theta} = \dfrac{1}{x}}$</p>
				<p>${\csc \theta = \dfrac{1}{\sin \theta} = \dfrac{1}{y}}$</p>
				<p>
					${\cot \theta = \dfrac{1}{\tan \theta} = \dfrac{\cos \theta}{\sin
					\theta} = \dfrac{x}{y}}$
				</p>
			</div>
		</div>
	</figure>

	<p>
		<span class="exh">Exercise.</span> Suppose ${\triangle ABC}$ is a 45-45-90
		triangle. If the hypotenuse ${\overline{\rm BC} = 1,}$ then what are
		${\overline{\rm AB}}$ and ${\overline{\rm AC}.}$
	</p>
	<details class="answer">
		<summary>Solution</summary>
		<p>
			Because ${\triangle ABC}$ is a 45-45-90 triangle, we know that the two
			acute angles are equal. This in turn means that ${\overline{\rm AC} =
			\overline{\rm AB} = x.}$
		</p>
		<p>
			Next, we know that ${\overline{\rm BC} = 1.}$ This fact allows us to apply
			the <span class="italicsText">Pythagorean Theorem</span>:
		</p>
		<figure class="math-display">
			<div>
				<p>${x^2 + y^2 = 1}$</p>
				<p>${x^2 + x^2 = 1}$</p>
				<p>${2x^2 = 1}$</p>
				<p>${x^2 = 1/2}$</p>
				<p>${x = \sqrt{1/2}}$</p>
				<p>${\phantom{x = } 1/\sqrt{2}}$</p>
				<p>${\phantom{x = } 1/\sqrt{2}(\sqrt{2}/\sqrt{2})}$</p>
				<p>${\phantom{x = } \sqrt{2}/2}$</p>
			</div>
		</figure>
		<p>
			Because ${\overline{\rm AB} = \overline{\rm AC},}$ both ${\overline{\rm
			AB}}$ and ${\overline{\rm AC}}$ have lengths of ${\sqrt{2}/2.}$
		</p>
	</details>
</section>
{% endblock %}
