{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="angles" class="grid-item">
	<h4>Angles</h4>
	<p>
		A <span class="term">ray</span> is one point on a line and all points
		extending in one direction from that point. If we have two rays sharing a
		single point from which they extend, then we have an
		<span class="term">angle</span>. This shared endpoint is called the angle's
		<span class="term">vertex</span>. The two rays are called the angle's
		<span class="term">sides</span>. For example, consider the angle below:
	</p>

	<figure>
		<img
			src="{% static 'images/angleABC.svg' %}"
			alt="angle"
			loading="lazy"
			class="sixty-p"
		/>
	</figure>

	<p>
		We denote the angle above with the symbol ${\angle ABC.}$ The individual
		sides of ${\angle ABC}$ are referenced by referring to the rays themselves,
		${\overrightarrow{\rm BA}}$ and ${\overrightarrow{\rm BC.}}$
	</p>

	<p>
		The creation of an angle is a dynamic procedure. First, the initial position
		&mdash; two rays lying on top of each other. We can refer to this first step
		as the base case of angle creation; an angle of ${0^\circ.}$ One of the two
		rays lies fixed, the other is free to move. The fixed ray is called the
		angle's <span class="term">initial side</span>, and the free ray is called
		the angle's <span class="term">terminal side</span>.
	</p>

	<p>
		To identify the different sides, we draw a small arc and arrow close to the
		vertex, indicating the direction and distance the terminal side moves:
	</p>

	<figure>
		<img
			src="{% static 'images/angle_measure.svg' %}"
			alt="measure"
			loading="lazy"
			class="fifty-p"
		/>
	</figure>

	<p>
		The angle's <span class="term">measure</span> is the amount of rotation from
		the initial side to the terminal side. This amount is contextualized with a
		unit of measurement. The two common units for measuring angles are
		<span class="term">degrees</span>, and <span class="term">radians</span>.
	</p>

	<p>
		<span class="topic">Geometry v. Trigonometry.</span> A triangle ${\triangle
		ABC}$ has sides of length 8, 8, and 8. What are the measures of its angles?
	</p>
	<details class="answer">
		<summary>Solution</summary>
		<p>
			Because ${\triangle ABC}$ has three equal sides, its three angles are also
			equal. Since the sum of the angles is ${180^\circ,}$ each angle has a
			measure of ${180^\circ / 3 = 60^\circ.}$
		</p>
	</details>

	<p>
		Geometry allows us to complete the simple problem above. But suppose
		${\triangle DEF}$ has sides 5, 6, and 7. What are the measures of
		${\triangle DEF's}$ angles? What about ${\triangle GHI,}$ where
		${\overrightarrow{\rm HG}}$ has a length of 3, ${\overrightarrow{\rm HI}}$
		has a length of 4, and the angle between them is ${90^\circ.}$ What are
		measures of its other angles? These sorts of questions cannot be answered
		with simple geometry. Instead, what we need is trigonometry.
	</p>
</section>

<section id="coterminal_angles">
	<p>
		<span class="topic">Coterminal Angles.</span> Recall that negative angles
		are angles measured clockwise from the terminal side. While negative angles
		are sometimes necessary, they can be awkward to work with, and it is often
		best to use the corresponding
		<span class="term">coterminal angle</span> whenever possible. Given an
		angles ${\angle BAC,}$ and ${\angle CAD,}$ both angles are coterminal if and
		only if both ${\angle BAC}$ and ${\angle CAD}$ share the same side.
	</p>
	<figure>
		<img
			src="images/coterminal_angles.svg"
			alt="coterminal angles"
			class="fifty-p"
			loading="lazy"
		/>
	</figure>
	<p>
		From the diagram above, an angle measure of ${\pi / 2,}$ ${{90}^\circ,}$ is
		coterminal with an angle of measure ${3 \pi / 2,}$ or ${{270}^\circ.}$ When
		thinking about coterminal angles, we must consider the
		<span class="term">reference angle</span>. The reference angle is the
		measure of the smallest, positive, acute angle ${\theta}$ formed by the
		terminal side of the angle ${\theta}$ and the horizontal axis. From this
		definition, a positive reference angle has a terminal side in the first
		quadrant. A helpful algorithm for finding the coterminal angle of an angle
		whose measure is greater than ${{360}^\circ}$:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an angle measure ${m \angle
				\theta}$ greater than ${{360}^\circ,}$ to find the coterminal angle
				between ${{0}^\circ}$ and ${{360}^\circ:}$
			</p>
			<ol>
				<li>Subtract ${{360}^\circ}$ from the ${m \angle \theta}$.</li>
				<li>
					If the result is greater than ${{360}^\circ,}$ subtract
					${{360}^\circ}$ again until the result is between ${{0}^\circ}$ and
					${{360}^\circ.}$
				</li>
				<li>The rsulting angle is coterminal with the original angle.</li>
			</ol>
		</div>
	</figure>
	<p>
		The same algorithm can be narrowed to finding the coterminal angle of an
		angle whose measure is less than ${{0}^\circ:}$
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an angle measure ${m \angle
				\phi}$ less than ${{0}^\circ,}$ to find the coterminal angle between
				${{0}^\circ}$ and ${{360}^\circ,}$
			</p>
			<ol>
				<li>Add ${{360}^\circ}$ to ${m \angle phi.}$</li>
				<li>
					If the result is still less than ${{0}^\circ,}$ add ${{360}^\circ}$
					until the result is between ${{0}^\circ}$ and ${{360}^\circ.}$
				</li>
				<li>The resulting angle is coterminal with ${\angle \phi.}$</li>
			</ol>
		</div>
	</figure>
	<p>Of course, the same algorithms apply to angles measured in radians:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an angle measure ${m \angle
				\beta}$ greater than ${2 \pi,}$ to find a coterminal angle between 0 and
				${2 \pi:}$
			</p>
			<ol>
				<li>Subtract ${2 \pi}$ from ${m \angle \beta.}$</li>
				<li>
					If the result is greater than ${2 \pi,}$ subtract ${2 \pi}$ again
					until the result is between 0 and ${2 \pi.}$
				</li>
				<li>The resulting angle is coterminal with ${\angle \beta.}$</li>
			</ol>
		</div>
	</figure>
</section>
{% endblock %}
