{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="determining_arc_length">
	<h4>Determining Arc Length</h4>
	<p>
		In the discussion on radians, we saw that with radian measure of some
		${\angle \theta,}$ there exists an arc of length ${s}$ that subtends
		${\angle \theta.}$ We can more formally define this relationship as such:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Suppose a circle with a radius of
				length ${r.}$ Suppose further that there exists an ${\angle \beta}$
				whose vertex is the <span class="italicsText">center</span> of the
				circle:
			</p>
			<figure>
				<img
					src="{% static 'images/arc_length_measure.svg' %}"
					alt="arc length"
					class="fifty-p"
					loading="lazy"
				/>
			</figure>
			<p>
				Then the length of the arc ${s}$ subtended by ${\angle \beta}$ with
				measure ${\theta}$ in radians is:
			</p>
			<figure class="math-display">
				<div>
					<p>${s = r \theta}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		From the above definition, we can use the following algorithm to determine
		the length of an arc:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Let ${x}$ be a circle of radius
				${r.}$ To determine the length ${s}$ of an arc subtended by an angle of
				measure ${\theta:}$
			</p>
			<ol>
				<li>If ${\theta}$ is measured in degrees, convert to radians.</li>
				<li>
					Multiply the radius ${r}$ by the radian measure of ${\theta:}$ ${s = r
					\theta.}$
				</li>
			</ol>
		</div>
	</figure>
</section>

<section id="determining_sector">
	<h4>Determining the Area of a Sector</h4>
	<p>
		Now that we know how to compute arc length, we can use this knowledge to
		compute the area of a <span class="term">sector</span> of a circle. A sector
		is a region of a circle bound by two radii and and the subtending arc. In
		other words, the formal term for a slice of pizza is a pizza sector
		(assuming the pizza is circular and the pizza is sliced traditionally). Each
		side of the slice is a radius of length ${r,}$ and the crust is an arc of
		length ${s.}$
	</p>
	<figure>
		<img
			src="{% static 'images/sector_area.svg' %}"
			alt="sector area"
			loading="lazy"
			class="seventy-p"
		/>
	</figure>
	<p>
		How do we determine the area of a sector? First, the area of a circle is
		given by the formula ${A = \pi r^2.}$ This is the area of a full circle. So,
		in terms of an angle that subtends the entire circle, the area of such a
		sector if ${A = (2 \pi / 2 \pi) \pi r^2.}$ But what of some angle ${\theta}$
		that does not fully subtend the cricle? To calculate the sector formed by
		this angle, we would be computing a fraction of the area of the full circle.
		That fraction is ${\theta / 2 \pi}$ where ${\theta}$ is the measure of some
		angle ${\theta}$ in radians. Algebraically:
	</p>
	<figure class="math-display">
		<div>
			<p>${A = \left( \dfrac{\theta}{2 \pi} \right) \pi r^2}$</p>
			<p>${\phantom{A} = \dfrac{\theta \pi r^2}{2 \pi}}$</p>
			<p>${\phantom{A} = \dfrac{1}{2} \theta r^2}$</p>
		</div>
	</figure>
	<p>From the derivation above, we have the following algorithm:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given a circle of radius ${r,}$ to
				find the area of a sector defined by a given angle ${\theta,}$
			</p>
			<ol>
				<li>If the measure of ${\theta}$ is in degrees, convert to radians.</li>
				<li>Apply the formula: ${A = \dfrac{1}{2} \theta r^2}$</li>
			</ol>
		</div>
	</figure>
</section>
{% endblock %}
