{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="average_rate_of_change">
	<h4>Average Rate of Change</h4>
	<p>Consider the function ${f}$ below:</p>
	<figure>
		<img src="{% static 'images/rate_of_change.svg' %}" alt="rate of change" loading="lazy" />
	</figure>
	<p>
		Along the interval ${[b, a],}$ the function ${f}$ is said to be
		<span class="italicsText">changing</span>. There are many ways of describing
		that change, one of which is the
		<span class="term">average rate of change</span> &mdash; the slope of the
		line joining the points ${(a, f(a))}$ and ${(b, f(b)).}$ This slope is
		defined by the open expression:
	</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{\Delta y}{\Delta y} = \dfrac{f(b) - f(a)}{b - a}}$</p>
		</div>
	</figure>
	<p>
		The average rate of change is a measure of how much the function changes, on
		average, with each successive element in its domain over a given interval.
		Note that a positive rate of change does not imply the function is
		increasing. Consider the function above. The average rate of change there is
		clearly positive (the slope of the line between the two points, ${(a,
		f(a))}$ and ${(b, f(b)),}$ is positive. However, we can see that ${G(f)}$ is
		increasing for only part of the interval.
	</p>
	<div class="rule">
		<p>
			<span class="topic">Definition.</span> Given a function ${f}$ and an
			interval ${a \leq x \leq b,}$ the average rate of change of ${f}$ is given
			by the expression:
		</p>
		<figure class="math-display">
			<div>
				<p>${\dfrac{f(b) - f(a)}{b - a}}$</p>
			</div>
		</figure>
	</div>
	<p>
		<span class="topic">The Difference Quotient.</span> Observe the fact that
		given an interval ${[a, b],}$ the average rate of change is defined by the
		expression:
	</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{f(b) - f(a)}{b - a}}$</p>
		</div>
	</figure>
	<p>
		It follows then that if we had an interval ${[a, x],}$ the average rate of
		change is provided by:
	</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{f(x) - f(a)}{x - a}}$</p>
		</div>
	</figure>
	<p>Thus, if the interval is ${[x, x + h],}$ the average rate of change is:</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{f(x + h) - f(x)}{(x + h) - x} = \dfrac{f(x + h) - f(x)}{h}}$
			</p>
		</div>
	</figure>
	<p>
		This final expression is called the
		<span class="term">difference quotient</span>. The difference quotient will
		be explored more extensively in later sections, but all it means is: average
		rate of change.
	</p>
</section>
{% endblock %}
