{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="reciprocal_func">
	<p>
		<span class="topic">The Reciprocal Function</span>. The reciprocal function,
		or more broadly the rational function, is a function of the form ${y =
		\dfrac{1}{x}.}$ Rational functions have the domain and range ${\R^{-} \cup
		\R^{+}.}$ In other words, all real numbers except 0: ${(- \infty, 0) \cup
		(0, +\infty.)}$ The graph:
	</p>
	<figure>
		<img
			src="{% static 'images/basic_rational_func.svg' %}"
			alt="reciprocal"
			loading="lazy"
		/>
	</figure>
	<div class="rule">
		<p><span class="topic">Property.</span> Given ${f(x) = \dfrac{1}{x},}$</p>
		<figure class="math-display">
			<div>
				<p>${\text{dom}(f) = \{ x \in \R \mid x \neq 0 \}}$</p>
				<p>${\text{ran}(f) = \{ x \in \R \mid x \neq 0 \}}$</p>
			</div>
		</figure>
	</div>
</section>
{% endblock %}
