{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="convert_radians">
	<p>
		<span class="topic">Converting between Radians and Degrees.</span> Because
		both radians and degrees are often used, we often need to quickly convert
		between the two. First, note that ${{180}^\circ = \pi \text{ radians}.}$
		This relationship should be memorized, for it is what allows us to quickly
		convert from radians to degrees and vice versa:
	</p>
	<figure class="math-display">
		<div>
			<p>${(2) {180}^\circ = {360}^\circ = 2 \pi}$</p>
			<p>${(1/2) {180}^\circ = {90}^\circ = \pi / 2}$</p>
			<p>${(1/4) {180}^\circ = {45}^\circ = \pi / 4}$</p>
			<p>${(1/6) {180}^\circ = {30}^\circ = \pi / 6}$</p>
			<p>${(1/180) {180}^\circ = {1}^\circ = \pi / 180}$</p>
		</div>
	</figure>
	<p>
		The final conversion is particularly useful when confronting various degree
		measures.
	</p>
	<figure class="math-display">
		<div class="rule">
			<p><span class="topic">Algorithm.</span> Given an an angle ${\theta,}$</p>
			<ol>
				<li>
					To convert from degrees to radians, multiply by ${\pi/180}$ per
					degree.
				</li>
				<li>
					To convert from radians to degrees, multiply by ${180/\pi}$ per
					degree.
				</li>
			</ol>
		</div>
	</figure>
</section>
{% endblock %}
