{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="ML_intro">
	<h2>Programming Languages</h2>
	<p>
		The following materials explore programming languages through
		<span class="monoText">ML</span> (&#8220;Meta Language&#8221;),
		<span class="monoText">Racket</span> (broadly referred to as
		<span class="monoText">Lisp</span>), and <span class="monoText">Ruby</span>.
		These languages all provide different programming paradigms, which these
		materials aim to present.
	</p>
</section>

<section id="comments">
	<p>
		<span class="topic">Comments.</span> Because comments will be used
		extensively in the code examples, we cover their syntax first. Comments in
		<span class="monoText">ML</span> are written as such:
	</p>

	<pre class="language-sml"><code>
		(* This is a comment. *)
	</code></pre>
</section>
{% endblock %}
