{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="simple_data">
	<h3>Simple Data</h3>
	<p>
		<span class="topic">Basic Data Types.</span>
		<span class="monoText">ML</span> has the following data types:
	</p>

	<figure class="table">
		<table class="truth_table heading_center">
			<thead>
				<th>Type</th>
				<th>Values</th>
				<th>Comment</th>
			</thead>
			<tbody>
				<tr>
					<td><span class="blueText">unit</span></td>
					<td>()</td>
					<td>a trivial data type with a single value.</td>
				</tr>
				<tr>
					<td><span class="blueText">bool</span></td>
					<td>true, false</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="blueText">int</span></td>
					<td>0, 1, 179, ~5</td>
					<td>integer values</td>
				</tr>
				<tr>
					<td><span class="blueText">real</span></td>
					<td>0.0, 3.14, ~2.24</td>
					<td>equivalent of floats in other languages; rational numbers</td>
				</tr>
				<tr>
					<td><span class="blueText">char</span></td>
					<td>#"a", #newline</td>
					<td>characters</td>
				</tr>
				<tr>
					<td><span class="blueText">string</span></td>
					<td>"foo", "", " ", "hello world"</td>
					<td>this is NOT the same as a list of characters</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>
{% endblock %}
