{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="type_synonyms">
	<h4>Type Synonyms</h4>
	<p>
		Another extremely useful binding is the
		<span class="term">type synonym</span>. Many languages, for example Swift,
		provide this feature in other terms like
		<span class="italicsText">type alias</span>. A type synonym creates another
		name for existing type. We can then use that name interchangeable with the
		existing type.
	</p>

	<p>For example, if we write:</p>

	<pre class="language-sml"><code>
		type age = int
	</code></pre>

	<p>
		We now have a type called <span class="monoText">age</span>, which we can
		use wherever we must write <span class="monoText">int</span>. Needless to
		say, type synonyms are extremely lead to much more readable and meaningful
		programs.
	</p>

	<p>
		Note that type synonyms are a kind of
		<span class="term">name binding</span>, rather than a
		<span class="term">datatype binding</span>. In a datatype binding, we are
		introducing a new type &mdash; it is not the same as any existing type. The
		datatype binding will create constructors that produce a value of the new
		type. A type synonym, however, is a name binding &mdash; it is simply a name
		that points to an existing data type.
	</p>
</section>
{% endblock %}
