{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="What is a compiler? What is an interpreter? An overview of programming language implementation."
/>
{% endblock %} {% block title %}
<title>PL Basics</title>
{% endblock %} {% block content %}
<h1>Programming Languages: An Overview</h1>
<section id="intro">
	<p>
		In this section, we go over some basic terminology and the big picture
		concepts in programming languages. Given how complex programming language
		design and implementation can be, it's helpful to examine the landscape from
		a high vantage point.
	</p>
	<p>
		First, we should try and identify the contours of what exactly a programming
		language is. When we hear programming language, we often think of examples
		like Java, C++, Python, or JavaScript. We might think of it as a set of
		symbols, governed by rules, that can be translated into machine code. But if
		that were the definition, what about languages like HTML and CSS? Or that
		bash script containing arcane acronyms for shortcuts?
	</p>
	<p>
		Truth be told, it's much easier to include these languages as programming
		languages rather than excluding them. Following this approach, we see that
		programming languages pop up everywhere. When we're writing a program, we
		might realize it would be easier if we wrote our own
		<span class="term">scripting language</span>. Scripting languages, such as
		HTML and CSS, fall under the category of
		<span class="term">domain-specific languages</span>, which are languages
		dedicated to specific tasks. For example, HTML and Markdown are languages
		for markup, or document structure. CSS is a language for styling markup.
		JSON is a language for data-interchange. Make is a language for
		build-automation.
	</p>
</section>
{% endblock %}
