{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="Answers: What is a lemma? What is a conjecture? What is postulate? What is an axiom?"
/>
{% endblock %} {% block title %}
<title>Mathese</title>
{% endblock %} {% block content %}
<h1>Mathese</h1>
<section id="nature_of_mathematics">
	<h2>The Nature of Mathematics</h2>
	<p>
		If we traced a mathematical field's development far enough down history, we
		would find its roots in human responses to external stimuli: Geometry and
		trigonometry grew out of land surveying and astronomy; algebra out of
		accounting; calculus out of describing the physical world. For some,
		development was driven by pressing problems. For others, pure curiosity.
		Regardless of motivation, we harnessed the ability to draw inferences from
		existing inferences. And it is precisely this ability that creates and
		enriches more complex mathematical fields &mdash; abstract algebra, number
		theory, algebraic geometry, topology, the list only grows.
	</p>
	<p>
		But why mathematics? A realist would say we do not know. However, to the
		poetic mathematician, it is arguably because mathematics is the most human
		response to solving problems.
	</p>
	<p>
		When we first encounter a problem, our first reaction is usually to describe
		it. For example, the Mesapotamians likely noticed that counting in their
		number system was difficult for large quantities of things. They may have
		then described the problem: Some numbers were so large that to express them
		required signaling the absence of a digit. The solution? Use a symbol to
		represent that absence (we now know this symbol as the number 0). Over time,
		as we studied the phenomenon of counting, and what 0 means and implies, we
		began noticing relationships to other ideas: ${x + 0 = x}$; ${0 \cdot x =
		0}$; ${x/0 \implies \text{undefined}.}$
	</p>
	<p>
		With enough relationships, we can create a
		<span class="boldText">mathematical model</span>. To do so, we first start
		with <span class="boldText">definitions</span> &mdash; statements explicitly
		assigning meanings to words or symbols. From those definitions, we produce
		<span class="boldText">axioms</span> &mdash; statements that we presume true
		without proof (axioms are also referred to as
		<span class="boldText">postulates</span>). In a sense, axioms are the
		<span class="italicsText">basic assumptions</span> from which we can draw
		conclusions, the very inferences that form relationships.
	</p>
	<p>
		These conclusions are drawn through the the powerful tools of logical
		deduction. The conclusions are formally called
		<span class="boldText">theorems</span> &mdash; statements that we
		<span class="underlineText">know</span> to be true from the axioms and
		definitions we started with.
	</p>
	<p>
		It is at the theorem juncture that we have the great divide of
		mathematicians. One camp stops at the juncture, and its members return to
		the very start of the process to find more theorems elsewhere. These
		explorers are generally referred to as
		<span class="italicsText">pure mathematicians</span>. Another camp takes an
		additional step &mdash; applying the theorems to nature. They take the
		theorems, and use it in their analysis of
		<span class="italicsText">data</span>, information from reality. These
		adventurers are generally referred to as
		<span class="italicsText">applied mathematicians</span>.
	</p>
	<p>
		While being a member of either camp is often fertile ground for jest
		("applied mathematics is soft, pure mathematics is reality-detached"),
		restricting ourselves strictly to one or the other is naive. And in fact,
		most professional mathematicians will wade into the discoveries of the other
		camp, even if only in brief. The pure mathematician neglecting application
		may very well fail to see how her results conflict with the findings from
		the other camp; an observation that more often than not reveals errors in
		axioms and definitions, the very foundations of her theorems. The applied
		mathematician neglecting the work of pure mathematicians will end up
		misapplying theorems, or worse, attempting to prove theorems that have
		already been proven. In their toils, both waste the most valuable resource
		of all &mdash; human time.
	</p>
	<p>
		For this reason, the materials that follow explore both purity and
		application. We will always begin with grounding axioms and definitions,
		occassionally with an observation from nature for context. We then work our
		way up to theorems, and end with applications. Following this procedure, we
		begin by defining
		<span class="italicsText">mathematical language</span>. More specifically,
		we will begin with an area more "reality-detached" than pure mathematics
		itself &mdash; the field of philosophy called
		<span class="italicsText">logic</span>.
	</p>
</section>

<section id="mathematical_definitions">
	<h2>Definitions in Mathematics</h2>
	<p>
		Philosophy has demonstrated time and time again that
		<span class="italicsText">language</span> grounds knowledge. And to
		comprehend language, we must know the meanings of the words we use &mdash;
		<span class="boldText">definitions</span>. There is, however, a dilemma.
		When we define words, we use other words, and in many instances, we find
		that our definitions are circular. "Dead" means lifeless, "lifeless" means
		deprived of life, and "life" means the quality separating an organism from
		<span class="italicsText">dead</span> bodies. Mathematics suffers the same
		problem: a "point" is the common part of two intersecting
		<span class="italicsText">lines</span>, a "line" is the figure traced by a
		<span class="italicsText">point</span> moving along the shortest path
		between two <span class="italicsText">points</span>.
	</p>
	<p>
		The solution: Take a smaller number of words and declare them
		<span class="boldText">undefined</span>. This way, we have words that we can
		use to build definitions, without ever running into the problem of
		circularity. This medicament is unusual, and it often mildly sickens emigres
		at first dose. It is, however, what separates philosophy and mathematics
		from many other fields. Fortunately, time will accustom ourselves to it. As
		we proceed, whenever we encounter a word taken as undefined, we will
		explicitly state that it is undefined.
	</p>
	<p>
		Whenever we construct definitions in mathematics, we must ensure that they
		meet the following criteria:
	</p>
	<ol>
		<li>
			the definition <span class="italicsText">describes</span> something we
			have in mind;
		</li>
		<li>
			the definition <span class="italicsText">includes</span> all of the cases
			we have in mind;
		</li>
		<li>
			the definition <span class="italicsText">excludes</span> all other cases;
		</li>
		<li>the definition is <span class="italicsText">meaningful</span>; and</li>
		<li>the definition is <span class="italicsText">consistent</span>.</li>
	</ol>
	<p>
		For example, we could define a square as "a shape that exists in space."
		This definition fails the first criterion. It merely tells us that there is
		such a shape, but it gives us no indication of what that shape is. It does
		not <span class="italicsText">describe</span> what we have in mind.
	</p>
	<p>
		We could define a rectangle as "a four-sided polygon whose vertex angles are
		right angles, and whose sides are equal." This definition would fail the
		second criterion, because it excludes non-square rectangles &mdash; it does
		not <span class="italicsText">include</span> all of the cases we have in
		mind.
	</p>
	<p>
		We may define a square as "a four-sided polygon with equal sides." This
		definition would fail the third criterion, because it would include
		rectangles and rhombuses, which are cases we did not have in mind. It does
		not <span class="italicsText">exclude</span> all other cases.
	</p>
	<p>
		We could easily define a square as "a line line line line point point point
		point." This definition, however, fails the fourth criterion. It is not
		<span class="italicsText">meaningful</span>.
	</p>
	<p>
		Similarly, we could easily define a square as "a four-sided polygon with
		five equal sides." This definition fails the fifth criterion. It is not
		<span class="italicsText">consistent</span>.
	</p>
	<p>
		A better definition would be define a square as "a four-sided polygon is a
		square <span class="italicsText">if</span>, and
		<span class="italicsText">only if</span>, its sides are all equal and its
		vertex angles are all right angles. The italicized words are logical
		operators, restricting what constitutes a square to two conditions: (1)
		"sides are all equal," and (2) "vertex angles all right angles." The "if"
		tells us that any case satisfying the two conditions is a square, and the
		"only if" tells us that any case failing any one of those two conditions, is
		not a square. This definition effectively meets all of the criteria: it is
		descriptive, it includes all of the cases we have in mind and excludes all
		others, it is meaninful, and it is consistent.
	</p>
</section>

<section id="mathematical_propositions">
	<h2>Propositions in Mathematics</h2>
	<p>
		Once we have defined words, we can begin to form
		<span class="italicsText">sentences</span> with those words. If we think
		about the sentences we use daily, we might observe that there are two kinds,
		or classes, of sentences: sentences that can be said to be true or false,
		and sentences that can not. For example, the sentences "Koror is the capital
		of Palau," and "Dogs are mammals," are sentences that can be given the value
		true or false, and in fact, it is true. However, the sentence "The weather
		is nice today," is not a sentence that can be given the value true or false
		&mdash; a hot summer's day is heaven to those of us who surf, but it may
		very well be hell to our friends nursing hangovers.
	</p>
	<p>
		Sentences that can ascribed the value true or false are called
		<span class="boldText">propositions</span>. For example, the following
		statements are propositions in mathematics:
	</p>
	<ul>
		<li>
			"The sum of the measures of the interior angles of any plane square is
			equal to 360 degrees." (True).
		</li>
		<li>${12 + 5 = 11}$. (False).</li>
	</ul>
	<p>The following sentences are not propositions:</p>
	<ul>
		<li>"Mathematics tastes sweet." (Nonsensical, formally).</li>
		<li>"A triangle consists of three lines and three points." (Vague).</li>
		<li>"It is sunny outside." (Requires us to qualify place).</li>
		<li>
			${x + 5 = 0}$. (Truth cannot cannot be determined until $x$ is given a
			value).
		</li>
	</ul>
	<p>
		We state explicitly here that we've encountered some undefined terms, and
		they will remain undefined: <span class="italicsText">sentences</span>,
		<span class="italicsText">true</span> and
		<span class="italicsText">false</span>.
	</p>
	<p>From these undefined terms, we state our first axioms:</p>
	<ol>
		<li>There exists a class $C$ of sentences.</li>
		<li>
			A sentence is a member of $C$ if, and only if, it can be assigned the
			words <span class="italicsText">true</span> or
			<span class="italicsText">false</span>.
		</li>
		<li>
			The members of $C$ are called
			<span class="italicsText">propositions</span>.
		</li>
		<li>
			Propositions can be assigned one, and only one, of the words
			<span class="italicsText">true</span> or
			<span class="italicsText">false</span>.
		</li>
	</ol>
	<p>We will study what "class" and "members" are shortly.</p>
</section>

<section id="notation_propositions">
	<h2>Notation of Propositions</h2>
	<p>
		A common practice in mathematics, and many other fields, is to use notation.
		This is done as a matter of both efficiency and generalization. Accordingly,
		we represent propositions in mathematics with small letters, the most
		commonly used being $p$, $q$, $r$, $s$, and $t$.
	</p>
	<p>
		We will also represent the values
		<span class="italicsText">true</span> and
		<span class="italicsText">false</span> with the capital letters T for true,
		and F for false. Both T and F are referred to as
		<span class="boldText">truth values</span>. Thus, when we analyze a
		proposition $p$, we can say "$p$ has a truth value of T," or "$p$ has a
		truth value of F."
	</p>
	<p>
		In some situations, we will also use the symbol
		<span class="italicsText">verum</span> for the truth value true: ${\top.}$
		And the symbol <span class="italicsText">falsum</span> for the truth value
		false: ${\bot.}$
	</p>
</section>

<section id="axioms">
	<h2>Axioms in Mathematics</h2>
	<p>
		One of chief tasks of mathematics &mdash; one might say
		<span class="italicsText">the</span> task of mathematics &mdash; is
		determining the truth values of propositions. This is done by (1) gathering
		the propositions whose truth values we have determined, then (2) using logic
		to derive, or evaluate, the truth values of other propositions.
	</p>
	<p>
		However, this can only be done if we have some propositions to begin with.
		Moreover, those propositions,
		<span class="italicsText">initial propositions</span>, must be true. The
		trouble is, we cannot evaluate the truth value of these initial propositions
		because they are <span class="italicsText">the</span> propositions that
		ignite the whole process.
	</p>
	<p>
		The solution: Assume the initial propositions to be true. Accordingly, let's
		make this clear with a definition. An
		<span class="boldText">axiom</span> is an initial proposition assumed to be
		true.
	</p>
	<p>Here is a famous axiom:</p>
	<blockquote>
		We hold these truths to be self-evident, that all men are created equal,
		that they are endowed by their Creator with certain unalienable Rights, that
		among these are Life, Liberty and the pursuit of Happiness ...
	</blockquote>
</section>
{% endblock %}
