{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="percents">
	<!-- Percentages Intro -->
	<h4>Percent</h4>
	<p>
		The word <span class="term">percent</span> is likely an abbreviation for the
		pseudo-Latin <span class="italicsText">per centum</span>, meaning &#8220;per
		hundred.&#8221; Denoted by the ${\%,}$ a percent is a shorthand for
		${n/100,}$ where ${n}$ ${n \in \R.}$ Thus, ${1/4 = 25/100 = 25\%.}$
	</p>
	<div class="compare">
		<div>
			<p><span class="exh">Exercise.</span> What percent of 240 is 48?</p>
			<details class="answer">
				<summary>Solution</summary>
				<p>We solve for ${x}$:</p>
				<figure class="math-display">
					<div>
						<p>${240 (x/100) = 48}$</p>
						<p>${x/100 = 48/240}$</p>
						<p>${x = 100(48/240)}$</p>
						<p>${\phantom{x} = 4800/240}$</p>
						<p>${\phantom{x} = 480/24}$</p>
						<p>${\phantom{x} = 20}$</p>
					</div>
				</figure>
				<p>
					Thus, ${48}$ is ${20\%}$ of ${240.}$ Of course, we could have found
					the percentage with simple arithmetic: ${48/240 = 0.2.}$ Then,
					multiplying ${0.2}$ by ${100,}$ we get ${20\%.}$ We used algebra first
					because it provides the appropriate approach for handling more complex
					percentage problems.
				</p>
			</details>
		</div>

		<div>
			<p><span class="exh">Exercise.</span> 36 is ${120\%}$ of what number?</p>
			<details class="answer">
				<summary>Solution</summary>
				<p>We solve for ${x:}$</p>
				<ul class="answer">
					<li>${x(120/100) = 36}$</li>
					<li>${x(12/10) = 36}$</li>
					<li>${\dfrac{12x}{10} = 36}$</li>
					<li>${12x = 360}$</li>
					<li>${x = 360/12}$</li>
					<li>${x = 30}$</li>
				</ul>
			</details>
		</div>
	</div>
	<p>
		When we increase a number ${x}$ by some percentage, we add the percent of
		${x}$ to ${x}$ itself. For example, if we increase 100 by ${1\%}$, we
		increase 100 by 1, since ${1\%}$ of 100 is 1 &mdash; 101. Likewise, if we
		increase 100 by ${100\%,}$ we obtain 200, since ${100\%}$ of 100 is 100
		${(100 + 100 = 200.)}$
	</p>
</section>
{% endblock %}
