{% extends '../layout.html' %} {% load static %} {% block content %}
<h1>Logarithms</h1>
<section id="intro">
	<p>
		Consider the number 16. How many times can we divide 16 by 2? Let's try it:
	</p>
	<figure class="math-display">
		<div>
			<p>${16 / 2 = 8}$</p>
			<p>${8 / 2 = 4}$</p>
			<p>${4 / 2 = 2}$</p>
			<p>${2 / 2 = 1}$</p>
		</div>
	</figure>
	<p>
		Above, we can see that we can divide the number 16 by 2 a total of 4 times.
		This corresponds to:
	</p>
	<figure class="math-display">
		<div>
			$$ \begin{aligned} 2 \cdot 2 \cdot 2 \cdot 2 &= 2^4 \\ &= 16 \end{aligned}
			$$
		</div>
	</figure>
	<p>
		The answer to &#8220;How many times can we divide a number ${n}$ by this
		constant ${x?}$&#8221; is the <span class="term">logarithm</span>. More
		formally:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Given ${b = a^x,}$ ${a \neq 1,}$
				${a > 0,}$ and ${b > 0,}$
			</p>
			<figure class="math-display">
				<div>
					<p>${a^x = b \iff x = \log_{a}b}$</p>
				</div>
			</figure>
			<p>We say that ${x}$ is the logarithm in base ${a}$ of ${b.}$</p>
		</div>
	</figure>
	<p>
		The logarithm provides a way of deducing, and rewriting, the exponent of a
		number. For example:
	</p>
	<figure class="math-display">
		<div>
			<p>${2^3 = 8 \iff \log_{2}8 = 3}$</p>
			<p>${5^2 = 25 \iff \log_{5}25 = 2}$</p>
			<p>${10^3 = 1000 \iff \log_{10}1000 = 3}$</p>
		</div>
	</figure>
	<p>
		Suppose that ${y = a^x.}$ From the definition above, it follows that ${a =
		\log_{a}y.}$ It follows then that ${x = \log_{a}a^x}$ by substitution. We
		state this as a corollary:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p><span class="topic">Corollary.</span> ${x = \log_{a}a^x}$</p>
		</div>
	</figure>
	<p>
		If ${x = a^y,}$ then again from the definition, ${y = \log_{a}x.}$ It
		follows that ${x = a^{\log_{a}x},}$ provided that ${x > 0.}$ We again state
		this as a corollary:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Corollary.</span> ${x = a^{\log_{a}x},}$ where ${x >
				0}$
			</p>
		</div>
	</figure>
	<p>
		The definition and corollaries above directly lead to the
		<span class="term">laws of logarithms</span>:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Laws.</span> Where ${A, B \in \N,}$ ${c > 0,}$ and
				${c \neq 1,}$
			</p>
			<figure class="math-display">
				<div>
					$$
						\begin{aligned}
							\log_{c}A + \log_{c}B &= \log_{c}(AB) \\[1em]
							\log_{c}A - \log_{c}B &= \log_{c}\left(\dfrac{A}{B}\right) \\[1em]
							n \log_{c}A &= \log_{c}(A^n)
						\end{aligned}
					$$
				</div>
			</figure>
		</div>
	</figure>
</section>
{% endblock %}
