{% extends '../layout.html' %} {% load static %} 

{% block content %}
<h1>Properties of Real Numbers</h1>
<section id="properties_of_reals">
	<!-- Properties of Reals -->
	<p>
		The fundamental properties of real numbers are the rules grounding algebraic
		manipulation. From these properties, we can derive a wide variety of
		mathematical results.
	</p>

	<!-- Commutative Properties -->
	<p>
		<span class="topic">The Commutative Properties.</span> The commutative
		properties allow us to ignore <span class="italicsText">order</span>.
	</p>

	<div class="rule">
		<p>
			<span class="topic">Commutative Property of Addition.</span> Given ${a \in
			\R}$ and ${b \in \R,}$
		</p>
		<figure class="math-display">
			<div>
				<p>${a + b = b + a}$</p>
			</div>
		</figure>
		<p>
			I.e., real numbers may be added in any
			<span class="italicsText">order</span> without affecting the sum.
		</p>
	</div>

	<p>
		We can see that the commutative property of addition is by adding any real
		numbers: ${2 + 7 = 7 + 2 = 9;}$ ${1 + 2 + 3 = 3 + 2 + 1 = 6.}$ The
		commutative property of addition essentially allows us to move addends as
		needed.
	</p>

	<div class="rule">
		<p>
			<span class="topic">Commutative Property of Multiplication.</span> Given
			${a \in \R}$ and ${b \in \R,}$
		</p>
		<figure class="math-display">
			<div>
				<p>${(a)(b) = (b)(a)}$</p>
			</div>
		</figure>
		<p>
			I.e., real numbers may be multiplied in any
			<span class="italicsText">order</span> without affecting the sum.
		</p>
	</div>

	<p>
		Here too the commutative property of multiplication is apparent by
		multiplying any real numbers: ${4 \times 5 = 5 \times 4 = 20;}$ ${(2)(4)(3)
		= (4)(3)(2) = 24.}$ The commutative property of multiplication allows us to
		move factors as needed; a particular useful property for quick computation.
	</p>

	<p>
		<span class="exh">Exercise.</span> Compute ${1 + 2 + 3 + 4 + \ldots + 98 +
		99 + 100.}$
	</p>

	<details class="answer">
		<summary>Solution</summary>
		<p>
			There are 100 terms in this problem. The first term can be paired and
			added with the last term, the second term with the second to last, the
			third with the third to last, etc.: ${(1 + 100) + (2 + 99) + (3 + 98)
			\ldots + (49 + 52) + (50 + 51).}$ Each of these pairs sums to 101. There
			are 50 pairs total, so the sum is: ${50 \cdot 101 = 5050.}$ This
			computation is attributed to the great mathematician Karl Gauss while he
			was a schoolboy.
		</p>
	</details>

	<!-- Associative Properties -->
	<p>
		<span class="topic">The Associative Properties.</span> Where the commutative
		properties allow us to ignore <span class="italicsText">order</span>, the
		associative properties allow us to ignore
		<span class="italicsText">grouping.</span>
	</p>

	<p>
		The <span class="term">associative property of addition</span> allows us to
		group addends however way we please to arrive at the sum.
	</p>

	<div class="rule">
		<p>
			<span class="topic">Associative Property of Addition.</span> Given ${a \in
			\R,}$ ${b \in \R,}$ and ${c \in \R:}$
		</p>
		<figure class="math-display">
			<div>
				<p>${a + b + c = (a + b) + c = a + (b + c)}$</p>
			</div>
		</figure>
		<p>
			I.e., real numbers may be added in any
			<span class="italicsText">grouping</span> without affecting the sum.
		</p>
	</div>

	<p>
		We can think of the associative property as the
		<span class="italicsText">sweet milk-coffee property</span>. If we want
		sweet milk-coffee, we can add the sugar and coffee then the milk, or the
		coffee and the milk then the sugar:
	</p>

	<figure class="math-display">
		<div>
			<p>(sugar + coffee) + milk = sugar + (coffee + milk)</p>
		</div>
	</figure>

	<p>
		<span class="exh">Exercise.</span> Compute ${357 + 17999 + 1}$ without paper
		and pencil.
	</p>
	<details class="answer">
		<summary>Solution</summary>
		<div class="mproof">
			<div class="premises">
				<ul>
					<li>${357 + 17999 + 1}$</li>
					<li>Given</li>
				</ul>
				<ul>
					<li>${357 + (17999 + 1)}$</li>
					<li>The associative property of addition</li>
				</ul>
				<ul>
					<li>${357 + (18000)}$</li>
					<li>Simplify</li>
				</ul>
				<ul>
					<li>${18357}$</li>
					<li>Simplify</li>
				</ul>
			</div>
		</div>
	</details>

	<p>
		Similarly, the
		<span class="term">associative property of multiplication</span> allows us
		to place factors in whatever arrangement we would like to arrive at the
		product. The commutative and associated properties only apply to addition
		and multiplication. They <span class="underlineText">do not apply</span> to
		division and subtraction.
	</p>

	<div class="rule">
		<p>
			<span class="topic">Associative Property of Multiplication.</span> Given
			${a \in \R,}$ ${b \in \R,}$ and ${c \in \R:}$
		</p>
		<figure class="math-display">
			<div>
				<p>${abc = (ab)c = a(bc)}$</p>
			</div>
		</figure>
		<p>
			I.e., real numbers may be multiplied in any
			<span class="italicsText">grouping</span> without affecting the product.
		</p>
	</div>

	<!-- Distributive Property -->
	<p>
		<span class="topic">The Distributive Property.</span> The
		<span class="term">distributive property</span> provides that the product of
		a factor times a sum is the sum of the factor times the addends of the sum.
		This property is unique in that it addresses two operations, multiplication
		and addition.
	</p>

	<div class="rule">
		<p>
			<span class="topic">Distributive Property.</span> Given ${a \in \R,}$ ${b
			\in \R,}$ and ${c \in \R:}$
		</p>
		<figure class="math-display">
			<div>
				<p>${a(b + c) = ab + ac}$</p>
			</div>
		</figure>
	</div>

	<p>
		<span class="exh">Exercise.</span> Compute ${1001 \cdot 20}$ without paper
		and pencil.
	</p>
	<details class="answer">
		<summary>Solution</summary>
		<p>${1001 \cdot 20 = 20(1000 + 1)}$</p>
		<p>${\phantom{1001 \cdot 20} = 20,000 + 20}$</p>
		<p>${\phantom{1001 \cdot 20} = 20,020}$</p>
	</details>

	<p>
		The distributive law is effectively a rule for removing parentheses. It is
		the governing rule of expansion. Consider the following:
	</p>

	<figure class="math-display">
		<div>
			<p>${(a + b)(m + n)}$</p>
		</div>
	</figure>

	<p>Suppose ${c = (m + n).}$ Then:</p>

	<figure class="math-display">
		<div>
			<p>${c(a + b) = ac + bc}$</p>
			<p>${\phantom{c(a + b)} = ac + bc}$</p>
			<p>${\phantom{c(a + b)} = a(m + n) + b(m + n)}$</p>
			<p>${\phantom{c(a + b)} = am + an + bm + bn.}$</p>
		</div>
	</figure>

	<!-- Identity Properties -->
	<p>
		<span class="topic">Identity Properies.</span> The identity properties tell
		us that there are two unique numbers,
		<span class="italicsText">identities</span>, that when added or multiplied
		to the the original number, return the original number.
	</p>

	<div class="rule">
		<p>
			<span class="topic">Identity Property of Addition.</span> Given ${a \in
			\R,}$ there exists a unique number called the
			<span class="italicsText">additive identity</span>, 0, such that:
		</p>
		<figure class="math-display">
			<div>
				<p>${a + 0 = a.}$</p>
			</div>
		</figure>
	</div>

	<div class="rule">
		<p>
			<span class="topic">Identity Property of Multiplication.</span> Given ${a
			\in \R,}$ there exists a unique number called the
			<span class="italicsText">multiplicative identity</span>, 1, such that:
		</p>
		<figure class="math-display">
			<div>
				<p>${a \cdot 1 = 1.}$</p>
			</div>
		</figure>
	</div>

	<!-- Inverse Properties -->
	<p>
		<span class="topic">Inverse Properties.</span> The inverse properties
		provide that when we add a number to a special number called its
		<span class="italicsText">additive inverse</span>, we get back the number's
		additive identity (0), and if we multiply a number to a special number
		called its <span class="italicsText">multiplicative inverse</span>, we get
		back the number's multiplicative identity (1).
	</p>
	<div class="rule">
		<p>
			<span class="topic">Inverse Property of Addition.</span> Given ${a \in
			\R,}$ there exists a unique number ${-a}$ called the
			<span class="italicsText">additive inverse</span>, such that:
		</p>
		<figure class="math-display">
			<div>
				<p>${a + (-a) = 0.}$</p>
			</div>
		</figure>
	</div>
	<p>
		For example, the additive inverse of ${-1}$ is ${1.}$ This property leads to
		a special characteristic of the number 0. The number 0 is the only number
		whose additive inverse is itself.
	</p>
	<div class="rule">
		<p>
			<span class="topic">Inverse Property of Multiplication.</span> Given ${a
			\in \R,}$ there exists a unique number ${1/a,}$ called the
			<span class="italicsText">multiplicative inverse</span>, such that:
		</p>
		<figure class="math-display">
			<div>
				<p>${a \cdot \dfrac{1}{a} = 1}$</p>
			</div>
		</figure>
	</div>
	<p>
		The multiplicative inverse is also called the
		<span class="italicsText">reciprocal</span>. The inverse property of
		multiplication allows us to conclude: ${a\left(\frac{1}{a}\right) = 1.}$
		Again, this property leads to a special characteristic of the number 0. The
		number 0 is the only real number with no multiplicative inverse.
	</p>
</section>
{% endblock %}
