{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="rational_expressions">
	<h3>Rational Expressions</h3>
	<p>
		The quotient of two polynomial expressions is called a
		<span class="italicsText">rational expression</span>. When handling rational
		expressions, we use the same rules applicable to fractions.
	</p>

	<p>
		<span class="topic">Simplifying Rational Expressions.</span> Simplifying a
		rational expressions is no different from simplifying a fraction. The only
		differences is that we must often use the techniques of factorization, as
		well as be mindful of the laws governing variable manipulation.
	</p>
	<figure>
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> To simplify a rational expression:
			</p>
			<ol>
				<li>Factor the numerator and denominator;</li>
				<li>cancel any common factors</li>
			</ol>
		</div>
	</figure>
	<p>For example:</p>
	<figure>
		<div>
			<p>${\dfrac{x^2 - 9}{x^2 + 4x + 3} = \dfrac{(x+3)(x-3)}{(x+3)(x+1)}}$</p>
			<p>
				${\phantom{\dfrac{x^2 - 9}{x^2 + 4x + 3}} =
				\dfrac{\cancel{(x+3)}(x-3)}{\cancel{(x+3)}(x+1)}}$
			</p>
			<p>${\phantom{\dfrac{x^2 - 9}{x^2 + 4x + 3}} = \dfrac{(x-3)}{(x+1)}}$</p>
		</div>
	</figure>

	<p>
		<span class="topic">Multiplying Rational Expressions.</span> We follow the
		same procedures for multiplying fractions when we multiply rational
		expressions:
	</p>
	<figure>
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> To multiply two rational
				expressions:
			</p>
			<ol>
				<li>Factor the numerator and denominator;</li>
				<li>multiply the numerators;</li>
				<li>multiply the denominators</li>
				<li>simplify.</li>
			</ol>
		</div>
	</figure>

	<p>Example:</p>

	<ol class="arg">
		<li>Given:</li>
		<ul>
			<li>
				${\left(\dfrac{x^2 + 4x - 5}{3x +
				18}\right)\left(\dfrac{2x-1}{x+5}\right)}$
			</li>
		</ul>
		<li>Factorization:</li>
		<ul>
			<li>
				${\left(\dfrac{x^2 + 4x - 5}{3x +
				18}\right)\left(\dfrac{2x-1}{x+5}\right) =
				\left(\dfrac{(x+5)(x-1)}{3(x+6)}\right)\left(\dfrac{2x-1}{x+5}\right)}$
			</li>
		</ul>
		<li>Using the associative property of multiplication:</li>
		<ul>
			<li>
				${\phantom{\left(\dfrac{x^2 + 4x - 5}{3x +
				18}\right)\left(\dfrac{2x-1}{x+5}\right)} =
				\dfrac{(x+5)(x-1)(2x-1)}{3(x+6)(x+5)}}$
			</li>
		</ul>
		<li>Cancelling like terms:</li>
		<ul>
			<li>
				${\phantom{\left(\dfrac{x^2 + 4x - 5}{3x +
				18}\right)\left(\dfrac{2x-1}{x+5}\right)} =
				\dfrac{\cancel{(x+5)}(x-1)(2x-1)}{3(x+6)\cancel{(x+5)}}}$
			</li>
		</ul>
		<li>Conclusion:</li>
		<ul>
			<li>
				${\phantom{\left(\dfrac{x^2 + 4x - 5}{3x +
				18}\right)\left(\dfrac{2x-1}{x+5}\right)} =
				\dfrac{(x-1)(2x-1)}{3(x+6)}}$
			</li>
		</ul>
	</ol>

	<p>
		<span class="topic">Adding &amp; Subtracting Rational Expressions.</span>
		Once more, adding and subtracting rational expressions works the same way
		was adding and subtracting fractions: We may add and subtract the fractions
		<span class="underlineText">iff</span> the rational expressions have a
		common denominator. To ease the computation, the
		<span class="italicsText">least common denominator</span> &mdash; the
		smallest multiple that the denominators have in common &mdash; should be
		used whenever possible.
	</p>

	<figure>
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> To add or subtract rational
				expressions:
			</p>
			<ol>
				<li>Factor the numerator and denominator.</li>
				<li>
					Find the least common denominator of the expressions &mdash; to find
					the least common denominator:
				</li>
				<ol>
					<li>Factor the expressions.</li>
					<li>Multiply all of the distinct factors.</li>
				</ol>
				<li>
					Multiply the expressions by a form of 1 that changes the denominators
					to the LCD.
				</li>
				<li>Add or subtract the numerators.</li>
				<li>Simplify.</li>
			</ol>
		</div>
	</figure>

	<p>For example:</p>
	<ol class="arg">
		<li>Given: ${\dfrac{5}{x} + \dfrac{6}{y}}$</li>
		<li>The least common denominator is ${(x)(y).}$</li>
		<li>
			Multiplying the expressions by a form of 1 to ensure the denominator is
			the least common denominator:
		</li>
		<ul>
			<li>
				${\left(\dfrac{5}{x} \cdot \dfrac{y}{y}\right) + \left(\dfrac{6}{y}
				\cdot \dfrac{x}{x} \right)}$
			</li>
		</ul>
		<li>Carrying out the multiplication:</li>
		<ul>
			<li>
				${\left(\dfrac{5}{x} \cdot \dfrac{y}{y}\right) + \left(\dfrac{6}{y}
				\cdot \dfrac{x}{x} \right) = \dfrac{5y}{xy} + \dfrac{6x}{xy}}$
			</li>
			<li>
				${\phantom{\left(\dfrac{5}{x} \cdot \dfrac{y}{y}\right) +
				\left(\dfrac{6}{y} \cdot \dfrac{x}{x} \right)} = \dfrac{5y + 6x}{xy}}$
			</li>
		</ul>
	</ol>

	<p>
		<span class="topic">Simplifying Nested Rational Expressions.</span> Often,
		the numerators and denominators of a rational expression will themselves
		contain rational expressions. They might look like:
	</p>
	<figure>
		<div>
			<p>${\dfrac{a + \dfrac{b}{c}}{\dfrac{d}{e} + \dfrac{f}{g}}}$</p>
		</div>
	</figure>
	<p>
		We call such expressions
		<span class="italicsText">nested rational expressions</span> (the rational
		expressions in the numerators and denominators are colloquially called
		<span class="italicsText">nesting rats</span>). Nested rational expressions
		often strike fear in students, partly because of their size, partly because
		they are not often encountered. Nested rational expressions, however, are a
		good example of where <span class="italicsText">Polish notation</span> has
		an advantage over the more common
		<span class="italicsText">infix notation</span> (the notation above). The
		same expression above can be expressed as:
	</p>
	<figure>
		$$ \begin{aligned} (/ \space &[+ \space a \space (/ \space b \space c)]
		\\[1em] &[+ \space (/ \space d \space e) (/ \space f \space g)])
		\end{aligned} $$
	</figure>
	<p>
		When encountering deeply nested rational expressions like the above,
		consider rewriting the expression in Polish notation and simplifying the
		expression from inside to outside. For most nested rational expressions,
		however, we use the following algorithm:
	</p>
	<figure>
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> To simplify a nested rational
				expression:
			</p>
			<ol>
				<li>
					Combine the expressions in the numerator into a single rational
					expression by adding or subtracting.
				</li>
				<li>
					Combine the expressions in the denominator into a single rational
					expression by adding or subtracting.
				</li>
				<li>
					Rewrite the overall expression as the numerator divided by the
					numerator.
				</li>
				<li>Rewrite the overall expression as a multplication.</li>
				<li>Multiply.</li>
				<li>Simplify.</li>
			</ol>
		</div>
	</figure>
	<p>Example:</p>
	<ol class="arg">
		<li>Given: ${\dfrac{y + \dfrac{1}{x}}{\dfrac{x}{y}}}$</li>
		<li>Combine the expressions in the numerator into a single expression:</li>
		<ul>
			<li>
				${\dfrac{\dfrac{yx}{x} + \dfrac{1}{x}}{\dfrac{x}{y}} = \dfrac{\dfrac{yx
				+ 1}{x}}{\dfrac{x}{y}}}$
			</li>
		</ul>
		<li>Rewrite the expression as multiplication:</li>
		<ul>
			<li>
				${\phantom{\dfrac{\dfrac{yx}{x} + \dfrac{1}{x}}{\dfrac{x}{y}}} =
				\dfrac{yx + 1}{x} \cdot \dfrac{y}{x}}$
			</li>
			<li>
				${\phantom{\dfrac{\dfrac{yx}{x} + \dfrac{1}{x}}{\dfrac{x}{y}}} =
				\dfrac{y(xy + 1)}{x^2}}$
			</li>
		</ul>
	</ol>
</section>

<section id="rationalizing_denominators">
	<p>
		<span class="topic">Rationalizing Radical Denominators.</span> Rational
		expressions can contain radicals in the denominator. These can be cumbersome
		to handle, and it is almost always best to simplify them.
	</p>
	<p>
		To remove radicals from the denominators of rational expressions, we
		multiply the radical expression by the form of 1 that will eliminate the
		radical. If the denominator contains a single term, we multiply the rational
		expression by its reciprocal. I.e., if the rational-radical expression is
		${\dfrac{1}{b \sqrt{c}},}$ we multiply the expression by
		${\dfrac{\sqrt{c}}{\sqrt{c}}.}$
	</p>
	<p>
		Now, if the denominator of the rational-radical expression contains the sum
		of a rational and an irrational term, we multiply the numerator and the
		denominator by the <span class="term">conjugate</span> of the denominator
		&mdash; the expression wherein the sign of the radial portion of the
		denominator is made opposite. For example, if the denominator is ${a + b
		\sqrt{c},}$ then the conjuage is ${a - b \sqrt{c}.}$
	</p>
	<figure>
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given a radical expression of the
				form ${\dfrac{a}{\sqrt{b}},}$
			</p>
			<ol>
				<li>
					Multiply the numerator and the denominator by the radical in the
					denominator.
				</li>
				<li>Simplify.</li>
			</ol>
		</div>
	</figure>
</section>
{% endblock %}
