{% extends '../layout.html' %} {% load static %} 

{% block back %}
<p><a href="{% url 'numerm:balg_nthRoot' %}">${n^{\text{\scriptsize{th}}}}$ Root</a></p>
{% endblock %}

{% block forward %}
<p><a href="{% url 'numerm:balg_rationalExpressions' %}">Rational Expressions</a></p>
{% endblock %}

{% block content %}
<section id="rational_exponents">
	<p>
		<span class="topic">Rational Exponents.</span> Rather than using a radical
		symbol, we can express radical expressions with rational exponents. Needless
		to say, the index of such an exponent
		<span class="underlineText">must</span> be a positive integer:
	</p>
	<figure class="math-display">
		<div>
			<p>${a^{\frac{1}{n}} = \sqrt[n]{a}}$</p>
		</div>
	</figure>
	<p>
		A useful fact: If the index ${n}$ is even, then ${a}$ cannot be negative.
	</p>
	<p>
		We can also have rational exponents with numerators other than 1. If the
		numerator is a number other than 1, then we raise the base to a power and
		take an ${n^{\text{\scriptsize{th}}}}$ root. The numerator tells us the
		power, and the denominator tells us the root:
	</p>
	<figure class="math-display">
		<div>
			<p>${a^{\frac{m}{n}} = (\sqrt[n]{a})^{m} = \sqrt[n]{a^{m}}}$</p>
		</div>
	</figure>
	<p>A useful algorithm:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an expression with a
				rational exponent:
			</p>
			<ol>
				<li>Determine the power by looking at the exponent's numerator.</li>
				<li>Determine the root by looking at the exponent's denominator.</li>
				<li>
					Using the base as the radicand, raise the radicand to the power and
					use the root as the index.
				</li>
			</ol>
		</div>
	</figure>
</section>
{% endblock %}
