{% extends '../layout.html' %} {% load static %} 

{% block content %}
<h1>Classical Algebra</h1>
<section id="basic_algebra_skills">
	<p>
		The materials that follow explore classical algebra.
		<span class="marginnote"
			>The word <span class="italicsText">algebra</span> is derived from the
			Arabic <span class="italicsText">al jebr</span>, which loosely translates
			to &#8220;reunion&#8221; (corresponding to the mathematicians of Baghdad
			gathering the terms of equations). The word
			<span class="italicsText">al jebr</span> gradually evolved into
			<span class="italicsText">algebrista</span>, the term for a
			<span class="italicsText">barber</span> in Medieval span. At the time,
			barbers were also bone-setters; they &#8220;reunited&#8221; bones.</span
		>
		To understand what classical algebra is, we must define (even if crudely)
		what <span class="italicsText">algebra</span> is in general. Specific to
		mathematics, we can think of algebra as akin to the syntax of mathematics
		&mdash; the set of all rules defining when a proposition has meaning.
		Algebra defines what we can and cannot do with symbols, as well as how to
		rewrite our propositions. With a strong grounding in algebra, numerous ideas
		in mathematics suddenly become accessible, which in turn allows us to
		further explore the mathematical universe. There's nothing wrong with this
		thinking, but it's somewhat naive. It doesn't entirely capture what algebra
		really is.
	</p>
	<p>
		A more sophisticated view:
		<span class="term">algebra</span> is the study of
		<span class="italicsText">algebraic structures</span> (also called
		<span class="italicsText">algebras</span>). An algebraic structure, or
		algebra, is a closed system consisting of a
		<span class="italicsText">set</span>, and
		<span class="italicsText">operations</span> on that set. Those operations
		can come in the form of rules, properties, limitations, restrictions,
		exceptions, tests, and a myriad of other words humans come up with. They
		define what we can and cannot do with members of the algebra's set. Viewed
		in this manner, algebras exist everywhere in both reality and the abstract.
	</p>
	<p>
		Chess is an algebra. There is a set &mdash; the chess pieces &mdash; and
		there are operations on that set &mdash; pawn can only move forward, bishop
		diagonally, rook in straight lines, etc. The Internal Revenue Code, which
		defines when tax liability occurs, is an algebra. There is a set (increases
		in financial wealth), and there are operations on that set (a deduction
		here, a loss there, a capital gain then, exclude this, report that). A class
		in an object-oriented programming language like Java is an algebra. It has
		instances (the set) and methods (the operations). Or perhaps even closer to
		home, a course grading policy is an algebra. There is a set (the student's
		grades) and operations on that set (when to curve, when to include extra
		credit, when to subtract points for lateness, when to add points for
		participation, etc.).
	</p>
	<p>
		Algebras define what propositions &#8220;make sense&#8221; in the algebra.
		For example, in the algebra of criminal law, the proposition &#8220;The jury
		returned an innocent verdict&#8221; does not make sense, at least formally
		(and in algebra, we keep things formal). Since a verdict denies or affirms a
		defendant's presumption of innocence, a verdict can only be guilty, not
		guilty, or neither (it only takes one to hang a federal jury). In the
		algebra of the Swift language's
		<span class="monoText">Int</span> protocol, the statement
		<span class="monoText">var a: Int = 1 + 2.3</span> makes no sense, because
		<span class="monoText">2.3</span> is a floating point number, not an
		integer.
	</p>
	<p>
		Similarly in mathematics, there are numerous algebras, each with different
		rules defining a set and its operations, which in turn defines what
		propositions are valid or invalid. In classical algebra, the following
		propositions make sense:
	</p>
	<figure class="math-display">
		<div>
			<p>${a + b = b + a}$</p>
			<p>${a(b + c) = ab + ac}$</p>
			<p>${(a)(b)(c) = (ab)(c) = (a)(bc) = (abc)}$</p>
			<p>${a + 0 = a}$</p>
			<p>
				If ${ab = ac}$ and ${a \neq 0,}$ then ${\cancel{a}b = \cancel{a}c.}$
			</p>
		</div>
	</figure>
	<p>In linear algebra, these propositions make sense:</p>
	<figure class="math-display">
		<div>
			<p>${a^2 = 0}$ and ${a \neq 0.}$</p>
			<p>
				${ab = ac}$ and ${a \neq 0}$ does not imply ${\cancel{a}b =
				\cancel{a}c.}$
			</p>
		</div>
	</figure>
	<p>In boolean algebra, these propositions make sense:</p>
	<figure class="math-display">
		<div>
			<p>${a + bc = (a + b)(a + c)}$</p>
			<p>${a + a = a}$</p>
			<p>${a \cdot a = a}$</p>
			<p>${a(b + a) = a}$</p>
			<p>${ab + a = a}$</p>
		</div>
	</figure>
	<p>
		In the algebra of C++, this proposition (read left to right in order) makes
		sense:
	</p>
	<figure class="math-display">
		<div>
			<p>
				If <span class="monoText">int a = 1; a = 2;</span>
				<span class="monoText">b = a + 1;</span> then
				<span class="monoText">b</span> is 3.
			</p>
		</div>
	</figure>
	<p>
		For most people, the classical algebra looks familiar. However, unless one
		has had experience with linear algebra, set theory, or programming, the
		latter propositions likely look blatantly wrong. All the propositions,
		however, are meaningful
		<span class="italicsText">in their algebras</span>. Recall that we said
		algebras are <span class="italicsText">closed systems</span>. The rules in
		one algebra may be completely different and inapplicable in another. One
		proposition means one thing here, and an entirely different thing there.
		It's not that one system is more wrong or more right than the other; they're
		just different closed systems.
		<span class="marginnote"
			>Propositions having one meaning in one system and an entirely different
			meaning in another system aren't all that odd. Consider this proposition:
			&#8220;The British left waffles on Falklands.&#8221;</span
		>
		At its highest levels, the study of algebra is about untangling these
		systems, and finding connections between them.
	</p>
	<p>
		Before reaching these peak altitudes, we must start at the foot of the
		mountain &mdash; <span class="term">classical algebra</span>. This is the
		algebra most people are familiar with, and it is the oldest of the
		mathematical algebras. It is the algebra taught in early mathematics
		education, whether that's elementary, high school, or a first-year course in
		college. It is what non-mathematicians simply call &#8220;algebra,&#8221;
		and what some schools (unhelpfully) call &#8220;Algebra 1&#8221; and
		&#8220;Algebra 2.&#8221; We will refrain from using these non-descriptive
		and unhelpful terms, given our new understanding of algebra &mdash; the more
		approriate name is <span class="italicsText">classical algebra</span>.
	</p>
	<p>
		Classical algebra is the algebra of real numbers &mdash; the rules governing
		how real numbers and variables are manipulated. We should not underestimate
		the beauty and difficulty of classical algebra. Some problems, as we will
		see, are surprisingly difficult, even if they require applying familiar
		concepts.
	</p>
</section>
{% endblock %}
