{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Algebra cheatsheet" />
{% endblock %} {% block title %}
<title>Algebra Cheatsheet</title>
{% endblock %} {% block content %}
<h1>Algebra Appendix</h1>
<section id="set_theory">
	<h2>Set Theory</h2>
	<section class="ex grid" data-colcade="columns: .grid-col, items: .grid-item">
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--2"></div>
		<div class="grid-col grid-col--3"></div>
		<div class="grid-col grid-col--4"></div>

		<div class="rule grid-item" id="definition_set">
			<p>
				<span class="topic">Definition: Set.</span> A
				<span class="term">set</span> is any well-defined collection of objects.
				By <span class="italicsText">well-defined</span>, we mean that given any
				object in the world, we can determine either (a) the object belongs to
				the set or (b) the object does not belong to the set.
			</p>
		</div>

		<div class="rule grid-item" id="definition_element">
			<p>
				<span class="topic">Definition: Element.</span> Let ${S}$ be any set.
				The objects belonging to ${S}$ are called the
				<span class="term">elements</span>, or
				<span class="term">members</span>, of ${S.}$ If ${x}$ is a member of
				${S,}$ we write ${x \in S.}$ If ${x}$ does not belong to ${S,}$ we write
				${x \notin S.}$
			</p>
		</div>

		<div class="rule grid-item" id="definition_empty_set">
			<p>
				<span class="topic">Definition: The Empty Set.</span> The set containing
				no elements is called the <span class="term">empty set</span>. It is
				denoted with the symbol ${\varnothing.}$
			</p>
		</div>

		<div class="rule grid-item" id="definition_equal_sets">
			<p>
				<span class="topic">Definition: Equal Sets.</span> Two sets ${A}$ and
				${B}$ are equal if, and only if:
			</p>
			<figure class="math-display">
				<div>
					<p>${x \in A \iff x \in B}$</p>
				</div>
			</figure>
			<p>
				If ${A}$ and ${B}$ are equal, we write ${A = B.}$ If ${A}$ and ${B}$ are
				not equal, we write ${A \neq B.}$
			</p>
		</div>

		<div class="rule grid-item" id="definition_finite_set">
			<p>
				<span class="topic">Definition: Finite Set.</span> A set with a definite
				number of elements is called a <span class="term">finite set.</span>
			</p>
		</div>

		<div class="rule grid-item" id="definition_infinite_set">
			<p>
				<span class="topic">Definition: Infinite Set.</span> A set without a
				definite number of elements is called a
				<span class="term">infinite set.</span>
			</p>
		</div>

		<div class="rule grid-item" id="definition_class">
			<p>
				<span class="topic">Definition: Class.</span> A set whose members are
				sets is called a <span class="term">class</span>.
			</p>
		</div>

		<div class="rule grid-item">
			<p>
				<span class="topic">Definition: Indexed Class.</span> A class
				${\mathscr{C}}$ is called an <span class="term">indexed class</span> if
				there exists a set ${S}$ such that for each element ${i \in S,}$ there
				exists a unique member ${A_i}$ in ${\mathscr{C}}$ associated with ${i}$
				and ${\mathscr{C} = \{ A_i : i \in S \}.}$ In this case, the set ${S}$
				is called the <span class="term">index set</span>.
			</p>
		</div>
	</section>
</section>

<section id="set_theory">
	<h2>Algebra</h2>
	<section class="ex grid" data-colcade="columns: .grid-col, items: .grid-item">
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--2"></div>
		<div class="grid-col grid-col--3"></div>
		<div class="grid-col grid-col--4"></div>

		<div class="rule grid-item" id="exponent_laws">
			<p>
				<span class="topic">Exponent Laws.</span> Let ${a \in \R^+.}$ Then the
				following propositions are true:
			</p>
			<ol>
				<li>${a^x a^y = a^{x + y}}$</li>
				<li>${a^x > 0}$</li>
				<li>${\dfrac{a^x}{a^y} = a^{x - y}}$</li>
				<li>${\left( a^x \right)^y = a^{x \cdot y}}$</li>
				<li>${a^{-x} = \dfrac{1}{a^x}}$</li>
				<li>${a^0 = 1}$</li>
				<li>${a^1 = a}$</li>
				<li>${1^x = 1}$</li>
			</ol>
		</div>

		<div class="rule grid-item" id="increasing_exponential_function">
			<p>
				<span class="topic">Increasing Exponential Function.</span> Let ${a \in
				\R.}$ If ${a > 1,}$ then ${f(x) = a^x}$ is an increasing function. That
				is, ${x \leq y \implies a^x \leq a^y}$
			</p>
		</div>

		<div class="rule grid-item" id="decreasing_exponential_function">
			<p>
				<span class="topic">Decreasing Exponential Function.</span> Let ${a \in
				\R.}$ If ${0 < a < 1,}$ then ${f(x) = a^x}$ is a decreasing function.
				That is, ${x \leq y \implies a^x \geq a^y}$
			</p>
		</div>

		<div class="rule grid-item" id="exponential_injection">
			<p>
				<span class="topic">Exponential Injection.</span> Let ${a \in \R.}$ If
				${a > 0}$ and ${a \neq 1,}$ then ${a^x}$ is an injection. That is, ${a^x
				\neq a^y}$ for all ${x \neq y.}$
			</p>
		</div>

		<div class="rule grid-item" id="a_of_one">
			<p>
				<span class="topic">Theorem.</span> Let ${a \in \R.}$ For any ${a > 0,}$
				and ${a \neq 1,}$ ${a^x = 1}$ if and only if ${x = 0.}$
			</p>
		</div>
	</section>
</section>

<section id="set_theory">
	<h2>Calculus</h2>
	<section class="ex grid" data-colcade="columns: .grid-col, items: .grid-item">
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--2"></div>
		<div class="grid-col grid-col--3"></div>
		<div class="grid-col grid-col--4"></div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Derivative of ${e^x.}$</span> If ${y = e^x,}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = e^x}$</p>
				</div>
			</figure>
		</div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Derivative of ${e^{kx}.}$</span> If ${y = e^{kx},}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = ke^{kx}}$</p>
				</div>
			</figure>
		</div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Derivative of ${e^{f(x)}.}$</span> If ${y = e^{f(x)}}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = f'(x)e^{f(x)}}$</p>
				</div>
			</figure>
		</div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Derivative of the Natural Log.</span> If ${y = \ln x,}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = \dfrac{1}{x}}$</p>
				</div>
			</figure>
		</div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Derivative of the Natural Log of a Function.</span> If ${y = \ln [f(x)],}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = \dfrac{f'(x)}{f(x)}}$</p>
				</div>
			</figure>
		</div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Differentiating Products.</span> If ${y = uv,}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = u \dfrac{dv}{dx} + v \dfrac{du}{dx}}$</p>
				</div>
			</figure>
		</div>

		<div class="rule grid-item" id="derivative_of_e">
			<p><span class="topic">Differentiating Quotients.</span> If ${y = \dfrac{u}{v},}$ then:</p>
			<figure>
				<div>
					<p>${\dfrac{dy}{dx} = \dfrac{v \dfrac{du}{dx} - \dfrac{dv}{dx} u}{v^2}}$</p>
				</div>
			</figure>
		</div>
	</section>
</section>
{% endblock %}
