<li>
	<a href="{% url 'numerm:balg_preface' %}">Classical Algebra</a>
	<ul>
		<li>
			<a href="{% url 'numerm:balg_mathese' %}">Speaking Mathematically</a>
		</li>
		<li>
			<a href="{% url 'numerm:balg_realProperties' %}">Properties of Reals</a>
		</li>
		<li>
			<a href="{% url 'numerm:balg_equations' %}">Expressions & Equations</a>
		</li>
		<li>
			<a href="{% url 'numerm:balg_exponentsRadicals' %}"
				>Exponents & Radicals</a
			>
		</li>
		<li><a href="{% url 'numerm:balg_quadratics' %}">Quadratics</a></li>
		<li><a href="{% url 'numerm:balg_logarithms' %}">Logarithms</a></li>
		<li><a href="{% url 'numerm:balg_proportion' %}">Proportions</a></li>
		<li>
			<a href="{% url 'numerm:balg_rationalExpressions' %}"
				>Rational Expressions</a
			>
		</li>
		<li><a href="{% url 'numerm:balg_absoluteValue' %}">Absolute Value</a></li>
		<li>
			<a href="{% url 'numerm:balg_complexNumbers' %}">Complex Numbers</a>
		</li>
		<li><a href="{% url 'numerm:balg_matrices' %}">Matrices</a></li>
	</ul>
</li>
