{% extends '../layout.html' %} {% load static %} {% block content %}
<h1>Game Development: C#</h1>
<section id="intro">
	<p>
		<span class="drop">H</span>umans have played games for millenia. But what is
		a game? A <span class="term">game</span> is an activity that one engages in
		for amusement. This is a broad definition, especially when we consider the
		predicate &#8220;for amusement.&#8221; That predicate expands the definition
		to cover numerous activities. Sports are games. Chess and its cousins
		checkers, go, shogi, chaturanga, xiangqi, janggi, and sittuyin are games.
		But it doesn't stop there: Tax planning; mergers and acquisitions;
		diplomacy; legal trials; so long as the activity is engaged in for
		amusement, they too would qualify as games.
		<span class="marginnote"
			>One can, and ideally should, find amusement with serious work. Where it
			usually goes wrong is when the work is done purely for amusement.</span
		>
	</p>
	<p>
		Of course, not all games are amusing. Every game has
		<span class="term">players</span> and a
		<span class="term">rule set</span> &mdash; without rules, there is no
		playing field, and without players, there is no game.
	</p>
	<p>
		The players in a game need not be distinct individuals. For example, with a
		Rubiks Cube or kendama, we ourselves are the only players. We might try and
		beat our previous records &mdash; a game where the players are distinguished
		temporally.
	</p>
	<p>
		Regardless of the number or nature of players, every game's rule set must
		ensure <span class="term">fairness</span> among the players, and ideally,
		every rule set should ensure <span class="term">amusement</span> among the
		players. Take, for example, the game
		<span class="italicsText">Rock, Paper, Scissors.</span> The rules are
		simple: (1) Rock beats scissors; (2) scissors beats paper; (3) paper beats
		rock; (4) the players must present their choices at the same time. The rule
		set meets the first requirement of fairness. If, however, we suddenly
		introduced a fourth hand that always beats all the other three hands &mdash;
		call it <span class="italicsText">gun</span> &mdash; then the game would
		dissolve to unfairness. Every player would use gun. In such a case, we never
		get to the element of amusement. Without fairness, the question of amusement
		is moot.
	</p>
	<p>
		In this volume, we study game development through C#, the language behind
		<span class="italicsText">Unity</span>, the world's most popular game
		engine. Our study aims for several goals: (1) applying object-oriented
		programming in more challenging environments; (2) recognizing design
		patterns; (3) practical cost-benefit analyses for data structures,
		algorithms, and functions in the real world; and (4) understanding the
		concepts of fairness and amusement through game theory and mathematics.
	</p>
	<p>
		The four goals above stem directly from the fact that game development is
		one of the best environments for practicing real-world programming. In game
		development, user experience and user interface is front and center. There
		is no way to avoid it. Moreover, game development is a field where
		cost-benefit analyses are clear. We envision aspects to a game, and realize
		just how much it would cost to implement those aspects almost immediately.
		And if not immediately, we will see those costs during execution.
	</p>
	<p>
		Notice that learning C# is not listed as one of the goals above, despite
		this volume's title. Learning C# is a mere side-effect of this volume. We
		will examine the language's syntax, semantics, evaluation rules, and
		conventions, but this is just scaffolding for the ultimate end goal: Experiencing game development so as to expand our programming toolbox.
	</p>
</section>
{% endblock %}
