{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Trigonometry" />
{% endblock %} {% block title %}
<title>Trigonometry</title>
{% endblock %} {% block content %}
<h1>Trigonometry</h1>
<section id="angles">
	<h2>Angles</h2>
	<p>
		A <span class="term">ray</span> is one point on a line and all points
		extending in one direction from that point. If we have two rays sharing a
		single point from which they extend, then we have an
		<span class="term">angle</span>. This shared endpoint is called the angle's
		<span class="term">vertex</span>. The two rays are called the angle's
		<span class="term">sides</span>. For example, consider the angle below:
	</p>

	<figure>
		<img
			src="{% static 'images/angleABC.svg' %}"
			alt="angle"
			loading="lazy"
			width="150vw"
			height="150vw"
		/>
	</figure>

	<p>
		We denote the angle above with the symbol ${\angle ABC.}$ The individual
		sides of ${\angle ABC}$ are referenced by referring to the rays themselves,
		${\overrightarrow{\rm BA}}$ and ${\overrightarrow{\rm BC.}}$
	</p>

	<p>
		The creation of an angle is a dynamic procedure. First, the initial position
		&mdash; two rays lying on top of each other. We can refer to this first step
		as the base case of angle creation; an angle of ${0^\circ.}$ One of the two
		rays lies fixed, the other is free to move. The fixed ray is called the
		angle's <span class="term">initial side</span>, and the free ray is called
		the angle's <span class="term">terminal side</span>.
	</p>

	<p>
		To identify the different sides, we draw a small arc and arrow close to the
		vertex, indicating the direction and distance the terminal side moves:
	</p>

	<figure>
		<img
			src="{% static 'images/angle_measure.svg' %}"
			alt="measure"
			loading="lazy"
			width="110vw"
			height="110vw"
		/>
	</figure>

	<p>
		The angle's <span class="term">measure</span> is the amount of rotation from
		the initial side to the terminal side. This amount is contextualized with a
		unit of measurement. The two common units for measuring angles are
		<span class="term">degrees</span>, and <span class="term">radians</span>.
	</p>

	<p>
		<span class="topic">Geometry v. Trigonometry.</span> A triangle ${\triangle
		ABC}$ has sides of length 8, 8, and 8. What are the measures of its angles?
		Because ${\triangle ABC}$ has three equal sides, its three angles are also
		equal. Since the sum of the angles is ${180^\circ,}$ each angle has a
		measure of ${180^\circ / 3 = 60^\circ.}$
	</p>

	<p>
		Geometry allows us to complete the simple problem above. But suppose
		${\triangle DEF}$ has sides 5, 6, and 7. What are the measures of
		${\triangle DEF's}$ angles? What about ${\triangle GHI,}$ where
		${\overrightarrow{\rm HG}}$ has a length of 3, ${\overrightarrow{\rm HI}}$
		has a length of 4, and the angle between them is ${90^\circ.}$ What are
		measures of its other angles? These sorts of questions cannot be answered
		with simple geometry. Instead, what we need is trigonometry.
	</p>
</section>

<section id="coterminal_angles">
	<p>
		<span class="topic">Coterminal Angles.</span> Recall that negative angles
		are angles measured clockwise from the terminal side. While negative angles
		are sometimes necessary, they can be awkward to work with, and it is often
		best to use the corresponding
		<span class="term">coterminal angle</span> whenever possible. Given an
		angles ${\angle BAC,}$ and ${\angle CAD,}$ both angles are coterminal if and
		only if both ${\angle BAC}$ and ${\angle CAD}$ share the same side.
	</p>
	<figure>
		<img
			src="{% static 'images/coterminal_angles.svg' %}"
			alt="coterminal angles"
			width="180vw"
			height="180vw"
			loading="lazy"
		/>
	</figure>
	<p>
		From the diagram above, an angle measure of ${\pi / 2,}$ ${{90}^\circ,}$ is
		coterminal with an angle of measure ${3 \pi / 2,}$ or ${{270}^\circ.}$ When
		thinking about coterminal angles, we must consider the
		<span class="term">reference angle</span>. The reference angle is the
		measure of the smallest, positive, acute angle ${\theta}$ formed by the
		terminal side of the angle ${\theta}$ and the horizontal axis. From this
		definition, a positive reference angle has a terminal side in the first
		quadrant. A helpful algorithm for finding the coterminal angle of an angle
		whose measure is greater than ${{360}^\circ}$:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an angle measure ${m \angle
				\theta}$ greater than ${{360}^\circ,}$ to find the coterminal angle
				between ${{0}^\circ}$ and ${{360}^\circ:}$
			</p>
			<ol>
				<li>Subtract ${{360}^\circ}$ from the ${m \angle \theta}$.</li>
				<li>
					If the result is greater than ${{360}^\circ,}$ subtract
					${{360}^\circ}$ again until the result is between ${{0}^\circ}$ and
					${{360}^\circ.}$
				</li>
				<li>The rsulting angle is coterminal with the original angle.</li>
			</ol>
		</div>
	</figure>
	<p>
		The same algorithm can be narrowed to finding the coterminal angle of an
		angle whose measure is less than ${{0}^\circ:}$
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an angle measure ${m \angle
				\phi}$ less than ${{0}^\circ,}$ to find the coterminal angle between
				${{0}^\circ}$ and ${{360}^\circ,}$
			</p>
			<ol>
				<li>Add ${{360}^\circ}$ to ${m \angle phi.}$</li>
				<li>
					If the result is still less than ${{0}^\circ,}$ add ${{360}^\circ}$
					until the result is between ${{0}^\circ}$ and ${{360}^\circ.}$
				</li>
				<li>The resulting angle is coterminal with ${\angle \phi.}$</li>
			</ol>
		</div>
	</figure>
	<p>Of course, the same algorithms apply to angles measured in radians:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given an angle measure ${m \angle
				\beta}$ greater than ${2 \pi,}$ to find a coterminal angle between 0 and
				${2 \pi:}$
			</p>
			<ol>
				<li>Subtract ${2 \pi}$ from ${m \angle \beta.}$</li>
				<li>
					If the result is greater than ${2 \pi,}$ subtract ${2 \pi}$ again
					until the result is between 0 and ${2 \pi.}$
				</li>
				<li>The resulting angle is coterminal with ${\angle \beta.}$</li>
			</ol>
		</div>
	</figure>
</section>

<section id="radians_v_degrees">
	<p>
		<span class="topic">Radians v. Degrees.</span> A unit
		<span class="italicsText">degree</span> is a ratio. More specifically,
		${{1}^\circ = 1/360.}$ The constant ${{360}^\circ}$ constants a full
		circular rotation. Why 360? Purely arbitrary. It so happens that 360 divides
		nicely, and works well with time measures (i.e., 60 seconds to a minute; 60
		seconds to an hour; in ancient calendars, there were 360 days in a year; and
		the ancient Babylonians had a base-60 number system &mdash; in essence, more
		than likely a cultural artifact).
	</p>

	<p>
		Under the degree unit, a circle is defined to have ${{360}^\circ.}$ Thus, a
		perfect horizontal angle (a <span class="term">straight angle</span>) has a
		measure of ${{180}^\circ.}$ A <span class="term">right angle</span> has a
		measure of ${{90}^\circ.}$ An angle with a measure less than ${{90}^\circ}$
		is called an <span class="term">acute angle</span>, and an angle with a
		measure greater than ${{90}^\circ}$ is an
		<span class="term">obtuse angle</span>.
	</p>

	<p>
		If we measure an angle counterclockwise from the initial side, the angle is
		called a <span class="term">positive angle</span>, and has a positive number
		measure. Inversely, if we measure an angle clockwise from the initial side,
		the angle is called a <span class="term">negative angle</span>, and has a
		negative number measure. Angles whose terminal side lies on an axis &mdash;
		those with measures ${{0}^\circ,}$ ${{90}^\circ,}$ ${{270}^\circ,}$ and
		${{360}^\circ}$ &mdash; are called
		<span class="term">quadrantal angles</span>.
	</p>

	<p>
		Degrees are what most non-mathematicians are familiar with, and is the unit
		we most often encounter at a hardware store. Degrees, however, are not an
		ideal unit when handling trigonometric functions and equations in
		higher-level mathematics. Instead,
		<span class="italicsText">radians</span> are what mathematicians most often
		use. This is because when degrees are used as units in calculus and other
		more complex fields, they almost always end up being converted to radians,
		then back to degrees. This is an unnecessary computation since we could have
		just started with radians in the first place.
	</p>

	<p>
		So what are radians? First, suppose we have a circle with a radius of length
		${r:}$
	</p>

	<figure>
		<img
			src="{% static 'images/circle_radius_r.svg' %}"
			alt="circle r"
			width="140vw"
			height="140vw"
			loading="lazy"
		/>
	</figure>

	<p>Now suppose there is an angle on the circle:</p>

	<figure>
		<img
			src="{% static 'images/circle_r_subtends.svg' %}"
			alt="circle r subtends"
			width="140vw"
			height="140vw"
			loading="lazy"
		/>
	</figure>

	<p>
		On the circle, there is an arc, indicated in red, that
		<span class="term">subtends</span> the ${\theta,}$ meaning the path along
		the circle that intersects the two sides of the angles. Suppose that
		${theta}$ is the exact right size such that the length of the arc is ${r,}$
		the radius. Because the arc is equal to the radius of the circle, let's just
		say that ${\theta = 1 \text{ radian}.}$ This is exactly how the unit radians
		is defined.
	</p>

	<p>Now, what might be the measure of this angle:</p>

	<figure>
		<img
			src="{% static 'images/circle_r_full.svg' %}"
			alt="full subtend"
			width="140vw"
			height="140vw"
			loading="lazy"
		/>
	</figure>

	<p>
		Well, the arc that subtends the angle ${\theta}$ is the entire circle. This
		means the length of that arc is the
		<span class="italicsText">circumference</span> of the circle. And the
		circumference of this circle is ${2 \pi r,}$ where ${r}$ is the radius.
		Hence, the measure of the angle ${\theta}$ is ${2 \pi \text{ radians}.}$
	</p>

	<p>
		Given these facts, it should now be clear why radians are the preferred unit
		for measuring angles. They are
		<span class="underlineText">purely</span> mathematical:
	</p>

	<figure>
		<img
			src="{% static 'images/circle_radians.svg' %}"
			alt="circle full"
			loading="lazy"
		/>
	</figure>

	<p>A more formal definition is provided here:</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Suppose there is an angle
				${\theta}$ with a vertex at the center of a circle with radius ${r.}$
				Let ${s}$ denote the length of arc subtended by ${\theta.}$ Assuming
				${s}$ and ${r}$ have the same linear units, the radian measure of
				${\theta}$ is the ratio of the arc length ${s}$ to the radius ${r.}$
			</p>
			<figure class="math-display">
				<div>
					<p>${\theta = \dfrac{s}{r}}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		Radians can be easily converted to degrees. From the diagram above, we know
		that ${2 \pi \text{ rad} = {360}^\circ,}$ ${\dfrac{\pi}{2} \text{ rad} =
		{90}^\circ,}$ ${\dfrac{\pi}{4} \text{ rad} = {45}^\circ,}$ etc. Because a
		radian is simply a ratio of two lengths (the radius and the arc,) we need
		not include the unit &#8220;rad.&#8221; When it is included, it is simply
		used to indicate an angle measurement. Accordingly, we can simply write ${2
		\pi,}$ ${\dfrac{\pi}{4},}$ and so on. The variable ${r}$ is actually a
		constant, since all angle measures using radians can be expressed as the
		measure of an angle on the <span class="term">unit circle</span>, a circle
		with radius of length 1. Accordingly, we can simply omit the constant ${r}$
		when using radians. It is precisely because of this property that
		mathematicians prefer the radius &mdash; computations and algebraic
		manipulations are much, much cleaner.
	</p>
</section>

<section id="convert_radians">
	<p>
		<span class="topic">Converting between Radians and Degrees.</span> Because
		both radians and degrees are often used, we often need to quickly convert
		between the two. First, note that ${{180}^\circ = \pi \text{ radians}.}$
		This relationship should be memorized, for it is what allows us to quickly
		convert from radians to degrees and vice versa:
	</p>
	<figure class="math-display">
		<div>
			<p>${(2) {180}^\circ = {360}^\circ = 2 \pi}$</p>
			<p>${(1/2) {180}^\circ = {90}^\circ = \pi / 2}$</p>
			<p>${(1/4) {180}^\circ = {45}^\circ = \pi / 4}$</p>
			<p>${(1/6) {180}^\circ = {30}^\circ = \pi / 6}$</p>
			<p>${(1/180) {180}^\circ = {1}^\circ = \pi / 180}$</p>
		</div>
	</figure>
	<p>
		The final conversion is particularly useful when confronting various degree
		measures.
	</p>
	<figure class="math-display">
		<div class="rule">
			<p><span class="topic">Algorithm.</span> Given an an angle ${\theta,}$</p>
			<ol>
				<li>
					To convert from degrees to radians, multiply by ${\pi/180}$ per
					degree.
				</li>
				<li>
					To convert from radians to degrees, multiply by ${180/\pi}$ per
					degree.
				</li>
			</ol>
		</div>
	</figure>

	<!-- * Exercises -->
	<ol class="ex grid" data-colcade="columns: .grid-col, items: .grid-item">
		<div class="grid-col grid-col--1"></div>
		<div class="grid-col grid-col--2"></div>
		<div class="grid-col grid-col--3"></div>
		<div class="grid-col grid-col--4"></div>

		<li class="grid-item">
			${\triangle ABC}$ is a 45-45-90 triangle. If the hypotenuse ${BC = 1}$ what are the lengths of ${AB}$ and ${AC?}$ 
			<details class="answer">
				<summary>Solution</summary>
				<p>From the Pythagorean Theorem, we know ${AC^2 + AB^2 = BC^2.}$ Hence, ${AC^2 + AB^2 = 1^2 = 1.}$ Since this is a 45-45-90 triangle, ${AC = AB.}$ Hence, ${2x^2 = 1,}$ where ${x}$ is the length of ${AB}$ or ${AC.}$ Thus, ${x = \sqrt{\dfrac{1}{2}},}$ or ${\dfrac{1}{\sqrt{2}}.}$</p>
				<p>From this problem, we see obtain some insight about sine, ${\dfrac{opposite}{hypotenuse}}$. By the definition of sine:</p>
				<figure class="math-display">
					<div>
						$$
							\begin{aligned}
								\sin {45}^\circ = \sin \left(\dfrac{\pi}{2}\right) &= \dfrac{AB}{BC}  \\[1em]
								&= \dfrac{1/\sqrt{2}}{1} \\[1em]
								&= \dfrac{1}{\sqrt{2}}
							\end{aligned}
						$$
					</div>
				</figure>
				<p>Notice that the same goes for cosine, ${\dfrac{adjacent}{hypotenuse}}$</p>
			</details>
		</li>
		<li class="grid-item">
			${\triangle XYZ}$ is a 30-60-90 triangle. If the hypotenuse, ${YZ = 1,}$ what are ${XY}$ and ${XZ?}$
			<details class="answer">
				<summary>Solution</summary>
				<p>Because ${\triangle XYZ}$ is a 30-60-90 triangle, we can form an equilateral triangle, ${\triangle TYZ.}$ Because ${\triangle TYZ}$ is equilateral, ${TZ = ZY = 1.}$ Since ${\triangle TYX \cong ZYX,}$ ${TX = XZ.}$ Accordingly, since ${TZ = 1,}$ ${XZ = 1/2.}$ Knowing these facts, we can apply the Pythagorean Theorem:</p>
				<figure class="math-display">
					<div>
						$$
							\begin{aligned}
								XY &= \sqrt{YZ^2 + XZ^2} \\[1em]
								&= \sqrt{1 - \dfrac{1}{4}} \\[1em]
								&= \sqrt{\dfrac{3}{4}} \\[1em]
								&= \dfrac{\sqrt{3}}{2}
							\end{aligned}
						$$
					</div>
				</figure>
			</details>
		</li>
	</ol>	
</section>

<section id="determining_arc_length">
	<h2>Determining Arc Length</h2>
	<p>
		In the discussion on radians, we saw that with radian measure of some
		${\angle \theta,}$ there exists an arc of length ${s}$ that subtends
		${\angle \theta.}$ We can more formally define this relationship as such:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Definition.</span> Suppose a circle with a radius of
				length ${r.}$ Suppose further that there exists an ${\angle \beta}$
				whose vertex is the <span class="italicsText">center</span> of the
				circle:
			</p>
			<figure>
				<img
					src="{% static 'images/arc_length_measure.svg' %}"
					alt="arc length"
					class="ninety-p"
					loading="lazy"
				/>
			</figure>
			<p>
				Then the length of the arc ${s}$ subtended by ${\angle \beta}$ with
				measure ${\theta}$ in radians is:
			</p>
			<figure class="math-display">
				<div>
					<p>${s = r \theta}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		From the above definition, we can use the following algorithm to determine
		the length of an arc:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Let ${x}$ be a circle of radius
				${r.}$ To determine the length ${s}$ of an arc subtended by an angle of
				measure ${\theta:}$
			</p>
			<ol>
				<li>If ${\theta}$ is measured in degrees, convert to radians.</li>
				<li>
					Multiply the radius ${r}$ by the radian measure of ${\theta:}$ ${s = r
					\theta.}$
				</li>
			</ol>
		</div>
	</figure>
</section>

<section id="determining_sector">
	<h4>Determining the Area of a Sector</h4>
	<p>
		Now that we know how to compute arc length, we can use this knowledge to
		compute the area of a <span class="term">sector</span> of a circle. A sector
		is a region of a circle bound by two radii and and the subtending arc. In
		other words, the formal term for a slice of pizza is a pizza sector
		(assuming the pizza is circular and the pizza is sliced traditionally). Each
		side of the slice is a radius of length ${r,}$ and the crust is an arc of
		length ${s.}$
	</p>
	<figure>
		<img
			src="{% static 'images/sector_area.svg' %}"
			alt="sector area"
			loading="lazy"
			class="seventy-p"
		/>
	</figure>
	<p>
		How do we determine the area of a sector? First, the area of a circle is
		given by the formula ${A = \pi r^2.}$ This is the area of a full circle. So,
		in terms of an angle that subtends the entire circle, the area of such a
		sector if ${A = (2 \pi / 2 \pi) \pi r^2.}$ But what of some angle ${\theta}$
		that does not fully subtend the cricle? To calculate the sector formed by
		this angle, we would be computing a fraction of the area of the full circle.
		That fraction is ${\theta / 2 \pi}$ where ${\theta}$ is the measure of some
		angle ${\theta}$ in radians. Algebraically:
	</p>
	<figure class="math-display">
		<div>
			<p>${A = \left( \dfrac{\theta}{2 \pi} \right) \pi r^2}$</p>
			<p>${\phantom{A} = \dfrac{\theta \pi r^2}{2 \pi}}$</p>
			<p>${\phantom{A} = \dfrac{1}{2} \theta r^2}$</p>
		</div>
	</figure>
	<p>From the derivation above, we have the following algorithm:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given a circle of radius ${r,}$ to
				find the area of a sector defined by a given angle ${\theta,}$
			</p>
			<ol>
				<li>If the measure of ${\theta}$ is in degrees, convert to radians.</li>
				<li>Apply the formula: ${A = \dfrac{1}{2} \theta r^2}$</li>
			</ol>
		</div>
	</figure>
</section>

<section id="right_angle_trigonometry">
	<h4>Right Angle Trigonometry</h4>
	<p>
		Recall that an angle is formed by two rays originating from a common vertex.
		Because we are studying trigonometry in the context of continuous
		mathematics, we want to think about trigonometry analytically (i.e., through
		a coordinate system). To do so, we first define the
		<span class="term">standard position</span> for all angles.
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Lemma.</span> An angle is in
				<span class="italicsText">standard position</span> when its vertex has
				the coordinates ${(0,0)}$ and the initial side lies along the positive
				horizontal axis.
			</p>
		</div>
	</figure>

	<p>
		Having covered the basic facts concerning angles and the unit circle, we can
		now proceed to address right angle trigonometry. Consider this triangle
		formed on the unit circle:
	</p>

	<figure>
		<img
			src="{% static 'images/right_triangle_unit_circle.svg' %}"
			alt="right triangle"
			loading="lazy"
			class="sixty-p"
		/>
	</figure>

	<p>
		Each of the sides in the triangle above has a name defined in relation to
		the angle:
	</p>

	<figure>
		<img
			src="{% static 'images/triangle_sides.svg' %}"
			alt="right triangle sides"
			loading="lazy"
			class="sixty-p"
		/>
	</figure>

	<p>
		The <span class="term">adjacent side</span> is the side closest to the angle
		${\theta.}$ The <span class="term">opposite side</span> is the side directly
		across ${\theta.}$ And the <span class="term">hypotenuse</span> is the side
		directly across the right angle.
	</p>

	<p>
		If we know the measure of the angle ${\theta}$ and the length of at least
		one of the sides, we can determine the lengths of the triangle's sides
		through ratios of the lengths of these sides. Because of how pervasive
		triangles are, we give special names to these ratios:
		<span class="term">Sine</span>, <span class="term">Cosine</span>, and
		<span class="term">Tangent</span>. These ratios are defined as such:
	</p>

	<figure class="math-display">
		<div>
			<p>${\sin \theta = \dfrac{\textit{opposite}}{\textit{hypotenuse}}}$</p>
		</div>
		<div>
			<p>${\cos \theta = \dfrac{\textit{adjacent}}{\textit{hypotenuse}}}$</p>
		</div>
		<div>
			<p>${\tan \theta = \dfrac{\textit{opposite}}{\textit{adjacent}}}$</p>
		</div>
	</figure>

	<p>
		A common mnemonic for recalling these ratios is
		<span class="italicsText">SohCahToa</span> ("Sine is opposite over
		hypotenuse, cosine is adjacent over hypotenuse, and tangent is opposite over
		adjacent."). Note that from our current analysis, we have defined these
		ratios as only applying to angles between ${0}$ and ${\pi / 2.}$ (The ratios
		can be extended more generally to all triangles, but for now, we concern
		ourselves only to ${0 \leq \theta \leq \pi / 2.}$)
	</p>

	<p>
		<span class="topic">Reciprocal Trigonometric Ratios.</span> Alongside sine,
		cosine, and tangent, we have their reciprocals:
	</p>

	<figure class="math-display">
		<div>
			<p>${\cosec \theta = \dfrac{\textit{hypotenuse}}{\textit{opposite}}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\sec \theta = \dfrac{\textit{hypotenuse}}{\textit{adjacent}}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\cot \theta = \dfrac{\textit{adjacent}}{\textit{opposite}}}$</p>
		</div>
	</figure>

	<p>
		From the above, we can see that ${\cosec \theta}$ is the reciprocal of
		${\sin \theta,}$ ${\sec \theta}$ is the reciprocal of ${\cos \theta,}$ and
		${\cot \theta}$ is the reciprocal of ${\tan \theta.}$ In other words:
	</p>
	<figure class="math-display">
		<div>
			<p>${\cosec \theta = \dfrac{1}{\sin \theta}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\sec \theta = \dfrac{1}{\cos \theta}}$</p>
		</div>
	</figure>

	<figure class="math-display">
		<div>
			<p>${\cot \theta = \dfrac{1}{\tan \theta}}$</p>
		</div>
	</figure>

	<p>
		<span class="topic">Special Triangles.</span> Some angles serve as base
		cases because of how they cleanly divide the unit circle and how commonly
		they occur. These angles are ${0}$ (${{0}^\circ}$), ${\pi / 6}$
		(${{30}^\circ}$), ${\pi / 4}$ (${{45}^\circ}$), ${\pi / 3}$
		(${{60}^\circ}$), and ${\pi / 2}$ (${{90}^\circ}$).
	</p>

	<p>
		The <span class="term">isosceles triangle</span>, for example, is a right
		triangle with two equal sides and two equal angles. Because all right
		triangles must have a total degree measure of ${2 \pi,}$ we know that the
		isosceles triangle has two angles with a measure of ${\pi / 4,}$ and one
		angle, a right angle, of measure ${\pi / 2.}$ This means the isosceles
		triangle has lengths of ${s, s,}$ and ${\sqrt{2}s.}$
	</p>

	<p>
		The <span class="term">30-60-90 triangle</span> is another special triangle
		with a right angle and two acute angles. In this case, the triangle has legs
		of lengths ${s}$ and ${\sqrt{3}s,}$ and a hypotenuse of ${2s.}$ The 30-60-90
		triangle arises often because it is half of an
		<span class="term">equilateral triangle</span>, a triangle with sides of all
		equal lengths. Visualizing these triangles:
	</p>

	<figure>
		<img
			src="{% static 'images/special_triangles.svg' %}"
			alt="special triangles"
			loading="lazy"
		/>
	</figure>

	<p>
		The 30-60-90 triangle's special nature comes from a theorem in the geometry
		kingdom:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Theorem.</span> Given a 30-60-90 triangle, the
				length of the side opposite ${30^\circ}$ is ${\dfrac{1}{2}}$ the length
				of the hypotenuse.
			</p>
		</div>
	</figure>

	<p>
		Suppose ${y}$ is the length of the 30-60-90 triangle's leg opposite
		${{60}^\circ.}$ Following the Pythagorean Theorem, we have ${y^2 + x^2 =
		(2x)^2,}$ where ${y}$ is the hypotenuse. In other words: ${y^2 = 4x^2 - x^2
		= 3x^2.}$ Finally, solving for ${y}$ we have: ${y = \sqrt{3}x.}$
	</p>

	<p>
		For the isosceles triangle, both legts are equal. Thus, we can label both
		legs with the same variable, ${x}$ (say). Hence, by the Pythagorean Theorem
		gain, ${y^2 = x^2 + x^2 = 2x^2,}$ where ${y}$ is the hypotenuse. Solving for
		${y}$ we obtain ${y = \sqrt{2}x.}$
	</p>

	<p>
		Recalling that the trigonometric ratios pertain to ratios, and as such do
		not depend on size, we have the following base cases:
	</p>

	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>${m \angle \theta}$ (radians)</th>
				<th>${m \angle \theta}$ (degrees)</th>
				<th>${\sin \theta}$</th>
				<th>${\cos \theta}$</th>
				<th>${\tan \theta}$</th>
			</thead>
			<tbody>
				<tr>
					<td>${0}$</td>
					<td>${{0}^\circ}$</td>
					<td>${\dfrac{\sqrt{0}}{2} = 0}$</td>
					<td>${\dfrac{\sqrt{4}}{2} = 1}$</td>
					<td>${0}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{6}}$</td>
					<td>${{30}^\circ}$</td>
					<td>${\dfrac{\sqrt{1}}{2} = \dfrac{1}{2}}$</td>
					<td>${\dfrac{\sqrt{3}}{2}}$</td>
					<td>${\dfrac{1}{\sqrt{3}}}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{4}}$</td>
					<td>${{45}^\circ}$</td>
					<td>${\dfrac{\sqrt{2}}{2} = \dfrac{1}{\sqrt{2}}}$</td>
					<td>${\dfrac{\sqrt{2}}{2} = \dfrac{1}{\sqrt{2}}}$</td>
					<td>${1}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{3}}$</td>
					<td>${{60}^\circ}$</td>
					<td>${\dfrac{\sqrt{3}}{2}}$</td>
					<td>${\dfrac{\sqrt{1}}{2} = \dfrac{1}{2}}$</td>
					<td>${\sqrt{3}}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{2}}$</td>
					<td>${{90}^\circ}$</td>
					<td>${\dfrac{\sqrt{4}}{2} = 1}$</td>
					<td>${\dfrac{\sqrt{0}}{2} = 0}$</td>
					<td>${\textit{undefined}}$</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>

<section id="equal_cofunction_of_complements">
	<p>
		<span class="topic">Sine and Cosine of Complements.</span> Notice that with
		special angles, ${\sin (\pi/3)}$ is ${\sqrt{3} / 2,}$ and ${\cos (\pi/6)}$
		is also ${\sqrt{3} / 2.}$ Similarly, ${\sin (\pi/6) = 1/2}$ and ${\cos (\pi
		/ 3) = 1/2.}$ In other words:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\sin \left( \dfrac{\pi}{3} \right) = \cos \left( \dfrac{\pi}{6}
				\right) = \dfrac{\sqrt{3}}{2}}$
			</p>
			<p>
				${\sin \left( \dfrac{\pi}{6} \right) = \cos \left( \dfrac{\pi}{3}
				\right) = \dfrac{1}{2}}$
			</p>
		</div>
	</figure>

	<p>
		This is not a surprising result. The side opposite the angle ${\pi/3}$ is
		the side adjacent to the angle ${\pi/6,}$ so ${\sin (\pi/6)}$ and ${\cos
		(\pi/6)}$ are exactly the same ratio. The same goes for ${\cos (\pi/3)}$ and
		${\sin (\pi/6).}$
	</p>
	<p>
		The connection between sine and cosine extends to all the acute angles of a
		right triangle, given the facts that every right triangle has a total degree
		measure of ${\pi,}$ and because the two acute angles are
		<span class="term">complementary angles</span> &mdash; because the right
		triangle has a measure of ${\pi/2,}$ the two acute angles must both total
		${\pi/2.}$
	</p>
	<p>
		The relationship between sine and cosine is the result of a
		<span class="term">cofunction identity</span> &mdash; if any two angles are
		complementary, the sine of one is the cosine of the other, and vice versa.
		Knowing this relationship allows us to rewrite trigonometric expressions
		quickly.
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\sin \left( \dfrac{\pi}{12} \right) = \cos \left( \dfrac{5\pi}{12}
				\right)}$
			</p>
			<p>
				${\sin \left( \dfrac{5 \pi}{12} \right) = \cos \left( \dfrac{\pi}{12}
				\right)}$
			</p>
			<p>
				${\cos \theta = \dfrac{5}{13} = \sin \left(\dfrac{\pi}{2} - \theta
				\right) = \dfrac{5}{13}}$
			</p>
		</div>
	</figure>
	<p>Some of the more common cofunction identities:</p>
	<div class="compare">
		<div>
			<p>${\sin \theta = \cos \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\cos \theta = \sin \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\sec \theta = \csc \left( \dfrac{\pi}{2} - \theta \right)}$</p>
		</div>
		<div>
			<p>${\csc \theta = \sec \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\tan \theta = \cot \left( \dfrac{\pi}{2} - \theta \right)}$</p>
			<p>${\cot \theta = \tan \left( \dfrac{\pi}{2} - \theta \right)}$</p>
		</div>
	</div>
	<p>A helpful algorithm for determining sine and cosine:</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Suppose there is some angle
				${\theta.}$ To find the sine and cosine of its complement ${\iota:}$
			</p>
			<ol>
				<li>To find ${\sin (\iota),}$ find ${\cos (\theta).}$</li>
				<li>To find ${\cos (\iota),}$ find ${\sin (\theta).}$</li>
			</ol>
		</div>
	</figure>
</section>

<section id="notation_conventions">
	<p>
		<span class="topic">Notational Conventions.</span> There are three
		notational conventions to bear in mind when handling the trigonometric
		functions. These conventions are largely a result of tradition and history.
	</p>
	<p>
		First, we often suppress the parentheses for trigonometric functions, so
		long as doing so is not confusing. For example, ${sin (\theta)}$ is simply
		written as ${sin \theta.}$ To that end, if the function is parametrized with
		a particularly long expression, parentheses should be included. E.g., ${sin
		(\theta + 1/x).}$
	</p>
	<p>
		Furthermore, parentheses are also suppressed for multiplication. For
		example, the expression ${\sin \theta \cos \theta}$ is equivalent to ${(\sin
		(\theta))(\cos (\theta)).}$ Similarly, ${2 \sin \theta}$ is equivalent to
		${2(\sin (\theta)).}$ If we ever think that applying these conventions leads
		to ambiguity, it is best to err on the side of including parentheses.
	</p>
	<p>
		Finally, the quantity ${(\sin \theta)^n}$ is almost always simply written as
		${\sin^n \theta.}$ Thus, the expression ${\sin^n \theta}$ is equivalent to
		${(\sin \theta)^2.}$ <span class="underlineText">But</span> this convention
		does not apply ${\sin^{-1} \theta.}$ This is an entirely different function
		(the ${\arcsin}$ function) to be addressed in later sections.
	</p>
</section>

<section id="applying_trig">
	<h4>Applying Trigonometry</h4>
	<p>
		Knowing what we know now about trigonometry, we can now find find all three
		sides of a a triangle if we know the length of af at least one side and the
		measure of at least one acute angle.
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Algorithm.</span> Given a right triangle, the length
				of one side, and the measure of one acute angle, to find the remaining
				sides:
			</p>
			<ol>
				<li>
					For each side, apply the trigonometric ratio expressing the unknown
					side as either the numerator or the denominator, and the known side
					the other.
				</li>
				<li>
					Write an equation setting the ratio's value equal to the ratio of the
					corresponding sides.
				</li>
				<li>Solve for missing side length.</li>
			</ol>
		</div>
	</figure>
	<p>
		For example, suppose a right triangle ${\triangle ABC,}$ with a hypotenuse
		of length ${x,}$ its longest leg of length ${y}$ and its shortest leg of
		length ${7.}$ ${\triangle ABC}$ is a 30-60-90 triangle. Why might be the
		lengths of ${a}$ and ${c?}$
	</p>
	<p>
		First, because this is a 30-60-90 triangle, we know that ${\tan (\pi/6) =
		\dfrac{7}{a}.}$ We can then write ${a = \dfrac{7}{\tan(\pi/6)} \approx
		12.1244.}$ Next, we can then use sine to find the hypotenuse. ${sin(\pi/6) =
		\dfrac{7}{c}.}$ Rewriting to solve for ${c,}$ ${c = \dfrac{7}{\sin(\pi/6)} =
		14.}$
	</p>
</section>
{% endblock %}
