<li class="grid-item">
	<a href="{% url 'numerc:py_preface' %}"
		><span class="boldText">Machine Learning: Python</span></a
	>
	<ul>
		<li><a href="{% url 'numerc:py_programs' %}">Programs in Python</a></li>
		<li><a href="{% url 'numerc:py_libraryImport' %}">Importing Libraries in Python</a></li>
		<li><a href="{% url 'numerc:py_variables' %}">Simple Data</a></li>
		<li><a href="{% url 'numerc:py_controlFlow' %}">Control Flow</a></li>
		<li><a href="{% url 'numerc:py_floatsFractions' %}">Floats and Fractions</a></li>
		<li><a href="{% url 'numerc:py_decomposition' %}">Decomposition & Abstraction</a></li>
		<li><a href="{% url 'numerc:py_structuredTypes' %}">Structured Types</a></li>
		<li><a href="{% url 'numerc:py_tuples' %}">Tuples</a></li>
		<li><a href="{% url 'numerc:py_lists' %}">Lists</a></li>
		<li><a href="{% url 'numerc:py_mutability' %}">Mutability</a></li>
		<li><a href="{% url 'numerc:py_functionObjects' %}">Functions as Objects</a></li>
		<li><a href="{% url 'numerc:py_dictionaries' %}">Dictionaries</a></li>
		<li><a href="{% url 'numerc:py_tests' %}">Testing</a></li>
		<li><a href="{% url 'numerc:py_bugs' %}">Debugging</a></li>
		<li><a href="{% url 'numerc:py_exceptionsAssertions' %}">Exceptions & Assertions</a></li>
		<li><a href="{% url 'numerc:py_oop' %}">Object-oriented Programming</a></li>
		<li><a href="{% url 'numerc:py_classes' %}">Classes</a></li>
		<li><a href="{% url 'numerc:py_sets' %}">Sets</a></li>
		<li><a href="{% url 'numerc:py_hierarchies' %}">Hierarchies</a></li>
		<li><a href="{% url 'numerc:py_classVariables' %}">Class Variables</a></li>
	</ul>
</li>
