{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="python_boolean_operators">
	<h4>Boolean Operators</h4>
	<p>
		The <span class="italicsText">Boolean operators</span> are what allow us to
		connect, or link, particular conditions. These operators are the following:
	</p>
	<figure>
		<table>
			<thead>
				<th>Boolean operator</th>
				<th>Meaning</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<span class="monoText"><span class="redText">not</span> a</span>
					</td>
					<td>
						If <span class="monoText">a</span> evaluates to
						<span class="monoText">True</span>, then
						<span class="monoText">not a</span> evaluates to
						<span class="monoText">False</span>; if
						<span class="monoText">a</span> evaluates to
						<span class="monoText">False</span>, then
						<span class="monoText">not a</span> evaluates to
						<span class="monoText">True</span>.
					</td>
				</tr>
				<tr>
					<td>
						<span class="monoText">a <span class="redText">and</span> b</span>
					</td>
					<td>
						If, and only if, <span class="monoText">a</span> evaluates to
						<span class="monoText">True</span>
						<span class="italicsText">and</span>
						<span class="monoText">b</span> evaluates to
						<span class="monoText">True</span>, then
						<span class="monoText">a and b</span> evaluates to
						<span class="monoText">True</span>; otherwise,
						<span class="monoText">a and b</span> evaluates to
						<span class="monoText">False</span>.
					</td>
				</tr>
				<tr>
					<td>
						<span class="monoText">a <span class="redText">or</span> b</span>
					</td>
					<td>
						If <span class="monoText">a</span> evaluates to
						<span class="monoText">True</span>,
						<span class="monoText">b</span> evaluates to
						<span class="monoText">True</span>,
						<span class="italicsText">or</span> both
						<span class="monoText">a</span> and
						<span class="monoText">b</span> evaluate to
						<span class="monoText">True</span>, then
						<span class="monoText">a or b</span> evaluates to true; if, and only
						if, <span class="monoText">a</span> evaluates to
						<span class="monoText">False</span>
						<span class="italicsText">and</span>
						<span class="monoText">b</span> evaluates
						<span class="monoText">False</span>, then
						<span class="monoText">a or b</span> evaluates to
						<span class="monoText">False</span>.
					</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		Note that the <span class="italicsText">equality operator</span> (<span
			class="monoText"
			>==</span
		>) and the <span class="italicsText">nonequality operator</span> (<span
			class="monoText"
			>!=</span
		>) <span class="underlineText">do not</span> test for equality of type. They
		only test for equality of value:
	</p>
	<pre class="command-line language-bash" data-output=""><code>
		in [1]: 5/2 == 5/2.0
		out[1]: True
		in [2]: 5*2 == 5.0*2.0
		out[2]: True
	</code></pre>
	<p>If we wanted to check for equality of type, we would write:</p>
	<pre class="command-line language-bash" data-output=""><code>
		in [1]: type(5*2) == type(5.0*2.0)
		out[1]: False
	</code></pre>
</section>

<section id="boolean_operator_precedence">
	<h5>Boolean Operators: Order of Precedence</h5>
	<p>Like the arithmetic operators, Boolean operators in Java follow an order of precedence:</p>
	<ol>
		<li>Python always looks at expressions inside parentheses first.</li>
		<li>Inside the parentheses, or once the parentheses have been evaluated, <span class="monoText">NOT</span> statements are evaluated first.</li>
		<li><span class="monoText">AND</span> statements evaluated second.</li>
		<li><span class="monoText">OR</span> statements are evaluated last.</li>
	</ol>
</section>
{% endblock %}
