{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="python_comparison_operators">
	<h4>Comparison Operators</h4>
	<p>
		With just arithmetic operators and variables, we can only perform arithmetic
		computations. But, there's more to computation than arithmetic. A
		cornerstone to computation is the ability to address
		<span class="italicsText">cases</span>. We don't perform the same
		computation for every single thing. In fact, what computation we perform
		depends on whether certain <span class="italicsText">conditions</span> are
		met. To determine whether those conditions are met, we need the ability to
		<span class="italicsText">compare</span> values. Below are the comparison
		operators for the types <span class="monoText">int</span> and
		<span class="monoText">float</span>:
	</p>
	<figure>
		<table>
			<thead>
				<th>Comparison Operator</th>
				<th>Meaning</th>
			</thead>
			<tbody>
				<tr>
					<td><span class="monoText">i > j</span></td>
					<td>
						Tests whether <span class="monoText">i</span> is greater than
						<span class="monoText">j</span>; ${i > j.}$
					</td>
				</tr>
				<tr>
					<td><span class="monoText">i >= j</span></td>
					<td>
						Tests whether <span class="monoText">i</span> is greater than OR
						equal to <span class="monoText">j</span>; ${i \geq j.}$
					</td>
				</tr>
				<tr>
					<td><span class="monoText">i < j</span></td>
					<td>
						Tests whether <span class="monoText">i</span> is less than
						<span class="monoText">j</span>; ${i < j.}$
					</td>
				</tr>
				<tr>
					<td><span class="monoText">i <= j</span></td>
					<td>
						Tests whether <span class="monoText">i</span> is less than OR equal
						to <span class="monoText">j</span>; ${i \leq j.}$
					</td>
				</tr>
				<tr>
					<td><span class="monoText">i == j</span></td>
					<td>
						Tests whether <span class="monoText">i</span> is equal to
						<span class="monoText">j</span>; ${i = j.}$
					</td>
				</tr>
				<tr>
					<td><span class="monoText">i != j</span></td>
					<td>
						Tests whether <span class="monoText">i</span> is NOT equal to
						<span class="monoText">j</span>; ${i \neq j.}$
					</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		The expressions using the operators above are called
		<span class="boldItalics">logical expressions</span>. Logical expressions
		return objects of type <span class="monoText">bool</span>: the values
		<span class="monoText">True</span> or <span class="monoText">False</span>.
		To use logical expressions, we need another set of operators called
		<span class="italicsText">Boolean operators</span>.
	</p>
</section>
{% endblock %}
