{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="python_files">
	<h3>Python Files</h3>
	<p>
		<span class="topic">Writing to Files.</span> As we proceed to the next
		sections, we will begin writing our own modules. To do so, we need a way to
		save our work for later use. In Python, this is done through a
		<span class="term">file handle</span>. This appears as such:
	</p>
	<pre class="language-python"><code>
		nameHandle = open('outputs', 'w')
	</code></pre>
	<p>
		The code above tells Python to open a file named
		<span class="monoText">outputs</span>. The second argument,
		<span class="monoText">w</span>, tells Python we will write to that file. We
		then bind that function's result to a name,
		<span class="monoText">nameHandle</span>, so we can refer to that result and
		use it:
	</p>
	<pre class="language-python"><code>
		nameHandle = open('outputs', 'w')
		for i in range(2):
			name = input("Enter name: ")
			nameHandle.write(name + '\')
		nameHandle.close()
	</code></pre>
	<p>
		This code will open a file named <span class="monoText">outputs</span>, and
		write to that file the <span class="monoText">name</span> inputted by the
		user, followed by a new line (a carrier return). Once that's done, close the
		<span class="monoText">outputs</span> file (<span class="monoText"
			>nameHandle.close()</span
		>).
	</p>
	<p>
		<span class="topic">Reading Files.</span> With data stored in a separate
		file, we can read the data by replacing the argument
		<span class="monoText">w</span> with <span class="monoText">r</span>:
	</p>
	<pre class="language-python"><code>
		nameHandle = open('outputs', 'r')
		for line in nameHandle:
			print(line)
		nameHandle.close()
	</code></pre>
	<p>
		<span class="exh">Exercise.</span> Below are two files,
		<span class="monoText">foo.py</span> and
		<span class="monoText">bar.py</span>. The file
		<span class="monoText">bar.py</span> is executed. What is the result printed
		to the console?
	</p>
	<ol>
		<li>
			<div class="compare">
				<pre class="language-python"><code>
					# foo.py
					aa = "AA"
					aaa = "AAA"
					c = "C"
					d = "D"
				</code></pre>
				<pre class="language-python"><code>
					# bar.py
					aa = "aa"
					tripleA = "aaa"
					print(aa)
				</code></pre>
			</div>
			<details class="answer">
				<summary>Solution</summary>
				<p>The string <span class="monoText">aa</span> is printed.</p>
			</details>
		</li>
		<li>
			<div class="compare">
				<pre class="language-python"><code>
					# foo.py
					aa = "AA"
					aaa = "AAA"
					c = "C"
					d = "D"
				</code></pre>
				<pre class="language-python"><code>
					aa = "aa"
					tripleA = "aaa"
					print(foo.py)
				</code></pre>
			</div>
			<details class="answer">
				<summary>Solution</summary>
				<p>An error is returned.</p>
			</details>
		</li>
		<li>
			<div class="compare">
				<pre class="language-python"><code>
					# foo.py
					aa = "AA"
					aaa = "AAA"
					c = "C"
					d = "D"
				</code></pre>
				<pre class="language-python"><code>
					# bar.py
					import foo
					aa = "aa"
					tripleA = "aaa"
					print(batteries.aa)
				</code></pre>
			</div>
			<details class="answer">
				<summary>Solution</summary>
				<p>The string <span class="monoText">AA</span> is printed.</p>
			</details>
		</li>
		<li>
			<div class="compare">
				<pre class="language-python"><code>
					# foo.py
					aa = "AA"
					aaa = "AAA"
					c = "C"
					d = "D"
				</code></pre>
				<pre class="language-python"><code>
					# bar.py
					from batteries import *
					aa = "aa"
					print(aa, aaa, c, d)
				</code></pre>
			</div>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					The strings <span class="monoText">aa</span>,
					<span class="monoText">AAA</span>, <span class="monoText">C</span>,
					and <span class="monoText">D</span> are printed.
				</p>
			</details>
		</li>
	</ol>
</section>
{% endblock %}
