{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="keyword_arguments">
	<h4>Keyword Arguments &amp; Default Values</h4>
	<p>
		We can write function definitions that can change, depending on
		<span class="italicsText">how</span> we invoke it. For example:
	</p>
	<pre class="language-python"><code>
		def printName(firstName, lastName, reverse):
			if reverse:
				print(f'{lastName}, {firstName}')
			else:
				print(firstName, lastName)

		# invokations:
		printName('Sherlock', 'Holmes', False)
		printName('Sherlock', 'Holmes', reverse = False)
		printName('Sherlock', lastName = 'Holmes', reverse = False)
		printName(lastName = 'Holmes', firstName = 'Sherlock', reverse = False)
		printName('Sherlock', 'Holmes', True)
	</code></pre>
	<pre class="language-bash"><code>
		Sherlock Holmes
		Sherlock Holmes
		Sherlock Holmes
		Sherlock Holmes
		Holmes, Sherlock
	</code></pre>
	<p>
		Notice how all of the functions above outputed the same string, save for the
		last one, where we set <span class="monoText">reverse</span> to true. We can
		specify our arguments in a function's parameters.This is helpful when we
		forget the order of the parameters.
	</p>
	<p>
		<span class="topic">Default Values</span>. We can also give functions
		<span class="italicsText">default values</span> &mdash; the values used when
		no arguments are supplied for the parameter:
	</p>
	<pre class="language-python"><code>
		def printName (firstName, lastName, reverse = False):
			if reverse:
				print(f'{lastName}, {firstName}')
			else:
				print(firstName, lastName)
		printName('Sherlock', 'Holmes')
		printName('Sherlock', 'Holmes', True)
	</code></pre>
	<pre class="language-bash"><code>
		Sherlock Holmes
		Holmes, Sherlock
	</code></pre>
	<p>
		Default values are particularly useful when we expect parameters to be a
		particular value, but on rare occasions a different value is needed.
	</p>
</section>
{% endblock %}
