{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="lists">
	<h4>Lists</h4>
	<p>
		A <span class="term">list</span> is a data structure like a tuple, but with
		the key difference that it is <span class="term">mutable</span> &mdash; we
		can enter the list and change its elements after initialization. This is
		very different from strings and tuples, which are immutable. This feature is
		a double-edged sword; the ability to change lists is very useful, but it
		also presents room for errors.
	</p>
	<p>
		Like tuples, lists store their elements in ordered sequence. Accordingly,
		every list element has an index. In contrast to tuples, we denote lists with
		square brackets <span class="monoText">[]</span>. Lists are almost always
		homogenous and rarely heterogenous.
	</p>
	<p>Just like strings and tuples, we can perform operations with indices:</p>
	<pre class="language-python"><code>
		# declare a list
		a_list = []

		# initialize some lists
		b_list = [2, 'a', 2.17, true]
		L = [1, 2, 3]

		# return lists's length; evaluates to 3
		len[L] 

		# return element at index; evaluates to 1
		L[0]

		# evaluates to 4
		L[2] + 1

		# Out of bounds error
		L[3]
	</code></pre>
	<p>
		Note that indices need not be literals; we can also provide expressions:
	</p>
	<pre class="language-python"><code>
		i = 2
		L = [1, 2, 3]

		# evaluates to 2, since L[i - 1] == L[1] 
		L[i - 1]
	</code></pre>
	<p>
		<span class="topic">List Mutability.</span> Because lists are mutable, we
		can assign elements to indices inside the list. As we saw, we cannot do this
		with strings and tuples:
	</p>
	<pre class="language-python"><code>
		L = [1, 2, 3]
		L[0] = 0 

		# L is now [0, 2, 3]
	</code></pre>
	<p>
		Writing the code above, we directly changed <span class="monoText">L</span>.
		This is <span class="underlineText">not</span> a new object. It is the same
		object, changed.
	</p>
	<p>
		<span class="topic">Looping through a List.</span> Like strings and tuples,
		lists are iterable; we can loop through their elements:
	</p>
	<pre class="language-python"><code>
		total = 0
			for i in range(len(L)):
				total += L[i]
	</code></pre>
	<p>
		The code above is a common pattern for summing all of the elements in a
		list. The same code can be written more concisely:
	</p>
	<pre class="language-python"><code>
		total = 0
			for i in L:
				total += i
	</code></pre>
	<p>
		As a reminder, the elements of a list are indexed starting from
		<span class="monoText">0</span> to
		<span class="monoText">len(list)-1</span>. If the
		<span class="monoText">range(n)</span> function is used, then the elements
		are indexed from <span class="monoText">0</span> to
		<span class="monoText">range(n-1)</span>.
	</p>
	<p><span class="exh">Exercise.</span> The following array is initialized:</p>
	<pre class="language-python"><code>
		x = [1, 2, [3, 'John', 4], 'Hi']
	</code></pre>
	<p>
		For each of the expressions below, what is the value and the value's type?
	</p>
	<ol>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				x[0]
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">1</span> of type
					<span class="monoText">int</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				x[2]
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">[3, 'John', 4]</span> of type
					<span class="monoText">list</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				x[-1]
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">Hi</span> of type
					<span class="monoText">String</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				x[2][2]
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">4</span> of type
					<span class="monoText">int</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				x[0:1]
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">[1]</span> of type
					<span class="monoText">list</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				2 in x
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">True</span> of type
					<span class="monoText">boolean</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				3 in x
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to <span class="monoText">False</span> of type
					<span class="monoText">boolean</span>.
				</p>
			</details>
		</li>
		<li>
			<pre class="language-python"><code>
				x = [1, 2, [3, 'John', 4], 'Hi']
				x[0] = 8
				x
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<p>
					Evaluates to
					<span class="monoText">[8, 2, [3, 'John', 4], 'Hi']</span> of type
					<span class="monoText">list</span>.
				</p>
			</details>
		</li>
	</ol>
</section>

<section id="list_operations">
	<h4>Operations on Lists</h4>
	<p>
		Like strings and tuples, there are lists come with useful methods. Below we
		cover some of the most commonly used.
	</p>
	<p>
		<span class="topic">Adding New Elements to a List.</span> We can add new
		elements to a list with the <span class="monoText">.append()</span> method:
	</p>
	<pre class="language-python"><code>
		myList = [1, 2, 3]
		myList.append(4)

		# myList is now [1, 2, 3, 4]
	</code></pre>
	<p>
		Just as replacing existing elements with indices changes a list, inserting
		new elements into an existing list
		<span class="italicsText">mutates</span> the list. The result list is not a
		new list; it is the same list, mutated.
	</p>
	<p>
		Notice further that we use dot notation when applying the
		<span class="monoText">.append()</span> method. This is because lists in
		Python are objects &mdash; nearly everything in Python is an object. Because
		lists are objects, they contain data and functions (methods). We access
		these functions and data with dot notation:
	</p>
	<figure class="math-display">
		<pre class="language-pseudo"><code>
			object_name.data_or_method
		</code></pre>
	</figure>
	<p>
		<span class="topic">Concatenating Lists.</span> We can also merge, or
		concatenate lists:
	</p>
	<pre class="language-python"><code>
		list_a = [1, 2, 3]
		list_b = [4, 5, 6]
		list_c = list_a + list_b 
		# list_c is [1, 2, 3, 4, 5, 6]

		list_c.extend([7, 8])
		# list_c is now [1, 2, 3, 4, 5, 6, 7, 8]
	</code></pre>
	<p>
		The code above also shows the
		<span class="monoText">.extend()</span> method, which allows us to add
		multiple elements to the list.
	</p>
	<p>
		<span class="topic">Removing Elements in a List.</span> There are multiple
		ways to delete existing elements in a list. If we want to remove an element
		with a specific index, we can use the
		<span class="monoText"
			>.del(<span class="italicsText">list_name[index]</span>)</span
		>
		method. If we want to remove the last element in the list, we can use the
		<span class="monoText">list_name.pop()</span> method. If we want to remove
		an element but we do now know its index, we can use the
		<span class="monoText"
			>list_name.remove(<span class="italicsText">element</span>)</span
		>
		method.
	</p>
	<p>
		The second and last methods, <span class="monoText">.pop()</span> and
		<span class="monoText">list_name.remove()</span>, have certain features. For
		<span class="monoText">.pop()</span>, the return value is the last element
		in the list. For <span class="monoText">list_name.remove()</span>, the
		method will look for the element, and then remove it. If the the element
		appears multiple times, it will only remove the first occurrence. If the
		element is not in the list, it will return an error (you cannot remove
		something that does not exist).
	</p>
	<pre class="language-python"><code>
		myList = [1, 2, 3, 4, 5, 6]

		myList.remove(2)
		# myList mutated -- now [1, 3, 4, 5, 6]

		myList.remove(3)
		# myList mutated -- now [1, 4, 5, 6]

		del(myList[1])
		# myList mutated -- now [1, 5, 6]

		myList.pop()
		# myList mutated -- now [1, 5]; returns 6
	</code></pre>
	<p>
		As an aside, the method <span class="monoText">.pop()</span> is so named
		from the colloquialism of &#8220;popping&#8221; something off a stack.
	</p>
	<p>
		<span class="topic">Lists and Strings.</span> An interesting feature in
		Python is converting from lists to strings and vice versa. This is a
		particularly useful feature, considering many languages &mdash; e.g.,
		JavaScript &mdash; do not allow this computation. To convert a string to a
		list, we use the method <span class="monoText">list(string_object)</span>.
		This method will return a list with every character in
		<span class="monoText">string_object</span> as elements in a list.
	</p>
	<p>
		We can also split strings on a character parameter with
		<span class="monoText">string_object.split(parameter)</span>. With the
		<span class="monoText">.split()</span> method, the output is a list of
		strings. If no parameter is provided, then the string is split according to
		spaces.
	</p>
	<p>
		We can also convert a list of characters into a string with the
		<span class="monoText">''.join(list_name)</span> method. If we want each of
		the characters or strings in the list to be separated by a particular
		character, we use the syntax
		<span class="monoText">'separating_character'.join(list_name)</span>.
	</p>
	<pre class="language-python"><code>
		myString = "CS :)"

		list(myString)
		# returns ['C', 'S', ' ', ':', ')']

		myString.split('S')
		# returns ['C', ' :)']

		charList = ['a', 'b', 'c']
		''.join(charList)
		# returns 'abc'

		'_'.join(charList)
		# returns 'a_b_c'
	</code></pre>
	<p>
		<span class="topic">Sorting Lists.</span> We can also sort or reverse the
		order of the elements in a list:
	</p>
	<pre class="language-python"><code>
		myList = [3, 4, 1, 2]

		sorted(myList)
		# returns [1, 2, 3, 4] -- does NOT MUTATE myList

		myList.sort()
		# returns [1, 2, 3, 4] -- MUTATES myList

		myList.reverse()
		# returns [4, 3, 2, 1] -- MUTATES myList
	</code></pre>
	<p>
		<span class="topic">The Range Procedure.</span> Now that we've encountered
		lists and tuples, we can see how the
		<span class="monoText">range()</span> procedure behaves. When used on its
		own, <span class="monoText">range()</span> behaves like a tuple:
	</p>
	<figure class="table">
		<table class="truth_table">
			<tbody>
				<tr>
					<td>range(5)</td>
					<td>Output: (0, 1, 2, 3, 4)</td>
				</tr>
				<tr>
					<td>range(2, 6)</td>
					<td>Output: (2, 3, 4, 5)</td>
				</tr>
				<tr>
					<td>range(5, 2, -1)</td>
					<td>Output: (5, 4, 3)</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		When used in a <span class="monoText">for</span> loop,
		<span class="monoText">range()</span> behaves like a list:
	</p>
	<figure class="table">
		<table class="truth_table">
			<tbody>
				<tr>
					<td>range(5)</td>
					<td>Output: [0, 1, 2, 3, 4]</td>
				</tr>
				<tr>
					<td>range(2, 10, 2)</td>
					<td>Output: [2, 4, 6, 8]</td>
				</tr>
				<tr>
					<td>range(5, 0, -1)</td>
					<td>Output: [5, 4, 3, 2, 1]</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		<span class="exh">Exercise.</span> Suppose the following lists are
		initialized:
	</p>
	<pre class="language-python"><code>
		list_a = [1, 4, 3, 0]
		list_b = ['x', 'z', 't', 'q']
	</code></pre>
	<p>
		For each of the expressions following the initialization, what is the output
		value and its type?
	</p>
	<ol>
		<li>
			<pre class="language-python"><code>
				list_a = [1, 4, 3, 0]
				list_b = ['x', 'z', 't', 'q']

				list_a.sort
				list_a.sort()
				list_a
				list_a.insert(0, 100)
				list_a.remove(3)
				list_a.append(7)
				list_a
				list_a + list_b
				list_b.sort()
				list_b.pop()
				list_b.count('a')
				list_b.remove('a')
				list_a.extend([4, 1, 6, 3, 4])
				list_a.count(4)
				list_a.index(1)
				list_a.pop(4)
				list_a.reverse()
				list_a
			</code></pre>
			<details class="answer">
				<summary>Solution</summary>
				<pre class="language-python"><code>
					list_a = [1, 4, 3, 0]
					list_b = ['x', 'z', 't', 'q']

					list_a.sort
					# return: built-in method
					# type: function

					list_a.sort()
					# Sort and mutate list_a
					# return: None
					# type: NoneType
					# side effects:
						list_a = [0, 1, 3, 4]

					list_a
					# return: [0, 1, 3, 4]
					# type: list

					list_a.insert(0, 100)
					# .insert(index, element) method inserts 'element' at 'index' 
					# Insert the element 100 at index 0. 
					# list_a is mutated
					# return: None
					# type: NoneType
					# side effects:
						# list_a = [100, 0, 1, 3, 4]

					list_a.remove(3)
					# Remove element 3 from list_a.
					# return: None  
					# type: NoneType
					# side effects:
						# list_a = [100, 0, 1, 4]

					list_a.append(7)
					# Insert element 7 at end of list_a
					# return: None
					# type: NoneType
					# side effects:
						# list_a = [100, 0, 1, 4, 7]

					list_a
					# return: [100, 0, 1, 4, 7]
					# type: list

					list_a + list_b
					# concatenate list_a and list_b
					# creates new list 
					# return: [100, 0, 1, 4, 7, 'x', 'y', 't', 'q']
					# type: list

					list_b.sort()
					# when sort() is used on strings, the strings are sorted alphabetically
					# return: None
					# type: NoneType
					# side effects:
						# sort and mutate list_b 
						# list_b = ['q', 't', 'x', 'y' 'z']

					list_b.pop()
					# remove last element in list_b
					# return: 'z'
					# type: String
					# side effects:
						# list_b is mutated 
						# list b = ['q', 't', 'x', 'y'] 
					
					list_b.count('a')
					# .count(param) returns number of times param appears
					# return: 0
					# type: int
					
					list_b.remove('a')
					# there is no 'a' in list_b
					# return: error
					# type: NoneType

					list_a.extend([4, 1, 6, 3, 4])
					# return: None
					# type: NoneType
					# side effects:
						# extend and mutate list_a
						# list_a = [100, 0, 1, 4, 7, 4, 1, 6, 3, 4]

					list_a.count(4)
					# count how many times '4' appears
					# return: 3
					# type: int

					list_a.index(1)
					# .index(element) returns index of element 
					# return: 2
					# type: int

					list_a.pop(4)
					# .pop(i) removes element at index i
					# element '7' is removed
					# return: 7
					# type: int
					# side effects:
						# list_a is mutated:
						# [100, 0, 1, 4, 4, 1, 6, 3, 4]

					list_a.reverse()
					# reverse list_a elements in place
					# return: None
					# type: NoneType
					# side effects:
						# list_a is mutated
						# list_a = [4, 3, 6, 1, 4, 4, 1, 0, 100]

					list_a
					# return: [4, 3, 6, 1, 4, 4, 1, 0, 100]
					# type: list
				</code></pre>
			</details>
		</li>
	</ol>
</section>
{% endblock %}
