{% extends "numerc/layout.html" %}
{% block content %}

<h4>Objects in Python</h4>
<p>The fundamental primitives in a programming language are more broadly called <span class="boldItalics">data objects</span>. Programs manipulate data objects to extract parts of those objects or to do something with those objects.</p>
<p>Every data object has a <span class="boldItalics">type</span>. A <span class="italicsText">type</span> is the set of all rules that defines what we can and cannot do with the data objects of that type. For example, C has the data type <span class="monoText">char</span>. If a program expects a <span class="monoText">char</span> type data object, and we give it instead an <span class="monoText">int</span> or <span class="monoText">double</span>, our program usually will not do anything with the data object, because the rules prevent it.</p>
<p>Types themselves fall into two categories: (1) <span class="boldItalics">scalar</span> or (2) <span class="boldItalics">non-scalar</span>. If a data object's type is scalar, then the data object cannot be subdivided. If a data object's type is non-scalar, then the data object has an <span class="italicsText">internal structure</span> composed of smaller parts, and we can access that internal structure to extract those parts.</p>
<p>In Python, there are four scalar type objects:</p>
<ol>
	<li><span class="monoText">int</span> &mdash; representing <span class="italicsText">integers</span></li>
	<li><span class="monoText">float</span> &mdash; representing <span class="italicsText">real numbers</span></li>
	<li><span class="monoText">bool</span> &mdash; representing the Boolean values <span class="monoText">True</span> and <span class="monoText">False</span></li>
	<li><span class="monoText">NoneType</span> &mdash; a special type of only one value, <span class="monoText">None</span></li>
</ol>
<p>We can test what the type of a data object is with <span class="monoText">type()</span>. For example, let's write the following code in a shell:</p>
<pre class="language-bash"><code>
	In [1]: 2.8
	Out[1]: 2.8
	In [2]: type(2.8)
	Out[2]: float
	In [3]: 2 
	Out[3]: 2 
	In [4]: type(2) 
	Out[4]: int 
</code></pre>

{% endblock %}