{% extends '../layout.html' %} {% load static %} 

{% block back %}
<p><a href="{% url 'numerm:calc_derivativePowerFunction' %}">Derivative of a Power Function</a></p>
{% endblock %}
{% block forward %}
<p><a href="{% url 'numerm:calc_limits' %}">Limits & Continuity</a></p>
{% endblock %}

{% block content %}
<section id="rate_of_change">
	<h3>Rate of Change</h3>
	<p>
		In the previous sections, we saw two interpretations of the derivative: (1)
		a geometric interpretation, and (2) an algebraic interpretation. Now we turn
		to another: a <span class="italicsText">physical interpretation</span>. By
		physical, we are referring to an interpretation of the derivative in terms
		of <span class="italicsText">applied mathematics</span>. Under the physical
		interpretation, we think of the derivative as a
		<span class="term">rate of change</span>.
	</p>

	<figure>
		<img
			src="{% static 'images/average_rate_of_change.svg' %}"
			alt="average rate of change"
			loading="lazy"
			class="seventy-p"
		/>
	</figure>

	<p>
		Referencing the diagram above, ${\dfrac{\Delta x}{\Delta y}}$ represents the
		average rate of change. The derivative ${\dfrac{dy}{dx},}$ however,
		represents the <span class="term">instantaneous rate of change</span>.
	</p>

	<p>
		The concept of instantaneous rate of change underlies numerous fields, the
		most obvis of which are in physics:
	</p>
	<figure class="math-display">
		<ul>
			<li>
				Where ${q}$ is a charge and ${t}$ is time, ${\dfrac{dq}{dt}}$ represents
				<span class="italicsText">current</span>.
			</li>
			<li>
				Where ${s}$ is a distance ${t}$ is time, ${\dfrac{ds}{dt}}$ represents
				speed.
			</li>
		</ul>
	</figure>

	<p>
		For example, suppose that we drop a large block from a building 80 meters
		high. Using the acceleration due to gravity (9.807 {m/s^2}), we have the
		following formula:
	</p>

	<figure class="math-display">
		<div>
			<p>${h = 80 - 5t^2}$ where ${h}$ is the height and ${t}$ is time.</p>
		</div>
	</figure>

	<p>
		Thus, at ${t = 0,}$ we are at the very top of the building. ${h = 80 - 0 =
		80.}$ At ${t = 4,}$ we are at the bottom ${h = 80 - 5(4)^2 = 80 - 80 = 0.}$
		The average speed of the block falling is the change in ${h}$ divided by the
		change in ${t:}$
	</p>

	<figure class="math-display">
		<div>
			<p>
				${\dfrac{\Delta h}{\Delta t} = \dfrac{h_f - h_0}{t_f - t_0} = \dfrac{0 -
				80}{4 - 0} = -20 m/s}$
			</p>
		</div>
	</figure>

	<p>
		Thus, the average speed of the block falling is ${20 m/s.}$ What is the
		speed of the block the moment it hits the pavement? To answer this question,
		we need to compute the <span class="italicsText">instantaneous speed</span>:
	</p>

	<figure class="math-display">
		<div>
			<p>${h = 80 - 5t^2}$</p>
			<p>${\dfrac{d}{dt} h = 0 - 10t}$</p>
			<p>${\phantom{\dfrac{d}{dt} h} = -10t }$</p>
		</div>
	</figure>

	<p>
		Thus, at the point of impact, we have ${t = 4,}$ so ${h' = -40 m/s.}$ Thus,
		the speed of the block at the moment of impact is ${40 m/s.}$
	</p>

	<p>
		Physically interpreting the derivative is not just limited to physics. In
		meteorology, we use derivatives to compute
		<span class="italicsText">temperature gradients</span>, which are what cause
		airflows (which in turn are what cause winds and storm systems).
	</p>
</section>
{% endblock %}
