{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Applications of differentiation" />
{% endblock %} {% block title %}
<title>Derivatives: Applications</title>
{% endblock %} {% block content %}
<h1>Applications of Derivatives</h1>
<section id="intro">
	<p>In this section, we examine some applications of derivatives.</p>
</section>
<section id="linear_approximations">
	<h2>Linear Approximations</h2>
	<p>The primary formula we use for linear approximations:</p>
	<figure>
		<div>
			<p>${f(x) \approx f(x_0) + f'(x_0) \cdot (x - x_0)}$</p>
		</div>
	</figure>
	<p>
		The formula above states that the value of some function ${f,}$ at a given
		input ${x}$ is approximately the sum of ${f(x_0)}$ and ${f'(x_0) \times (x -
		x_0),}$ where ${x_0}$ is a <span class="term">base point</span>. A level
		deeper, the formula provides that if we were given some curve ${f,}$ its
		value at ${x}$ is approximately the same as the value ${x}$ at its tangent
		line.
	</p>
	<p>
		For example, consider ${f(x) = \ln x.}$ We know ${f'(x)= \dfrac{1}{x}.}$
		Let's pick a base point, say, ${x_0 = 1.}$ We use ${1}$ because it's a point
		where we immediately know the value for the natural logarithm &mdash; ${\ln
		1 = 0.}$
	</p>
	<p>Where ${x_0 = 1,}$ we have:</p>
	<figure>
		<ul>
			<li>${f(1) = \ln 1 = 0}$</li>
			<li>${f'(1) = \dfrac{1}{1} = 1}$</li>
		</ul>
	</figure>
	<p>Applying the approximation formula to our facts:</p>
	<figure>
		<div>
			$$ \begin{aligned} \ln x &\approx f(x_0) + f'(x_0) \cdot (x - x_0) \\
			&\approx \ln 1 + 1 \cdot (x - 1) \\ &\approx 0 + x - 1 \\ &\approx x - 1
			\end{aligned} $$
		</div>
	</figure>
	<p>Thus, we have:</p>
	<figure>
		<div>
			<p>${\ln x \approx x - 1}$</p>
		</div>
	</figure>
	<p>If we plot ${f(x) = \ln x}$ and ${g(x) = x - 1,}$ we see the following:</p>
	<figure>
		<img
			src="{% static 'images/linear_approximation_1.svg' %}"
			alt="linear approximation"
			loading="lazy"
		/>
	</figure>
	<p>
		What the graph above tells us is that the value of ${\ln x}$ is roughly ${x
		- 1.}$ The key word, however, is &#8220;roughly.&#8221; This is just an
		approximation. And with our plot, we can see that the approximation is good
		as long as we're somewhere near ${x = 1.}$ As we venture further and further
		from ${x = 1,}$ the less accurate the approximation is.
	</p>
</section>
{% endblock %}
