{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="What is implicit differentiation? An overview of implicit differentiation and why it's so useful."
/>
{% endblock %} {% block title %}
<title>Implicit Differentiation</title>
{% endblock %} {% block content %}
<h1>Implicit Differentiation</h1>
<section id="intro">
	<p>
		<span class="drop">K</span>nowing the chain rule, we're now armed with a
		powerful tool for performing some very clever algebraic techniques. One such
		technique is <span class="term">implicit differentiation</span>. With
		implicit differentiation, we can compute derivatives that we've never seen
		before. For example, we know from the power rule that:
	</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} x^a = a x^{a - 1}}$</p>
		</div>
	</figure>
	<p>
		However, we've only applied this rule where ${a}$ is some explicit number.
		For example, ${x^2,}$ ${x^3,}$ ${x^{-4},}$ etc. But what if the function
		we're dealing with is something of the form:
	</p>
	<figure>
		<div>
			<p>${f(x) = x^{m/n}, \space (m, n \in \Z)}$</p>
		</div>
	</figure>
	<p>
		In other words, what happens when we have rational exponents? Algebraically,
		we know that where ${m = 1,}$ the expression ${x^{m/n}}$ yields the
		${n^{\text{\scriptsize{th}}}}$ root:
	</p>
	<figure>
		<div>
			<p>${x^{1/n} = \sqrt[n]{x}}$</p>
		</div>
	</figure>
	<p>And more generally:</p>
	<figure>
		<div>
			<p>${x^{m/n} = \sqrt[n]{x^m}}$</p>
		</div>
	</figure>
	<p>
		Recognizing these relationships, suppose we had the function ${y =
		x^{m/n}.}$ We can rewrite the function as:
	</p>
	<figure>
		<div>
			<p>${y^n = x^m}$</p>
		</div>
	</figure>
	<p>Now, we can apply differentiation to the equation above:</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} y^n = x^m}$</p>
		</div>
	</figure>
	<p>
		We performed the manipulation because we simply don't know how to
		differentiate ${x^{m/n}.}$ Applying the derivative to both sides:
	</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} y^n = \dfrac{d}{dx} x^m}$</p>
		</div>
	</figure>
	<p>
		In the equation above, ${y}$ is a function of ${x}$ &mdash; we have to apply
		the chain rule:
	</p>
	<figure>
		<div>
			<p>${\left(\dfrac{d}{dy}y^n\right) \dfrac{dy}{dx} = mx^{m-1}}$</p>
		</div>
	</figure>
	<p>
		Writing the expression this way, we know that ${\dfrac{d}{dy}y^n =
		ny^{n-1}.}$ Hence:
	</p>
	<figure>
		<div>
			<p>${ny^{n - 1} \dfrac{dy}{dx} = mx^{m-1}}$</p>
		</div>
	</figure>
	<p>Solving for ${\dfrac{dy}{dx}:}$</p>
	<figure>
		<div>
			$$ \begin{aligned} \dfrac{dy}{dx} &= \dfrac{mx^{m-1}}{ny^{n-1}} \\[1em] &=
			\dfrac{m}{n} \dfrac{x^{m-1}}{(x^{m/n})^{n-1}} \\[1em] &= \dfrac{m}{n} x^{m
			- 1 - \frac{m}{n}(n-1)} \\[1em] &= \dfrac{m}{n} x^{m - 1 - m +
			\frac{m}{n}} \\[1em] &= \dfrac{m}{n} x^{-1 + \frac{m}{n}} \\[1em]
			\end{aligned} $$
		</div>
	</figure>
	<p>
		We can clean the final result above by suppose that ${a = \dfrac{m}{n}:}$
	</p>
	<figure>
		<div>
			<p>${\dfrac{dy}{dx} = a x^{a - 1}}$</p>
		</div>
	</figure>
	<p>
		Let's consider another example: ${x^2 + y^2 = 1.}$ As we know, this is the
		equation for a circle. Solving for ${y,}$ we obtain the following:
	</p>
	<figure>
		<div>
			<p>${y^2 = 1 - x^2}$</p>
			<p>${y = \pm \sqrt{1 - x^2}}$</p>
		</div>
	</figure>
	<p>
		We say that ${x^2 + y^2 = 1}$ is the
		<span class="term">implicit definition</span> for the function, and ${y =
		\pm \sqrt{1-x^2}}$ is the
		<span class="term">explicit definition</span>.<label
			for="multi"
			class="margin-toggle"
			><sup></sup
		></label>
		<input type="checkbox" id="multi" class="margin-toggle sidenote-number" />
		<span class="marginnote"
			>Of note, the relation ${x^2 + y^2 = 1}$ is not a function. It's more
			accurately described as a multifunction, but the notion of implicit and
			explicit definitions remains equally applicable.</span
		>
		The circle multifunction consists of two branches, a positive and a negative
		branch (i.e., the top half and the bottom half of the circle). For the
		purposes of simplicity, we'll only consider the positive branch, ${y =
		\sqrt{1-x^2}.}$
	</p>
	<p>
		In terms of differentiation, function definitions containing radicands are
		unsightly. Often, the first step to differentiating such functions is to
		rewrite the definition in terms of rational number exponents:
	</p>
	<figure>
		<div>
			$$ \begin{aligned} y &= \sqrt{1 - x^2} \\[1em] &= (1 - x^2)^{\frac{1}{2}}
			\end{aligned} $$
		</div>
	</figure>
	<p>
		Writing the definition in terms of fractional exponents, we clearly see an
		opportunity to apply the chain rule.
	</p>
	<figure>
		<div>
			$$ \begin{aligned} y' &= \dfrac{1}{2}(1 - x^2)^{- \frac{1}{2}}(-2x)
			\\[1em] &= \dfrac{(-2x)(1-x^2)^{- \frac{1}{2}}}{2} \\[1em] &= -
			\dfrac{x}{(1 - x^2)^{\frac{1}{2}}} \\[1em] &= - \dfrac{x}{\sqrt{1 - x^2}}
			\\[1em] \end{aligned} $$
		</div>
	</figure>
	<p>
		The evaluation above yields an
		<span class="italicsText">explicit solution</span> to computing the
		derivative. We can, however, take an implicit approach, yielding an
		<span class="italicsText">implicit solution</span>:
	</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} (x^2 + y^2 = 1) = (2x + 2yy' = 0)}$</p>
		</div>
	</figure>
	<p>Solving for ${y'}$:</p>
	<figure>
		<div>
			<p>
				${y' = \dfrac{-2x}{2y} = - \dfrac{x}{y} \space \space \space (y =
				\sqrt{1 - x^2})}$
			</p>
		</div>
	</figure>
	<p>When substitute for ${y}$:</p>
	<figure>
		<div>
			<p>${y' = \dfrac{-2x}{2y} = - \dfrac{x}{\sqrt{1-x^2}}}$</p>
		</div>
	</figure>
	<p>
		Consider the mechanics of this approach. We left the original equation,
		${x^2 + y^2 = 1,}$ intact. Then, we applied the derivative, arriving at an
		implicit solution. If we wanted the explicit solution, we substituted for
		${y.}$ Moreover, the implicit solution can be easily modified to yield both
		halves of the circle:
	</p>
	<figure>
		<div>
			<p>
				${y' = \dfrac{-2x}{2y} = - \dfrac{x}{y} \space \space \space (y = \pm
				\sqrt{1 - x^2})}$
			</p>
		</div>
	</figure>
	<p>
		This analysis evidences the fact that the implicit approach is often much
		easier than the explicit approach. Let's consider another example:
	</p>
	<figure>
		<div>
			<p>${y^4 + xy^2 - 2 = 0}$</p>
		</div>
	</figure>
	<p>
		Like the previous example, we can compute the derivative for this equation
		with the explicit approach:
	</p>
	<figure>
		<div>
			<p>${y^2 = \dfrac{-x \pm \sqrt{x^2 - 4(-2)}}{2}}$</p>
		</div>
	</figure>
	<p>Accordingly, isolating ${y:}$</p>
	<figure>
		<div>
			<p>${y = \pm \sqrt{\dfrac{-x \pm \sqrt{x^2 + 8}}{2}}}$</p>
		</div>
	</figure>
	<p>
		As we can see, this is a very messy quartic equation. We've got a nasty
		equation with not just two cases, but four. The implicit method is much,
		much easier. We differentiate by keeping the original equation intact. The
		first term:
	</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} y^4 = 4y^3y'}$</p>
		</div>
	</figure>
	<p>Then we differentiate the second term (applying the product rule):</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx}xy^2 = y^2 + x(2yy')}$</p>
		</div>
	</figure>
	<p>Then we differentiate the third term:</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} (-2) = 0}$</p>
		</div>
	</figure>
	<p>This process yields:</p>
	<figure>
		<div>
			<p>${4y^3y' + y^2 + x(2yy') - 0 = 0}$</p>
		</div>
	</figure>
	<p>Now all we have to do is solve for ${y':}$</p>
	<figure>
		<div>
			$$ \begin{aligned} 4y^3y' + y^2 + x(2yy') - 0 &= 0 \\ 4y^3(y') + y^2 +
			2xy(y') &= 0 \\ 4y^3(y') + 2xy(y') &= -y^2 \\ (y')(4y^3 + 2xy) &= -y^2 \\
			y' &= -\dfrac{y^2}{4y^3 + 2xy} \\ \end{aligned} $$
		</div>
	</figure>
	<p>
		Now, this is just an implicit solution. The explicit solution requires
		substituting for ${y,}$ as we did earlier:
	</p>
	<figure>
		<div>
			<p>
				${\dfrac{dy}{dx} = y' = -\dfrac{\left(\pm \sqrt{\dfrac{-x \pm \sqrt{x^2
				+ 8}}{2}}\right)^2}{4\left(\pm \sqrt{\dfrac{-x \pm \sqrt{x^2 +
				8}}{2}}\right)^3 + 2x\left(\pm \sqrt{\dfrac{-x \pm \sqrt{x^2 +
				8}}{2}}\right)}}$
			</p>
		</div>
	</figure>
	<p>
		We leave it to the reader to try the explicit method. While the implicit
		approach is often faster, there are limitations. For starters, it doesn't
		avoid the complexity of quartic equation like the one above. For example,
		with the original equation, ${y^4 + xy^2 - 2 = 0,}$ we know that one
		solution is the coordinate ${(1,1).}$ Thus, the point ${(1,1)}$ likes on the
		graph of ${y^4 + xy^2 - 2 = 0.}$ If we plug in this point to the derivative
		above:
	</p>
	<figure>
		<div>
			<p>
				$$ \begin{aligned} \dfrac{dy}{dx} &= -\dfrac{\left(\pm \sqrt{\dfrac{-x
				\pm \sqrt{x^2 + 8}}{2}}\right)^2}{4\left(\pm \sqrt{\dfrac{-x \pm
				\sqrt{x^2 + 8}}{2}}\right)^3 + 2x\left(\pm \sqrt{\dfrac{-x \pm \sqrt{x^2
				+ 8}}{2}}\right)} \\[2em] &= -\dfrac{\left(\pm \sqrt{\dfrac{-(1) \pm
				\sqrt{(1)^2 + 8}}{2}}\right)^2}{4\left(\pm \sqrt{\dfrac{-(1) \pm
				\sqrt{(1)^2 + 8}}{2}}\right)^3 + 2(1)\left(\pm \sqrt{\dfrac{-(1) \pm
				\sqrt{(1)^2 + 8}}{2}}\right)} \\[2em] &= -\dfrac{(1)^2}{4(1)^3 +
				2(1)(1)} \\[2em] &= -\dfrac{1}{6} \end{aligned} $$
			</p>
		</div>
	</figure>
	<p>
		Thus, the slope at the point ${(1,1)}$ on the graph of ${y^4 + xy^2 - 2 =
		0}$ is ${- \frac{1}{6}.}$ For the point ${x = 2,}$ however, we have no
		choice but to tackle the complexity head on &mdash; we must go through all
		of the tedious manipulation.
	</p>
</section>

<section id="differentiating_inverse_functions">
	<h2>Differentiating Inverse Functions</h2>
	<p>
		Suppose we have the function ${y = \sqrt{x}.}$ We can rewrite this function
		as ${y^2 = x.}$ Alternatively, we could write ${f(x) = \sqrt{x},}$ which in
		turn can be written as ${g(y) = x \ni g(y) = y^2}$ (the notation ${\ni}$
		means &#8220;such that&#8221;). More generally:
	</p>
	<figure>
		<div class="rule">
			<p>
				<span class="topic">Notation.</span> Suppose ${y: x \to f(x)}$ is a
				function, written as ${y = f(x).}$ The function ${g: y \to x,}$ written
				as ${g(y) = x,}$ is called the
				<span class="term">inverse function</span> of ${y.}$
			</p>
		</div>
	</figure>
	<p>
		In other words, if we have a function ${y = f(x),}$ we can rewrite it as
		${g(y) = x.}$ The function ${g(y) = x,}$ which is really ${g(f(x)) = x,}$ is
		called the <span class="term">inverse function</span> of ${y = f(x).}$ The
		inverse function of ${y = f(x),}$ which is ${g(y) = x,}$ is usually written
		with the notation ${g = f^{-1}.}$ Similarly, the inverse of ${g(y) = x,}$
		which is ${y = f(x),}$ is usually written as ${f = g^{-1}.}$
	</p>
	<p>
		Given our definition above, we can see that ${f(x) = \sqrt{x}}$ has the
		inverse function ${f^{-1}(x) = x^2.}$ Comparing these two graphs:
	</p>
	<figure style="margin: 0">
		<img
			src="{% static 'images/inverse1.svg' %}"
			alt="Inverse functions square root of x and x squared"
			loading="lazy"
		/>
		<figcaption>
			The graph of ${y = \sqrt{x}}$ to the left, and the graph of ${x = y^2}$ to
			the right.
		</figcaption>
	</figure>
	<p>
		The graphs above evidence the fact that the inverse functions are really
		just switching the ${x}$ and ${y}$ values. We can see this more clearly when
		we plot both functions on the same plane:
	</p>
	<figure>
		<img
			src="{% static 'images/inverse2.svg' %}"
			alt="Inverse functions square root of x and x squared"
			loading="lazy"
		/>
		<figcaption>
			Notice how the roles of ${x}$ and ${y}$ are switched. Original: ${x}$ is
			the input, ${y}$ is the output. Inverse: ${y}$ is the input, ${x}$ is the
			output.
		</figcaption>
	</figure>
	<p>
		So what does this have to do with implicit differentiation? Well, as long as
		we know the derivative of some function ${f,}$ we can find the derivative of
		the inverse function ${f^{-1}.}$ In other words, we can find the derivative
		of <span class="underlineText">any</span> inverse function ${f^{-1}}$
		provided we know the derivative of ${f.}$
	</p>
	<p>
		This may not seem like much of an insight given the examples we've seen
		earlier, but it proves to be immeasurably useful when we confront some
		fairly complex functions. For example, consider the function ${y = \arctan
		x.}$ This is the function ${y = \tan^{-1} x,}$ which is the inverse of ${x =
		\tan y.}$ Plotting both these graphs together, we have:
	</p>
	<figure style="margin: 0 10%">
		<img
			src="{% static 'images/inverse4.svg' %}"
			alt="Inverse functions tan and arctan"
			loading="lazy"
		/>
	</figure>
	<p>A more focused view reveals:</p>
	<figure>
		<img
			src="{% static 'images/inverse3.svg' %}"
			alt="Inverse functions tan and arctan"
			loading="lazy"
		/>
	</figure>
	<p>
		First, let's consider the derivative of ${\tan y.}$ From trigonometry, we
		know that ${\tan y = \dfrac{\sin y}{\cos y}.}$ Accordingly, the derivative
		of ${\tan y}$ is computed by applying the quotient rule:
	</p>
	<figure>
		<div>
			$$ \begin{aligned} \dfrac{d}{dy} \tan y &= \dfrac{(\sin y)'(\cos y) -
			(\sin y)(\cos y)'}{(\cos y)^2} \\[2em] &= \dfrac{(\cos y)(\cos y) - (\sin
			y)(-\sin y)}{(\cos y)^2} \\[2em] &= \dfrac{\cos^2 y + \sin^2 y}{\cos^2 y}
			\\[2em] &= \dfrac{1}{\cos^2 y} \\[2em] &= \sec^2 y \end{aligned} $$
		</div>
	</figure>
	<p>Thus, ${\dfrac{d}{dy} \tan y = \sec^2 y.}$ Now we differentiate:</p>
	<figure>
		<div>
			$$ \begin{aligned} \dfrac{d}{dy}(\tan y = x) &= \left(\dfrac{d}{dy} \tan
			y\right)\left(\dfrac{dy}{dx}\right) = 1 \\[2em] &= \dfrac{1}{\cos^2 y}
			\cdot y' = 1 \end{aligned} $$
		</div>
	</figure>
	<p>Solving for ${y',}$ we have:</p>
	<figure>
		<div>
			<p>${y' = \cos^2 y}$</p>
		</div>
	</figure>
	<p>Substituting for ${y,}$ we have:</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} \arctan x = y' = \cos^2 (\arctan x)}$</p>
		</div>
	</figure>
	<p>
		The derivative above is correct, but it is
		<span class="underlineText">very</span> complicated. Whenever we work with
		trigonometric functions, we want to always think of applying a trigonometric
		identity that simplifies the expressions. In this case, we have an identity
		that's directly applicable:
	</p>
	<figure>
		<div>
			<p>${\cos y = \dfrac{1}{\sqrt{1 + x^2}}}$</p>
		</div>
	</figure>
	<p>Accordingly:</p>
	<figure>
		<div>
			<p>${\cos^2 y = \dfrac{1}{1 + x^2}}$</p>
		</div>
	</figure>
	<p>Applying this fact to our derivative:</p>
	<figure>
		<div>
			<p>${\dfrac{d}{dx} \arctan x = \dfrac{1}{1 + x^2}}$</p>
		</div>
	</figure>
	<p>
		Having seen implicit differentiation as applied to ${f(x) = \arctan x,}$ we
		can see how easy it is for the other inverse trigonometric functions. For example, consider ${y = \arcsin x.}$
	</p>
	<figure>
		<div>
			$$
				\begin{aligned}
					y &= \arcsin x \\
					\sin y &= x \\
					\dfrac{d}{dy} (\sin y = x) &= \left(\dfrac{d}{dy} \sin y = \dfrac{d}{dy} x\right) \\
					&= (\cos y) y' = 1 \\
				\end{aligned}
			$$
		</div>
	</figure>
	<p>Solving for ${y'}$ and substituting for ${y}$:</p>
	<figure>
		$$
			\begin{aligned}
				y' &= \dfrac{1}{\cos y} \\
				&= \dfrac{1}{\sqrt{1 - \sin^2 y}} \\
				&= \dfrac{1}{\sqrt{1 - x^2}}
			\end{aligned}
		$$
	</figure>
	<p>We now have another useful derivative:</p>
	<figure>
		<div class="rule">
			<p><span class="topic">Definition.</span> Given the function ${y = \arcsin x,}$ the function's derivative ${y'}$ is:</p>
			<figure>
				<div>
					<p>${y' = \dfrac{1}{\sqrt{1-x^2}}}$</p>
				</div>
			</figure>
		</div>
	</figure>
</section>
{% endblock %}
