{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="properties_of_reals">
	<h3>Properties of Reals</h3>
	<p>
		In this section, we explore the properties of real numbers. Much of this may
		appear to be a review, but it is imperative that we understand these basic
		properties before proceeding further.
	</p>

	<p>
		<span class="topic">Addition.</span> Let's first define the addition
		operation. How do we add numbers? To answer this question, we first start
		with a simpler case &mdash; adding two numbers: ${a + b.}$
	</p>

	<p>
		If we can explain what ${a + b}$ means, we can then express the addition of
		three numbers, ${a + b + c,}$ as the addition of ${(a + b) + c.}$ Why?
		Because of the following property:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Axiom.</span> If ${a,}$ ${b,}$ and ${c}$ are
				numbers, then
			</p>
			<figure class="math-display">
				<div>
					<p>${a + (b + c) = (a + b) + c}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		Next, let's consider the number ${0.}$ This number is particularly
		important, because it is from ${0}$ that we have the following property:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p><span class="topic">Axiom.</span> If ${a}$ is any number, then</p>
			<figure class="math-display">
				<div>
					<p>${a + 0 = 0 + a = a}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>Another property results from the number ${0:}$</p>

	<figure class="math-display">
		<div>
			<p>For all ${a \in \R,}$ there exists a number ${-a}$ such that:</p>
			<figure class="math-display">
				<div>
					<p>${a + (-a) = (-a) + a = 0}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		The property above is immensely useful when we counter an open sentence of
		the form ${a + x = a.}$ For this sentence to be a true proposition, it must
		be the case that ${x = 0.}$ Why? Because: If ${a + x = a,}$ then by
		subtracting ${a}$ from both sides, we have ${(-a) + (a + x) = (-a) + a =
		0.}$ Thus, ${((-a) + a) + x = 0.}$ Simplifying further, ${0 + x = 0.}$ Ergo,
		${x = 0.}$
	</p>

	<p>
		We might ask, why write ${+ (-a)}$? Why not just write ${-a?}$ Fair
		questions, and we very well could have just written ${-a.}$ However, we
		write ${(-a)}$ to demonstrate the idea that
		<span class="italicsText">subtraction</span> is really just convenient
		construct for adding negative numbers. In other words, subtraction is, at
		its core, addition. The expression ${a - b}$ is logically equivalent fo ${a
		+ (-b).}$
	</p>

	<p>
		In computing ${a + b + c,}$ we know that we can simply write ${a + (b + c)}$
		or ${(a + b) + c}$. But what happens when we have ${a + c + b?}$ Can we
		write ${(a + c) + b?}$ Is ${a + b + c = a + c + b?}$ The answer is yes,
		based on the following property:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Axiom.</span> For all numbers, if ${a, b \in \R,}$
				then
			</p>
			<figure class="math-display">
				<div>
					<p>${a + b = b + a}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		It is critical to bear in mind that the property above does not apply to the
		subtraction operation: If ${a \neq b,}$ then ${a - b \neq b - a.}$ Thus, if
		${a - b = b - a,}$ then it must be the case that ${a = b.}$
	</p>

	<p>
		<span class="topic">Multiplication.</span> With multiplication, we have the
		following property:
	</p>

	<figure class="math-display">
		<div class="rule">
			<p><span class="topic">Axiom.</span> Suppose ${a, b, c \in \R.}$ Then:</p>
			<figure class="math-display">
				<div>
					<p>${a \cdot (b \cdot c) = (a \cdot b) \cdot c}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>We also have the following property:</p>

	<figure class="math-display">
		<div class="rule">
			<p>
				<span class="topic">Axiom.</span> Suppose ${a, b, c \in \R.}$ Then,
				assuming ${1 \neq 0,}$
			</p>
			<figure class="math-display">
				<div>
					<p>${a \cdot 1 = 1 \cdot a = a}$</p>
				</div>
			</figure>
		</div>
	</figure>

	<p>
		Why write ${1 \neq 0?}$ Because we want to make it very clear that ${0}$ is
		not the only number in our universe. If ${0}$ were the only number, then all
		of the properties above would be trivial, because they would all hold.
	</p>

	<p></p>
</section>
{% endblock %}
