{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="How to differentiate exponential and logarithmic functions."
/>
{% endblock %} {% block title %}
<title>Derivatives of Exponential & Logarithmic Functions</title>
{% endblock %} {% block content %}
<h1>Differentiating Exponential & Logarithmic Functions</h1>
<section id="intro">
	<p>
		<span class="drop">W</span>e now turn to differentiating exponential and
		logarithmic functions. Knowing how to compute the derivatives for these
		functions is especially useful in applied mathematics fields. For example,
		we frequently see exponential functions with future value calculations in
		finance, and logarithmic functions for discounting to present value. We also
		see exponential functions in population growth models. In all of these
		situations, knowing how to compute various rates of change is invaluabe. And
		as we've seen, that knowledge is provided through the derivative.
	</p>
	<p>
		We begin by recalling some of the basic rules of exponents. First, where
		${a, b > 0,}$ the following rules hold:
	</p>

	<table>
		<thead>
			<th>Name</th>
			<th>Rule</th>
			<th>Remark</th>
			<th>Constraints</th>
		</thead>
		<tbody>
			<tr>
				<td>Exponent-product Rule</td>
				<td class="center">${\large a^{x_1} \cdot a^{x_2} = a^{x_1 + x_2}}$</td>
				<td>The exponential of the sum is the exponential of the product.</td>
				<td>${a \in \Z^{+},}$ ${x_1, x_2 \in \Z}$</td>
			</tr>
			<tr>
				<td>Exponent-quotient Rule</td>
				<td class="center">
					${\large \dfrac{a^{x_1}}{a^{x_2}} = a^{x_1 - x_2} = \dfrac{1}{a^{x_2 -
					x_1}}}$
				</td>
				<td>
					If the bases are the same, keep the base and subtract the exponent in
					the denominator from the exponent in the numerator.
				</td>
				<td>${a \in \Z^{+},}$ ${x_1, x_2 \in \Z}$</td>
			</tr>
			<tr>
				<td>Raising a Product to a Power</td>
				<td class="center">${\large (ab)^{x} = a^xb^x}$</td>
				<td>
					To raise a product to the ${n^{\text{\scriptsize{th}}}}$ power, raise
					each factor to the ${n^{\text{\scriptsize{th}}}}$ power.
				</td>
				<td>${a, b \in \Z^{+},}$ ${x \in \Z}$</td>
			</tr>
			<tr>
				<td>Exponent-power Rule</td>
				<td class="center">${\large (a^{x_1})^{x_2} = a^{x_1 \cdot x_2}}$</td>
				<td>To raise a power to a power, multiply the exponents.</td>
				<td>${a, x_1, x_2 \in \Z^{+}}$</td>
			</tr>
			<tr>
				<td>Raising a Quotient to a Power</td>
				<td class="center">
					${\large \left(\dfrac{a}{b}\right)^{x} = \dfrac{a^x}{b^x}}$
				</td>
				<td>
					To raise a quotient to the ${n^{\text{\scriptsize{th}}}}$ power, raise
					both the numerator and the denominator to the
					${n^{\text{\scriptsize{th}}}}$ power.
				</td>
				<td>${a, x \in \Z^{+}}$</td>
			</tr>
			<tr>
				<td>Exponent of 1</td>
				<td class="center">${\large a^1 = a}$</td>
				<td>
					Any number raised to the first power returns the original number.
				</td>
				<td>${a \in \R}$</td>
			</tr>
			<tr>
				<td>Exponent of 0</td>
				<td class="center">${\large a^0 = 1}$</td>
				<td>Any number raised to the zero power returns 1.</td>
				<td>${\{a \in \R : a \neq 0\};}$ ${0^0 = \text{undefined}}$</td>
			</tr>
			<tr>
				<td>Negative Integer Exponent Rule</td>
				<td class="center">${\large a^{-x} = \dfrac{1}{a^x}}$</td>
				<td>
					Negative exponents are equivalent to an exponent in the denominator.
				</td>
				<td>${a, x \in \Z^{+}}$</td>
			</tr>
			<tr>
				<td>Fractional Exponent Rule</td>
				<td class="center">
					${\large a^{\frac{x_1}{x_2}} = \sqrt[x_2]{a^{x_1}}}$
				</td>
				<td>
					Fractional exponents are equivalent to the
					${\text{denom}^{\text{\scriptsize{th}}}}$ root of the
					${\text{numer}^{\text{\scriptsize{th}}}}$ power.
				</td>
				<td>${a, x_1, x_2 \in \Z^{+}}$</td>
			</tr>
		</tbody>
	</table>

	<p>
		Keeping these rules in mind, let's see some functions. How about ${f(x) =
		2^x:}$
	</p>
	<figure>
		<img
			src="{% static 'images/exponential1.svg' %}"
			alt="Graph of two raised to the x."
			loading="lazy"
		/>
		<figcaption>
			The graph of ${f(x) = 2^x.}$ Notice how fast exponentials increase.
		</figcaption>
	</figure>
	<p>
		To find the derivative of this function, let's think about how Newton's
		quotient applies. It would look something like this:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\large f'(x) = \lim\limits_{\Delta x \to 0} \dfrac{a^{x + \Delta x}
				-a^x}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>
		What should we do next? Look at the term ${a^{x + \Delta x} -a^x.}$ We can
		rewrite this term as ${(a^{x})(a^{\Delta x}).}$ Incorporation this rewrite:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\large f'(x) = \lim\limits_{\Delta x \to 0} \dfrac{(a^{x})(a^{\Delta
				x})- a^x}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>Now we see a common factor we can factor out, ${a^x}$:</p>
	<figure class="math-display">
		<div>
			$$ \begin{aligned} \large f'(x) &= \lim\limits_{\Delta x \to 0}
			\dfrac{(a^{x})(a^{\Delta x})- a^x}{\Delta x} \\[1em] &=
			\lim\limits_{\Delta x \to 0} (a^x) \left(\dfrac{a^{\Delta x} - 1}{\Delta
			x}\right) \end{aligned} $$
		</div>
	</figure>
	<p>
		At this point, we have something to work with conceptually. Let's recall how
		the limit ${\lim\limits_{\Delta x \to 0}}$ applies here. With this limit, we
		know that: (1) ${a}$ is fixed, and (2) ${x}$ is fixed. Because of these two
		facts, it follows that ${a^x}$ is constant. And because ${a^x}$ is constant,
		we can factor it out of the limit &mdash; it has no bearing on our analysis
		of the limit:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\large f'(x) = a^x \lim\limits_{\Delta x \to 0} \dfrac{a^{\Delta x} -
				1}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>
		Thus, our analysis is really focused on what the limit term is. Because of
		how important the term is, we'll write this expression as:
	</p>
	<figure class="math-display">
		<div>
			<p>${\large f'(x) = a^x \cdot L(a) }$</p>
		</div>
	</figure>
	<p>where:</p>
	<figure class="math-display">
		<div>
			<p>
				${\large L(a) = \lim\limits_{\Delta x \to 0} \dfrac{a^{\Delta x} -
				1}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>
		So, what exactly is ${L(a)?}$ To begin, we state an observation. If we plug
		in the value ${x = 0,}$ we get:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\large \left. \dfrac{d}{dx} a^x \right\vert_{x = 0} = a^0 \cdot L(a) =
				1 \cdot L(a) = L(a)}$
			</p>
		</div>
	</figure>
	<p>
		This observation tells us that at ${x = 0,}$ the slope of ${a^x}$ is this
		limit we're calling ${L(a).}$ More specifically, since ${a = 2,}$ we have a
		slope of ${L(2)}$ (at ${x = 0.}$) This tells us that if we instead had the
		function ${f(x) = 3^x,}$ at ${x = 0}$ we'd get ${L(3).}$ For ${f(x) =
		13^x,}$ at ${x = 0}$ we'd get ${L(13),}$ and so on. This leads to a broader
		observation: If we know the slope at ${x = 0}$ for some function ${f(x) =
		a^x,}$ we can determine the slope everywhere else. We've seen this
		phenomenon before with sines and cosines: We knew the slope for sine and
		cosine at ${x = 0,}$ and from the trigonometric formulas, we determined the
		slope everywhere else.
	</p>
	<p>
		The difference with exponentials: we're stuck right off the bat. With sine
		and cosine, we had the benefit of using radians, which allowed us to
		interpret the limits geometrically. Here, we're dealing directly with a
		number. There are no clever shortcuts to rely on. So we're going to need a
		different tactic. In this case, we're going to
		<span class="italicsText">beg the question</span>.<label
			for="beg"
			class="margin-toggle"
			><sup></sup
		></label>
		<input type="checkbox" id="beg" class="margin-toggle sidenote-number" />
		<span class="marginnote"
			>&#8220;Begging the question&#8221; is a type of informal fallacy.
			Essentially, smuggling the conclusion into our premises. For example: God
			must exist. How do you know? Because the Bible says so. Why should I
			believe the Bible? Because the Bible was written by God. Another example:
			The belief in God is universal. After all, everyone believes in God.
			Begging the question is <span class="underlineText">not</span> a logical
			fallacy. Arguments that beg the question are logically valid. These
			arguments, however, are typically unpersuasive (as seen in the preceding
			examples), but they are perfectly logical.</span
		>
		In other words, we're going to go at this problem in a roundabout way. This
		is a <span class="italicsText">circuitous</span> approach, not
		<span class="italicsText">circular</span>. Effectively, we're going to
		refuse to answer &#8220;What is ${L(a)?}$&#8221; directly for now, but we
		will eventually get to the question.
	</p>
	<p>We start by stating a proposition:</p>
	<figure>
		<p>
			There exists a base ${e,}$ where ${e}$ is a unique real number, such that
			${M(e) = 1.}$
		</p>
	</figure>
	<p>From the proposition above, we have the following:</p>
	<figure>
		<p>${\large \frac{d}{dx} e^x = e^x}$</p>
	</figure>
	<p>
		This is a very important deduction (so much so that we will encapsulate it
		in a formal definition later). Furthermore, from our previous analysis, we
		know that:
	</p>
	<figure>
		<p>${\large \left. \frac{d}{dx} e^x \right\vert_{x = 0} = 1 }$</p>
	</figure>
	<p>
		As we're all too familiar with in mathematics, we should never take things
		for granted. Why does ${e}$ exist? How do we know it exists? So we know that
		${f(x) = 2^x}$ exists. That is, after all, what we started with.
		Furthermore, we know that it has the property ${f'(0) = L(2).}$ Now let's
		say we stretch the function ${f(x) = 2^x.}$ As we know
		<a href="{% url 'numerm:cont_graphsFunctions' %}">from our fundamentals</a>,
		we can stretch this function by multiplying its inputs with a factor ${k}$:
	</p>
	<figure>
		<p>${\large f(kx) = 2^{kx}}$</p>
	</figure>
	<p>
		By the <span class="italicsText">exponent power rule</span>, the expression
		${2^{kx}}$ is the same as ${(2^k)^x.}$ And since ${2}$ and ${k}$ are both
		real numbers, ${2^k}$ is a real number, which we can denote as ${b = 2^x.}$
		This means we can rewrite the function above as:
	</p>
	<figure>
		<p>${\large f(kx) = b^x, \space \space \space (b = 2^k)}$</p>
	</figure>
	<p>
		Now, what happens when we shrink a function's graph? Well, we essentially
		shrink the ${x}$-axis, which in turn leads to the graph's slope tilting up.
		Thus, as ${k \to \texttt{+}\infty}$ (${k}$ gets bigger and bigger), the
		slope of ${f(kx)}$ gets steeper and steeper. This is numerically confirmed
		by considering the derivative of ${f(kx):}$
	</p>
	<figure>
		<p>${\dfrac{d}{dx} b^x = \dfrac{d}{dx}f(kx) = k \cdot f'(kx)}$</p>
	</figure>
	<p>Evaluating at ${0:}$</p>
	<figure>
		<p>
			${\left. \dfrac{d}{dx} b^x \right\vert_{x = 0} = k \cdot f'(0) = k \cdot
			L(2) }$
		</p>
	</figure>
	<p>
		At this point, we know that ${e}$ exists. When ${k = \dfrac{1}{L(2)},}$ we
		have:
	</p>
	<figure>
		<p>
			${\left. \dfrac{d}{dx} b^x \right\vert_{x = 0} = k \cdot f'(0) =
			\dfrac{1}{L(2)} \cdot L(2) = 1}$
		</p>
	</figure>
	<p>
		Substitute ${e}$ into ${b,}$ the equation holds true: ${e^0 = 1.}$ And since
		the equation holds true, we know that ${e}$ exists.
	</p>
	<p>
		Knowing that ${e}$ exists, we can continue with our derivative. We must now
		put all of these observations together. To do so, we rely on a particularly
		useful operation in mathematics: The natural logarithm.
	</p>
</section>
{% endblock %}
