{% extends '../layout.html' %} {% load static %} {% block back %}
<p><a href="{% url 'numerm:calc_limits' %}">Limits and Continuity</a></p>
{% endblock %} {% block forward %}
<p><a href="">Next</a></p>
{% endblock %} {% block content %}

<h1>Derivative Formulas</h1>
<section id="intro_derivative_formulas">
	<p>
		We can think of derivative formulas as falling into two categories: (1) the
		specific, and (2) the general. A specific formula provides a way to
		differentiate a specific example. For example, ${f(x) = x^n}$ has the
		derivative ${f'(x) = nx^{n-1}.}$
	</p>
	<p>
		In contrast, general formulas are those that apply to all functions. For
		example:
	</p>
	<figure class="math-display">
		<div class="rule">
			<p>${(f + g)' = f' + g'}$</p>
			<p>${C \cdot u = C(u')}$</p>
		</div>
	</figure>
	<p>
		In the first formula above: The derivative of the sum of two functions is
		the sum of the derivatives of the two functions. And in the second: The
		derivative of a constant multiplied by a function is the constant multiplied
		by the derivative of the function. Both specific and general formulas are
		needed for polynomials.
	</p>
</section>

<section id="trig_functions">
	<h3>Derivatives of the Trigonometric Functions</h3>
	<p>Let's consider differentiating the sine function:</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{d}{dx} \sin x}$</p>
		</div>
	</figure>
	<p>
		Before we continue, recall these two propositions we saw in the previous
		section:
	</p>
	<figure class="math-display">
		<ol class="numd">
			<li>${\lim\limits_{x \to 0} \dfrac{\sin x}{x} = 1}$</li>
			<li>${\lim\limits_{x \to 0} \dfrac{1 - \cos x}{x} = 0}$</li>
		</ol>
	</figure>
	<p>
		Keep these propositions in mind as we derive the derivatives of the
		trigonometric functions.
	</p>
	<p>
		Now, to differentiate ${\sin x,}$ we use the familiar difference quotient,
		and apply the limit:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \sin x = \lim\limits_{\Delta x \to 0} \dfrac{\sin (x +
				\Delta x) - \sin x}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>
		As we saw in the section on limits, we want to reframe this expression. To
		do so, we use a trigonometric identity:
	</p>
	<figure class="math-display">
		<div>
			<p>${\sin (a + b) = \sin a \cos b + \cos a \sin b}$</p>
		</div>
	</figure>
	<p>Applying this identity:</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \sin x = \lim\limits_{\Delta x \to 0} \dfrac{(\sin x
				\cos (\Delta x) + \cos x \sin (\Delta x)) - \sin x}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>
		We cannot just plug in 0 into this limit &mdash; it's one of the trickier
		ones. We must try and group the terms. To group terms, the first thing we
		want to do is gather what we know. From basic trigonometry, we know that
		${\lim\limits_{\Delta x \to 0} \cos(\Delta x)}$ is 1. We also see that
		${\sin x}$ is a common term. Using algebra:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \sin x = \lim\limits_{\Delta x \to x} \left( \dfrac{\sin
				x \cos \Delta x - \sin x}{\Delta x} + \dfrac{\cos x \sin \Delta
				x}{\Delta x} \right)}$
			</p>
			<p>
				${\phantom{\dfrac{d}{dx} \sin x} = \lim\limits_{\Delta x \to x} \left(
				\dfrac{\sin x (\cos \Delta x - 1)}{\Delta x} + \dfrac{\cos x \sin \Delta
				x}{\Delta x} \right)}$
			</p>
			<p>
				${\phantom{\dfrac{d}{dx} \sin x} = \lim\limits_{\Delta x \to 0} \left(
				\sin x \left( \dfrac{\cos (\Delta x) - 1}{\Delta x} \right) + \cos x
				\left( \dfrac{\sin \Delta x}{\Delta x} \right)\right)}$
			</p>
			<p>
				${\dfrac{d}{dx} \sin x = \lim\limits_{\Delta x \to 0} \sin x \left(
				\dfrac{\cos (\Delta x) - 1}{\Delta x} \right) + \lim\limits_{\Delta x
				\to 0} \cos x \left( \dfrac{\sin \Delta x}{\Delta x} \right)}$
			</p>
		</div>
	</figure>
	<p>
		Now, if we look at the final result from a broad overview, this is really
		just:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \sin x = \lim\limits_{\Delta x \to 0} \sin x(m) +
				\lim\limits_{\Delta x \to 0} \cos x(n)}$
			</p>
		</div>
	</figure>
	<p>where</p>
	<figure class="math-display">
		<div>
			<p>${m = \left( \dfrac{\cos (\Delta x) - 1}{\Delta x} \right),}$ and</p>
			<p>${m = \left( \dfrac{\sin \Delta x}{\Delta x} \right)}$</p>
		</div>
	</figure>
	<p>
		We need a way to get rid of ${m}$ and ${n.}$ To do so, we will use the
		following properties, to be proven later:
	</p>
	<figure class="math-display">
		<ol class="numd">
			<li>
				${\lim\limits_{\Delta x \to 0} \dfrac{\cos \Delta x - 1}{\Delta x} = 0}$
			</li>
			<li>${\lim\limits_{\Delta x \to 0} \dfrac{\sin \Delta x}{x} = 1}$</li>
		</ol>
	</figure>
	<p>Using these properties, we have:</p>
	<figure class="math-display">
		<div>
			<p>
				${\lim\limits_{\Delta x \to 0} \sin x \underbrace{\cancel{\left(
				\dfrac{\cos (\Delta x) - 1}{\Delta x} \right)}}_{0} + \cos x
				\underbrace{\cancel{\left( \dfrac{\sin \Delta x}{\Delta x}
				\right)}}_{1}}$
			</p>
		</div>
	</figure>
	<p>
		From the above, we have ${(\sin x \cdot 0) + (\cos x \cdot 1).}$ This gives
		us ${\cos x.}$ Thus, we now have a specific formula for the derivative of
		${sin x:}$
	</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{d}{dx} \sin x = \cos x}$</p>
		</div>
	</figure>
	<p>
		Let's now consider the derivative of ${\cos x.}$ The process is similar.
		Again, we start with the diffference quotient:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \cos x = \lim\limits_{\Delta x \to 0} \dfrac{\cos (x +
				\Delta x) - \cos x}{\Delta x}}$
			</p>
		</div>
	</figure>
	<p>
		Just as we used a trigonometric identity in deriving the derivative of
		${\sin x,}$ we will use another trionometric identity for ${\cos x,}$ the
		<span class="italicsText">angle sum formula</span>:
	</p>
	<figure class="math-display">
		<div>
			<p>${\cos (a + b) = \cos a \cos b - \sin a \sin b.}$</p>
		</div>
	</figure>
	<p>Applying the angle sum formula, we have:</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \cos x = \lim\limits_{\Delta \to 0} \dfrac{\cos x \Delta
				x - \sin x \sin \Delta x - \cos x}{\Delta x}}$
			</p>
			<p>
				${\phantom{\dfrac{d}{dx} \cos x} = \lim\limits_{\Delta x \to 0}
				\left(\dfrac{\cos x \cos \Delta x - \cos x}{\Delta x} + \dfrac{- \sin x
				\sin \Delta x}{\Delta x}\right)}$
			</p>
			<p>
				${\phantom{\dfrac{d}{dx} \cos x} = \lim\limits_{\Delta x \to 0}
				\left(\dfrac{\cos x (\cos \Delta x - 1)}{\Delta x} + \dfrac{- \sin x
				\sin \Delta x}{\Delta x}\right)}$
			</p>
			<p>
				${\phantom{\dfrac{d}{dx} \cos x} = \lim\limits_{\Delta x \to 0}
				\left((\cos x) \dfrac{\cos \Delta x - 1}{\Delta x} + (- \sin
				x)\left(\dfrac{ \sin \Delta x}{\Delta x}\right)\right)}$
			</p>
			<p>
				${\dfrac{d}{dx} \cos x = \lim\limits_{\Delta x \to 0} (\cos x)
				\left(\dfrac{\cos \Delta x - 1}{\Delta x}\right) + \lim\limits_{\Delta x
				\to 0} (- \sin x)\left(\dfrac{ \sin \Delta x}{\Delta x}\right)}$
			</p>
		</div>
	</figure>
	<p>Again, we see that this is really just:</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \cos x = \lim\limits_{\Delta x \to 0} \cos x(a) +
				\lim\limits_{\Delta x \to 0} - \sin x(b)}$
			</p>
		</div>
	</figure>
	<p>where,</p>
	<figure class="math-display">
		<div>
			<p>${a = \dfrac{\cos \Delta x - 1}{\Delta x}}$ and</p>
			<p>${b = \dfrac{ \sin \Delta x}{\Delta x}}$</p>
		</div>
	</figure>
	<p>
		We want to get rid of ${a}$ and ${b,}$ so we use the same properties we saw
		earlier:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\lim\limits_{\Delta x \to 0} \dfrac{\cos \Delta x - 1}{\Delta x} = 0}$
			</p>
			<p>${\lim\limits_{\Delta x \to 0} \dfrac{\sin \Delta x}{x} = 1}$</p>
		</div>
	</figure>
	<p>Applying the two properties:</p>
	<figure class="math-display">
		<div>
			<p>
				${\dfrac{d}{dx} \cos x = \cos x \underbrace{\cancel{\left( \dfrac{\cos
				\Delta x - 1}{\Delta x} \right)}}_{0} + (- \sin x)
				\underbrace{\cancel{\left( \dfrac{\sin \Delta x}{\Delta x}
				\right)}}_{1}}$
			</p>
			<p>${\phantom{\dfrac{d}{dx} \cos x} = \cos x(0) + (- \sin x)(1)}$</p>
			<p>${\phantom{\dfrac{d}{dx} \cos x} = 0 + (- \sin x)}$</p>
			<p>${\dfrac{d}{dx} \cos x = - \sin x}$</p>
		</div>
	</figure>

	<p>Thus, we know have a specific formula for the derivative of ${\cos x:}$</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{d}{dx} \cos x = - \sin x}$</p>
		</div>
	</figure>
	<p>
		As an aside, let's think about these formulas a little more carefully to
		contextualize these derivations. Consider the derivative of ${\cos x.}$ When
		we evaluate ${\dfrac{d}{dx} \cos x}$ at ${x = 0,}$ then by the definition of
		a derivative, this is ${\lim\limits_{\Delta x \to 0} \dfrac{\cos (\Delta x)
		- 1}{\Delta x}.}$ This limit evaluates to 0, as we saw earlier.
	</p>
	<p>
		The same phenomenon appears for the derivative of ${\sin x.}$ When we
		evaluate ${\dfrac{d}{dx} \sin x,}$ we are just evaluating
		${\lim\limits_{\Delta x \to 0} \dfrac{\sin \Delta x}{\Delta x}.}$ This limit
		evaluates to 1, again, as we saw earlier.
	</p>
	<p>
		What this tells us is that the derivatives of ${\sin x}$ and ${\cos x}$ at
		${x = 0}$ yields all the values of ${\dfrac{d}{dx} \sin x}$ and
		${\dfrac{d}{dx} \cos x.}$
	</p>
	<p>
		To actually understand how we've derived the specific formulas above, we
		must understand the behavior of ${\dfrac{\sin x}{x}}$ and ${\dfrac{\cos x -
		1}{x}}$ when ${x}$ is close to 0. In other words, we must prove the
		properties we've been using:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\lim\limits_{\Delta x \to 0} \dfrac{\cos \Delta x - 1}{\Delta x} = 0}$
			</p>
			<p>${\lim\limits_{\Delta x \to 0} \dfrac{\sin \Delta x}{x} = 1}$</p>
		</div>
	</figure>
	<p>
		To construct these proofs, we must use geometry, because ${\sin x}$ and
		${\cos x}$ are geometric propositions. To do so, we'll need to use a
		variable other than ${\Delta x.}$ Namely, ${\theta.}$ We do so because we
		want to go back to thinking about sine and cosine as trigonometric ratios,
		rather than functions. We'll first consider ${\dfrac{\sin x}{x}.}$
		Accordingly, what we are really trying to prove is:
	</p>
	<figure class="math-display">
		<div>
			<p>${\lim\limits_{\theta \to 0} \dfrac{\sin \theta}{\theta} = 1}$</p>
		</div>
	</figure>
	<p>Let's first start by looking at the unit circle:</p>
	<figure>
		<img
			src="{% static 'images/calc_arclength1.svg' %}"
			alt="A unit circle with a radius of length 1. The arc length subtending the angle theta has a length of theta. Opposite the angle theta, the triangle has a leg of length sine theta. The same triangle has a hypotenuse of length 1."
			loading="lazy"
		/>
	</figure>
	<p>
		Here, our proof will depend on the followng proposition: When the radius of
		the circle has as length of 1, ${\theta}$ is the length of the arc above
		(highlighted red).
		<span class="marginnote"
			>Note that this proposition is true only if the angle ${\theta}$ is
			measured in radians. It is not true if ${\theta}$ is measured in degrees.
			This an example of why prefer measuring angles in radians rather than
			degrees in mathematics.</span
		>
	</p>
	<p>Recall the definition of sine:</p>
	<figure class="math-display">
		<div>
			<p>
				${\sin \theta = \dfrac{\lvert opposite \rvert }{ \lvert hypotenuse
				\rvert }}$
			</p>
		</div>
	</figure>
	<p>
		Since the radius is of length 1, then the hypotenuse is of length 1. Thus,
		the length of the side opposite ${\theta}$ has a length of ${\sin \theta.}$
		Now, for the sake of argument, let's make a copy of that triangle and
		reflect it:
	</p>
	<figure>
		<img
			src="{% static 'images/calc_arclength2.svg' %}"
			alt="An equilateral triangle formed by reflecting the original triangle."
		/>
	</figure>
	<p>
		From the circle above, we see that the total arc length is now ${2 \theta.}$
		We also see that we've formed an isosceles triangle, where the green side is
		of length ${2 \sin \theta,}$ while the blue sides are of length ${1.}$ We
		also see that the interior angle has a measure of ${2 \theta.}$ With these
		lengths, the ratio of the green edge of the triangle to the arc length is:
	</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{2 \sin \theta}{2 \theta} = \dfrac{\sin \theta}{\theta}}$</p>
		</div>
	</figure>
	<p>
		Now the question is, why does ${\dfrac{\sin \theta}{\theta}}$ tend to 1 as
		${\theta}$ gets closer and closer to 0? Because as the angle ${\theta}$ gets
		very very small, the arc looks more and more like a straight line. Moreover,
		as ${\theta}$ gets closer and closer to 0, the green segment and the red
		arch start to merge.
	</p>
	<figure>
		<img
			src="{% static 'images/calc_arclength3.svg' %}"
			alt="Arc and sine theta start to merge. You can barely see the green."
		/>
	</figure>
	<p>
		This shows that short curves are nearly straight. We can see this is the
		case with the value of ${sin \theta:}$
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>${\theta}$</th>
				<th>${\sin \theta}$</th>
				<th>${\dfrac{\sin \theta}{\theta}}$</th>
			</thead>
			<tbody>
				<tr>
					<td>${\dfrac{\pi}{2} \approx 1.571}$</td>
					<td>${1}$</td>
					<td>${\dfrac{2}{\pi} \approx 0.637}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{4} \approx 0.785}$</td>
					<td>${\dfrac{1}{\sqrt{2}}}$</td>
					<td>${\dfrac{2 \sqrt{2}}{\pi} \approx \approx 0.900}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{8} \approx 0.393}$</td>
					<td>${\dfrac{\sqrt{2 - \sqrt{2}}}{2}}$</td>
					<td>
						${\dfrac{\dfrac{\sqrt{2 - \sqrt{2}}}{2}}{\pi / 8} = \dfrac{4 \sqrt{2
						- \sqrt{2}}}{\pi} \approx 0.487}$
					</td>
				</tr>
				<tr>
					<td>${\vdots}$</td>
					<td>${\vdots}$</td>
					<td>${\vdots}$</td>
				</tr>
				<tr>
					<td>${\dfrac{\pi}{64} \approx 0.049}$</td>
					<td>
						${\dfrac{1}{2}\sqrt{2 - \sqrt{2 + \sqrt{2 + \sqrt{2 + \sqrt{2}}}}}}$
					</td>
					<td>
						${\dfrac{\dfrac{1}{2} \sqrt{2 - \sqrt{2 + \sqrt{2 + \sqrt{2 +
						\sqrt{2}}}}}}{\dfrac{\pi}{64}} \approx 0.9995985}$
					</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>Hence, we have:</p>
	<figure class="math-display">
		<div>
			<p>${\lim\limits_{\theta \to 0} \dfrac{\sin \theta}{\theta} = 1}$</p>
		</div>
	</figure>
	<p>
		Now let's consider the property ${\lim\limits_{x \to 0} \dfrac{\cos x -
		1}{x} = 0.}$ Again, we want to use ${\theta.}$ Here, however, because we are
		thinking about sine and cosine geometrically, we want a positive quantity,
		since we're dealing with lengths. So, we perform some manipulation up front:
	</p>
	<figure class="math-display">
		<div>
			<p>
				${\lim\limits_{\theta \to 0} \dfrac{\cos \theta - 1}{\theta} =
				\lim\limits_{\theta \to 0} \left( - \dfrac{1 - \cos
				\theta}{\theta}\right) = (-1) \cdot \lim\limits_{\theta \to 0} \dfrac{1
				- \cos \theta}{\theta} = 0}$
			</p>
		</div>
	</figure>
	<p>Thus, the hypothesis we want to prove is:</p>
	<figure class="math-display">
		<div>
			<p>
				${(-1) \lim\limits_{\theta \to 0} \dfrac{1 - \cos \theta}{\theta} = 0}$
			</p>
		</div>
	</figure>
	<p>
		The -1 is just a constant, so let's just clean it up a bit more by
		multiplying ${\dfrac{1}{-1}}$ to both sides:
	</p>
	<figure class="math-display">
		<div>
			<p>${\lim\limits_{\theta \to 0} \dfrac{1 - \cos \theta}{\theta} = 0}$</p>
		</div>
	</figure>
	<p>
		To prove the hypothesis above, we focus on the &#8220;gap&#8221; between the
		edge and the arc. Since the distance between the origin and the arc is 1,
		this gap has a length of ${1 - \cos \theta.}$
	</p>
	<figure>
		<img src="{% static 'images/calc_arclength4.svg' %}" alt="The gap." />
	</figure>
	<p>
		Just as we saw with sine, as the angle ${\theta}$ gets very small, the
		distance ${1 - \cos \theta}$ gets very, very small.
	</p>
	<figure>
		<img src="{% static 'images/calc_arclength5.svg' %}" alt="The gap." />
	</figure>
	<p>At some point, the segment ${1 - \cos \theta}$ is 0. Numerically:</p>

	<table class="truth_table">
		<thead>
			<th>${\theta}$</th>
			<th>${1 - \cos \theta}$</th>
			<th>${\dfrac{1 - \cos \theta}{\theta}}$</th>
		</thead>
		<tbody>
			<tr>
				<td>${\dfrac{\pi}{2} \approx 1.571}$</td>
				<td>${1 - 0 = 1}$</td>
				<td>${\dfrac{1 - 0}{\pi /2} = \dfrac{2}{\pi} \approx 0.637}$</td>
			</tr>
			<tr>
				<td>${\dfrac{\pi}{4} \approx 0.785}$</td>
				<td>${1 - \dfrac{1}{\sqrt{2}} \approx 0.293}$</td>
				<td>
					${\dfrac{1 - (1/\sqrt{2})}{\pi / 4} = \dfrac{4(1 -
					\dfrac{1}{\sqrt{2}})}{\pi} \approx 0.372}$
				</td>
			</tr>
			<tr>
				<td>${\dfrac{\pi}{8} \approx 0.393}$</td>
				<td>${1 - \dfrac{\sqrt{2 + \sqrt{2}}}{2} \approx 0.076}$</td>
				<td>
					${\dfrac{1 - \dfrac{\sqrt{2 + \sqrt{2}}}{2}}{\pi / 8} = \dfrac{8 - 4
					\sqrt{2 + \sqrt{2}}}{\pi} \approx 0.194}$
				</td>
			</tr>
			<tr>
				<td>${\vdots}$</td>
				<td>${\vdots}$</td>
				<td>${\vdots}$</td>
			</tr>
			<tr>
				<td>${\dfrac{\pi}{64} \approx 0.049}$</td>
				<td>
					${1 - \dfrac{1}{2}\sqrt{2 + \sqrt{2 + \sqrt{2 + \sqrt{2 + \sqrt{2}}}}}
					\approx 0.0012}$
				</td>
				<td>
					${\dfrac{1 - \dfrac{1}{2} \sqrt{2 + \sqrt{2 + \sqrt{2 + \sqrt{2 +
					\sqrt{2}}}}}}{\dfrac{\pi}{64}} \approx 0.0245}$
				</td>
			</tr>
		</tbody>
	</table>

	<p>Hence, we have the following:</p>
	<figure class="math-display">
		<div>
			<p>${\lim\limits_{\theta \to 0} \dfrac{\cos \theta - 1}{\theta} = 0}$</p>
		</div>
	</figure>
	<p>
		Note that the limit isn't simply ${\dfrac{0}{0}.}$ This is an example of a
		limit where we aren't just doing a simple plug-and-play. The ${\theta}$ in
		the denominator is the arc length. The ${\theta}$ we're taking to 0 is the
		interior angle. Thus, making the angle ${\theta}$ smaller and smaller, the
		arc length ${\theta}$ is getting closer and closer to 0, but not nearly as
		fast as ${1 - \cos \theta.}$ Remember, the property we're trying to prove is
		a ratio. Thus, because ${\cos \theta - 1}$ approaches 0 faster than the arc
		length ${\theta,}$ the limit of the ratio is 0. To think about this more
		clearly, compare the approximations in the table above. Notice how much
		faster ${1 - \cos \theta}$ approaches 0 compared to ${\theta.}$
	</p>
	<p>
		The proof above is fairly abstract. Let's see another proof. First, suppose
		there is a point ${P}$ on a unit circle, then move along to ${Q.}$
	</p>
	<figure>
		<img
			src="{% static 'images/poq_circle.svg' %}"
			alt="Unit circle with points P and Q"
		/>
	</figure>
	<p>
		From the circle above, we see that ${\sin \theta}$ is the vertical distance
		between ${P}$ and the ${\text{$x$-axis}.}$ The ${\Delta \theta}$ is the
		change in the angle, as we move from ${P}$ to ${Q.}$ Accordingly, ${Q}$ is
		the point on the unit circle where the angle measures ${\theta + \Delta
		\theta.}$ It follows then that the ${\text{$y$-coordinate}}$ of ${Q}$ is
		${\sin (\theta + \Delta \theta).}$ To determine the rate of change of ${\sin
		\theta}$ with respect to theta (i.e., ${\dfrac{d}{d \theta} \sin \theta,}$)
		we must determine the rate of change for ${y = \sin \theta.}$
	</p>
	<figure>
		<img
			src="{% static 'images/poq_circle2.svg' %}"
			alt="Unit circle with points P and Q. What we are looking for is delta y."
		/>
	</figure>
	<p>If we zoomed in on the ${\Delta y}$ above:</p>
	<figure>
		<img
			src="{% static 'images/poq_tri.svg' %}"
			alt="Delta y"
			class="forty-p"
		/>
	</figure>
	<p>
		The curved portion is the part of the circle. We've also drawn a line
		segment from ${P}$ to ${Q.}$ In doing so, we've drawn a right triangle
		${\triangle PQR.}$ Now, we use a concept we saw earlier: Very short pieces
		of curves are nearly straight. This means that the ${\text{arc } PQ}$ is
		essentially the same as the edge ${\overline{\rm PQ}:}$
	</p>
	<figure class="math-display">
		<div>
			<p>${\text{arc } PQ \approx \overline{\rm PQ}}$</p>
		</div>
	</figure>
	<p>
		Now, we know that ${\text{arc } PQ}$ has a length of ${\Delta \theta.}$
		Thus, we know that:
	</p>
	<figure class="math-display">
		<div>
			<p>${\Delta \theta \approx \overline{\rm PQ}}$</p>
		</div>
	</figure>
	<p>
		Great, we have one side down. If we can determine the measure of ${\angle
		QPR}$ is, then we can determine ${\Delta y.}$ Geometrically, we are trying
		to find the length of ${\overline{\rm PR.}}$ To think about what the measure
		of ${\angle QPR}$ might be, let's see the line with the whole unit circle:
	</p>
	<figure><img src="{% static 'images/poq_circle3.svg' %}" alt="tangent line through circle"></figure>
	<p>Notice that the segment is almost perpendicular to the radius ${\overline{\rm OP}.}$ When we take the limit, it is just about perpendicular:</p>
	<figure class="math-display">
		<div>
			<p>${\overline{\rm PQ} \underset{\approx}{\perp} \overline{\rm OP}}$</p>
		</div>
	</figure>
	<p>If we rotate the entire construction by ${{90}^\circ,}$ we can see that ${\angle QPR}$ is roughly the angle ${\theta.}$</p>
	<figure><img src="{% static 'images/poq_circle4.svg' %}" alt="tangent line through circle"></figure>
	<p>Thus, we can conclude:</p>
	<figure>
		<img
			src="{% static 'images/poq_tri2.svg' %}"
			alt="Delta y"
			class="forty-p"
		/>
	</figure>
	<p>Accordingly:</p>
	<figure class="math-display">
		<div>
			<p>${\angle QPR \approx \theta}$</p>
		</div>
	</figure>
	<p>With these two propositions: (1) ${\overline{\rm PQ} \approx \Delta \theta,}$ and (2) ${\angle QPR \approx \theta,}$ we can now draw the following premise:</p>
	<figure class="math-display">
		<div>
			<p>${\Delta y = \overline{\rm PR} \approx (\Delta \theta)\cos \theta}$</p>
		</div>
	</figure>
	<p>It is this premise that allows us to reach the proposition we were after:</p>
	<figure class="math-display">
		<div>
			<p>${\dfrac{\Delta y}{\Delta \theta} \approx \cos \theta}$</p>
		</div>
	</figure>
	<p>And by applying the limit:</p>
	<figure class="math-display">
		<div>
			<p>${\lim\limits_{\Delta \theta \to 0} \dfrac{\Delta y}{\Delta \theta} \approx \cos \theta}$</p>
		</div>
	</figure>

</section>
{% endblock %}
