<li><a href="{% url 'numerm:calc_preface' %}">Single-variable Calculus</a></li>
<ul>
	<li><a href="{% url 'numerm:calc_reals' %}">Properties of Reals</a></li>
	<li><a href="{% url 'numerm:calc_thederivative' %}">The Derivative</a></li>
	<li><a href="{% url 'numerm:calc_derivativePowerFunction' %}">Derivative of a Power Function</a></li>
	<li><a href="{% url 'numerm:calc_rateOfChange' %}">Rate of Change</a></li>
	<li><a href="{% url 'numerm:calc_limits' %}">Limits & Continuity</a></li>
	<li><a href="{% url 'numerm:calc_derivativeFormulas' %}">Derivative Formulas</a></li>
</ul>