/* Font Imports */
	@font-face {
		font-family: "CMU";
		src: url("./numerc_fonts/cmu_serif/mlmr17.ttf");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "CMU";
		src: url("./numerc_fonts/cmu_serif/mlmri12.ttf");
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: "CMU";
		src: url("./numerc_fonts/cmu_serif/mlmbx12.ttf");
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: "CMU";
		src: url("./numerc_fonts/cmu_serif/mlmbxi10.ttf");
		font-weight: bold;
		font-style: italic;
	}
	@font-face {
		font-family: "serifMain";
		src: url("./numerc_fonts/cmu_serif/serifMain.woff");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "serifMain";
		src: url("./numerc_fonts/cmu_serif/serifMainBold.woff");
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: "sansSerifMain";
		src: url("./numerc_fonts/cmu_serif/sansSerif.woff");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "sansSerifMain";
		src: url("./numerc_fonts/cmu_serif/serifMainItl.woff");
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: "Inconsolata";
		src: url("./numerc_fonts/inconsolata/inconsolata_regular.ttf");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "Linux Biolinum";
		src: url("./numerc_fonts/cmu_serif/linux-biolinum.regular.ttf");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "Linux Biolinum";
		src: url("./numerc_fonts/cmu_serif/linux-biolinum.bold.ttf");
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: "Fira";
		src: url("./numerc_fonts/inconsolata/FiraCode-VariableFont_wght.ttf");
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: "Fira";
		src: url("./numerc_fonts/inconsolata/FiraCode-VariableFont_wght.ttf");
		font-weight: normal;
		font-style: normal;
	}
/* Colors & Fonts */
	:root {
	--page: #ffffff;
	--darkRed: #ea3c4dbc; 
	--scarlet: #a00000; 
	--lightRed: #ff949f; 
	--orange: rgb(168, 99, 2);
	--darkGreen: #447d08;
	--darkBlue: #0077B6;
	--linkBlue: #024c9f;
	--lightBlue: #ffffff;
	--mediumBlue: #9eddf4;
	--indigo: #551686ed;
	--lightGrey: rgb(190, 190, 190);
	--textColor: #333;
	--blackBG: #EFF2EF;
	--sky: rgb(246, 250, 252);
	--gold: #D4AF37;
	--wheat: #fffcf1;
	/* "CMU",  */

	--serif: "serifMain", "Garamond", "Apple Garamond", "Athelas", "Iowan Old Style", "Hoefler Text", "Palatino", "New York", "Droid Serif", "Times", "Source Serif Pro", "serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

	--serifTitle: "sansSerifMain", "Athelas", "Georgia", serif;
	--sansSerifTitle: "sansSerifMain", "Avenir", sans-serif;

	--mono: "Menlo", "Monaco", "Consolas", "monospace",  "Liberation Mono", "Lucida Console"; 

	--sansSerif: "avenir", "-apple-system", "BlinkMacSystemFont", "avenir next",  "segoe ui", "helvetica neue", "helvetica", "Ubuntu", "roboto", "noto", "arial", "sans-serif"; 
	}
/* global styles */
	* {
		box-sizing: border-box;
		text-rendering: optimizeSpeed;
	}
	body {
		font-family: var(--serif);
		color: var(--textColor);
		font-size: 0.9rem;
		padding: 0;
		margin: 0;
		text-align: left;
		/* background-color: var(--blackBG); */
	}
	div {padding: 0; margin: 0}
/* Page styles */
	main {
		display: grid;
		grid-template-columns: 23% 77%;
		margin: 0;
	}
	article {
		width: 100%; 
		padding: 0;
		margin: 0;
		/* background-color: var(--blackBG); */
		background-color: var(--page);
	}
	div#page {
		margin: 0.8em;
		position: sticky;
		align-self: start;
		height: 96vh;
		padding: 2.5em 0;
		padding-top: 0;
		overflow-y: auto;
		background: rgb(29, 29, 29);
		background-color: var(--page);
		box-shadow: 0 4px 4px 4px rgb(201, 201, 201);
	}
	div.content {margin-bottom: 5vh;}
	section {
		margin: 0; 
		padding: 0 4em;
		padding-right: 45%;
	}
	section section {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	/* Footer */
		footer {padding: 0.5em;}
		footer p {
			font-family: var(--mono);
			padding: 0;
			color: rgb(32, 32, 32);
			text-align: center;
			font-size: 0.95rem;
		}
/* Table of Contents -- Index Page */
	ul.toc {
		list-style: none;
		counter-reset: volume-number;
		padding: 0 2em;
		margin: 0 1em;
	}
	ul.toc li {
		margin: 0 1.5em;
		counter-increment: volume-number; 
	}
	ul.toc li::marker {
		content: "Volume " counter(volume-number);
	}
	ul.toc ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul.toc>ul {
		counter-reset: section-number;
	}
	ul.toc>ul>li>ul {
		counter-reset: chapter-number;
	}
	ul.toc>ul>li>ul>li>ul {
		counter-reset: part-number;
	}
	ul.toc ul li {
		counter-increment: section-number;
	}
	ul.toc ul li ul li {
		counter-increment: chapter-number;
	}
	ul.toc ul li ul li ul li {
		counter-increment: part-number;
	}
	ul.toc ul li::marker {
		content: counter(volume-number) "." counter(section-number);
	}
	ul.toc ul li ul li::marker {
		content: counter(volume-number) "." counter(section-number) "." counter(chapter-number);
	}
	ul.toc ul li ul li ul li::marker {
		content: counter(volume-number) "." counter(section-number) "." counter(chapter-number) "." counter(part-number);
	}
/* Nav Bar */
	html {
		scroll-behavior: smooth;
	}
	main > nav {
		padding: 0;
		margin-top: 0;
		position: sticky;
		top: 0;
		align-self: start;
		height: 99.9vh;
		overflow-y: auto;
		font-family: var(--serif);
		background: var(--sky);
	}
	nav.section-nav > h6 {
		margin: 0.4em; 
		padding: 0.3em;
		font-family: var(--sansSerifTitle);
	}
	nav.section-nav > h6 > a {
		font-size: 1.4rem;
	}
	main nav ul {
		margin: 0 1.5rem;
		padding: 0 0.3em;
	}
	main nav li::marker {
		font-size: 0.6rem;
		color: rgb(65, 65, 65);
	}
	main > nav ul li {
		padding: 0;
		font-size: 0.8rem;
	}
	.section-nav {
		padding: 0;
		padding-bottom: 1.5em;
	}
	.section-nav a {
		text-decoration: none;
		padding: 0.1em;
		display: block;
		color: rgb(56, 56, 56);
	}
	.section-nav li a {
		width: fit-content;
		border-bottom: dotted thin grey;
		border-left: dotted thin grey;
	}
	.section-nav a:hover,
	.section-nav a:focus {
		background-color: white;
	}
/* Nav Button */
	div.nav {
		margin: 0 0.4rem;
		padding: 0.4rem;
		padding-bottom: 0;
		position: -webkit-sticky;
		top: 0;
		position: sticky;
		display: flex;
		flex-direction: row;
		justify-content: end;
		z-index: 1;
	}
	div.nav a {
		padding: 0.3em;
		text-decoration: none;
		font-size: 0.75rem;
		border-radius: 0.25rem;
		background: var(--page);
		box-shadow: 0.063rem 0.063rem 0.188rem #929292, -0.063rem -0.063rem 0.188rem #e4e4e4;
		text-decoration: none;
		color: var(--textColor);
		transition: color 1s;
		display: inline-block;
	}
	div.nav a:hover {
		background: var(--page);
		box-shadow: inset 0.063rem 0.063rem 0.125rem #a6a6a6, inset -0.063rem -0.063rem 0.125rem #ffffff;
		color: rgb(76, 170, 86)
	}
/* Scrollbar */
		nav::-webkit-scrollbar {
			width: 2px;
		}
		div#page::-webkit-scrollbar {
			width: 2px;
		}
		nav::-webkit-scrollbar-track {
			background: #ffffff;
		}
		div#page::-webkit-scrollbar-track {
			background: #8b8b8b;
		}
		nav::-webkit-scrollbar-thumb {
			background: rgb(122, 122, 122);
		}
		div#page::-webkit-scrollbar-thumb {
			background: rgb(125, 255, 251);
		}
		nav::-webkit-scrollbar-thumb:hover {
			background: rgb(53, 53, 53);
		}
/* Superscripts/Footnotes */
	main {counter-reset: fn;}
	sup {
		counter-increment: fn 1;
		color: var(--textColor);
	}
	sup:hover {
		cursor: pointer;
	}
	sup::after {
		content: counter(fn);
		color: var(--darkBlue);
	}
/* Margin Notes */
	.sidenote,
	.marginnote {
		padding: 0.8em 6em;
		float: right;
		clear: right;
    margin-right: -75%;
    width: 80%;
    margin-top: 0.3rem;
    margin-bottom: 0;
		font-size: 0.8rem;
		line-height: 1.2;
		vertical-align: baseline;
		position: relative;
		color: rgb(33, 119, 153);
	}
	.sidenote-number {
		counter-increment: sidenote-counter;
	}
	.sidenote-number:after,
	.sidenote:before {
		position: relative;
		vertical-align: baseline;
	}
	.sidenote-number:after {
		content: counter(sidenote-counter);
		font-size: 0.7rem;
		top: -0.5rem;
		left: 0.1rem;
	}
	.sidenote:before {
		content: counter(sidenote-counter) " ";
		font-size: 0.7rem;
		top: -0.5rem;
	}
	input.margin-toggle {display: none;}
	label.sidenote-number {
		display: inline-block;
		max-height: 2rem; /*should be less than or equal to paragraph line-height*/
	}
	label.margin-toggle:not(.sidenote-number) {
		color: var(--darkBlue);
		display: none;
	}
	.iframe-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
/* Figure element styling */
	figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 5% 0;
	}
	div.compare figure {display: block;}
	figcaption {
		font-size: 0.75rem;
		width: 50%;
		margin-top: 2%;
		font-family: var(--serif);
		text-align: center;
	}
	/* Use math-display instead of katex display math; katex is absolute hell with styling */
	figure.table {
		display: flex;
		margin: 1%; 
		align-content: center;
		width: 100%
	}
	figure.math-display {
		display: flex;
		align-content: center;
		padding: 0; 
		margin: 0;
	}
	.math-display > div {margin: 0; padding: 0; width: fit-content;}
	.math-display > div > p {
		width: 100%;
		margin: 0; 
		padding: 0; 
		margin-top: 0.4em;
	}
/* Image styles */
	figure > img {width: 100%; height: auto; margin: 1%;}
	/* Image widths for SVGs */
		.five-p {width: 5%;}
		.ten-p {width: 10%;}
		.twenty-p {width: 20%;}
		.quarter-p {width: 25%;}
		.thirty-p {width: 30%;}
		.forty-p {width: 40%;}
		.fifty-p {width: 50%;}
		.sixty-p {width: 60%;}
		.seventy-p {width: 70%;}
		.eighty-p {width: 80%;}
		.ninety-p {width: 90%;}
		.hundred-p {width: 100%;}
	/* Title image */
		.title_image {
			margin: 4% 0;   
			/* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.259); */
		}
		.shadow {
			-webkit-filter: drop-shadow(0px 1px 3px #222);
			filter: drop-shadow(0px 5px 2px rgba(34, 34, 34, 0.492));
		}
/* Heading styles */
	h1,h2,h3,h4,h5,h6,p.h7,p.h8,p.h9,p.h10,p.subheading,p.warning-heading {
		font-family: var(--serifTitle);
		display: block;
		padding-bottom: 0.2em;
	}
	h1 {
		font-size: 2rem;
		line-height: calc(1.2ex / 0.42);
		margin: calc(1ex / 0.42);
		text-align: center;
		color: var(--textColor);
	}
	h2 {
		font-size: 1.7rem;
		line-height: calc(1ex / 0.42);
		margin: calc(1ex / 0.42) 0;
		text-align: left;
		border-bottom: thin solid;
	}
	h3 {
		font-size: 1.5rem;
		line-height: calc(1ex / 0.38);
		margin: calc(1ex / 0.38) 0;
	}
	h4 {
		font-size: 1.2rem;
		line-height: calc(1ex / 0.37);
		margin: calc(1ex / 0.37) 0;
	}
	h5 {font-size: 0.95rem;}
	h6 {
		font-size: 0.9rem; 
		text-align: center;
		border-bottom: none;
	}
	p.h7,p.h8,p.h9,p.h10 {
		font-size: 75%;
		padding: 0;
		margin: 0.3rem 0 0 0;
		text-indent: 0;
		font-style: italic;
		font-weight: bold;
	}
	p.subheading, p.warning-heading {
		font-size: 0.9rem;
		font-weight: bold;
		padding: 0.6em;
		text-indent: 0;
	}
	section.exercise>p.subheading {
		margin: 1%;
	}
	span.topic {
		display: inline-block;
		margin-top: 1em;
		margin-right: 0.7em;
		font-family: var(--serifTitle);
		font-weight: bold;
		font-size: 0.95rem;
	}
	div.rule span.topic{
		font-variant: small-caps; 
		font-weight: normal;
	}
	span.exh {
		font-style: italic; 
		text-decoration: underline;
	}
	span.title {
		font-variant: small-caps;
	}
	span.header {
		display: block;
		font-family: var(--serifTitle);
		padding: 0.3em;
		text-align: center;
		font-weight: bold;
	}
/* Links */
	section a {
		position: relative;
		padding:0;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		color: #000;
	}
	section a:visited {
		color: none;
		outline: 0;
	}
	section a:hover {
		cursor: pointer;
	}
	section a::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #000;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}
	section a:hover::before {
		transform: scaleX(1);
	}
/* Paragraph styles */
	p {
		font-size: 0.85rem;
		text-align: left;
	}
	section > p {
		line-height: calc(1ex / 0.32);
		margin: calc(0.7ex / 0.32) 0;

		/* 60 to 70 characters per line */
		width: 70ch;
    max-width: 100%;
	}
	h2 + p, h2 + ul.toc {
		margin-top: -1rem;
	}
	h3 + p {
		margin-top: -1.8rem;
	}
	h4 + p {
		margin-top: -1.5rem;
	}
/* Drop cap */
	span.drop {
		float: left;
		font-family: Georgia;
		font-size: 75px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
/* Tool Tip */
	article .tooltip {
		position:relative;
	}

	article .tooltip:before {
		content: attr(data-text);
		position:absolute;
		z-index: 1;
		
		/* vertically center */
		top:100%;
		transform:translateY(-50%);
		
		/* move to right */
		left:100%;
		margin-left: 0.9rem;
		
		/* basic styles */
		width: 10rem;
		padding: 0.8em;
		border-radius: 0.5em;
		border: thin lightgray solid;
		background: rgb(255, 254, 243);
		color: rgb(59, 59, 59);
		font-size: 0.85rem;
		display:none; /* hide by default */
	}
	article .tooltip:hover {
		cursor: pointer;
	}
	
	article .tooltip:hover::before {
		display:block;
	}

	.tip {
		position: relative;
	}
	
	.tiptxt {
		visibility: hidden;
		background-color: rgb(255, 255, 255);
		border: thin lightgray solid;
		border-radius: 0.5em;
		font-size: 0.85rem;
		padding: 0.8em;
		width: 10rem;
	
		/* Position the tooltip */
		position: absolute;
		/* vertically center */
		top:100%;
		transform:translateY(-50%);
		
		/* move to right */
		left:100%;
		margin-left: 0.9rem;
		z-index: 1;
	}
	
	.tip:hover .tiptxt {
		visibility: visible;
	}
	
/* List styles */
	li {
		font-size: 0.85rem; 
		padding:0.1em 0.5em;
		line-height: 1.4;
	}
	ol,ul {
		margin: 0;
		padding: 0.3em;
		padding-left: 2em;
	}
	ul>li::marker {font-size: 0.9rem;}
	ol > ol {list-style-type:lower-latin;}
	figure.math-display>div>ul.larg {
		list-style-type: none; 
		font-size: 0.85rem; 
		width: fit-content; 
		margin: 0;
	}
	figure.math-display>div ul.def {
		list-style-type:none; 
		width: 100%; 
		margin: 0; 
		margin-top: 0.5em;
	}
	ul.larg li:nth-last-child(2) {
		border-bottom: 1px solid rgb(35, 35, 35); 
		padding-bottom: 0.3em;
	}
	ul.larg li {
		white-space: pre; 
		width:100%
	}
	ul.larg li.conc::marker {content: "\2234  "; font-size: 1.4em;}
	ul.def {
		list-style-type: none; 
		margin-left: 2.8em;
	}
	ul.def li.where::marker {
		content: "where  "; 
		font-size: 1em;
	}
	ul.smallBullets li {
		margin: 0;
		padding: 0;
	}
	ul.smallBullets li::marker {
		font-size: 0.8em;
	}
	
	/* Special list for code general syntax */
		ul.syntax {
			margin: 0.5em;
			padding:0;
		}
		ul.syntax li {
			list-style-type: none;
			font-family: var(--mono);
		}
	/* Section TOC styles */
		div.toc h3 {
			font-variant: small-caps;
			font-weight: normal;
			margin: 0.3rem 0;
			margin-left: -0.8em;
			margin-top: 0.5rem;
			padding: 0.2em 0;
			width: fit-content;
		}
		div.toc {
			width: -moz-fit-content;
			width: fit-content;
			margin: 0.9rem 0;
			padding: 0 1em;
		}
		
		div.toc > ol {
			padding: 0.6em;
			list-style-type: upper-roman;
			margin: 0;
			margin-left: 1.2rem;
			margin-right: 0.5rem;
			padding-right: 0;
			padding-top: 0;
			width: fit-content;
		}
		div.toc li::marker {font-size: 0.9rem}
	/* Counter Reset for Figures */
		figure { counter-reset: list; }
	/* numbered list */
		ol.numd > li {
			list-style: none;
			position: relative;
		}
		ol.numd > li:before {
				counter-increment: list;
				content: "(" counter(list, decimal) ") ";
				position: absolute;
				left: -2em;
				font-size: 0.85rem;
		}
/* Text styles */
	em {
		font-weight: normal;
		font-style: normal;
		font-variant: small-caps;
	}
	.redText {color: var(--scarlet);}
	.greenText {color: var(--darkGreen);}
	.blueText {color: var(--darkBlue);}
	.orangeText {color: var(--orange);}
	.purpleText {color: var(--indigo);}
	.greyText {color: var(--lightGrey);}
	.underlineText {text-decoration: underline;}
	.italicsText {
		font-style: italic; 
	}
	.boldText {font-weight: bold;}
	.boldItalics {
		font-weight: bold; 
		font-style: italic;
	}
	.monoText {
		font-family: var(--mono); 
		font-size: 0.85em; 
		margin: 0 2px;
		font-style: normal; 
		white-space: pre;
	}
	.monoText *.katex {font-size: 1.1em !important;}
	.smallcaps {font-variant: small-caps;}
	mark {background-color: #ffe77d}
	.term {
		font-family: "CMU";
		font-size: 0.85rem;
		font-weight: bold; 
		font-style: italic; 
	}
/* Blockquote */
	blockquote {
		font-size: 1.4rem;
		float: right;
		font-style: italic;
		text-align: center;
		color: var(--darkBlue);
		padding: 1rem;
		margin:0;
	}
	blockquote::before {
		content: open-quote;
	}
	blockquote::after {
		content: close-quote;
	}
/* Table styles */
	table {
		border: solid thin rgb(175, 175, 175);
		border-collapse: collapse;
		width: fit-content;		
	}
	th {
		font-family: var(--sansSerifTitle);
		font-size: 0.7rem;
	}
	table.computation {border: none;}
	table.computation * {font-size: 0.98em;}
	table.computation th,
	table.computation td {
		padding: 0.3em 0.9em;
		border: none;
		text-align: left; 
	}
	table td p {margin: 0; padding: 0;}
	th,td {
		border: solid 1px rgb(175, 175, 175);
		max-width: fit-content;
		padding: 0.2vmin;
		text-align: left;
	}
	table.heading_center th {text-align: center;}
	table.loop_table th {text-align: center;}
	table.loop_table td:nth-child(1) {text-align: center;}
	#hex_table {font-family: var(--mono);}
	table.truth_table {
		font-size: 0.8rem;
	}
	table.truth_table th, table.truth_table td {padding: 0.3em}
	table.truth_table td {width: fit-content;}
	table.truth_table pre code {font-size: 0.6rem !important;}
	table.proof_table {margin: 0; padding: 0; width: fit-content; border: none;}
	table.proof_table td {padding: 3%; padding-left: 0;}
	table.proof_table tr td:nth-last-child(1) {padding-left: 4%; font-style: italic;}
	table.proof_table * {border: none; font-size: 0.99em;}
	table.proof_table p {font-size: 0.85rem;}
	table.proof_table tr > td {text-align: left;}

	table.monotable *, table.monotable {border: none;}
	table.monotable td * {margin: 0.4em;}
	table.monotable * {font-family: var(--mono); font-size: 0.75rem;}
	table#detailOutline td { 
		font-family: var(--mono); 
			font-size: 0.76rem;
	}
	table.mono td {
		padding: 0.2em;
		text-align: center;
		font-family: var(--mono);
		font-size: 0.75rem;
	}
	table.array {
		border: none;
	}
	table.array * {
		text-align: center;
		padding: 0.4em;
		padding-top: 0;
		padding-bottom: 0;
	}
	table.array tr td:nth-child(1) * {
		color: rgb(139, 194, 212);
		padding: 0;
	}
	table.array td {
		border: none;
	}
	table.array td + td {
		border-left: solid thin var(--lightGrey);
	}
	table.array tr:nth-child(1) {
		border-bottom: solid thin var(--lightGrey);
	}
	/* Styles for individual cells */
		.beige {
			/* make table cell beige background*/
			background-color: var(--beige);
		}
		.center {
			/* make cell content center */
			text-align: center;
		}
		.monoCell {
			font-family: var(--mono);
		}
		.headers-mono th {
			font-family: var(--mono);
		}
		.all-td-centered td {
			text-align: center;
		}
/* API Table */
	table.api {
		font-size: 0.8rem;
		display: block;
		padding: 0.4em;
		background-color: var(--wheat);
		border: solid thin rgb(221, 221, 221);
		border-radius: 0.7em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	table.api td, 
	table.api th {
		border: none;
	}
	table.api th {
		border-bottom: solid thin var(--lightGrey);
		padding: 0.2em 0.5em;
	}
	table.api td {
		padding: 0.4em;
		border-bottom: solid thin var(--lightGrey);
		border-left: solid thin var(--lightGrey);
		border-right: solid thin var(--lightGrey);
	}
	table.api td:nth-child(1) {
		font-family: var(--mono);
		font-size: 0.8rem;
	}
/* Algorithms - Pseudocode */
	ol.alg {
		font-family: var(--mono);
		background-color: rgb(246, 248, 250);
		counter-reset: lineNumber;
		list-style: none;
		margin: 0;
		padding: 0;
		padding-right: 0.5em;
		box-shadow: inset 20px 0 0 0 rgb(239, 239, 239);
	}
	ol.alg ol {margin: 0; padding: 0;}
	ol.alg li {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 0.64rem;
		color: rgb(82, 82, 82);
		counter-increment: lineNumber;
	}
	ol.alg li::before {
		display: inline-block;
		content: counter(lineNumber);
		color: rgb(144, 144, 144);
		padding: 3px;
	}
	ol.alg>li::before {width: 2em;}
	ol.alg>ol>li::before {width: 4em;}
	ol.alg>ol>ol>li::before {width: 6em;}
	ol.alg>ol>ol>ol>li::before {width: 8em;}
	ol.alg>ol>ol>ol>ol>li::before {width: 10em;}
	ol.alg li .katex {
		font-size: 1.2em !important;
	}
/* Special Divs */
	div.compare {
		margin: 1% 0;
		width:100%;
		display: grid;
		grid-auto-columns: 1fr;
		column-gap: 1px;
		grid-auto-flow: column;
	}
	div.compare pre {margin: 1px; width: fit-content;}
	div.compare pre code {font-size:1.5vmin;}
	div.example {
		margin: 0 5%;
	}
	div.example p {
		padding: 0.5em 0;
		font-size: 0.85rem;
	}
	div.rule {
		margin: 0 10%;
	}
	div.rule p {
		margin-top: 0; 
		margin-bottom: 0.4rem;
	}
	div.rule ul.abs-code, 
	ul.abs-code ul {
		list-style: none;
	}
	div.conclusion > ul,
	div.premises > ul {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.premises > ul p {padding: 0.4em;}
	div.premises > ul li:nth-child(2):before {
		content: "\2235"; 
		padding-right: 1ch;
	}
	div.premises > ul li:nth-child(2) {
		padding-left: 1em; 
		text-indent: -1em;
	}
	div.conclusion > ul li, 
	div.premises > ul li {
		font-size: 0.8rem;
		width: 50%;
		margin-bottom: 0.5em;
		display: block;
		flex: 0 1 auto;
		list-style-type: none;
	}
	div.premises ul li:nth-child(2) {
		font-style: italic;
	}
	div.mproof {margin: 0;}
/* Main idea box */
	div.mainIdea {
		margin: 1em; 
	}
	div.mainIdea * {
		font-family: var(--sansSerif);
		font-size: 0.75rem;
	}
	div.mainIdea li::marker {font-size: 0.7em;}
/* Summary Box */
	div.summary {
		margin: 2em 3em;
		margin-left: 0;
		border-radius: 0.5em;
		padding: 1em;
		background-color: rgb(234, 255, 255);
	}
	div.summary h6 {
		text-align: left;
		font-size: 1rem;
		color: teal;
		margin: 0;
		padding: 0.4em 0;
	}
	div.summary ul {
		padding: 0 0.8em;
	}
/* Split Column Layout */
	div.compare {
		counter-reset: exnum;
	}
	div.compare span.exh::after {
		counter-increment: exnum;
		content: counter(exnum);
	}
/*? Global Code Styles */
	code, pre {
		width: auto;
		height: auto;
		font-family: var(--mono);
		text-align: left;
		font-size: 0.65rem;
		white-space: pre-wrap;
		font-weight: normal;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.3;
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	pre {
		margin: 1px;
		padding: 0.5rem 0.6rem;
		overflow: auto;
		border-radius: 0.3em;
		/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	}
	div.compare > div > pre.language-pseudo {width: fit-content; border: none;}
	code[class*="language-"]>.token.comment {
		font-size: 0.7rem;
	}
/*? Language - Pseudo */
	pre[class*="language-pseudo"] {
		padding: 0.8em;
		background-color: rgb(246, 248, 250);
		box-shadow: none;
		width: fit-content;
		margin: 1% 0;
		text-align: left;
		height: fit-content;
		white-space: pre-wrap;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1;
		-moz-tab-size: 3;
		-o-tab-size: 3;
		tab-size: 3;


		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	code[class*="language-pseudo"] {
		font-size: 0.75rem;
		color: #424242; /* base00 */
	}
	div.compare pre.language-pseudo {
		width: 100%;
	}
/*? Language - Java */
	code[class*="language-java"], 
	pre[class*="language-java"] {
		color: rgb(255, 247, 228); /* base00 */
	}


	:not(pre) > code[class*="language-java"],
	pre[class*="language-java"] {
		background-color: rgb(18,53,85);
	}

	/* Inline code */
	:not(pre) > code[class*="language-java"] {
		padding: .1em;
		border-radius: .3em;
	}

	code[class*="language-java"]>.token.comment,
	code[class*="language-java"]>.token.prolog,
	code[class*="language-java"]>.token.doctype,
	code[class*="language-java"]>.token.cdata {
		color: rgb(134,112,124); /* base01 */
		color: #a89984; /* base1 */
	}
	code[class*="language-java"]>.token.punctuation {
		color: rgb(221, 138, 184); /* base01 */
	}
	code[class*="language-java"]>.token.namespace {
		opacity: .7;
	}
	code[class*="language-java"]>.token.property,
	code[class*="language-java"]>.token.tag,
	code[class*="language-java"]>.token.number,
	code[class*="language-java"]>.token.constant,
	code[class*="language-java"]>.token.symbol,
	code[class*="language-java"]>.token.deleted {
		color: #ffe590; /* blue */
	}
	code[class*="language-java"]>.token.boolean,
	code[class*="language-java"]>.token.class-name {
		color: #b7ffed;
	}
	code[class*="language-java"]>.token.selector,
	code[class*="language-java"]>.token.attr-name,
	code[class*="language-java"]>.token.string,
	code[class*="language-java"]>.token.char,
	code[class*="language-java"]>.token.builtin,
	code[class*="language-java"]>.token.url,
	code[class*="language-java"]>.token.inserted {
		color: #9fff7c;
	}
	code[class*="language-java"]>.token.entity {
		color: #657b83; /* base00 */
		background: #eee8d5; /* base2 */
	}
	code[class*="language-java"]>.token.atrule,
	code[class*="language-java"]>.token.attr-value,
	code[class*="language-java"]>.token.keyword {
		color: rgb(218, 174, 248); /* green */
	}
	code[class*="language-java"]>.token.function,
	code[class*="language-java"]>.token.operator {
		color: rgb(255, 126, 126);
	}
	code[class*="language-java"]>.token.regex,
	code[class*="language-java"]>.token.important,
	code[class*="language-java"]>.token.variable {
		color: #cb4b16; /* orange */
	}
	code[class*="language-java"]>.token.important,
	code[class*="language-java"]>.token.bold {
		font-weight: bold;
	}
	code[class*="language-java"]>.token.italic {
		font-style: italic;
	}
	code[class*="language-java"]>.token.entity {
		cursor: help;
	}
	code[class*="language-java"]>pre[data-line] {
		position: relative;
		padding: 1em 0 1em 3em;
	}
	code[class*="language-java"]>span.inline-color {
		display: block;
		/* To prevent visual glitches again */
		height: 120%;
		width: 120%;
	}
/*? Language - Bash */
	code[class*="language-bash"],
	pre[class*="language-bash"] {
		color: white;
	}
	/* Code blocks */
	pre[class*="language-bash"],
	:not(pre) > code[class*="language-bash"] {
		background: hsl(0, 0%, 16%); /* #141414 */
	}

	.command-line-prompt {
		border-right: 1px solid rgb(121, 121, 121);
		display: block;
		float: left;
		font-size: 100%;
		letter-spacing: -1px;
		margin-right: 0.6em;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
  }

  .command-line-prompt > span:before {
		color: rgb(98, 169, 156);
		content: ' ';
		display: block;
		padding-right: 0.4em;
  }

  .command-line-prompt > span[data-user]:before {
		content: "$";
  }

  .command-line-prompt > span[data-user="root"]:before {
		content: "#";
  }

  .command-line-prompt > span[data-prompt]:before {
		content: attr(data-prompt);
  }


/*? Language - Lisp */
	code[class*="language-scheme"],
	pre[class*="language-scheme"] {
		color: rgb(54, 54, 54); /* base00 */
		border-radius: 0;
	}

	:not(pre) > code[class*="language-scheme"],
	pre[class*="language-scheme"] {
		border-top: thin solid var(--lightGrey);
		border-bottom: thin solid var(--lightGrey);
		background-color: rgb(242, 249, 249); /* base3 */
	}



	code[class*="language-scheme"]>.token.comment { 
		color: rgb(99, 137, 137); 
	}

	code[class*="language-scheme "]>.token.prolog,
	code[class*="language-scheme"]>.token.doctype,
	code[class*="language-scheme"]>.token.cdata {
		color: #acc3c3; /* base1 */
	}

	code[class*="language-scheme"]>.token.punctuation { 
		color: rgb(71, 71, 71); 
	}

	code[class*="language-scheme"] .token.function,
	code[class*="language-scheme"]>.token.operator { 
		color:rgb(0, 70, 141);
	}

	code[class*="language-scheme"] .token.property,
	code[class*="language-scheme"] .token.tag,
	code[class*="language-scheme"] .token.boolean,
	code[class*="language-scheme"] .token.number {
		color: rgb(163, 54, 0); /* blue */
	}


	code[class*="language-scheme"] .token.string,
	code[class*="language-scheme"] .token.char,
	code[class*="language-scheme"] .token.url,
	code[class*="language-scheme"] .token.inserted {
		color: #f1ae4a; /* cyan */
	}

	code[class*="language-scheme"] .token.car {
		color: #82ead9; /* yellow */
	}

	code[class*="language-scheme"] .token.atrule,
	code[class*="language-scheme"] .token.attr-value,
	code[class*="language-scheme"] .token.keyword {
		color: #185c00; /* green */
	}

	
	code[class*="language-scheme"] .token.class-name {
		color: rgb(206, 149, 250); 
	}

	code[class*="language-scheme"] .token.regex,
	code[class*="language-scheme"] .token.important,
	code[class*="language-scheme"] .token.variable {
		color: #cb4b16; /* orange */
	}

	code[class*="language-scheme"] .token.important,
	code[class*="language-scheme"] .token.bold {
		font-weight: bold;
	}
	code[class*="language-scheme"] .token.italic {
		font-style: italic;
	}

	code[class*="language-scheme"] .token.entity {
		cursor: help;
	}
	code[class*="language-scheme"] .redText {
		color: rgb(255, 91, 91);
	}

	pre[data-line] {
		position: relative;
		padding: 1em 0 1em 3em;
	}

	/* Inline code */
	:not(pre) > code[class*="language-scheme"] .token {
		color: white !important;
	}
	:not(pre) > code[class*="language-scheme"] {
		padding: .2em;
		border-radius: .3em;
		display: inline-block;
		margin: 1px;
		box-shadow: none;
	}

/*? Language - JavaScript */
	code[class*="language-javascript"],
	pre[class*="language-javascript"] {
		color: rgb(80, 80, 80);
	}
	:not(pre) > code[class*="language-javascript"],
	pre[class*="language-javascript"] {
		background-color: rgb(246, 248, 250);
	}

	code[class*="language-javascript"]>.token.dom {color: rgb(195, 115, 3);}

	code[class*="language-javascript"]>.token.comment,
	code[class*="language-javascript"]>.token.block-comment {
		color: rgb(127, 127, 127);
	}

	code[class*="language-javascript"]>.token.prolog,
	code[class*="language-javascript"]>.token.doctype,
	code[class*="language-javascript"]>.token.cdata {
		color: #ababab;
	}

	code[class*="language-javascript"]>.token.punctuation {
		color: rgb(61, 61, 61); /* base00 */
	}

	code[class*="language-javascript"]>.token.tag,
	code[class*="language-javascript"]>.token.attr-name,
	code[class*="language-javascript"]>.token.namespace,
	code[class*="language-javascript"]>.token.deleted {
		color: #ad1015;
	}

	code[class*="language-javascript"]>.token.function-name {
		color: rgb(34, 113, 124);
	}

	code[class*="language-javascript"]>.token.string,
	code[class*="language-javascript"]>.token.char,
	code[class*="language-javascript"]>.token.boolean,
	code[class*="language-javascript"]>.token.number {
		color: rgb(26, 124, 2);
	}
	code[class*="language-javascript"]>.token.operator {
		color: rgb(8, 99, 129);
	}

	

	code[class*="language-javascript"]>.token.attr-value,
	code[class*="language-javascript"]>.token.regex,
	code[class*="language-javascript"]>.token.variable
	code[class*="language-javascript"]>.token.function,
	code[class*="language-javascript"]>.token.function.function,
	code[class*="language-javascript"]>.token.property,
	code[class*="language-javascript"]>.token.class-name,
	code[class*="language-javascript"]>.token.entity,
	code[class*="language-javascript"]>.token.url,
	code[class*="language-javascript"]>.token.constant,
	code[class*="language-javascript"]>.token.symbol {
		color: rgb(173, 0, 0);
	}

	code[class*="language-javascript"]>.token.selector,
	code[class*="language-javascript"]>.token.important,
	code[class*="language-javascript"]>.token.atrule,
	code[class*="language-javascript"]>.token.keyword,
	code[class*="language-javascript"]>.token.builtin {
		color: rgb(145, 24, 175);
	}

	code[class*="language-javascript"]>.token.keyword-this {
		color: rgb(26, 166, 143);
		font-style: italic;
	}

	code[class*="language-javascript"]>.token.important,
	code[class*="language-javascript"]>.token.bold {
		font-weight: bold;
	}
	code[class*="language-javascript"]>.token.italic {
		font-style: italic;
	}

	code[class*="language-javascript"]>.token.entity {
		cursor: help;
	}

	code[class*="language-javascript"]>.token.inserted {
		color: green;
	}

	code[class*="language-javascript"] span.code-annotation {
		color: rgb(71, 71, 71);
		font-style: italic;
	}



/*? Language - C */
	code[class*="language-c"],
	pre[class*="language-c"] {
		color: #f0fbff; /* base00 */
	}
	:not(pre) > code[class*="language-c"],
	pre[class*="language-c"] {
		background-color: rgb(32, 36, 37); /* base3 */
	}
	code[class*="language-c"]>.token.comment { color: rgb(166, 166, 166); }
	code[class*="language-c"]>.token.prolog,
	code[class*="language-c"]>.token.doctype,
	code[class*="language-c"]>.token.cdata {
		color: #aad9d9; /* base1 */
	}
	code[class*="language-c"]>.token.punctuation { color: #b9b9b9; }
	code[class*="language-c"]>.token.operator { color: rgb(253, 116, 116); }
	code[class*="language-c"]>.token.property,
	code[class*="language-c"]>.token.tag,
	code[class*="language-c"]>.token.boolean,
	code[class*="language-c"]>.token.number,
	code[class*="language-c"]>.token.constant,
	code[class*="language-c"]>.token.symbol {
		color: #77f7fe; /* blue */
	}
	code[class*="language-c"] .token.selector,
	code[class*="language-c"] .token.attr-name,
	code[class*="language-c"] .token.char,
	code[class*="language-c"] .token.builtin,
	code[class*="language-c"] .token.url,
	code[class*="language-c"] .token.inserted {
		color: #f3f3f3; /* cyan */
	}
	code[class*="language-c"] .token.string {
		color: rgb(255, 255, 255);
	}
	code[class*="language-c"] .token.entity {
		color: #657b83; /* base00 */
		background: #eee8d5; /* base2 */
	}
	code[class*="language-c"] .token.atrule,
	code[class*="language-c"] .token.attr-value {
		color: #8fe787; /* green */
	}
	code[class*="language-c"] .token.keyword,
	code[class*="language-c"] .token.directive-hash {
		color: rgb(253, 114, 114);
	}
	code[class*="language-c"] .token.function,
	code[class*="language-c"] .token.class-name {
		color: rgb(255, 238, 126); /* yellow */
	}
	code[class*="language-c"] .token.regex,
	code[class*="language-c"] .token.important,
	code[class*="language-c"] .token.variable {
		color: #ff6929; /* orange */
	}
	code[class*="language-c"] .token.important,
	code[class*="language-c"] .token.bold {
		font-weight: bold;
	}
	code[class*="language-c"] .token.italic {
		font-style: italic;
	}
	code[class*="language-c"] .token.entity {
		cursor: help;
	}
	/* Inline code */
	:not(pre) > code[class*="language-c"] .token {
		color: white !important;
	}
	:not(pre) > code[class*="language-c"] {
		padding: .2em;
		border-radius: .3em;
		display: inline-block;
		margin: 1px;
		box-shadow: none;
	}
	span.inline-color {
		display: block;
		/* To prevent visual glitches again */
		height: 120%;
		width: 120%;
	}
/*? Language - C++ */
	code[class*="language-cpp"],
	pre[class*="language-cpp"] {
		color: white;
	}
	:not(pre) > code[class*="language-cpp"],
	pre[class*="language-cpp"] {
		background-color: rgb(0, 10, 54);
	}
	code[class*="language-cpp"] >.token.comment,
	code[class*="language-cpp"] >.token.prolog,
	code[class*="language-cpp"] >.token.doctype,
	code[class*="language-cpp"] >.token.cdata {
		color: hsl(0, 0%, 47%); /* #777777 */
	}
	code[class*="language-cpp"] >.token.punctuation {
		color: rgb(255, 255, 255);
	}
	code[class*="language-cpp"] >.token.namespace {
		opacity: .7;
	}
	code[class*="language-cpp"] >.token.function {
		color: rgb(99, 225, 230);
	}
	code[class*="language-c"]>.token.class-name {
		color: rgb(255, 127, 67);
	}
	code[class*="language-cpp"] >.token.string {color: rgb(238, 240, 68);}
	code[class*="language-cpp"] >.token.tag,
	code[class*="language-cpp"] >.token.boolean,
	code[class*="language-cpp"] >.token.char,
	code[class*="language-cpp"] >.token.number,
	code[class*="language-cpp"] >.token.deleted {
		color: rgb(252, 143, 41)
	}
	code[class*="language-cpp"] >.token.keyword,
	code[class*="language-cpp"] >.token.property,
	code[class*="language-cpp"] >.token.selector,
	code[class*="language-cpp"] >.token.constant,
	code[class*="language-cpp"] >.token.symbol,
	code[class*="language-cpp"] >.token.builtin {
		color: rgb(255, 68, 109);
	}
	code[class*="language-cpp"] >.token.attr-name,
	code[class*="language-cpp"] >.token.attr-value,
	code[class*="language-cpp"] >.token.entity,
	code[class*="language-cpp"] >.token.url,
	code[class*="language-cpp"] >.language-css .token.string,
	code[class*="language-cpp"] >.style .token.string,
	code[class*="language-cpp"] >.token.variable,
	code[class*="language-cpp"] >.token.inserted {
		color: hsl(103, 100%, 72%); /* #8F9D6A */
	}
	code[class*="language-cpp"] >.token.operator {color: rgb(233, 68, 255);}
	code[class*="language-cpp"] >.token.atrule {
		color: hsl(218, 22%, 55%); /* #7587A6 */
	}
	code[class*="language-cpp"] >.token.regex,
	code[class*="language-cpp"] >.token.important {
		color: hsl(42, 75%, 65%); /* #E9C062 */
	}
	code[class*="language-cpp"] >.token.important,
	code[class*="language-cpp"] >.token.bold {
		font-weight: bold;
	}
	code[class*="language-cpp"] >.token.italic {
		font-style: italic;
	}
	code[class*="language-cpp"] >.token.entity {
		cursor: help;
	}
	code[class*="language-cpp"] >pre[data-line] {
		padding: 1em 0 1em 3em;
		position: relative;
	}
	/* Markup */
	code[class*="language-cpp"] >.language-markup .token.tag,
	code[class*="language-cpp"] >.language-markup .token.attr-name,
	code[class*="language-cpp"] >.language-markup .token.punctuation {
		color: hsl(33, 33%, 52%); /* #AC885B */
	}
/*? Language Prolog */
	code[class*="language-prolog"]>.token.comment,
	code[class*="language-prolog"]>.token.prolog,
	code[class*="language-prolog"]>.token.doctype,
	code[class*="language-prolog"]>.token.cdata {
		color: hsl(0, 0%, 47%); /* #777777 */
	}

	code[class*="language-prolog"]>.token.punctuation {
		opacity: .7;
	}

	code[class*="language-prolog"]>.token.namespace {
		opacity: .7;
	}

	code[class*="language-prolog"]>.token.tag,
	code[class*="language-prolog"]>.token.boolean,
	code[class*="language-prolog"]>.token.number,
	code[class*="language-prolog"]>.token.deleted {
		color: hsl(14, 58%, 55%); /* #CF6A4C */
	}

	code[class*="language-prolog"]>.token.keyword,
	code[class*="language-prolog"]>.token.property,
	code[class*="language-prolog"]>.token.selector,
	code[class*="language-prolog"]>.token.constant,
	code[class*="language-prolog"]>.token.symbol,
	code[class*="language-prolog"]>.token.builtin {
		color: hsl(53, 89%, 79%); /* #F9EE98 */
	}

	code[class*="language-prolog"]>.token.attr-name,
	code[class*="language-prolog"]>.token.attr-value,
	code[class*="language-prolog"]>.token.string,
	code[class*="language-prolog"]>.token.char,
	code[class*="language-prolog"]>.token.operator,
	code[class*="language-prolog"]>.token.entity,
	code[class*="language-prolog"]>.token.url,
	code[class*="language-prolog"]>.language-css .token.string,
	code[class*="language-prolog"]>.style .token.string,
	code[class*="language-prolog"]>.token.variable,
	code[class*="language-prolog"]>.token.inserted {
		color: hsl(76, 21%, 52%); /* #8F9D6A */
	}

	code[class*="language-prolog"]>.token.atrule {
		color: hsl(218, 22%, 55%); /* #7587A6 */
	}

	code[class*="language-prolog"]>.token.regex,
	code[class*="language-prolog"]>.token.important {
		color: hsl(42, 75%, 65%); /* #E9C062 */
	}

	code[class*="language-prolog"]>.token.important,
	code[class*="language-prolog"]>.token.bold {
		font-weight: bold;
	}
	code[class*="language-prolog"]>.token.italic {
		font-style: italic;
	}

	code[class*="language-prolog"]>.token.entity {
		cursor: help;
	}

	code[class*="language-prolog"]>pre[data-line] {
		padding: 1em 0 1em 3em;
		position: relative;
	}

	/* Markup */
	code[class*="language-prolog"]>.language-markup .token.tag,
	code[class*="language-prolog"]>.language-markup .token.attr-name,
	code[class*="language-prolog"]>.language-markup .token.punctuation {
		color: hsl(33, 33%, 52%); /* #AC885B */
	}
/*? Language - Swift */
	code[class*="language-swift"],
	pre[class*="language-swift"] {
		color: rgb(39, 39, 39); /* base00 */
		background-color: rgb(255, 255, 255);
	}

	/* Keywords */
	code[class*="language-swift"] > .token.comment,
	code[class*="language-swift"] > .token.block-comment,
	code[class*="language-swift"] > .token.prolog,
	code[class*="language-swift"] > .token.doctype,
	code[class*="language-swift"] > .token.cdata {
		color: rgb(109, 127, 141);
	}

	
	code[class*="language-swift"] > .token.operator {
		color: rgb(0, 103, 221);
	}

	code[class*="language-swift"] > .token.punctuation	{
		color: rgb(39,39,39);
	}

	code[class*="language-swift"] > .token.builtin {
		color:rgb(35, 111, 116);
	}
	
	code[class*="language-swift"] > .token.property,
	code[class*="language-swift"] > .token.tag,
	code[class*="language-swift"] > .token.boolean,
	code[class*="language-swift"] > .token.number,
	code[class*="language-swift"] > .token.function-name,
	code[class*="language-swift"] > .token.constant,
	code[class*="language-swift"] > .token.symbol,
	code[class*="language-swift"] > .token.string,
	code[class*="language-swift"] > .token.char,
	code[class*="language-swift"] > .token.deleted {
		color: rgb(230, 19, 19);
	}
	
	code[class*="language-swift"] > .token.selector,
	code[class*="language-swift"] > .token.attr-name,
	code[class*="language-swift"] > .token.function,
	code[class*="language-swift"] > .token.inserted {
		color: rgb(93,0,178);
	}


	
	code[class*="language-swift"] > .token.entity,
	code[class*="language-swift"] > .token.url,
	code[class*="language-swift"] > .token.variable {
		color: #0f854e;
	}
	
	code[class*="language-swift"] > .token.atrule,
	code[class*="language-swift"] > .token.attr-value,
	code[class*="language-swift"] > .token.keyword,
	code[class*="language-swift"] > .token.class-name {
		color: rgb(192, 0, 163);
	}
	
	code[class*="language-swift"] > .token.regex,
	code[class*="language-swift"] > .token.important {
		color: rgb(255, 221, 158);
	}
	
	code[class*="language-swift"] > .language-css .token.string,
	code[class*="language-swift"] > .style .token.string {
		color: #a67f59;
		background: rgba(255, 255, 255, 0.5);
	}
	
	code[class*="language-swift"] > .token.important {
		font-weight: normal;
	}
	
	code[class*="language-swift"] > .token.bold {
		font-weight: bold;
	}
	code[class*="language-swift"] > .token.italic {
		font-style: italic;
	}
	
	code[class*="language-swift"] > .token.entity {
		cursor: help;
	}
	
	code[class*="language-swift"] > .token.namespace {
		opacity: .7;
	}
/*? Language - Python */
	code[class*="language-python"],
	pre[class*="language-python"] {
		color: rgb(255, 255, 255);
	}

	:not(pre) > code[class*="language-python"],
	pre[class*="language-python"] {
		background: #06213f;
	}

	code[class*="language-python"] > .token.comment,
	code[class*="language-python"] > .token.triple-quoted-string.string,
	code[class*="language-python"] > .token.block-comment,
	code[class*="language-python"] > .token.prolog,
	code[class*="language-python"] > .token.doctype,
	code[class*="language-python"] > .token.cdata {
		color: rgb(132, 206, 255);
	}

	code[class*="language-python"] > .token.punctuation {
		color: rgb(255, 255, 255);
	}

	code[class*="language-python"] > .token.tag,
	code[class*="language-python"] > .token.attr-name,
	code[class*="language-python"] > .token.namespace,
	code[class*="language-python"] > .token.deleted {
		color: #e2777a;
	}

	code[class*="language-python"] > .token.function-name {
		color: #70f7e0;
	}

	code[class*="language-python"] > .token.boolean,
	code[class*="language-python"] > .token.number,
	code[class*="language-python"] > .token.function {
		color: rgb(255, 118, 111);
	}

	code[class*="language-python"] > .token.property,
	code[class*="language-python"] > .token.class-name,
	code[class*="language-python"] > .token.constant,
	code[class*="language-python"] > .token.symbol {
		color: #2cf8ff;
	}

	code[class*="language-python"] > .token.selector,
	code[class*="language-python"] > .token.important,
	code[class*="language-python"] > .token.atrule,
	code[class*="language-python"] > .token.keyword {
		color: #feb1ff;
	}

	code[class*="language-python"] > .token.builtin {color: rgb(139, 255, 211)}
	code[class*="language-python"] > .token.string-interpolation {color: #f8c555}
	code[class*="language-python"] > .token.string-interpolation > .token.interpolation {color: rgb(255, 245, 187)}

	code[class*="language-python"] > .token.string,
	code[class*="language-python"] > .token.char,
	code[class*="language-python"] > .token.attr-value,
	code[class*="language-python"] > .token.regex,
	code[class*="language-python"] > .token.variable {
		color: #ffdf9b;
	}

	code[class*="language-python"] > .token.operator,
	code[class*="language-python"] > .token.entity,
	code[class*="language-python"] > .token.url {
		color: #6fe7e5;
	}

	code[class*="language-python"] > .token.important,
	code[class*="language-python"] > .token.bold {
		font-weight: bold;
	}
	code[class*="language-python"] > .token.italic {
		font-style: italic;
	}

	code[class*="language-python"] > .token.entity {
		cursor: help;
	}

	code[class*="language-python"] > .token.inserted {
		color: green;
	}
/*? Language - SML */
	code[class*="language-sml"],
	pre[class*="language-sml"] {
		color: rgb(247, 247, 247);
	}

	:not(pre) > code[class*="language-sml"],
	pre[class*="language-sml"] {
		background: rgb(42, 31, 44);
	}

	code[class*="language-sml"] > .token.comment,
	code[class*="language-sml"] > .token.triple-quoted-string.string,
	code[class*="language-sml"] > .token.block-comment,
	code[class*="language-sml"] > .token.prolog,
	code[class*="language-sml"] > .token.doctype,
	code[class*="language-sml"] > .token.cdata {
		color: rgb(196, 166, 190);
	}

	code[class*="language-sml"] > .token.punctuation {
		color: rgb(215, 205, 217);
	}

	code[class*="language-sml"] > .token.tag,
	code[class*="language-sml"] > .token.attr-name,
	code[class*="language-sml"] > .token.namespace,
	code[class*="language-sml"] > .token.deleted {
		color: #ff5056;
	}

	code[class*="language-sml"] > .token.function-name, 
	code[class*="language-sml"] > .token.function {
		color: rgb(236, 218, 159);
	}

	code[class*="language-sml"] > .token.number {
		color: rgb(255, 157, 0);
	}

	code[class*="language-sml"] > .token.boolean,
	code[class*="language-sml"] > .token.property,
	code[class*="language-sml"] > .token.constant,
	code[class*="language-sml"] > .token.symbol {
		color: rgb(119, 255, 153);
	}

	code[class*="language-sml"] > .token.class-name {
		color: rgb(255, 146, 255);
	}


	code[class*="language-sml"] > .token.selector,
	code[class*="language-sml"] > .token.important,
	code[class*="language-sml"] > .token.atrule,
	code[class*="language-sml"] > .token.keyword {
		color: rgb(64, 215, 226);
	}

	code[class*="language-sml"] > .token.builtin {color: rgb(167, 228, 110)}
	code[class*="language-sml"] > .token.string-interpolation {color: #f8c555}
	code[class*="language-sml"] > .token.string-interpolation > .token.interpolation {color: rgb(255, 245, 187)}

	code[class*="language-sml"] > .token.string,
	code[class*="language-sml"] > .token.char,
	code[class*="language-sml"] > .token.attr-value,
	code[class*="language-sml"] > .token.regex,
	code[class*="language-sml"] > .token.variable {
		color: #f8c555;
	}

	code[class*="language-sml"] > .token.operator,
	code[class*="language-sml"] > .token.entity,
	code[class*="language-sml"] > .token.url {
		color: rgb(247, 97, 92);
	}

	code[class*="language-sml"] > .token.important,
	code[class*="language-sml"] > .token.bold {
		font-weight: bold;
	}
	code[class*="language-sml"] > .token.italic {
		font-style: italic;
	}

	code[class*="language-sml"] > .token.entity {
		cursor: help;
	}

	code[class*="language-sml"] > .token.inserted {
		color: green;
	}
/*? Language - Haskell */
	code[class*="language-haskell"],
	pre[class*="language-haskell"] {
		color: rgb(220,238,255);
	}

	:not(pre) > code[class*="language-haskell"],
	pre[class*="language-haskell"] {
		background: rgb(18, 57, 80);
	}

	code[class*="language-haskell"] > .token.comment,
	code[class*="language-haskell"] > .token.block-comment,
	code[class*="language-haskell"] > .token.prolog,
	code[class*="language-haskell"] > .token.doctype,
	code[class*="language-haskell"] > .token.cdata {
		color: rgb(0,123,255);
	}

	code[class*="language-haskell"] > .token.punctuation {
		color: rgb(220,238,255);
	}

	code[class*="language-haskell"] > .token.tag,
	code[class*="language-haskell"] > .token.attr-name,
	code[class*="language-haskell"] > .token.namespace,
	code[class*="language-haskell"] > .token.deleted {
		color: #e2777a;
	}

	code[class*="language-haskell"] > .token.function-name {
		color: #6196cc;
	}

	code[class*="language-haskell"] > .token.boolean,
	code[class*="language-haskell"] > .token.number,
	code[class*="language-haskell"] > .token.function {
		color: rgb(255, 153, 0);
	}

	code[class*="language-haskell"] > .token.property,
	code[class*="language-haskell"] > .token.class-name,
	code[class*="language-haskell"] > .token.constant,
	code[class*="language-haskell"] > .token.symbol {
		color: #93de31;
	}

	code[class*="language-haskell"] > .token.selector,
	code[class*="language-haskell"] > .token.operator,
	code[class*="language-haskell"] > .token.important,
	code[class*="language-haskell"] > .token.atrule,
	code[class*="language-haskell"] > .token.keyword {
		color: rgb(255,200,0);
	}

	code[class*="language-haskell"] > .token.builtin {color: rgb(167, 228, 110)}
	code[class*="language-haskell"] > .token.string-interpolation {color: #f8c555}
	code[class*="language-haskell"] > .token.string-interpolation > .token.interpolation {color: rgb(255, 245, 187)}

	code[class*="language-haskell"] > .token.string,
	code[class*="language-haskell"] > .token.char,
	code[class*="language-haskell"] > .token.attr-value,
	code[class*="language-haskell"] > .token.regex,
	code[class*="language-haskell"] > .token.variable {
		color: rgb(199,255,145);
	}

	code[class*="language-haskell"] > .token.entity,
	code[class*="language-haskell"] > .token.url {
		color: #6fe7e5;
	}

	code[class*="language-haskell"] > .token.important,
	code[class*="language-haskell"] > .token.bold {
		font-weight: bold;
	}
	code[class*="language-haskell"] > .token.italic {
		font-style: italic;
	}

	code[class*="language-haskell"] > .token.entity {
		cursor: help;
	}

	code[class*="language-haskell"] > .token.inserted {
		color: green;
	}
/*? HTML */
	code[class*="language-html"],
	pre[class*="language-html"] {
		color: rgb(1, 130, 134);
	}

	:not(pre) > code[class*="language-html"],
	pre[class*="language-html"] {
		background: rgb(245, 245, 245);
	}
	code[class*="language-html"]>.token.comment,
	code[class*="language-html"]>.token.prolog,
	code[class*="language-html"]>.token.doctype,
	code[class*="language-html"]>.token.cdata {
		color: hsl(0, 0%, 47%); /* #777777 */
	}

	code[class*="language-html"]>.token.punctuation {
		opacity: .7;
	}

	code[class*="language-html"]>.token.namespace {
		opacity: .7;
	}

	code[class*="language-html"]>.token.tag,
	code[class*="language-html"]>.token.boolean,
	code[class*="language-html"]>.token.number,
	code[class*="language-html"]>.token.deleted {
		color: hsl(0, 0%, 29%); /* #CF6A4C */
	}

	code[class*="language-html"]>.token.keyword,
	code[class*="language-html"]>.token.property,
	code[class*="language-html"]>.token.selector,
	code[class*="language-html"]>.token.constant,
	code[class*="language-html"]>.token.symbol,
	code[class*="language-html"]>.token.builtin {
		color: hsl(53, 89%, 79%); /* #F9EE98 */
	}

	code[class*="language-html"]>.token.attr-name,
	code[class*="language-html"]>.token.attr-value,
	code[class*="language-html"]>.token.string,
	code[class*="language-html"]>.token.char,
	code[class*="language-html"]>.token.operator,
	code[class*="language-html"]>.token.entity,
	code[class*="language-html"]>.token.url,
	code[class*="language-html"]>.language-css .token.string,
	code[class*="language-html"]>.style .token.string,
	code[class*="language-html"]>.token.variable,
	code[class*="language-html"]>.token.inserted {
		color: hsl(76, 21%, 52%); /* #8F9D6A */
	}

	code[class*="language-html"]>.token.atrule {
		color: hsl(218, 22%, 55%); /* #7587A6 */
	}

	code[class*="language-html"]>.token.regex,
	code[class*="language-html"]>.token.important {
		color: hsl(42, 75%, 65%); /* #E9C062 */
	}

	code[class*="language-html"]>.token.important,
	code[class*="language-html"]>.token.bold {
		font-weight: bold;
	}
	code[class*="language-html"]>.token.italic {
		font-style: italic;
	}

	code[class*="language-html"]>.token.entity {
		cursor: help;
	}

	code[class*="language-html"]>pre[data-line] {
		padding: 1em 0 1em 3em;
		position: relative;
	}

	/* Markup */
	.language-markup .token.tag,
	.language-markup .token.attr-name,
	.language-markup .token.punctuation {
		color: hsl(33, 33%, 52%); /* #AC885B */
	}


/*? Code annotation styling */
	span.code-annotation {
		font-size: 0.8rem;
		padding: 0;
		margin: 0;
	}
	span.code-annotation::before {
		content: "\3008"
	}
	span.code-annotation::after {
		content: "\3009"
	}

/*? Katex Styles */
	.katex {font-size: 1em !important;}
	.mord.texttt {font-family: var(--mono) !important;}	
	.katex-display {
		margin: 0 !important;
		font-size: 1em !important;
	}
/** Question Sets / <details> Styling */
	/* Question sets are styled with masonry */
	details {padding: 0; margin: 1%;}
	details > p {padding: 0 0 1% 0;}
	details>summary {
		list-style: none; 
		padding: 2% 0; 
		padding-bottom: 0;
		font-size: 0.75rem;
		font-family: var(--sansSerif);
		color: rgb(159, 159, 159);
	}
	details>ol {margin: 0 0 0 0.9em;}
	details>ol>ol{margin: 0 0 0 0.9em;}
	details.answer {margin: 0; margin-top: -1%;}
	details p {font-size: 0.85rem;}
	details:hover {cursor: pointer;}
	details.answer p {padding: 0; margin: 0 0 0.4em 0}
	li pre code, details li pre code {
		font-size: 0.65rem !important;
		width: 100%;
		margin: 0;
	}
	ol.ex li { font-size: 0.85rem; }
	ol.ex span.monoText {font-size: 0.83em;}
	ol.ex {
		margin: 0.5em 0;
		padding: 0;
	}
	ol.ex ol { padding: 0 0.9em; }
	ol.ex li {
		padding: 0.2em 0;
		padding-left: 0.1em;
		margin: 0;
	}
	ol.ex li.grid-item::marker {
		margin: 0;
		padding: 0;
		color: rgb(0, 161, 161);
	}
	ol.ex li.grid-item { margin: 0 0.8em; }
	.grid {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.grid-col {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
	/* 1 columns by default, hide columns 2 & 3 */
	.grid-col--2, .grid-col--3, .grid-col--4 { display: none }
	@media (min-width: 500px) {
		.grid-col--2 { display: block; }
	}
	/* 3 columns at medium size */
	@media ( min-width: 768px ) {
		.grid-col--3 { display: block; } /* show column 2 */
	}
/* ! Media Queries */

	@media (max-width: 600px) { html {font-size: 11px;} }
	@media (max-width: 800px) { html {font-size: 12px;} }
	@media (max-width: 1180px) { html {font-size: 13px;} }
	@media (max-width: 1300px) { html {font-size: 14px;} }
	@media (max-width: 1750px) { html {font-size: 15px;} }
	@media (max-width: 1900px) { html {font-size: 16px;} }
	@media (max-width: 2100px) { html {font-size: 17px;} }
	@media (max-width: 2400px) { html {font-size: 18px;} }


	@media (max-width: 1100px) {
		nav {display: none;}
		main { display: block; }
		section {padding: 1em 12vw;}
		pre {margin: 1px 0;}
    .sidenote,
    .marginnote {
				display: block;
        float: left;
        left: 0;
        clear: both;
        width: 100%;
        margin: 1em 0;
        position: relative;
    }
		label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
		article .tooltip:before {
			width: 12rem;
			top: -8.5rem;
			transform:translateY(0%);
			transform: translateX(-120%);
		}
	}
	@media (max-width: 600px) {
		div.compare {display: block;}
		div.content {padding: 0;}
		section {padding: 1vw 3vw;}
	}
	@media (max-width: 500px) {
		section {padding: 1em 2vw}
	}