{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="An introduction to the metaprogramming language, ML."
/>
{% endblock %} {% block title %}
<title>Intro to ML</title>
{% endblock %} {% block content %}

<h1>Functional Programming I: ML</h1>
<section id="intro">
	<p>
		In this volume, we explore functional programming through ML (&#8220;Meta
		Language&#8221;). Specifically, we will use the modern dialect of ML called
		SML, but we will refer to the language as ML. We start with ML because many
		of its features inspired some of the more well-known functional programming
		languages &mdash; Haskell, Racket, F#, Erlang, Scala, and many others have
		idioms that can be traced back to ML.
	</p>
	<p>
		Developed by the Turing medalist Robin Milner and others at the University
		of Edinburgh in the 1970s, ML was created to develop proof verification
		systems. As work continued, however, both the developers and users began
		noticing that ML could be used for purposes beyond verifying mathematical
		proofs. Today, ML has several descendants: SML (&#8220;Standard ML&#8221;,
		the dialect we use in this volume), OCaml, and F#.
	</p>
</section>

{% endblock %}
