{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="orders_of_growth">
	<h4>Orders of Growth</h4>
	<p>
		An <span class="italicsText">order of growth</span> measures the gross
		resources a process consumes as its inputs become larger. We that ${R(n)}$
		has an order of growth ${\Theta (f(n)),}$ written as ${R(n) = \Theta
		(f(n)),}$ if there are ${k_1, k_2 \in \R^{+}}$ independent of ${n}$ such
		that ${k_1{f(n)} \leq R(n) \leq k_2{f(n)}}$ for any sufficiently large value
		of ${n.}$ Put simply, for large values of ${n,}$ the value of ${R(n)}$ is
		between ${k_1{f(n)}}$ and ${k_2{f(n)}.}$
	</p>
</section>
{% endblock %}
