{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Programming fundamentals; Lisp" />
{% endblock %} {% block title %}
<title>Introduction to Programming</title>
{% endblock %} {% block content %}
<h1>Fundamentals I: Lisp</h1>

<section id="knowledge">
	<p>
		<span class="drop">W</span>hat separates mathematics from computer science? The answer is more
		epistemic than metaphysical. Where mathematics is concerned with the
		knowledge of
		<span class="italicsText">what is true</span>, computer science is concerned
		with the knowledge of <span class="italicsText">how to</span>. Succinctly,
		where mathematics concerns <span class="italicsText">truth</span>, computer
		science concerns <span class="italicsText">process</span>.
	</p>
	<p>
		More formally, mathematics focuses on
		<span class="italicsText">declarative knowledge</span>. For example, what is
		${\sqrt{x}?}$ Mathematically, ${\sqrt{x}}$ is the $y$ such that ${y^2 = x}$
		and ${y \geq 0.}$ This knowledge tells us
		<span class="italicsText">what</span> a square root is, but it does not tell
		us <span class="italicsText">how</span> we can get a square root.
	</p>
	<p>
		The question of <span class="italicsText">how</span> to get a square root is
		a question of <span class="italicsText">imperative knowledge</span>.
		Imperative knowledge consists of action, or instructive, statements, linked
		together towards obtain a result. For example, Heron of Alexandria provides
		us with imperative knowledge to finding ${\sqrt{x}:}$
	</p>
	<ol>
		<li>Make a guess, call it $g.$</li>
		<li>Improve the guess by averaging $g$ and ${x/g.}$</li>
		<li>Keep improving the guess until it is good enough.</li>
	</ol>
	<p>
		What exactly is a <span class="italicsText">process</span>? In a sense, it's
		almost like a spirit, or ghost, possessing the computer, listening to
		whatever we command. And upon our commands, it makes the computer do things.
		Our commands come as patterns of rules called
		<span class="boldItalics">procedures</span>. Those procedures are
		essentially spells telling the processes what to do.
	</p>
	<p>
		And just as sorcerers utter their spells in Latin, Sumerian, Sanskrit, or
		some other mysterious language, computer scientists use special languages
		for procedures. Here, our language of incantation will be Lisp (a shortening
		of &#8220;LISt Processing&#8221;).
	</p>

	<p>
		In these next sections, we study the principles of
		<span class="italicsText">systematic program design</span>. These materials
		are not intended to teach Lisp. Learning Lisp is a natural side effect of
		the materials, but it is not the objective. The focus here is on systematic
		program design.
	</p>

	<p>
		Novices might be surprised to learn that so much attention is given to
		program design. This is particularly surprising for those used to
		<span class="italicsText">cowboy coding</span> &mdash; writing complete
		programs at high speeds and destroying bugs as they appear. But, there is a
		difference between managing a small ranch and managing Tyson Foods. While
		cowboy coding might work for small-scale implementations, it can quickly
		become nightmarish for large, complex structures. Such programs require
		meticulous planning, careful thought, and creative design.
	</p>
</section>

<section id="the_difficulty_of_cs">
	<h2>The Difficulty of Computer Science</h2>
	<p>
		The difficulty of computer science depends on what we are using it to solve.
		Computer science would not be a difficult field if all we ever did with it
		was add and subtract or find square roots. Where the real difficulty lies is
		once we start using it to tackle problems of mind-bending
		proportions&mdash;fluid dynamics, weather models, economic predictions,
		proof verifications, flight simulations, natural language processing, ad
		infinitum.
	</p>
	<p>
		We can use computer science to address such large-scale problems because we
		have <span class="italicsText">techniques to control complexity</span>. The
		techniques for controlling complexity are, in essence, what computer science
		is all about&mdash;taking large, complex questions, and finding ways to tame
		their complexity.
	</p>
	<p>
		One might argue that this is no different from a mechanical, electrical, or
		any other engineer, as they too reduce complex questions to simpler
		components. Indeed, computer scientists share much with the traditional
		engineering disciplines. There, is however, a critical difference&mdash;the
		traditional disciplines must deal with the limitations of physical
		resources: An electrical engineer must worry about resistance; the
		mechanical engineer heat capacities; the civil engineer tension. The
		computer scientist, however, faces no such limits. She works with idealized
		components, free from the constraints of reality. Her only real limitations
		are her mind, available calories, and time. In this sense, a better name for
		computer science might be "abstraction" or "abstract engineering."
	</p>
</section>

<section id="blackbox_abstraction">
	<h2>Technique: Blackbox Abstraction</h2>

	<p>
		One technique for controlling complexity is
		<span class="boldItalics">blackbox abstraction</span>. With blackbox
		abstraction, we take something, say a procedure, and place it inside a box.
		For example, we can take the square root method and place it into a box. We
		can then make that box take inputs and return outputs, so that if we passed
		through to it the number 25, we would get back the number 5:
	</p>
	<figure>
		<img
			src="{% static 'images/black_box_sqrt.svg' %}"
			alt="a blackbox"
			class="thirty-p"
			loading="lazy"
		/>
	</figure>
	<p>
		The value of blackbox abstractions is that we can make them modular. If Hans
		wanted to compute ${\sqrt{a} + \sqrt{b},}$ he can simply take our blackbox,
		make two copies of it, pass $a$ into one copy and $b$ into another, and add
		the outputs from the blackboxes:
	</p>
	<figure>
		<img
			src="{% static 'images/multiple_black_boxes.svg' %}"
			alt="linked blackboxes"
			class="thirty-p"
			loading="lazy"
		/>
	</figure>
	<p>
		We use blackboxes to suppress details. By suppressing these details, we can
		focus on building bigger boxes. Reconsider Heron of Alexandria's square root
		method:
	</p>
	<ol>
		<li>Let $x$ be the number we want to square root.</li>
		<li>Make a guess; call it $g$.</li>
		<li>Improve the guess by averaging $g$ and ${x/g.}$</li>
		<li>
			Repeat step 3 until the difference between $g$ and the desired value is
			small enough.
		</li>
	</ol>
	<p>
		For example, if we wanted to compute ${\sqrt{4},}$ the algorithm would
		return:
	</p>
	<figure class="math-display">
		<div>
			<p>${x = 4}$</p>
			<p>${g = 4}$</p>
			<p>${g_1 = \dfrac{4 + (4/4)}{2} = 2.5}$</p>
			<p>${g_2 = \dfrac{2.5 + (4/2.5)}{2} = 2.05}$</p>
			<p>${g_3 = \dfrac{2.05 + (4/2.05)}{2} = 2.006}$</p>
			<p>${g_4 = \dfrac{2.006 + (4/2.006)}{2} = 2.00000897308}$</p>
		</div>
	</figure>
	<p>
		In reality, everything in a computer, including the computer itself, is an
		abstraction. Higher level languages (e.g., Lisp, Python, JavaScript, etc.)
		are implemented in terms of low-level languages (e.g., C). Some languages
		fall somewhere in the middle (i.e., mid-level languages, like Java).
		Low-level languages require us to manage memory ourselves, working closely
		with hardware. The higher up the layers you go, the more all of the
		mandatory actions below are abstracted away.
	</p>
	<p>
		Low-level languages like C are themselves implemented in machine language.
		The machine language itself is implemented with logic gates &mdash; circuits
		that compute Boolean functions &mdash; functions that return only one of two
		values: <span class="monoText">True</span> or
		<span class="monoText">False</span>, or, in computer speak,
		<span class="monoText">1</span> or <span class="monoText">0</span>.
	</p>
	<figure>
		<img
			src="{% static 'images/abstraction_layers.svg' %}"
			alt="layers of abstraction"
			loading="lazy"
			class="seventy-p"
		/>
	</figure>
</section>

<section id="programs">
	<h2>Programs and Programming Languages</h2>
	<p>
		<span class="italicsText">Programs</span> are the patterns of rules that
		direct processes. If we make errors in writing these programs, we cause
		<span class="italicsText">bugs</span> or
		<span class="italicsText">glitches</span> &mdash; unintended consequences
		from executing our programs. When we attempt to solve those bugs, we
		<span class="italicsText">debug</span> the program. Just as a car is not
		made in just one sitting, well-designed programs are
		<span class="italicsText">modular</span> &mdash; the program is composed of
		reusable parts, aimed at accomplishing one, and only one, task.
	</p>
	<p>
		The process of combining simple ideas to form more complex ideas is the
		essence of modularity. This is accomplished by most programming languages
		through three aspects: (1)
		<span class="boldItalics">primitive expressions</span>, (2)
		<span class="boldItalics">means of combination</span>, and (3)
		<span class="boldItalics">means of abstraction</span>.
		<span class="italicsText">Primitive expressions</span> are the language's
		simplest elements. A language's
		<span class="italicsText">means of combination</span> are the ways provided
		by the language for building compound elements from simpler elements. And a
		language's <span class="italicsText">means of abstraction</span> are the
		ways provided by the language allowing compound elements to be named and
		manipulated as <span class="italicsText">discrete</span>, or
		<span class="italicsText">unique</span>, elements.
	</p>
	<p>
		Simple or compound, there are two kinds of elements in a programming
		language: (1) <span class="italicsText">data</span> &mdash; the
		&#8220;things&#8221; we want to manipualte; and (2)
		<span class="italicsText">procedures</span> &mdash; the rules for
		manipulating data.
	</p>
</section>
{% endblock %}
