{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="naming">
	<h4>Variables and Environment</h4>
	<p>
		Any useful programming language will provide a way for us to
		<span class="italicsText">name</span> data objects, allowing us to refer to
		such objects. In programming, a
		<span class="italicsText">name</span> identifies a
		<span class="italicsText">variable</span>. A variable has a
		<span class="italicsText">value</span>, and that value is the object
		assigned to that variable. In Scheme, we name things with the keyword
		<span class="monoText">define</span>:
	</p>
	<pre class="language-scheme"><code>
		(define num 7)
	</code></pre>
	<p>
		Above, we defined a variable named <span class="monoText">num</span>, and
		assigned to it the data object <span class="monoText">7</span>. If we enter
		<span class="monoText">num</span>:
	</p>
	<pre class="language-scheme"><code>
		(define num 7)
		num
	</code></pre>
	<pre class="language-bash"><code>
		7
	</code></pre>
	<p>
		The ability to name data objects is a language's simplest
		<span class="italicsText">means of abstraction</span>. With ability to name
		data objects, we can begin writing more complex expressions:
	</p>
	<pre class="language-scheme"><code>
		(define pi 3.14)
		(define radius 2)
		(define height 5)
		(define cylinder-volume (* pi (* radius radius) height))

		cylinder-volume
	</code></pre>
	<pre class="language-bash"><code>
		62.8
	</code></pre>
	<p>
		In Lisp, there are no set conventions for how variables should be named. A
		common convention, however, is to use dashes to indicate spaces. As an
		aside, Lisp programmers generally do not care much for syntax. Accordingly,
		compared to other languages, Lisp generally has few instances of
		<span class="italicsText">syntactic sugar</span>. There is an argument to be
		made that syntactic sugar complicates, rather than simplifies, languages.
		Quoting Alan Perlis, &#8220;Syntactic sugar causes cancer of the
		semicolon.&#8221;
	</p>
	<p>
		<span class="exh">Exercise.</span> Add the following definitions in Lisp:
	</p>
	<pre class="language-scheme"><code>
		(define x 3)
		(define y 4)
	</code></pre>
	<details class="answer">
		<summary>Solution</summary>
		<pre class="language-scheme"><code>
			(define x 3)
			(define y 4)
			(+ x y)
		</code></pre>
		<pre class="language-bash"><code>
			7
		</code></pre>
	</details>
	<p>
		<span class="exh">Exercise.</span> Suppose
		<span class="monoText">x</span> and <span class="monoText">y</span> are the
		coordinates of a Cartesian point, ${(3, 4).}$ Write an expression computing
		the distance of this point from the point ${(0,0).}$
	</p>
	<details class="answer">
		<summary>Solution</summary>
		<p>Recall that the distance formula is:</p>
		<figure class="math-display">
			<div>
				<p>
					${d = \sqrt{(\Delta x)^2 + (\Delta y)^2} = \sqrt{(x_2 - x_1)^2 + (y_2
					- y_1)^2}}$
				</p>
			</div>
		</figure>
		<pre class="language-scheme"><code>
			(define x1 3)
			(define y1 4)
			(define x2 0)
			(define y2 0)
			(define delta_x (- x2 x1))
			(define delta_y (- y2 y1))

			(define dist 
				(sqrt (+ (sqr delta_x) 
							(sqr delta_y))))
			
			dist
		</code></pre>
		<pre class="language-bash"><code>
			5
		</code></pre>
	</details>
</section>
{% endblock %}
