{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="compound_procedures">
	<h4>Compound Procedures&mdash;Functions</h4>
	<p>
		The ability to name primitives is a very simple and limited means of
		abstraction. A much more power means of abstraction is the ability to name
		and treat compound operations as discrete entites &mdash;
		<span class="italicsText">procedure definitions</span>. Here is a simple
		procedure definition:
	</p>
	<pre class="language-scheme"><code>
		(define (square x) 
			(* x x))
	</code></pre>
	<p>
		This procedure definition computes the square of
		<span class="monoText">x</span>. The general form of a procedural
		definition:
	</p>
	<figure class="math-display">
		<pre class="language-pseudo"><code>
			<span class="blueText">(define </span><span class="blueText">(</span><span class="redText">⟨<span class="italicsText">name</span>⟩</span> <span class="redText">⟨<span class="italicsText">formal parameters</span>⟩</span><span class="blueText">)</span> 
				<span class="redText">⟨<span class="italicsText">body</span>⟩</span><span class="blueText">)</span>
		</code></pre>
	</figure>
	<p>
		In the general form, the <span class="monoText">⟨name⟩</span> is the symbol
		associated with the procedure definition in the environment. The
		<span class="monoText">⟨formal parameters⟩</span> are the names used within
		procedure's body to refer to the arguments, or inputs, passed to the
		procedure. the <span class="monoText">⟨body⟩</span> is an expression that
		returns the value of the procedure application when the
		<span class="monoText">⟨formal parameters⟩</span> are replaced by the actual
		arguments passed.
	</p>
	<p>
		Once a procedure is defined, we can use it to perform complex operations:
	</p>
	<pre class="language-scheme"><code>
		(define (square x) 
			(* x x))
		(square 5)
		(square (+ 6 3))
		(square (square 2))
		(+ (square 5) (square 2))
	</code></pre>
	<pre class="language-bash"><code>
		25
		81
		16
		29
	</code></pre>
	<p>
		If we can then use a defined procedure in the body of another procedure.
		Suppose we want a procedure that computes ${x^2 + y^2:}$
	</p>
	<pre class="language-scheme"><code>
		(define (square x)
			(* x x))
		(define (sum-of-squares x y) 
			(+ (square x) (square y)))
		
		(sum-of-squares 2 4)
	</code></pre>
	<pre class="language-bash"><code>
		24
	</code></pre>

	<p>
		<span class="topic">Functions.</span> Functions in programming are similar
		to functions in mathematics. You pass in two or more arguments into the
		function, and you get back one, and only one, output. Question: Are these
		two functions the same:
	</p>

	<figure class="math-display">
		<div>
			<p>${f(x) = 2x + 6}$</p>
			<p>${g(x) = 2(x + 3)}$</p>
		</div>
	</figure>

	<p>
		Trick question. We say that the functions above are the same functions, but
		<span class="italicsText">different procedures</span>. We get the same
		output, but the steps towards reaching that output are different. If we
		passed in the value 1:
	</p>
	<div class="compare">
		<pre class="language-pseudo"><code>
			f(1) = 2(1) + 6
			f(1) = 2 + 6
			f(1) = 8
		</code></pre>
		<pre class="language-pseudo"><code>
			f(1) = 2(1 + 3)
			f(1) = 2(4)
			f(1) = 8
		</code></pre>
	</div>
	<p>
		A <span class="italicsText">function</span> is an expression. A
		<span class="italicsText">procedure</span> is a sequence of steps to
		<span class="italicsText">compute</span> a function. Inside the computer,
		there aren't any &#8220;functions.&#8221; At the most basic level, all that
		a computer can do is answer yes or no questions. Accordingly, inside the
		computer, there are only procedures. Because of this fact, the words
		&#8220;function&#8221; and &#8220;procedure&#8221; are often used
		interchangeably. We will highlight distinctions when necessary, but for the
		most part, they refer to the same idea &mdash; a series of steps performing
		a computation.
	</p>

	<p>
		Functions are what allow us to get rid of redundancy &mdash; the public
		enemy number one of programming. Consider, for example, the following code:
	</p>
	<pre class="language-scheme"><code>
		(above (circle 10 "solid" "red")
				(circle 10 "solid" "yellow")
				(circle 10 "solid" "green"))
	</code></pre>
	<p>
		Notice how <span class="monoText">circle 10 "solid"</span> appears multiple
		times. This is redundant. The only thing that changes is the color.
		Functions are a perfect remedy for this. In programming, functions are
		similar to functions in mathematics. We have a general rule that assigns
		inputs to outputs. For example, the reciprocal function:
	</p>
	<figure class="math-display">
		<div>
			<p>${f(x) = \dfrac{1}{x}}$</p>
		</div>
	</figure>
	<p>
		Instead of writing ${1/1,}$ ${1/2,}$ ${1/3,}$ etc. every time, we can just
		write ${f(x) = \frac{1}{x}.}$ In the context of programming, the ${(x)}$ in
		${f(x)}$ is the <span class="term">parameter</span>, and represents the
		varying value, ${x.}$ The ${\frac{1}{x}}$ is the function's body, and it
		sets forth the <span class="italicsText">rule of assignment</span> &mdash;
		which inputs for ${x}$ map to which outputs of ${f(x).}$ I.e., if ${x = 2,}$
		then ${f(2) = \frac{1}{2},}$ if ${x = 3,}$ then ${f(3) = \frac{1}{3}.}$
	</p>
	<p>
		Thus, we might write a function for the redundant code above as the
		following:
	</p>
	<pre class="language-scheme"><code>
		(define (bulb c)
			(circle 40 "solid" c))
	</code></pre>
	<p>We can then call the function to create a new circle:</p>
	<pre class="language-scheme"><code>
		(bulb "purple")
	</code></pre>
	<p>The code above can now be reduced to:</p>
	<pre class="language-scheme"><code>
		(above (bulb "red")
			(bulb "yellow")
			(bulb "green"))
	</code></pre>
</section>
{% endblock %}
