{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="strings_in_lisp">
	<h4>Strings</h4>
	<p>
		In Lisp, strings are delimited with double quotes. Strings themselves are
		expressions with values, just as numbers are expressions with values:
	</p>
	<pre class="language-scheme"><code>
		"Hello world!"
	</code></pre>
	<pre class="language-bash"><code>
		"Hello world!"
	</code></pre>
	<p>
		Like other programming languages, we can
		<span class="italicsText">concatenate</span> strings; i.e., put them
		together:
	</p>
	<pre class="language-scheme"><code>
		(string-append "Goodbye" " " "world!")
	</code></pre>
	<pre class="language-bash"><code>
		"Goodbye world!"
	</code></pre>
	<p>
		We can also obtain the length of a string with
		<span class="monoText">string-length</span>:
	</p>
	<pre class="language-scheme"><code>
		(string-length "ney")
	</code></pre>
	<pre class="language-bash"><code>
		3
	</code></pre>
	<p>If we want to isolate a substring inside the string:</p>
	<pre class="language-scheme"><code>
		(substring "Goodbye" 0 4)
	</code></pre>
	<pre class="language-bash"><code>
		"Good"
	</code></pre>
	<p>
		<span class="monoText">substring</span> isolates the substring defined the
		string's index of first number (in this case
		<span class="monoText">0</span>) and the index at the second number minus 1
		(in this case <span class="monoText">4</span>, so the substring's last
		character is the the character at the string's index 3). We minus one
		because the first index starts at <span class="monoText">0</span>:
	</p>
	<pre class="language-scheme"><code>
		(substring "01234" 0 3)
	</code></pre>
	<pre class="language-bash"><code>
		"012"
	</code></pre>
	<p>
		Zero-based indexing is the most common source of
		<span class="italicsText">off-by-one errors</span> &mdash; failing to take
		account for an additional element in the sequence.
	</p>
	<p>
		<span class="exh">Exercise.</span> Concatenate the strings defined below
		with a space separating them:
	</p>
	<pre class="language-scheme"><code>
		(define prefix "Mr.")
		(define suffix "Holmes")
	</code></pre>
	<details class="answer">
		<summary>Solution</summary>
		<pre class="language-scheme"><code>
			(define prefix "Mr.")
			(define suffix "Holmes")
			(string-append prefix " " suffix)
		</code></pre>
		<pre class="language-bash"><code>
			"Mr. Holmes"
		</code></pre>
	</details>
</section>
{% endblock %}
