{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="preprocessor">
	<p>
		<span class="topic">Preprocessor.</span>
		<span class="monoText">C++</span> uses a
		<span class="term">preprocessor</span> to process source code before the
		code goes to the compiler. The preprocessor performs several tasks. First,
		it goes through the entire source code, and replaces every comment with a
		single space. Then, it looks for
		<span class="term">preprocessor directives</span> and executes them. These
		directives always start with a hash sign, <span class="monoText">#</span>.
		For example:
	</p>

	<figure class="math-display">
		<div class="compare">
			<ul class="syntax">
				<li>#include &lt;iostream&gt;</li>
				<li>#include "foo.h"</li>
				<li>#if</li>
				<li>#else</li>
				<li>#endif</li>
				<li>#ifdef</li>
			</ul>
			<ul class="syntax">
				<li>#ifndef</li>
				<li>#define</li>
				<li>#undef</li>
				<li>#line</li>
				<li>#error</li>
				<li>#pragma</li>
			</ul>
		</div>
	</figure>

	<p>
		The most commonly used directive is <span class="monoText">#include</span>.
		When the preprocessor encounters this directive, it replaces the line with
		the file referred to (the preprocessor processes that file as well). Once
		the directive is processed, it is removed.
	</p>
</section>
{% endblock %}
