{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="What is overloading? An overview of operator overloading in C++."
/>
{% endblock %} {% block title %}
<title>Overloading</title>
{% endblock %} {% block content %}
<h1>Operator Overloading & Friends</h1>
<section id="prelude">
	<p>
		In mathematics, we often have symbols that can apply to different values.
		For example, ${1 + 2}$ and ${1.4 + 4.2}$ both mean addition, regardless of
		the fact that ${1,2 \in \Z^{+}}$ and ${1.4 + 4.2 \in \mathbb{Q}.}$ The
		values belong to different sets, but the ${+}$ works nevertheless.
		Mathematics could have gone a different route, using different symbols for
		addition, depending on which set the terms belonged to.
	</p>
	<p>
		Other symbols, however, can have different meanings depending on the terms
		used. For example, most people would recognize the ${\times}$ symbol in ${A
		\times B}$ as indicating multiplication. However, if ${A}$ and ${B}$ were
		vectors &mdash; an object with magnitude and direction &mdash; then the ${A
		\times B}$ is a cross product. This yields two very different computations:
		${A \times B = AB,}$ and ${A \times B = ||A|| \space ||B|| \sin \theta n.}$
	</p>
	<p>
		The same phenomon occurs in programming. The operators
		<span class="monoText">+</span>, <span class="monoText">-</span>,
		<span class="monoText">*</span>, and <span class="monoText">/</span> perform
		on both <span class="monoText">int</span> and
		<span class="monoText">double</span>.
	</p>
	<p>
		C++ allows us to extend this overloading by permitting us to define what a
		symbol like <span class="monoText">+</span> does in a given set of
		conditions. Maybe we want <span class="monoText">"tiger" + "lion"</span> to
		evaluate to <span class="monoText">"liger"</span>. This would be an example
		of we, the programmers, overloading an operator in C++. Let's consider an
		example.
	</p>
	<p>
		In mathematics, ${\sqrt{-1} = i.}$ We call ${i}$ the
		<span class="italicsText">imaginary unit</span>, which is defined by the
		property ${i^2 = -1.}$ Every real number can be written as a complex number
		of the form ${a + bi,}$ where ${a}$ is the real component and ${bi}$ is the
		complex component. For example, the real number ${4}$ can be written as ${4
		+ bi,}$ where ${b = 0.}$ Complex numbers can be added and subtracted,
		performing the computations on each part separately. For example, ${(4 + 3i)
		+ (2 + 8i) = 6 + 11i.}$
	</p>
	<p>Suppose we had the following class:</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		class ComplexNumber {
			private: 
				int real_component;
				int imaginary_component;
			public:
				ComplexNumber(int r = 0, int i = 0) {
					real_component = r;
					imaginary_component = i;
				}
		};
	</code></pre>
	<p>
		With the class above, we can create instances of
		<span class="monoText">ComplexNumber</span>. Next, let's include a method
		for adding complex numbers:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		class ComplexNumber {
			private: 
				int realPart;
				int imaginaryPart;
			public:
				ComplexNumber(int r = 0, int i = 0) {
					realPart = r;
					imaginaryPart = i;
				}
				ComplexNumber add(ComplexNumber val) {
					ComplexNumber temp;
					temp.realPart = realPart + val.realPart;
					temp.imaginaryPart = imaginaryPart + val.imaginaryPart;
					return temp;
				}
		};
	</code></pre>
	<p>Let's add a print method to the class and test:</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		class ComplexNumber {
			private: 
				int realPart;
				int imaginaryPart;
			public:
				ComplexNumber(int r = 0, int i = 0) {
					realPart = r;
					imaginaryPart = i;
				}
				ComplexNumber add(ComplexNumber val) {
					ComplexNumber temp;
					temp.realPart = realPart + val.realPart;
					temp.imaginaryPart = imaginaryPart + val.imaginaryPart;
					return temp;
				}
				void print() {
					std::cout << realPart << " + " << imaginaryPart << "i" << std::endl;
				}
		};
		
		int main() {
			ComplexNumber x = ComplexNumber(2, 3);
			ComplexNumber y = ComplexNumber(5, 8);
			ComplexNumber z = x.add(y);
			z.print();
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		7 + 11i
	</code></pre>
	<p>
		Although the code above works, it would be much more accurate if we could
		just use the <span class="monoText">+</span> symbol. This is where operator
		overloading comes in:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		class ComplexNumber {
			private: 
				int realPart;
				int imaginaryPart;
			public:
				ComplexNumber(int r = 0, int i = 0) {
					realPart = r;
					imaginaryPart = i;
				}
				ComplexNumber operator+(ComplexNumber val) {
					ComplexNumber temp;
					temp.realPart = realPart + val.realPart;
					temp.imaginaryPart = imaginaryPart + val.imaginaryPart;
					return temp;
				}
				void print() {
					std::cout << realPart << " + " << imaginaryPart << "i" << std::endl;
				}
		};
		
		int main() {
			ComplexNumber x = ComplexNumber(3, 8);
			ComplexNumber y = ComplexNumber(9, 5);
			ComplexNumber z = x + y;
			z.print();
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		12 + 13i
	</code></pre>
	<p>
		Notice the use of <span class="monoText">operator+</span>. This is the
		syntax for overloading operators in C++. C++ allows us to overload the
		following operators:
	</p>
	<figure class="table">
		<table class="mono">
			<tbody>
				<tr>
					<td>+</td>
					<td>-</td>
					<td>*</td>
					<td>/</td>
					<td>%</td>
					<td>^</td>
				</tr>
				<tr>
					<td>&</td>
					<td>|</td>
					<td>~</td>
					<td>!</td>
					<td>,</td>
					<td>=</td>
				</tr>
				<tr>
					<td><</td>
					<td>></td>
					<td><=</td>
					<td>>=</td>
					<td>++</td>
					<td>--</td>
				</tr>
				<tr>
					<td><<</td>
					<td>>></td>
					<td>==</td>
					<td>!=</td>
					<td>&&</td>
					<td>||</td>
				</tr>
				<tr>
					<td>+=</td>
					<td>-=</td>
					<td>/=</td>
					<td>%=</td>
					<td>^=</td>
					<td>&=</td>
				</tr>
				<tr>
					<td>|=</td>
					<td>*=</td>
					<td><<=</td>
					<td>>>=</td>
					<td>[]</td>
					<td>()</td>
				</tr>
				<tr>
					<td>_></td>
					<td>_>*</td>
					<td>new</td>
					<td>new[]</td>
					<td>delete</td>
					<td>delete[]</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		The following operators <span class="underlineText">cannot</span> be
		overloaded:
	</p>
	<figure class="table">
		<table class="mono">
			<tbody>
				<tr>
					<td>::</td>
					<td>.*</td>
				</tr>
				<tr>
					<td>.</td>
					<td>?:</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		A word of caution on overloading: It's very easy to get carried away
		creating new meanings for the symbols above. Overloading is more a matter of
		aesthetic and style than anything else. Done poorly, overloading can lead to
		poor readability. If we ever catch ourselves overloading an operator and
		following it with a comment defining what the operator means, stop.
		Operators should be overloaded only if they are intuitive. And by intuitive,
		we mean immediately deducible. The example above is intuitive because it
		follows the laws of mathematics. It would not be intuitive to use
		<span class="monoText">++</span> on a string. What happens when you
		increment a string? If we ever find ourselves asking that question, we've
		ventured into the land of bad heuristics.
	</p>
</section>

<section id="friends">
	<h2>Friends</h2>
	<p>
		Recall that with classes, the class's properties and methods are
		<span class="monoText">private</span> by default. And if those properties
		and methods are private, they cannot be accessed outside the class.<label
			for="privateProperties"
			class="margin-toggle"
			><sup></sup
		></label>
		<input
			type="checkbox"
			id="privateProperties"
			class="margin-toggle sidenote-number"
		/>
		<span class="marginnote"
			><span class="italicsText">See</span>
			<a href="{% url 'numerc:cpp_oop'%}#classes"><em>Classes: The Class</em></a
			>.</span
		>
		To avoid complicating the subject, we omitted a detail: We can access those
		properties and methods outside the class with
		<span class="term">friends</span>. In this section, we'll focus on
		<span class="term">friend functions</span> &mdash; functions defined outside
		some class ${x,}$ but can access ${x}$'s private and protected data inside
		that class, provided our permission.
	</p>
	<p>
		Why would we need a function defined outside the class but have access to
		the class's private data? The most common reasons: (1) It can lead to more
		readable and intuitive code. For example, with a friend function, we could
		write <span class="monoText">move(player)</span> instead of
		<span class="monoText">player.move()</span>. (2) It allows us to overload
		operators for similar classes.
	</p>
	<p>
		For example, let's create a class called
		<span class="monoText">2dCoordinate</span>:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		class Coordinate2d {
			double x, y;
			Coordinate2d(double val1=0.0, double val2=0.0) {
				x = val1;
				y = val2;
			}
		};
	</code></pre>
	<p>Let's add to the class a print method:</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		class Coordinate2d {
			double x, y;
			public:
				Coordinate2d(double val1=0.0, double val2=0.0) {
					x = val1;
					y = val2;
				}
				void print() {
					std::cout << "(" << x << ", " << y << ")" << std::endl;
				}
		};
		
		int main() {
			Coordinate2d p1 = Coordinate2d(0, 1);
			p1.print();
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		(0, 1)
	</code></pre>
	<p>
		If we defined <span class="monoText">void print()</span> outside the class
		<span class="monoText">Coordinate2d</span>, our program won't compile
		&mdash; the properties <span class="monoText">x</span> and
		<span class="monoText">y</span> are private. This is where
		<span class="monoText">friend</span> comes in:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		class Coordinate2d {
			double x, y;
			public:
				Coordinate2d(double val1=0.0, double val2=0.0) {
					x = val1;
					y = val2;
				}
				friend void print(Coordinate2d &point);
		};
		
		void print(Coordinate2d &point) {
			std::cout << "(" << point.x << ", " << point.y << ")" << std::endl;
		}
		
		int main() {
			Coordinate2d p1 = Coordinate2d(0, 1);
			print(p1);
			return 0;
		}
	</code></pre>
	<p>
		Notice the syntax and structure. In the
		<span class="monoText">Coordinate2d</span> class definition, we included a
		prototype for the <span class="monoText">print()</span> function, prepended
		with the <span class="monoText">friend</span> keyword. We've also modified
		the function to take a <span class="monoText">Coordinate2d</span> object by
		reference. Then, we defined the friend function
		<span class="monoText">print()</span> outside the class definition, using
		the same prototype. Note that although a friend function's prototype appears
		in the class definition, it is <span class="underlineText">not</span> a
		member function.In doing so, we can now use the
		<span class="monoText">print()</span> function as seen in
		<span class="monoText">main()</span>.
	</p>
	<p>
		Now what if we just wanted to use the regular
		<span class="monoText">std::cout << ... << std::endl</span> syntax? I.e., we
		don't want to write a separate <span class="monoText">print()</span> method?
		This is where the use for friends is most apparent. To overload the
		insertion operator for streams, we would have to include as a parameter a
		reference to the <span class="monoText">ostream</span> object (an instance
		of an output stream). Because this is an entirely different object from
		<span class="monoText">Coordinate2d</span>, the overloaded insertion
		operator <span class="underlineText">cannot</span> belong to the class
		<span class="monoText">Coordinate2d</span>. As such, it the overloading must
		be done as a friend function:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		class Coordinate2d {
			double x, y;
			public:
				Coordinate2d(double val1=0.0, double val2=0.0) {
					x = val1;
					y = val2;
				}
				friend std::ostream& operator<<(std::ostream &stream, Coordinate2d &point);
		};
		
		std::ostream& operator<<(std::ostream &stream, Coordinate2d &point) {
			stream << "(" << point.x << ", " << point.y << ")";
			return stream;
		}
		
		int main() {
			Coordinate2d p1 = Coordinate2d(3.3, 8.2);
			std::cout << p1 << std::endl;
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		(3.3, 8.2)
	</code></pre>
</section>

<section id="overloaded_operators_v_overloaded_functions">
	<h2>Overloaded Operators v. Overloaded Functions</h2>
	<p>
		Overloaded operators are really just overloaded functions. This is because
		operators, are, in fact, functions. In the previous example, we overloaded
		the insertion operator, <span class="monoText"><<</span>. When we write:
	</p>
	<figure class="math-display">
		<div>
			<pre class="language-pseudo"><code>
				std::cout << p1 << std::endl;
			</code></pre>
		</div>
	</figure>
	<p>We are really just writing:</p>
	<figure class="math-display">
		<div>
			<pre class="language-pseudo"><code>
				operator<<(std::cout, p1)
			</code></pre>
		</div>
	</figure>
	<p>
		This observation further evidences how operator overloading is really more
		of a convenience than anything else. It's just syntactic sugar. C++ could
		very well have declined allowing operator overloading, just as Java did.
		But, the sugar is there for us to savor &mdash; succumb to gluttony, and we
		incur the risks.
	</p>
</section>
{% endblock %}
