{% extends '../layout.html' %} {% load static %} {% block content %}
<section id="merge_sort">
	<h3>Merge Sort</h3>
	<p>
		In the <span class="term">merge sort</span> algorithm, we perform three
		steps. Suppose we have an unsorted array ${A}$ of ${n}$ elements. The merge
		sort algorithm operates recursively: (1) If ${n = 1,}$ then the array is
		sorted. (2) Otherwise, merge sort ${(A)_1^{\lceil n/2 \rceil}}$ and the
		array ${(A)_{\lceil(n/2) + 1\rceil}^n.}$ In other words, we are sorting two
		halves of the array ${A.}$ (3) We take the two halves and merge them.
	</p>

	<p>
		The base case, ${n = 1,}$ is just one operation. It takes constant time to
		perform: ${\Theta(1).}$ What about the recusive case? How do we describe
		those operations? Well, the recursive case handles the the two halves of the
		aray, so the runtime is ${2T(n/2).}$ The merge subroutine consists of ${n}$
		steps, so that takes ${\Theta(n)}$ time. We describe merge sort's runtime as
		the following:
	</p>

	<figure class="math-display">
		$$ T(n) = \begin{cases} \Theta(1) &n=1 \\ 2T(n/2) + \Theta(n) &n > 1
		\end{cases} $$
	</figure>
</section>
{% endblock %}
