{% extends '../layout.html' %}
{% load static %}
{% block content %}
<section id="basic_operators">
	<h3>Basic Operators in <span class="monoText">C++</span></h3>
	<p><span class="monoText">C++</span> comes with several basic operators. Below is a table briefly presenting them. The last few rows following an <span class="monoText">#include</span> are operators (functions) that come from library. They only work if the library is included (e.g., <span class="monoText">#include &lt;cmath&gt;</span>)</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>Operator</th>
				<th>Description</th>
				<th>Comment</th>
			</thead>
			<tbody>
				<tr>
					<td colspan="3" style="text-align: center; background-color: rgb(255, 252, 225);">Arithmetic Operators</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ + ${b}$</span></td>
					<td>${a + b}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ - ${b}$</span></td>
					<td>${a - b}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ * ${b}$</span></td>
					<td>${(a)(b)}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ / ${b}$</span></td>
					<td>${\dfrac{a}{b}}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ % ${b}$</span></td>
					<td>${a \bmod b}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$++</span></td>
					<td>${a + 1}$</td>
					<td>The increment operator</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$--</span></td>
					<td>${a - 1}$</td>
					<td>The decrement operator</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; background-color: rgb(255, 252, 225);">Logical Operators</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ && ${b}$</span></td>
					<td>${a \land b?}$</td>
					<td>Logical AND; returns true iff ${a}$ is true and ${b}$ is true</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ || ${b}$</span></td>
					<td>${a \lor b?}$</td>
					<td>Logical OR; returns true iff ${a}$ is true or ${b}$ is true</td>
				</tr>
				<tr>
					<td><span class="monoText">!${a}$</span></td>
					<td>${\neg a}$</td>
					<td>Logical NOT; returns the negated Boolean value of ${a}$</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; background-color: rgb(255, 252, 225);">Comparison Operators</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ == ${b}$</span></td>
					<td>${a = b?}$</td>
					<td>Return is a Boolean: Is ${a}$ equal to ${b?}$ This does not check equality of type.</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ != ${b}$</span></td>
					<td>${a \neq b?}$</td>
					<td>Return is a Boolean: Is ${a}$ <span class="italicsText">not equal</span> to ${b?}$ This does not check equality of type.</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ < ${b}$</span></td>
					<td>${a < b?}$</td>
					<td>Return is a Boolean: Is ${a}$ less than ${b?}$</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ > ${b}$</span></td>
					<td>${a > b?}$</td>
					<td>Return is a Boolean: Is ${a}$ greater than ${b?}$</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ <= ${b}$</span></td>
					<td>${a \leq b?}$</td>
					<td>Return is a Boolean: Is ${a}$ less than or equal to ${b?}$</td>
				</tr>
				<tr>
					<td><span class="monoText">${a}$ >= ${b}$</span></td>
					<td>${a \geq b?}$</td>
					<td>Return is a Boolean: Is ${a}$ greater than or equal to ${b?}$</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; background-color: rgb(255, 252, 225);">Ternary Operator</td>
				</tr>
				<tr>
					<td><span class="monoText">${cond}$ ? ${val_1}$ : ${val_2}$</span></td>
					<td>If ${cond}$ (an expression that evaluates to a Bool) is true, return ${val_1;}$ otherwise, return ${val_2.}$</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; background-color: rgb(255, 252, 225);">Type Casting</td>
				</tr>
				<tr>
					<td><span class="monoText">(${type_n}$) ${v}$</span></td>
					<td>Where ${v}$ is some type ${type_i,}$ convert to ${type_n}$</td>
					<td>Like casting in other languages, if ${v}$ is a <span class="monoText">float</span>, casting to an <span class="monoText">int</span> is not a rounding; the fractional component is simply chopped off and lost.</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; background-color: rgb(255, 252, 225);"><span class="monoText">#include &lt;cmath&gt;</span></td>
				</tr>
				<tr>
					<td><span class="monoText">abs(${v}$)</span></td>
					<td>${\lvert v \rvert }$</td>
					<td>Computes the absolute value of ${v}$</td>
				</tr>
				<tr>
					<td><span class="monoText">ceil(${v}$)</span></td>
					<td>${\lceil v \rceil }$</td>
					<td>Computes the ceiling of ${v}$ (closest integer greater than ${v}$)</td>
				</tr>
				<tr>
					<td><span class="monoText">floor(${v}$)</span></td>
					<td>${\lfloor v \rfloor }$</td>
					<td>Computes the floor of ${v}$ (closest integer less than ${v}$)</td>
				</tr>
				<tr>
					<td><span class="monoText">log10(${v}$)</span></td>
					<td>${\log_{10}v}$</td>
					<td>Computes common log of ${v}$</td>
				</tr>
				<tr>
					<td><span class="monoText">log2(${v}$)</span></td>
					<td>${\lg v}$</td>
					<td>Computes binary log of ${v}$</td>
				</tr>
				<tr>
					<td><span class="monoText">log(${v}$)</span></td>
					<td>${\ln v}$</td>
					<td>Computes natural log of ${v}$</td>
				</tr>
				<tr>
					<td><span class="monoText">max(${v}$, ${w}$)</span></td>
					<td>Returns the larger of ${v}$ and ${w}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">min(${v}$, ${w}$)</span></td>
					<td>Returns the smaller of ${v}$ and ${w}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">pow(${v}$, ${w}$)</span></td>
					<td>${v^w}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">round(${v}$)</span></td>
					<td>rounds ${v}$ to nearest whole number</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">sqrt(${v}$)</span></td>
					<td>${\sqrt{v}}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">cbrt(${v}$)</span></td>
					<td>${\sqrt[3]{v}}$</td>
					<td>Returns cubic root of ${v}$</td>
				</tr>
				<tr>
					<td><span class="monoText">sin(${x}$)</span></td>
					<td>${\sin x}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">cos(${x}$)</span></td>
					<td>${\cos x}$</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="monoText">tan(${x}$)</span></td>
					<td>${\tan x}$</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</figure>

</section>
{% endblock %}