{% extends '../layout.html' %}
{% load static %}
{% block description %}
<meta name="description" content="Notes on graphs and graph algorithms.">
{% endblock %}
{% block title %}
<title>Graphs</title>
{% endblock %}
{% block content %}
<h1>Graphs</h1>
<section id="intro">
	<p>Graphs are a collection of nodes and edges.</p>
	<div id="sample_graph"></div>
</section>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="module" src="../../../static/numerc/csmd/csmd.mjs"></script>
<script
	type="module"
	src="../../../static/numerc/scripts/cpp_graph_algorithms.js"
></script>
{% endblock %}