{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="C++ pointers: memory allocation, stack, heap, dereferencing, pointer arithmetic."
/>
{% endblock %} {% block title %}
<title>C++ Pointers</title>
{% endblock %} {% block content %}
<h1>Pointers</h1>
<section id="pointers">
	<p>
		We can think of pointers as a special kind of variable. More formally, a
		<b>pointer</b> is a variable &mdash; a number &mdash; that stores an address
		in RAM. That address could be the address of a location in memory where
		specific data is stored, or it could be an address to some random piece of
		data. To tighten this definition, we assume the following: There are two
		categories of variables &mdash; (1) a <b>data variable</b> and (2) an
		<b>address variable</b>. A data variable stores a particular piece of data.
		An address variable stores a particular memory address.
	</p>
	<p>Say we write the following:</p>
	<pre class="language-cpp"><code>
		int x = 1;
	</code></pre>
	<p>
		Suppose, for the sake of example, that
		<var>int</var> takes 2 bytes of memory. Writing the line above, we instruct
		the compiler to allocate 2 bytes in memory for the value <var>1</var>, and
		we are going to call that address <var>x</var>. The effect of doing so is
		storing the bits comprising <var>10</var> in memory. Suppose the address of
		that byte is 1000—1001 (addresses 1000 to 1001). We have stored the bits
		comprising <var>1</var> in the address 1000—1001, and that address will be
		referred to as <var>x</var> (assume the memory allocated is denoted by the
		first address, 1000).
	</p>
	<p>
		Now, say we want to store the address of behind
		<var>x</var>, not the value assigned to <var>x</var> itself. To do so, we
		need a pointer:
	</p>
	<pre class="language-cpp"><code>
		int x = 1;
		int *p;
	</code></pre>
	<p>
		Notice the asterisk. This is the syntax for declaring a pointer. Now, to
		assign the address behind <var>x</var> to <var>p</var>, we use the following
		syntax:
	</p>
	<pre class="language-cpp"><code>
		int x = 1;
		int *p;
		p = &amp;x;
	</code></pre>
	<p>
		Notice the ampersand. The address behind <var>x</var> is now assigned to the
		pointer <var>p</var>. To see the difference between <var>x</var> and
		<var>&x</var>, consider the following output:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int x = 1;
			int *p;
			p = &amp;x;
		
			cout << "x = " << x << endl;
			cout << "&x = " << &x << endl;
			cout << "p = " << p << endl;
		
			return 0;
			}
	</code></pre>
	<pre class="language-bash"><code>
		x = 1
		&x = 0x7ffee689a18c
		p = 0x7ffee689a18c
	</code></pre>
	<p>
		Notice the difference. The value assigned to
		<var>x</var> is the data we stored in memory, <var>1</var>. The value
		assigned to <var>p</var>, however, is <var>0x7ffee3fc118c</var>, the address
		where <var>1</var> is stored (i.e., the address we've named <var>x</var>).
		We can confirm this by comparing <var>&x</var>, which reveals the address
		named <var>x</var>, and <var>p</var>, the pointer to the address named
		<var>x</var>.
	</p>
	<p>
		Question: What about would the output of
		<var>&p</var> and <var>*p</var> look like? Well, let's try it:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int x = 1;
			int *p;
			p = &amp;x;
		
			cout << "x = " << x << endl;
			cout << "&x = " << &x << endl;
			cout << "p = " << p << endl;
		
			cout << "*p = " << *p << endl;
			cout << "&p = " << &p << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		x = 1
		&x = 0x7ffee97c618c
		p = 0x7ffee97c618c
		*p = 1
		&p = 0x7ffee97c6180
	</code></pre>
	<p>
		It looks like <var>*p</var> stores the data stored in <var>x</var>. And
		<var>&p</var> looks like it stores an address. This output logically follows
		from our definition of a poiner. The pointer <var>p</var> is just another
		variable. And because it is a variable, it really is just a name for an
		address in memory. In this case, <var>0x7ffee97c6180</var>. That address,
		however, stores an address in memory, the address behind <var>x</var>. So
		what's going on with <var>*p</var>? This is where we have to distinguish
		betwen <var>p</var> and <var>*p</var>. The variable <var>p</var> stores an
		address. However, writing <var>*p</var> is called a <b>dereference</b>. In
		other words, <var>*p</var> tells the compiler to retrieve the value stored
		in the address stored in <var>p</var>. In sum: When we first use
		<var>*p</var>, we are declaring the pointer. When we use <var>*p</var> in
		subsequent code, we are <i>dereferencing</i> that pointer.
	</p>
	<p>
		Following this discussion, there are three checkboxes to tick whenever we
		use pointers:
	</p>
	<figure class="math-display">
		<ol>
			<li>Declaration</li>
			<li>Initialization</li>
			<li>Dereferencing</li>
		</ol>
	</figure>
	<p>
		An important thing to note about pointers is that they are just integers.
		Specifically, they are integers for a specific address that stores an
		address. On modern compiles, the pointer must have a type that
		&#8220;agrees&#8221; or &#8220;conforms&#8221; with the type of the value
		stored in the address the pointer stores. For example, if we write
		<var>double var = 1.23941,</var> then a subsequent pointer
		<var>ptr</var> must have the type <var>double*</var>. This is intended more
		as a safeguard than anything else. Many features in C++ respond to the
		dangers of programming in C. In C, we could very well declare the pointer to
		have the type <var>int*</var>. The response to doing so in C is a
		<i>warning</i> rather than an <i>error</i> (what a modern C++ compiler would
		return). The problem with doing so, however, is that it's often the case
		that an <var>int</var> pointer simply isn't large enough to accomodate a
		<var>double</var> value. The result: Losing parts of the
		<var>double</var> value.
	</p>
</section>

<section id="why_pointers">
	<h2>Why are there pointers?</h2>
	<p>
		Recall that all of our programs primary source code is placed in the
		<var>main()</var> function. When run our program, the
		<var>main()</var> function's machine code is loaded in the code section of
		memory. Now, if we have other functions in our program that the code in
		<var>main()</var> calls, those functions are also loaded in the code
		section.
	</p>
	<p>
		The <var>main()</var> function has access to everything in the code section,
		and everything in the stack. However, we know that there is another section
		in memory relevant to our program &mdash; the heap. <var>main()</var>,
		however, cannot directly access the heap. But, it can
		<span class="underlineText">indirectly</span> access the heap with a
		<i>pointer</i>.
	</p>
	<p>
		Although pointers are most commonly associated with values stored in the
		heap, they are not limited to such application. Files outside of our program
		are accessed with pointers. Our program's connection to a network is made
		with a pointer. Our program's access to printers, keyboards, monitors,
		speakers, and other external devices is provided with pointers.<sup></sup>
	</p>
	<div class="note">
		<p>
			Not every language provides pointers. Most high-level languages like Java,
			Python, JavaScript, and many others, do not provide any means to use
			pointers. In contrast, because languages like C and C++ provide pointers,
			they are often referred to as <b>systems-programming languages</b>;
			languages that can be used for constructing system-level programs like
			device drivers and operating systems.
		</p>
	</div>
	<p>
		Why restrict direct access to these entities and require pointers? Because
		our program isn't the only thing using these entities. We might have other
		programs using these shared entities, and we don't want one program to
		potentially wreck everything for all the others. This is why entities like
		the heap, external devices, and networks require the use of pointers.
	</p>
</section>

<section id="allocating_memory_in_the_heap">
	<h2>Allocating Memory in the Heap</h2>
	<p>
		In the previous example, <var>int x = 1</var> assigns <var>1</var> to a
		memory location in the stack. Accordingly, our pointer <var>p</var> pointed
		to a stack memory address. How do we allocate things to the heap? Again, we
		use the pointer syntax:
	</p>

	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int x = 1;
			
			int *p;
			p = new int;
			*p = 1;
		
			return 0;
		}
	</code></pre>
	<p>
		In the code above, <var>int x = 1</var> stores <var>1</var> in a memory
		address in the stack segment. <var>*p = 1</var>, however, stores another
		<var>1</var> in a memory address in the heap segment. To see the
		differences:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int x = 1;
			int *s;
			s = &amp;x;
		
			cout << "s = " << s << endl;
		
			int *p;
			p = new int;
			*p = 1;
		
			cout << "p = " << p << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		./main
		s = 0x7ffee69b418c
		p = 0x7ff430c05c00

		./main
		s = 0x7ffee46f518c
		p = 0x7fd160c05c00
	</code></pre>
	<p>
		We cannot know from the address alone whether an address is in the stack or
		the heap, but notice that the addresses are different. This tells us that
		<var>s</var> and <var>p</var> store different addresses. Both addresses
		store <var>1</var>, but they are different addresses.
	</p>
	<p>
		A word of caution: When we allocate memory in the stack, the data occupying
		those addresses are automatically destroyed when they are no longer needed.
		This is not the case with the heap. Data stored in the heap will always stay
		in the heap as long as our program runs. This means that the heap can grow
		very large without our noticing. If the heap grows large enough, it will at
		some point collide with the stack, and we are greeted with a
		<b>heap overflow</b>. We never want heap overflows &mdash; the end result is
		the program crashing.
	</p>
	<p>
		Because of this issue, we must always
		<b>de-allocate</b> memory we've instructed the compiler to allocate. We can
		think of this as sort &#8220;clearing&#8221; the memory we've allocated.<sup
		></sup>
		For example, suppose we allocated memory in the heap for an array. To
		de-allocate, we write the following:
	</p>
	<div class="note">
		<p>
			This is such an important point that we denote it as a commandment: Heap
			memory <span class="underlineText">must</span> be de-allocated.
		</p>
	</div>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int *p = new int[3] { 1, 2, 3 };
		
			for (int i = 0; i &lt; 3; i++) {
				cout &lt;&lt; " " &lt;&lt; p[i] &lt;&lt; " " &lt;&lt; endl;
			}
		
			delete []p;
			return 0;
		}
	</code></pre>
	<p>
		The second to last line, <var>delete []p</var>, is what we use to
		de-allocate <var>p</var>. Notice that we also used a new piece of syntax,
		<var>int *p = new int[3] { 1, 2, 3 };</var>, to both declare and initialize
		the pointer <var>p</var>. The syntax above is equivalent to:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int *p;
			p = new int[3] {1, 2, 3};
		
			for (int i = 0; i < 3; i++) {
				cout << " " << p[i] << " " << endl;
			}
		
			delete []p;
			return 0;
		}
	</code></pre>
	<p>
		Briefly returning to why pointers are useful, suppose we have a program that
		requires the use of an array. Suppose we wrote the following:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int arr[10];
		
			return 0;
		}
	</code></pre>
	<p>
		The problem with the code above is that arrays in C++ cannot be mutated.
		Thus, the array <var>arr</var> cannot later include more than 10 elements.
		One way to fix this is by having the user specify the size of the array:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int size;
			cout << "Enter number of elements: ";
			cin >> size;
			int arr[size];
			size_t arrLength = (sizeof arr) / 4;
			cout << "Size of array: " << arrLength << endl;
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		Enter number of elements size: 10
		Size of array: 10
	</code></pre>

	<p>
		We've now managed to get around hard-coding the size of an array, but we're
		still left with the problem: Once the user enters the size of
		<var>arr</var>, we cannot change its size.
	</p>
	<p>The fix is with a pointer:</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int size;
			cout &lt;&lt; "Enter array's size: ";
			cin >> size;
			int *p = new int[size];
			
			// various code using arr
			// done using arr --> user selects new size
		
			cout &lt;&lt; "Enter new size: ";
			cin >> size;
			delete []p;
			p = new int[size];
			return 0;
		}
	</code></pre>
</section>

<section id="pointer_arithmetic">
	<h2>Pointer Arithmetic</h2>
	<p>
		When we assign an address of an array to a pointer, the address stored in
		the pointer is actually the address of the first element in the array. This
		raises the question: What happens when we use the increment operator
		<var>++</var> on a pointer? Let's try it:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int arr[3] {7, 13, 17};
			int *p = arr;
			cout << *p << endl;
			p++;
			cout << *p << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		7
		13
	</code></pre>
	<p>
		Notice that we obtained the first element of
		<var>arr</var> when we used <var>*p</var>, then we obtained the second
		element of <var>arr</var>, when we used <var>*p</var> after incrementing
		<var>p</var>. This leads to our first, and most important insight, of
		pointer arithmetic. When we add a number to a pointer, we move the pointer
		to the next memory address. In this case, we have an array of
		<var>int</var>, so when we increment by 1, the pointer moves to the next
		<var>int</var> in the array. Note that this does not mean we move by exactly
		1 byte. When we increment a pointer to an array, how much we move depends on
		the size of the array's elements. So, when we incremented above, we moved
		the pointer by 4 bytes, since an <var>int</var> takes up 4 bytes of memory.
		We can confirm this with the following:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
			
		int main(int argc, char *argv[]) {
			int arr[3] {7, 13, 17};
			int *p = arr;
			cout << *p << endl;
			cout << p << endl;
			p++;
			cout << *p << endl;
			cout << p << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		7
		0x7ffee1ea318c
		13
		0x7ffee1ea3190
	</code></pre>
	<p>
		In the output above, the <var>int</var> 7 is stored at the address
		<var>0x7ffee1ea318c</var>. The <var>int</var> 13, in contrast, is stored at
		<var>0x7ffee1ea3190</var>. These are hexadecimal numbers. Converting them to
		decimal, we have: <var>140732688642444</var> and <var>140732688642448</var>.
		These two numbers have a difference of exactly 4.
	</p>
	<p>
		We aren't limited to incrementing. Pointers can be decremented (<span
			class="monoText"
			>--</span
		>) as well.
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int arr[3] {7, 13, 17};
			int *p = arr;
			cout << *p << endl;
			cout << p << endl;
			p++;
			cout << *p << endl;
			cout << p << endl;
			p--;
			cout << *p << endl;
			cout << p << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		7
		0x7ffee018518c
		13
		0x7ffee0185190
		7
		0x7ffee018518c
	</code></pre>
	<p>
		What happens when we subtract a pointer from another pointer? Consider the
		following code:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int arr[3]{7, 13, 17};
			int size = sizeof(arr[0]);

			int *a = arr;
			int *b = &arr[0];
			int *c = &arr[1];
			int *d = &arr[2];
			int diff = d - b;
		
			cout << "size of int: " << sizeof(int) << " bytes" << endl;
			cout << "size of arr[0]: " << size << " bytes" << endl;
			cout << "a : " << (long int)a << endl;
			cout << "b : " << (long int)b << endl;
			cout << "c : " << (long int)c << endl;
			cout << "d : " << (long int)d << endl;
			cout << "d - b = " << diff << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		size of int: 4 bytes
		size of arr[0]: 4 bytes
		a : 140732903379340
		b : 140732903379340
		c : 140732903379344
		d : 140732903379348
		d - b = 2
	</code></pre>
	<p>
		Let's carefully consider the code above. First we created a pointed call
		<var>*b</var> just to confirm that the pointer to an array points to the
		first element in the array. In this case, we outputted the address pointed
		to by the pointer as a <var>long int</var>. Notice that <var>*a</var>, which
		points to the array, and <var>*b</var>, which points to the first element in
		the array, are the same.
	</p>
	<p>
		Next, we confirmed that each element in the array are separated by 4 bytes.
		We confirm this by showing that <var>int</var> has a size of 4 bytes, and
		the first element in the array, an <var>int</var>, has a size of 4 bytes.
		Examining the decimal form of the memory address, they all differ by exactly
		4 bytes.
	</p>
	<p>
		Now the tricky part. When we subtracted the address
		<var>d</var> (the address of the third element in the array) from the
		address <var>b</var> (the address of the first element), we got back
		<var>2</var>. Why is it 2? Let's consider some more code:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int arr[3]{7, 13, 17};
			int size = sizeof(arr[0]);
			int sizeInt = sizeof(int);
		
			int *a = arr;
			int *b = &arr[0];
			int *c = &arr[1];
			int *d = &arr[2];
		
			int e = (d - b) * sizeInt;
			int f = d - b;
			int g = e / sizeInt;
		
			cout << "size of int: " << sizeInt << " bytes" << endl;
			cout << "size of arr[0]: " << size << " bytes" << endl;
			cout << "a : " << (long int)a << endl;
			cout << "b : " << (long int)b << endl;
			cout << "c : " << (long int)c << endl;
			cout << "d : " << (long int)d << endl;
			cout << "Difference in memory:  " << e << endl;
			cout << "Abstraction: " << f << endl;
			cout << "Distance in memory: " << g << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		size of int: 4 bytes
		size of arr[0]: 4 bytes
		a : 140732783632780
		b : 140732783632780
		c : 140732783632784
		d : 140732783632788
		Difference in memory:  8
		Abstraction: 2
		Distance in memory: 2
	</code></pre>
	<p>
		In the code above, we've changed a few things. First,
		<var>e</var> stores the value resulting from subtracting <var>d</var> and
		<var>b</var>, and multiplying it by the size of an <var>int</var>. This
		gives us the exact difference between <var>d</var>, the address of the third
		element, and <var>b</var>, the address of the first element &mdash; 8 bytes.
		Indeed, the <i>actual</i> difference between <var>d</var> and
		<var>b</var> is 8 bytes. In other words, <var>b</var> is 8 bytes away from
		<var>d</var>. If we divide that by the size of an <var>int</var>, 4 bytes,
		we get 2. That 2 is the <i>abstracted</i> distance between the first element
		and the third element (index at 0 to index at 2). I.e., the third element is
		exactly 2 blocks of memory away from the first element.
	</p>
	<p>
		Thus, in pointer arithmetic, subtracting two pointers ${a}$ and ${b}$ gives
		you the <i>abstracted</i> distance between ${a}$ and ${b,}$ not the
		<span class="underlineText">exact</span> distance, in memory, between the
		two addresses. To confirm, consider the following:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		
		int main(int argc, char *argv[]) {
			int arr[5]{7, 13, 17, 22, 19};
			int size = sizeof(arr[0]);
			int sizeInt = sizeof(int);
		
			int *a = arr;
			int *d = &arr[4];
		
			int e = (d - a) * sizeInt;
			int f = d - a;
			int g = e / sizeInt;
		
			cout << "size of int: " << sizeInt << " bytes" << endl;
			cout << "size of arr[0]: " << size << " bytes" << endl;
			cout << "a : " << (long int)a << endl;
			cout << "d : " << (long int)d << endl;
			cout << "Difference in memory:  " << e << endl;
			cout << "Abstraction: " << f << endl;
			cout << "Distance in memory: " << g << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		size of int: 4 bytes
		size of arr[0]: 4 bytes
		a : 140732787970432
		d : 140732787970448
		Difference in memory: 16
		Abstraction: 4
		Distance in memory: 4
	</code></pre>
	<p>
		Above, we subtracted the address of the first element from the address of
		the last element. This is a difference of 16 bytes in memory (confirmed by
		the decimal representation of the addresses). However, the actual output
		from <var>d - b</var>, a pointer subtraction, is 4. Why? Because in C++, the
		result of a pointer subtraction is the actual difference, 16, divided by the
		number of bytes the datum takes (for an <var>int</var>, 4 bytes). This
		results in 4, corresponding to index 4 minus index 0.
	</p>
	<p>
		Why does C++ use this abstraction of dividing the actual difference by the
		size of the data type? Because by and large, programmers aren't working with
		bytes (with the exception of the data types that take only 1 byte). Most
		data types take up more than 1 byte of memory, so C++ made the decision to
		return the result of pointer arithmetic in terms of units of bytes (i.e.,
		blocks of memory). Had C++ decided not to, its users would have to
		constantly remember to include the sizes of the relevant types, leading to
		more verbose code. And where there is longer, more verbose code, there is a
		greater likelihood of bugs.
	</p>
	<p>
		Note that performing pointer arithmetic allows us to draw several
		inferences: Suppose ${p}$ and ${q}$ are pointers to elements in an array.
		Suppose ${p}$ points to element ${m,}$ and ${q}$ points to element ${n.}$ If
		the result of ${q - p}$ is positive, then ${m}$ comes before ${n}$ If the
		result of ${q - p}$ is negative, then ${n}$ comes before ${n.}$ If ${q - p}$
		is 0, then ${p}$ and ${q}$ are pointing to the same element. Furthermore, if
		we divide ${q - p}$ by 2, then we obtain the index of the element in the
		middle of the array.
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int arr[5]{7, 13, 17, 22, 19};
		
			int *a = arr;
			int *b = &arr[4];
			int f = b - a;
			int g = a - b;
			int h = (b - a) / 2;
		
			cout << "b - a = " << f << endl;
			cout << "a - b = " << g << endl;
			cout << "first element: " << arr[0] << endl;
			cout << "middle element: " << arr[h] << endl;
			cout << "last element: " << arr[4] << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		b - a = 4
		a - b = -4
		first element: 7
		middle element: 17
		last element: 19
	</code></pre>
	<p>
		The code above confirms our previous analysis. The element
		<var>7</var> comes before <var>19</var>, so the positive result of
		<var>b - a</var> indicates that <var>b</var>, the pointer to the address
		storing <var>19</var>, comes after <var>a</var>, the pointer to the address
		storing <var>7</var>. Computing <var>a - b</var> is the mirror image.
		Further, dividing the difference by 2 returns the index of the middle
		element of the array.
	</p>
	<p>What happens if the array has an even number length?</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;
		using namespace std;
		
		int main(int argc, char *argv[]) {
			int arr[6]{7, 13, 17, 22, 19, 21};
		
			int *a = arr;
			int *b = &arr[5];
			int g = (b - a) / 2;
		
			cout << "first element: " << arr[0] << endl;
			cout << "middle element: " << arr[g] << endl;
			cout << "last element: " << arr[5] << endl;
		
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		first element: 7
		middle element: 17
		last element: 21
	</code></pre>
	<p>
		We get back <var>17</var>. Understandably so. Indexing into an array
		requires using a whole number, so the result of dividing 5 by 2 &mdash; 2.5
		&mdash; is truncated to 2 (it's implicitly cast into an <var>int</var>).
	</p>
</section>

<section id="pointer_dangers">
	<h2>Pointer Dangers</h2>
	<p>
		Some dangers always lurk with pointers: (1) uninitialized pointers; (2)
		memory leaks; and (3) dangling pointers. These are the three most common
		problems with pointers.
	</p>
	<p>
		An uninitialized pointer occurs when we simply declare a pointer &mdash;
		e.g., <var>int *p;</var> &mdash; and do not assign to it an address. When we
		do so, the pointer <var>p</var> will point to some address. That address
		likely contains <b>garbage value</b> &mdash; values that may or may not
		belong to our program. Because we do not know what that address contains,
		uninitialized pointers can cause serious problems.
	</p>
	<p>
		The fix is to ensure that upon declaring a pointer, there is always an
		assignment following thereafter. One way to do this is to momentarily have
		the pointer immediately point to an existing variable. Another way is to
		dynamically allocate some memory immediately after the pointer's
		declaration. E.g.,
	</p>
	<pre class="language-cpp"><code>
		int *p;
		p = new int;
	</code></pre>
	<p>
		The second problem, memory leaks, occurs when we fail to de-allocate
		pointers. If we've ever used an application and it suddenly crashes while
		we're working, a likely culprit is the memory leak. This happens because the
		program may contain hundreds of pointers, some of which may not be
		de-allocated after use, or not de-allocated soon enough.
	</p>
	<p>
		The fix is to ensure that every pointer is de-allocated when no longer in
		use:
	</p>
	<pre class="language-cpp"><code>
		int *p = new int[5];

		// some code using p

		// de-allocate:
		delete []p;
		p = nullptr; 
	</code></pre>
	<p>
		Note that when de-allocating, we can also write
		<var>p = NULL;</var> or <var>p = 0;</var>. However, because
		<var>nullptr</var> is a special literal in C++, it is best practice to use
		<var>nullptr</var>. Furthermore, always ensure that the pointer is deleted
		<span class="underlineText">before</span> assigning <var>nullptr</var>.
	</p>
	<p>
		The third problem, a dangling pointer, is best explained with an example:
	</p>
	<pre class="language-cpp"><code>
		void func(int *q) {
			// func is a function that takes an int pointer
			// coding using q
			delete []q;
		}
		int main() {
			int *p = new int[5];
			/* 
			 * some code using p
			*/
			func(p); // call to func
		}
	</code></pre>
	<p>
		In the code above, the function <var>func()</var> takes a pointer as an
		argument. Inside <var>main()</var>, we have a pointer <var>p</var> pointing
		to some address in the heap. We then pass <var>p</var> as an argument to
		<var>func()</var>. Now, inside <var>func</var>, the parameter
		<var>q</var> is assigned the pointer <var>p</var>. This means that
		<var>q</var> and <var>p</var> are pointing to the same address in the heap.
		When we delete the pointer <var>q</var>, we effectively de-allocate the
		memory we set aside in the heap. This in turn means that <var>p</var>,
		inside <var>main()</var>, is now pointing to some garbage address.
		<var>p</var> has now become a <i>dangling pointer</i>, tantamount to an
		uninitialized pointer.
	</p>
</section>

<section id="references">
	<h2>References</h2>
	<p>
		This discussion on pointers presents an ideal segue to
		<b>references</b> &mdash; aliases to variables. To understanding how this
		works, examine the output of the following code:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		#define println(x) std::cout<< x << std::endl

		int main() {
			int a = 5;
			int &b = a;
			println(a);
			println(b);
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		5
		5
	</code></pre>
	<p>
		Notice that <var>a</var> and <var>b</var> output the same value. This is
		because the <var>&</var> operator is a <i>referencing</i> operator. In other
		words, by appending an ampersand to <var>b</var> and assigning it the
		existing variable <var>a</var>, <var>b</var> has become an <i>alias</i> of
		<var>a</var>.
	</p>
	<p>
		This operation relates closely to pointers. The identifier
		<var>a</var> is just a name for the memory address that stores the bits
		comprising <var>10</var>. When we write <var>&b</var>, we instruct C++:
		<q
			>This identifier, <var>y</var>, is another name for the address identified
			as <var>x</var>.</q
		>
		Thus, we can change the value of <var>a</var> through <var>b</var> and vice
		versa:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		#define println(x) std::cout<< x << std::endl
		
		int main() {
			int a = 5;
			int &b = a;
			println(a);
			println(b);
		
			b = 6;
		
			println(a);
			println(b);
		
			a = 5;
		
			println(a);
			println(b);
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		5
		5
		6
		6
		5
		5
	</code></pre>
	<p>
		To understand why C++ provides references, recall the distinction between
		pass-by-value and pass-by-reference. Suppose we had a variable
		<var>int x = 5</var> in <var>main()</var>. We want to square
		<var>x</var> with a function. If we tried to do so:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		#define println(x) std::cout << x << std::endl
		#define print(x) std::cout << x

		int square(int n) {
			return n = n * n;
		}

		int main() {
			int x = 5;
			square(x);
			print("x = ");
			println(x);
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		x = 5
	</code></pre>
	<p>
		We get <var>x = 5</var> because functions, by default, are pass-by-value.
		This means that <var>square()</var> receives a copy of <var>x</var>, not the
		original. Accordingly, whatever <var>square()</var> computes, it remains
		inside the <var>square()</var>'s frame in memory. And as we know, once
		<var>square()</var> finishes executing, it's frame is popped off the stack.
	</p>
	<p>
		How can we pass the original value of <var>x</var> to <var>square()</var>?
		With a pointer. So, instead of passing <var>x</var> to the function, we'll
		pass the <i>address</i> of <var>x</var>, and instead of storing the
		parameter storing that address, we'll have the parameter be a
		<i>pointer</i> to that address. That pointer can then be passed into the
		function's body, and <i>dereferenced</i>:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		#define println(x) std::cout << x << std::endl
		#define print(x) std::cout << x

		int square(int* n) {
			return *n = (*n) * (*n);
		}

		int main() {
			int x = 5;

			print("x = ");
			println(x);

			square(&x);

			print("x = ");
			println(x);

			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		x = 5
		x = 25
	</code></pre>
	<p>
		The value of <var>x</var> has changed, as expected. The reference operator,
		<var>&</var>, makes this whole process much easier and cleaner:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

		int square(int &n) {
			return n = n * n;
		}
		
		int main() {
			int x = 5;
			square(x);
			std::cout << "x = " << x << std::endl;
			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		x = 25
	</code></pre>
	<p>
		In the parameter list for <var>square()</var>, we wrote <var>&n</var>. Thus,
		when the function <var>square()</var> is executed, what actually happens as
		a whole is:
	</p>
	<figure>
		<div>
			<pre class="language-pseudo"><code>
				main()
				=================
				int x = 5;
				square(x);
				=================
				&darr;
				square(int &n)
				=================
				int &n = x;
				return n = n * n;
				=================
			</code></pre>
		</div>
	</figure>
	<p>
		In other words, the parameter <var>n</var> has become an alias of
		<var>x</var>, and <var>x</var> is the identifier for the memory address
		storing <var>5</var>. Thus, when we modify <var>n</var>, we also modify
		<var>x</var>.
	</p>
	<blockquote>
		Once a reference is declared, we cannot change what it references.
	</blockquote>
	<p>
		The moment we've declared a reference, it is bound to its
		<b>referee</b> &mdash; the variable the reference references. For example,
		observe the output below:
	</p>
	<pre class="language-cpp"><code>
		#include &lt;iostream&gt;

			int main() {
			int x = 5;
			int y = 6;
			std::cout << "x = " << x << std::endl;
			std::cout << "y = " << y << "\n" << std::endl;

			int& ref = x;
			std::cout << "x = " << x << std::endl;
			std::cout << "y = " << y << std::endl;
			std::cout << "ref = " << ref << "\n" << std::endl;


			ref = y;
			std::cout << "x = " << x << std::endl;
			std::cout << "y = " << y << std::endl;
			std::cout << "ref = " << ref << "\n" << std::endl;

			return 0;
		}
	</code></pre>
	<pre class="language-bash"><code>
		x = 5
		y = 6

		x = 5
		y = 6
		ref = 5

		x = 6
		y = 6
		ref = 6
	</code></pre>
</section>

{% endblock %}
