<li><a href="{% url 'numerc:cpp_preface' %}">Data Structures & Algorithms: C++</a>
	<ul>
		<li><a href="{% url 'numerc:cpp_errors' %}">Errors Generally</a></li>
		<li><a href="{% url 'numerc:cpp_basicOperators' %}">Basic Operators</a></li>
		<li><a href="{% url 'numerc:cpp_variablesAndTypes' %}">Variables & Types</a></li>
		<li><a href="{% url 'numerc:cpp_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:cpp_controlFlow' %}">Control Flow</a></li>
		<li><a href="{% url 'numerc:cpp_preprocessor' %}">Preprocessor</a></li>
		<li><a href="{% url 'numerc:cpp_namespaces' %}">Namespaces</a></li>
		<li><a href="{% url 'numerc:cpp_dataStructuresIntro' %}">Data Structures: Introduction</a></li>
		<li><a href="{% url 'numerc:cpp_algorithmIntro' %}">Algorithms: Introduction</a></li>
		<li><a href="{% url 'numerc:cpp_insertionSort' %}">Insertion Sort</a></li>
		<li><a href="{% url 'numerc:cpp_mergeSort' %}">Merge Sort</a></li>
		<li><a href="{% url 'numerc:cpp_peakFinder' %}">Peak Finding</a></li>
		<li><a href="{% url 'numerc:cpp_hashing' %}">Hashing</a></li>
	</ul>
</li>
