{% load static %}
<li class="grid-item">
	<a href="{% url 'numerc:cpp_preface' %}"><span class="boldText">Data Structures & Algorithms: C++</span></a>
	<ul>
		<li>
			<a href="{% url 'numerc:cpp_errors' %}">Errors Generally</a>
		</li>
		<li>
			<a href="{% url 'numerc:cpp_basicOperators' %}">Basic Operators</a>
		</li>
		<li>
			<a href="{% url 'numerc:cpp_variablesAndTypes' %}">Variables & Types</a>
		</li>
		<li><a href="{% url 'numerc:cpp_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:cpp_controlFlow' %}">Control Flow</a></li>
		<li>
			<a href="{% url 'numerc:cpp_preprocessor' %}">Preprocessors & Libaries</a>
		</li>
		<li><a href="{% url 'numerc:cpp_fileIO' %}">I/O & Streams</a></li>
		<li><a href="{% url 'numerc:cpp_namespaces' %}">Namespaces</a></li>
		<li><a href="{% url 'numerc:cpp_arrays' %}">Arrays & Vectors</a></li>
		<li><a href="{% url 'numerc:cpp_collections' %}">Collections</a></li>
		<li><a href="{% url 'numerc:cpp_pointers' %}">Pointers</a></li>
		<li><a href="{% url 'numerc:cpp_oop' %}">Classes</a></li>
		<li><a href="{% url 'numerc:cpp_inheritance' %}">Inheritance</a></li>
		<li><a href="{% url 'numerc:cpp_overloading' %}">Overloading Operators & Friend Functions</a></li>
		<li><a href="{% url 'numerc:cpp_templates' %}">Metaprogramming: Templates</a></li>
		<li><a href="{% url 'numerc:cpp_dataStructuresIntro' %}">Data Structures &  Algorithms: An Introduction</a></li>
		<li><a href="{% url 'numerc:cpp_numberTheoryCS' %}">Key Concepts from Number Theory</a></li>
		<li><a href="{% url 'numerc:cpp_algorithmicAnalysis' %}">Complexity Analysis</a></li>
		<li class="accordion"><a href="{% url 'numerc:cpp_dynamicArrays' %}">Array Algorithms</a></li>
		<li><a href="{% url 'numerc:cpp_stringAlgorithms' %}">Algorithms for Strings</a></li>
		<li><a href="{% url 'numerc:cpp_matrices' %}">Multidimensional Arrays</a></li>
		<li><a href="{% url 'numerc:cpp_sorting' %}">Sorting Algorithms</a></li>
		<li><a href="{% url 'numerc:cpp_peakFinder' %}">Peak Finding</a></li>
		<li><a href="{% url 'numerc:cpp_hashing' %}">Hashing</a></li>
	</ul>
</li>
