{% load static %}
<li class="grid-item">
	<a href="{% url 'numerc:cpp_preface' %}"><span class="boldText">Data Structures & Algorithms: C++</span></a>
	<ul>
		<li>
			<a href="{% url 'numerc:cpp_errors' %}">Errors Generally</a>
		</li>
		<li>
			<a href="{% url 'numerc:cpp_basicOperators' %}">Basic Operators</a>
		</li>
		<li>
			<a href="{% url 'numerc:cpp_variablesAndTypes' %}">Variables & Types</a>
		</li>
		<li><a href="{% url 'numerc:cpp_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:cpp_controlFlow' %}">Control Flow</a></li>
		<li>
			<a href="{% url 'numerc:cpp_preprocessor' %}">Preprocessors & Libaries</a>
		</li>
		<li><a href="{% url 'numerc:cpp_fileIO' %}">I/O & Streams</a></li>
		<li><a href="{% url 'numerc:cpp_namespaces' %}">Namespaces</a></li>
		<li><a href="{% url 'numerc:cpp_arrays' %}">Arrays & Vectors</a></li>
		<li><a href="{% url 'numerc:cpp_collections' %}">Collections</a></li>
		<li><a href="{% url 'numerc:cpp_pointers' %}">Pointers</a></li>
		<li><a href="{% url 'numerc:cpp_oop' %}">Classes</a></li>
		<li><a href="{% url 'numerc:cpp_inheritance' %}">Inheritance</a></li>
		<li><a href="{% url 'numerc:cpp_overloading' %}">Overloading Operators & Friend Functions</a></li>
		<li><a href="{% url 'numerc:cpp_templates' %}">Metaprogramming: Templates</a></li>
		<li><a href="{% url 'numerc:cpp_dataStructuresIntro' %}">Data Structures &  Algorithms</a></li>
		<li> <a href="{% url 'numerc:cpp_algorithmIntro' %}" >Algorithms: Introduction</a ></li>
		<li><a href="{% url 'numerc:cpp_algorithmicAnalysis' %}">Algorithmic Analysis</a></li>
		<li><a href="{% url 'numerc:cpp_dynamicArrays' %}">Arrays</a>
			<ul>
				<li><a href="">Static Arrays</a>
					<ul>
						<li>Printing an Array</li>
						<li>Appending an Element to an Array</li>
						<li>Inserting an Element to an Array</li>
						<li>Deleting an Element from an Array</li>
						<li>Searching an Array
							<ul>
								<li>Linear Search
									<ul>
										<li>Transposition</li>
										<li>Move-to-head</li>
									</ul>
								</li>
								<li>Binary Search</li>
							</ul>
						</li>
						<li>Accessing an Array Element</li>
						<li>Replacing an Array Element</li>
						<li>Finding the Maximum in an Array</li>
						<li>Finding the Minimum in an Array</li>
						<li>Summing Elements in an Array</li>
						<li>Computing the Arithmetic Mean</li>
						<li>Reversing the Elements of an Array
							<ul>
								<li>Reversing with an Auxiliary Array</li>
								<li>Reversing in Place</li>
							</ul>
						</li>
						<li>Shifting & Rotating
							<ul>
								<li>Shifting an Element</li>
								<li>Rotating an Array</li>
							</ul>
						</li>
						<li>Inserting into a Sorted Array</li>
						<li>Checking if an Array is Sorted</li>
						<li>Negatives Towards Start & Positives Towards End</li>
						<li>Binary Operations on Arrays
							<ul>
								<li>Appending an Array to an Array</li>
								<li>Merging Arrays</li>
							</ul>
						</li>
						<li>Set Operations on Arrays
							<ul>
								<li>Set Union</li>
								<li>Set Intersection</li>
								<li>Set Difference</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="{% url 'numerc:cpp_matrices' %}">Multidimensional Arrays</a></li>
		<li><a href="{% url 'numerc:cpp_sorting' %}">Sorting Algorithms</a></li>
		<li><a href="{% url 'numerc:cpp_peakFinder' %}">Peak Finding</a></li>
		<li><a href="{% url 'numerc:cpp_hashing' %}">Hashing</a></li>
	</ul>
</li>
