/*! Font Impots */
	@font-face {
		font-family: "CMU";
		src: url("./numerm_fonts/cmu_serif/mlmr17.ttf");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "CMU Upright";
		src: url("./numerm_fonts/cmu_serif/CMUSerifUprightItalicUprightItalic.ttf");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "CMU";
		src: url("./numerm_fonts/cmu_serif/mlmri12.ttf");
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: "CMU";
		src: url("./numerm_fonts/cmu_serif/mlmbx12.ttf");
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: "CMU";
		src: url("./numerm_fonts/cmu_serif/mlmbxi10.ttf");
		font-weight: bold;
		font-style: italic;
	}
	@font-face {
		font-family: "serifMain";
		src: url("./numerm_fonts/cmu_serif/serifMain.woff");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "serifMain";
		src: url("./numerm_fonts/cmu_serif/serifMainBold.woff");
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: "serifMain";
		src: url("./numerm_fonts/cmu_serif/serifMainItl.woff");
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: "sansSerifMain";
		src: url("./numerm_fonts/cmu_serif/sansSerif.woff");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "Inconsolata";
		src: url("./numerm_fonts/inconsolata/inconsolata_regular.ttf");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "Linux Biolinum";
		src: url("./numerm_fonts/cmu_serif/linux-biolinum.regular.ttf");
		font-weight: normal;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
	}
	@font-face {
		font-family: "Linux Biolinum";
		src: url("./numerm_fonts/cmu_serif/linux-biolinum.bold.ttf");
		font-weight: bold;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
	}
/*! Colors & Fonts */
	:root {
	/*? colors */
		--page: #ffffff;
		--linkBlue: #0668d8;
		--wheat: #fffcf1;
		--darkRed: #c42c1f; 
		--scarlet: #a8201a;
		--lightRed: #ff949f; 
		--mediumRed: #fe5f55;
		--darkGreen: #6e9841;
		--darkBlue: #0786a6;
		--blueBG: #f5fcfd;
		--teal: rgb(0, 146, 146);
		--indigo: #7544aded;
		--lightGrey: rgb(240, 240, 240);
		--textColor: #333;
		--blackBG: #F2F2F2;
		--sky: #f7f5fb;
		--linen: #FFFFF2;
	/*? system fonts */
		--serif: "serifMain", "Garamond", "Athelas", "Hoefler Text", "Apple Garamond", "Iowan Old Style", "Palatino", "New York", "Droid Serif", "Times", "Source Serif Pro", "serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

		--serifTitle: "sansSerifMain", "Athelas", "Georgia", serif;
		--sansSerifTitle: "Avenir", sans-serif;

		--mono: "Inconsolata", "Menlo", "Monaco", "Consolas", "monospace",  "Liberation Mono", "Lucida Console"; 

		--sansSerif: "sansSerifMain", "avenir", "-apple-system", "BlinkMacSystemFont", "avenir next",  "segoe ui", "helvetica neue", "helvetica", "Ubuntu", "roboto", "noto", "arial", "sans-serif"; 
		}
/*! Page layout */
	* {box-sizing: border-box;}
	body {
		overflow-x: hidden;
		font-family: var(--serif);
		color: var(--textColor);
		padding: 0;
		margin: 0;
		text-align: left;
	}
	div {padding: 0; margin: 0}
	main {
		display: grid;
		grid-template-columns: 20% 80%;
		margin: 0;
	}
	article {
		width: 100%; 
		padding: 0;
		margin: 0;
		background-color: var(--page);
	}
	div.content {padding-bottom: 5em;}
	section {
		margin: 0; 
		margin-left: 2%;
		padding: 0.5em;
		padding-bottom: 0;
		padding-right: 35%;
	}
	section section {
		padding: 0;
		margin: 0;
		width: 100%;
	}
/** Footer **/
	footer {padding: 0.5em;}
	footer p {
		font-family: var(--mono);
		padding: 0;
		color: rgb(32, 32, 32);
		text-align: center;
		font-size: 0.95rem;
	}
/** Nav Bar */
	html {
		scroll-behavior: smooth;
	}
	main > nav {
		padding: 0;
		margin-top: 0;
		position: sticky;
		top: 0;
		align-self: start;
		height: 99.9vh;
		overflow-y: auto;
		background-color: var(--linen);
	}
	nav.section-nav > h6 {
		margin: 0.4em; 
		padding: 0.3em;
		font-family: var(--sansSerif);
	}
	nav.section-nav > h6 > a {
		font-size: 2rem;
	}
	main nav ul {
		margin: 0 0.7rem;
		padding: 0 0.3em;
		list-style-type: none;
	}
	main > nav ul li {
		padding: 0;
		font-size: 0.8rem;
	}
	main > nav ul li ul li {
		font-weight: normal;
	}
	.section-nav {
		padding: 1em 0;
		padding-bottom: 1.5em;
	}
	.section-nav a {
		text-decoration: none;
		padding: 0.1em;
		display: block;
		color: rgb(56, 56, 56);
	}
	
	.section-nav a:hover,
	.section-nav a:focus {
		color: white;
		background-color: var(--darkRed);
	}
/** Table of contents button **/
	div.nav {
		margin: 0 0.4rem;
		padding: 0.4rem;
		padding-bottom: 0;
		position: -webkit-sticky;
		top: 0;
		position: sticky;
		display: flex;
		flex-direction: row;
		justify-content: end;
		z-index: 1;
	}
	div.nav p {
		padding: 0;
		margin: 1% 0;
		font-size: 0.75rem;
		text-align: center;
	}
	div.nav a {
		padding: 0.3em;
		text-decoration: none;
		border-radius: 0.25rem;
		background: var(--page);
		box-shadow: 0.063rem 0.063rem 0.188rem #929292, -0.063rem -0.063rem 0.188rem #e4e4e4;
		text-decoration: none;
		color: var(--textColor);
		transition: color 1s;
		display: inline-block;
	}
	div.nav a:hover {
		background: var(--page);
		box-shadow: inset 0.063rem 0.063rem 0.125rem #a6a6a6, inset -0.063rem -0.063rem 0.125rem #ffffff;
		color: rgb(76, 170, 86)
	}
	/* TOC */
		div.toc {
			background: #f9f9f9 none repeat scroll 0 0;
			padding: 0 0.3rem;
			border: 1px solid #aaa;
			width: -moz-fit-content;
			width: fit-content;
			margin: 0.9rem 0;
		}
		div.toc h3 {
			text-align: center;
			font-variant: small-caps;
			font-weight: normal;
			margin: 0.3rem 0;
			margin-top: 0.2rem;
			padding: 0;
			margin-left: 2%;
			width: fit-content;
		}
		div.toc > ol {
			padding: 0.4em;
			list-style-type: upper-roman;
			margin: 0;
			margin-left: 1.2rem;
			margin-right: 0.5rem;
			padding-right: 0;
			padding-top: 0;
			width: fit-content;
		}
/** Table of Contents -- Index Page **/
	ul.toc {
		list-style: none;
		counter-reset: volume-number;
		font-family: var(--serif);
		padding: 0 2em;
		margin: 0 2em;
	}
	ul.toc li {
		counter-increment: volume-number; 
	}
	ul.toc li::marker {
		content: "Volume " counter(volume-number);
	}
	ul.toc ul {
		list-style-type: none;
		counter-reset: section-number;
		margin: 0;
		padding: 0;
	}
	ul.toc ul li {
		counter-increment: section-number;
	}
	ul.toc ul li::marker {
		content: counter(volume-number) "." counter(section-number);
	}
/*? Margin Notes */
	.sidenote,
	.marginnote {
		padding: 0.8em 6em;
		float: right;
		clear: right;
		margin-right: -55%;
		width: 60%;
		margin-top: 0.3rem;
		margin-bottom: 0;
		font-size: 0.9em;
		line-height: 1.2;
		vertical-align: baseline;
		position: relative;
		color: rgb(33, 119, 153);
	}
	.sidenote-number {
		counter-increment: sidenote-counter;
	}
	.sidenote-number:after,
	.sidenote:before {
		position: relative;
		vertical-align: baseline;
	}
	.sidenote-number:after {
		content: counter(sidenote-counter);
		font-size: 0.7rem;
		top: -0.5rem;
		left: 0.1rem;
	}
	.sidenote:before {
		content: counter(sidenote-counter) " ";
		font-size: 0.7rem;
		top: -0.5rem;
	}
	input.margin-toggle {display: none;}
	label.sidenote-number {
		display: inline-block;
		max-height: 2rem; /*should be less than or equal to paragraph line-height*/
	}
	label.margin-toggle:not(.sidenote-number) {
		color: var(--darkBlue);
		display: none;
	}
	.iframe-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
/*? Superscripts/Footnotes */
	main {counter-reset: fn;}
	sup {
		counter-increment: fn 1;
		color: var(--textColor);
	}
	sup:hover {
		cursor: pointer;
	}
	sup::after {
		content: counter(fn);
		color: var(--teal);
	}
/*? Scroll Bar */
/*? Scrollbar */
	nav::-webkit-scrollbar {
		width: 2px;
	}
	div#page::-webkit-scrollbar {
		width: 5px;
	}
	nav::-webkit-scrollbar-track {
		background: #ffffff;
	}
	div#page::-webkit-scrollbar-track {
		background: #8b8b8b;
	}
	nav::-webkit-scrollbar-thumb {
		background: rgb(132, 132, 132);
	}
	div#page::-webkit-scrollbar-thumb {
		background: rgb(42, 42, 42);
	}
	nav::-webkit-scrollbar-thumb:hover {
		background: rgb(53, 53, 53);
	}

/*? Blockquotes */
	blockquote {
		display: block;
		margin: 1% 20%;
		line-height: 1.3;
		color: var(--darkBlue);
	}
	cite {
		display: block; 
		text-align: right; 
		font-size: 0.85rem;
	}
	cite::before {content: "- "}
/*? Heading styles */
	h1,h2,h3,h4,h5,h6,p.h7,p.h8,p.h9,p.h10,p.subheading,p.warning-heading {
		display: block;
		padding: 0;
		margin: 0;
		margin-top: 1em;
		font-family: var(--serifTitle);
	}
	h1 {
		font-size: 2em;
		text-align: center;
		color: var(--textColor);
	}
	h2 {
		font-size: 1.7em;
		padding-bottom: 0.1em;
		text-align: left;
		border-bottom: thin solid;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.2em;
		font-size: 1rem;
	}
	h5 {font-size: 0.95rem;}
	h6 {
		font-size: 0.9rem; 
		text-align: center;
		border-bottom: none;
	}
	/* other headings */
	p.subheading {
		font-size: 95%;
		font-weight: bold;
		width: fit-content;
		padding: 1px;
	}
	p.lemma {
		font-size: 0.95rem;
		font-weight: bold;
		font-style: italic;
	}
	p.problem {
		font-size: 0.95rem;
		font-weight: bold;
		text-decoration: underline;
	}
	span.topic {
		display: inline-block;
		margin-top: 1em;
		margin-right: 0.7em;
		font-family: var(--serifTitle);
		font-weight: bold;
		font-size: 1rem;
	}
	div.rule span.topic{
		font-family: "CMU";
		font-variant: small-caps; 
		font-weight: normal;
	}
	span.exh {
		font-style: italic; 
		font-size: 0.95rem; 
		text-decoration: underline;
	}
/** Special Tags */
	/* <i></i> is used for technical or custom terms */
	i {
		font-family: "CMU Upright";
		font-style: normal;
	}
	/* <b></b> is for small caps */
	b {
		font-variant: small-caps;
		font-weight: normal;
		font-style: normal;
	}
/*? Text styles */

	span.title {
		font-variant: small-caps;
	}
	.redText {color: #ea3c4dbc;}
	.greenText {color: #6e9841;}
	.blueText {color: #2376b2;}
	.purpleText {color: #6d52b2ed;}
	.underlineText {text-decoration: underline;}
	.italicsText {
		font-style: italic; 
	}
	.boldText {
		font-weight: bold; 
		font-family: "CMU"; 
	}
	.boldItalics {
		font-weight: bold; 
		font-style: italic;
		font-family: "CMU";
	}
	.monoText {
		font-family: var(--mono); 
		font-size: inherit; 
		font-style: normal; 
		white-space: pre;
	}
	.smallcaps {font-variant: small-caps;}
	mark {background-color: #ffe77d}
	
	/* term class is for keywords/important terminology */
	.term {
		font-family: "CMU";
		font-weight: bold; 
		font-style: italic; 
	}
	mark {background-color: rgb(255, 232, 131);}
/*? Paragraph styles */
	p {
		text-align: left;
	}
	section p {
		line-height: calc(1ex / 0.32);
		margin: calc(0.65ex / 0.32) 0;
		margin-top: 0.4em;
		font-size: 0.9rem;

		/* 60 to 70 characters per line */
		width: 70ch;
		max-width: 100%;
	}
	section p:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
/*? Drop cap */
		span.drop {
			float: left;
			font-family: Georgia, var(--serif);
			font-size: 75px;
			line-height: 60px;
			padding-top: 4px;
			padding-right: 8px;
			padding-left: 3px;
		}
/*? List styles */
	li {
		font-size: 0.9rem; 
		padding:0.1em 0.5em;
		line-height: 1.4;
	}
	ol,ul {
		margin: 0;
		padding: 0.3em;
		padding-left: 2em;
	}
	ul>li::marker {font-size: 0.9rem;}
	ol > ol {list-style-type:lower-latin;}
	figure.math-display>div>ul {margin: 0 10%;}
	figure.math-display>div>ul>li {margin-bottom: 1%;}
	figure.math-display>div>ul.larg {
		list-style-type: 
		none; font-size: 0.7rem; 
		margin: 0;
	}
	figure.math-display>div ul.def {
		list-style-type: none; 
		width: fit-content; 
		margin: 0;
		margin-top: 0.5em;
	}
	ul.larg li:nth-last-child(2) {
		border-bottom: 1px solid rgb(35, 35, 35); 
		padding-bottom: 0.3em;
	}
	ul.larg li {width:100%}
	ul.larg li.conc::marker {content: "\2234  "; font-size: 1.4em;}
	ul.def {
		margin: 1.5% 0 0 0;
		list-style-type: none;
	}
	ul.def {
		margin-left: 8%;
	}
	ul.def li.where::marker {
		content: "where  "; 
		font-size: 1em;
	}
	ul.answer li {margin: 0.8em 0;}
	article {
		counter-reset: fig;
	}
	figcaption {
		margin: 1.5em 0 !important;
		counter-increment: fig;
	}
	figcaption:before {
		content: "Fig. " counter(fig, decimal);
		margin-right: 0.3em;
		font-size: 0.75rem;
	}
	section {
    counter-reset: list;
	}
	ol.numd > li {
			list-style: none;
			position: relative;
	}
	ol.numd > li:before {
			counter-increment: list;
			content: "(" counter(list, decimal) ") ";
			position: absolute;
			left: -3.5em;
			font-size: 0.85rem;
	}
	section#toc>ul {
		margin-top: 1rem;
		list-style-type: upper-roman;
	}
	section#toc>ul ul {
		list-style-type: decimal;
	}
	section#toc li::marker {
		font-size: 0.9rem;
	}
	/* Use this list class for definitions/theorems/etc */
	ul.list {
		padding: 0.3em 0;
		padding-left: 0.2em;
		margin: 0;
	}
	ul.list li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
/*? Links */
	section a {
		position: relative;
		padding:0;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		color: #000;
	}
	section p a {
		border-bottom: thin dotted rgb(71, 71, 71);
	}
	section a:visited {
		color: none;
		outline: 0;
	}
	section a:hover {
		cursor: pointer;
	}
	section a::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #000;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}
	section a:hover::before {
		transform: scaleX(1);
	}
/*? Code */
	code, pre {
		width: fit-content;
		font-family: var(--mono);
		text-align: left;
		font-size: 0.7rem;
		white-space: pre-wrap;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.4;
		-moz-tab-size: 3;
		-o-tab-size: 3;
		tab-size: 3;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	pre {
		padding: 0;
		overflow: auto;
	}
	pre[class*="language-pseudo"] {
		padding: 0.5em;
		border: dashed thin grey;
		background-color: rgb(247, 247, 247);
		margin: 0.8em 0;
		text-align: left;
		height: fit-content;
		white-space: pre-wrap;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1;
		-moz-tab-size: 3;
		-o-tab-size: 3;
		tab-size: 3;


		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	code[class*="language-pseudo"] {
		color: #232323; /* base00 */
	}

/*? Details styling */
	details {
		padding: 0; 
		margin: 0;
		margin-bottom: 0.5rem;
		width: 100%;
	}
	details.answer {
			padding: 0.5em;
			background-color: var(--page);
			width: fit-content;
			margin: 1% 0;
			text-decoration: none;
			display: block;
	}
	details.answer[open] {
		border-radius: 0.2em;
		box-shadow: inset 0.063rem 0.063rem 0.125rem #a6a6a6bd, inset -0.063rem -0.063rem 0.125rem #f0f0f0;
	}
	details > p {padding: 0 0 1% 0;}
	details:hover {cursor: pointer;}
	details.answer summary {
		color: rgb(173, 173, 173);
		list-style: none; 
		font-size: 0.7rem;
		margin: 0; 
		padding: 0;
	}
	details summary::-webkit-details-marker {display: none;}
	details > ol ul {
		margin: 0;
		padding: 0;
		margin-left: 1em;
	}
	ul.answer li {list-style-type: none;}
	details li {margin-bottom: 1%;}
/*? Katex styles */
	.katex {
		font-size: 0.95rem !important;
		font-weight: inherit !important;
		color: inherit !important;
		overflow: visible !important;
	}
	span.katex-display {
		font-size: 0.95rem !important;
	}
	span.katex-html {max-width: 100% !important;}
	.katex-display > .newline {padding-bottom: 1em !important;}
	.mord.texttt {font-family: var(--mono) !important;}
/*? Pseudocode */
	div.syntax {
		margin: 0;
	}
	div.syntax ul {
		padding: 0;
		padding-left: 1rem;
	}
	div.syntax li {
		list-style-type: decimal;
		padding: 0;
		margin: 0;
		font-size: 0.9rem;
		font-family: var(--mono);
	}
	div.syntax li::marker {
		font-size: 0.7rem;
		color: rgb(187, 187, 187);
	}
/*? Figure styles */
	figure {
		margin: 3% 20%;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	figcaption {
		padding: 0;
		line-height: 1.2;
		color: rgb(77, 77, 77);
		margin: 0.8em 0 0 0;
		font-size: 0.8rem;
	}
	/* Use math-display instead of katex display math; katex is absolute hell with styling */
	figure.math-display, 
	figure.table {
		display: flex;
		padding: 0;
		margin: 1vh 5vw; 
		width: fit-content;
		align-content: center;
		flex-wrap: nowrap;
	}
	figure.math-display div {
		max-width: fit-content;
	}
	.math-display > div > p {
		max-width: fit-content;
		padding: 0; 
		margin: 0.8em 0;
	}
	.math-display li {padding: 0.5em}
/*? Special divs */
	div.compare {
		margin: 1% 0;
		display: grid;
		grid-auto-columns: 1fr;
		column-gap: 1ch;
		grid-auto-flow: column;
	}
	div.compare > figure,
	div.compare p {
		display:block;
		margin:0;
		width: fit-content;
	}
	div.compare > figure > figcaption {
		display:block;
		text-align: center;
		font-size: 0.7rem;
	}
	div.rule {
		border: solid thin grey;
		background-color: var(--lightGrey);
		padding: 0.3em;
		margin: 0 2%;
	}
	div.rule p {
		width: 100%;
		padding: 0.1em;
		margin: 0;
	}
	div.rule span.topic {
		margin-top: 0;
		padding-top: 0;
	}
/*? Image styles */
	img {width: 100%;}
	/* Image widths for SVGs */
	.ten-p {width: 10%;}
	.twenty-p {width: 20%;}
	.quarter-p {width: 25%;}
	.thirty-p {width: 30%;}
	.forty-p {width: 40%;}
	.fifty-p {width: 50%;}
	.sixty-p {width: 60%;}
	.seventy-p {width: 70%;}
	.eighty-p {width: 80%;}
	.ninety-p {width: 90%;}
	.hundred-p {width: 100%;}
/*? Table styles */
	table {
		border: solid 1px rgb(175, 175, 175);
		border-collapse: collapse;
		margin: 0.6em 0;
		width: 100%;
		font-size: 0.8rem;
	}
	th,td {
		border: solid 1px rgb(175, 175, 175);
		width: fit-content;
		padding: 0.5vmin;
	}
	.center {text-align: center;}
	/* tr > td:nth-child(1) {text-align: center;} */
	th {text-align: center}
	td {text-align: left;}
	.cell-hl {background-color: rgb(254, 244, 194)}
	table.truth_table {padding: 0; width: fit-content}
	table.truth_table * {font-size: 0.8rem;}
	table.truth_table th {
		margin: 0; 
		padding: 0.2em; 
		text-align: center; 
		width: fit-content;
		font-family: var(--sansSerif);
		font-style: normal;
	}
	table.truth_table td {
		margin: 0; 
		padding: 0.2em; 
		text-align: center; 
		width: fit-content;
		font-style: normal;
	}
	/* Property Table - for properties of entities/summaries */
	table.property_table {margin: 0; padding: 0; width: fit-content}
	table.property_table * {font-size: 0.75rem;}
	table.property_table th {
		margin: 0; 
		padding: 0.2em; 
		text-align: center;
		width: fit-content;
		font-family: var(--mono);
		font-style: normal;
	}
	table.property_table td {
		width: fit-content;
		font-family: var(--mono);
		font-style: normal;
	}
	table.proof_table {margin: 0; padding: 0; width: fit-content; border: none;}
	table.proof_table td {padding: 1%}
	table.proof_table * {border: none; font-size: 0.9rem;}
	table.proof_table tr > td {text-align: left;}

/*? proof styles */
	div.conclusion > ul,
	div.premises > ul {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.premises > ul li:nth-child(2):before {content: "\2235"; padding-right: 1ch;}
	div.premises > ul li:nth-child(2) {padding-left: 1em; text-indent: -1em;}
	div.conclusion > ul li, 
	div.premises > ul li {
		font-size: 0.85rem;
		width: 50%;
		margin-bottom: 1em;
		display: block;
		flex: 0 1 auto;
		list-style-type: none;
	}
	div.premises ul li:nth-child(2) {
		font-style: italic;
	}
	div.mproof {margin: 2% 5%;}

	/* Another proof style, this one is vertical; horizontal layout is not good for long equations -- longer equations, need wrapping, less readable. This uses nested list items. Reasons are numbered, computation is nested below number. Some margin placed on the ul element because with large fractions, becomes too unreadable.*/
	ol.arg>ul {list-style: none; margin: 0.5em}

/*? Question Sets Styling */
	/* Question sets are styled with masonry */
	/* with flexbox */
		ol.ex * {
			font-size: 0.78rem;
		}
		ol.ex {
			margin: 0.5em 0;
			padding: 0;
		}
		ol.ex ol {
			padding: 0 0.9em;
		}
		
		ol.ex li {
			padding: 0.2em 0;
			padding-left: 0.1em;
			margin: 0;
		}
		ol.ex li.grid-item::marker {
			margin: 0;
			padding: 0;
			color: rgb(0, 161, 161);
		}
		ol.ex li.grid-item {
			margin: 0 0.8em;
		}
		.grid {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}

		.grid-col {
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
		}

		/* 1 columns by default, hide columns 2 & 3 */
		.grid-col--2, .grid-col--3, .grid-col--4 { display: none }

		@media (min-width: 500px) {
			.grid-col--2 { display: block; }
		}

		/* 3 columns at medium size */
		@media ( min-width: 768px ) {
			.grid-col--3 { display: block; } /* show column 2 */
		}
	
/* ! Media Queries */
	@media (max-width: 600px) { html {font-size: 10px;} }
	@media (max-width: 800px) { html {font-size: 11px;} }
	@media (max-width: 1180px) { html {font-size: 12px;} }
	@media (max-width: 1300px) { html {font-size: 13px;} }
	@media (max-width: 1750px) { html {font-size: 14px;} }
	@media (max-width: 1900px) { html {font-size: 15px;} }
	@media (max-width: 2100px) { html {font-size: 16px;} }
	@media (max-width: 2400px) { html {font-size: 17px;} }


	@media (max-width: 1100px) {
		nav {display: none;}
		main { display: block; }
		section {padding: 1em 8vw; margin: 0;}
		pre {margin: 1px 0;}
		.sidenote,
		.marginnote {
				display: block;
				float: left;
				left: 0;
				clear: both;
				width: 100%;
				margin: 1em 0;
				position: relative;
		}
		label.margin-toggle:not(.sidenote-number) {
			display: inline;
		}

		.sidenote,
		.marginnote {
				display: none;
		}

		.margin-toggle:checked + .sidenote,
		.margin-toggle:checked + .marginnote {
				display: block;
				float: left;
				left: 1rem;
				clear: both;
				width: 95%;
				margin: 1rem 2.5%;
				vertical-align: baseline;
				position: relative;
		}

		label {
				cursor: pointer;
		}
		article .tooltip:before {
			width: 12rem;
			top: -8.5rem;
			transform:translateY(0%);
			transform: translateX(-120%);
		}
	}
	@media (max-width: 600px) {
		div.compare {display: block;}
	}
	@media (max-width: 500px) {
		section {padding: 1em 5vw}
	}
