/* Font Imports */
	@font-face {
		font-family: "CMU";
		src: url("../numerm/numerm_fonts/serif/mlmr17.ttf");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "CMU";
		src: url("../numerm/numerm_fonts/serif/mlmri12.ttf");
		font-style:italic;
		font-weight: normal;
	}
	@font-face {
		font-family: "CMU";
		src: url("../numerm/numerm_fonts/serif/mlmbx12.ttf");
		font-style: normal;
		font-weight: bold;
	}
	@font-face {
		font-family: "CMU";
		src: url("../numerm/numerm_fonts/serif/mlmbxi10.ttf");
		font-style: italic;
		font-weight: bold;
	}
	@font-face {
		font-family: "serifMain";
		src: url("../numerm/numerm_fonts/serif/serifMain.woff");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "serifMain";
		src: url("../numerm/numerm_fonts/serif/serifMainBold.woff");
		font-style: normal;
		font-weight: bold;
	}
	@font-face {
		font-family: "serifMain";
		src: url("../numerm/numerm_fonts/serif/serifMainItl.woff");
		font-style: italic;
		font-weight: normal;
	}
	@font-face {
		font-family: "sansSerifMain";
		src: url("../numerm/numerm_fonts/serif/sansSerif.woff");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "Fira";
		src: url("./numerm_fonts/mono/FiraCode-VF.woff2") format('woff2');
	}
/* Colors & Fonts */
	:root {
	/* colors */
	--page: #ffffff;
	--darkRed: #c42c1f; 
	--scarlet: #a00000; 
	--lightRed: #ff949f; 
	--orange: rgb(168, 99, 2);
	--darkGreen: #529f00;
	--darkBlue: #0077B6;
	--linkBlue: #006a97dc;
	--babyBlue: #edf5f8;
	--ruledListHeader: #fff8e8;
	--mainIdeaBG: rgb(255, 251, 233);
	--lightBlue: #ffffff;
	--mediumBlue: #9eddf4;
	--indigo: #551686ed;
	--markBG: rgb(229, 243, 240);
	--markBorder: rgb(156, 195, 189);
	--paleGrey: rgb(224, 224, 224);
	--lightGrey: rgb(202, 202, 202);
	--textColor: #333;
	--licorice: rgb(102, 102, 102);
	--greyBorder: rgb(222, 222, 222);
	--blackBG: #272727;
	--sky: rgb(252, 253, 255);
	--gold: #D4AF37;
	--rust: rgb(110, 73, 0);
	--wheat: #fffef8;
	--beige: rgb(255, 248, 205);
	--lightOrange: rgb(255, 232, 189);
	--darkOrange: rgb(206, 153, 56);
	/*? system fonts */
		--serif: "serifMain", "Garamond", "Athelas", "Hoefler Text", "Apple Garamond", "Iowan Old Style", "Palatino", "New York", "Droid Serif", "Times", "Source Serif Pro", "serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

		--serifTitle: "sansSerifMain", "Athelas", "Georgia", serif;
		--sansSerifTitle: "Avenir", sans-serif;

		--mono: "Inconsolata", "Menlo", "Monaco", "Consolas", "monospace",  "Liberation Mono", "Lucida Console"; 

		--sansSerif: "sansSerifMain", "avenir", "-apple-system", "BlinkMacSystemFont", "avenir next",  "segoe ui", "helvetica neue", "helvetica", "Ubuntu", "roboto", "noto", "arial", "sans-serif"; 
		}
/* Global Styles */
	* {
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
	body {
		overflow-x: hidden;
		overscroll-behavior-y: none;
		font-family: var(--serif);
		color: var(--textColor);
		font-size: 0.9rem;
		padding: 0;
		margin: 0;
		text-align: left;
		background-color: var(--page);
	}
	div {padding: 0; margin: 0}
/* Page layout */
	main {
		display: grid;
		font-family: var(--serif);
		grid-template-columns: 20% 80%;
		margin: 0;
		background-color: var(--page);
	}
	article {
		width: 100%; 
		padding: 0;
		margin: 0;
		margin-bottom: 5vh;
		background-color: var(--page);
	}
	div.content {
		overflow-x: hidden;
		margin-bottom: 5vh;
		background-color: var(--page);
	}
	section {
		margin: 0; 
		margin-left: 2%;
		padding: 0.5em;
		padding-bottom: 0;
		padding-right: 40%;
	}
	section section {
		padding: 0;
		margin: 4% 0;
		width: 100%;
	}
	section.problems {
		margin: 5vh 0;
		border-top: solid thin lightgrey;
		border-bottom: solid thin lightgrey;
	}
/* Footer **/
	footer {padding: 1em;}
	footer ul {
		list-style: none;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
	}
	footer li {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		color: var(--lightGrey);
		width: fit-content;
		margin: 0 1em;
		padding: 0;
	}
/* Nav Bar */
	html {
		scroll-behavior: smooth;
	}
	main > nav {
		padding: 0;
		margin-top: 0;
		position: sticky;
		top: 0;
		align-self: start;
		height: 99.9vh;
		overflow-y: auto;
		font-family: var(--serif);
		background: rgb(65, 65, 65);
	}
	main nav ul {list-style-type: square;}
	main nav li::marker {
		font-size: 0.7em;
		color: var(--darkRed);
	}
	main nav li ul li::marker {
		color: var(--darkBlue);
	}
	main nav li ul li ul li::marker {color: green;}
	main nav li ul li ul li ul li::marker {color: purple;}
	main nav li ul li ul li ul li ul li::marker {color: orange;}
	main nav li ul li ul li ul li ul li ul li::marker {color: brown;}
	main > nav > ul {
		margin: 0 1.3em; 
		padding: 0;
	}
	
	main > nav ul li,
	main > nav ul ul {
		margin: 0 0.3em;
		padding: 0;
		font-size: 0.8rem;
	}
	.section-nav {
		padding: 1em 0;
		padding-bottom: 1.5em;
	}
	.section-nav a {
		text-decoration: none;
		display: block;
		padding: 2px 0.2em;
		color: whitesmoke;
	}
	.section-nav li a {
		width: fit-content;
		border-bottom: dotted thin grey;
		border-left: dotted thin grey;
	}
	.section-nav a:hover,
	.section-nav a:focus {
		background-color: whitesmoke;
		color: var(--textColor);
	}
/* Table of contents button **/
	div.nav {
		position: sticky;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0.4vh;
		position: -webkit-sticky;
		top: 0;
		z-index: 1;
	}
	div.nav button {
		float: right;
		margin-right: 0.5em;
	}
	/* TOC */
		div.toc {
			background: #f9f9f9 none repeat scroll 0 0;
			padding: 0 0.3rem;
			border: 1px solid #aaa;
			width: -moz-fit-content;
			width: fit-content;
			margin: 0.9rem 0;
		}
		div.toc h3 {
			text-align: center;
			font-variant: small-caps;
			font-weight: normal;
			margin: 0.3rem 0;
			margin-top: 0.2rem;
			padding: 0;
			margin-left: 2%;
			width: fit-content;
		}
		div.toc > ol {
			padding: 0.4em;
			list-style-type: upper-roman;
			margin: 0;
			margin-left: 1.2rem;
			margin-right: 0.5rem;
			padding-right: 0;
			padding-top: 0;
			width: fit-content;
		}
/* Table of Contents -- Index Page **/
	ul.toc, ul.toc ul {
		list-style: none;
		padding: 0 0.1em;
		margin: 0 0.8em;
	}
	ul.toc li { margin: 0.5em 1em; }
	ul.toc li::marker {font-size: 0.7rem;}
	ul.toc { list-style:upper-roman; }
	ul.toc ul {list-style: decimal;}
	ul.toc ul ul {list-style: lower-roman;}
	ul.toc ul ul ul {list-style: decimal;}
	ul.toc ul ul ul ul {list-style: upper-alpha;}
	ul.toc ul ul ul ul ul {list-style: lower-alpha;}
/* Margin Notes */
	.sidenote,
	.marginnote {
		padding: 0.8em 6em;
		float: right;
		clear: right;
		margin-right: -55%;
		width: 60%;
		margin-top: 0.3rem;
		margin-bottom: 0;
		font-size: 0.9em;
		line-height: 1.2;
		vertical-align: baseline;
		position: relative;
		color: rgb(33, 119, 153);
	}
	.sidenote-number {
		counter-increment: sidenote-counter;
	}
	.sidenote-number:after,
	.sidenote:before {
		position: relative;
		vertical-align: baseline;
	}
	.sidenote-number:after {
		content: counter(sidenote-counter);
		font-size: 0.7rem;
		top: -0.5rem;
		left: 0.1rem;
	}
	.sidenote:before {
		content: counter(sidenote-counter) " ";
		font-size: 0.7rem;
		top: -0.5rem;
	}
	input.margin-toggle {display: none;}
	label.sidenote-number {
		display: inline-block;
		max-height: 2rem; /*should be less than or equal to paragraph line-height*/
	}
	label.margin-toggle:not(.sidenote-number) {
		color: var(--darkBlue);
		display: none;
	}
	.iframe-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
/* Superscripts/Footnotes */
	main {counter-reset: fn;}
	sup {
		counter-increment: fn 1;
		line-height: 0;
	}
	sup:hover {
		cursor: pointer;
	}
	sup::after {
		content: counter(fn);
		color: var(--darkBlue);
	}
/* Scrollbar */
	::-webkit-scrollbar {
		width: 10px;
		height: 7px;
	}
	::-webkit-scrollbar-thumb {
		background-color: #d6dee1;
		border-radius: 4px;
		border: 1px solid transparent;
		background-clip: content-box;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #a8bbbf;
	}
	li::-webkit-scrollbar {
		display: none;
	}
/* Block quotes */
	blockquote {
		display: block;
		margin: 5% 20%;
		line-height: 1.3;
		color: var(--darkBlue);
	}
	section blockquote p {font-size: 0.8rem;}
	blockquote cite {
		display: block; 
		text-align: right; 
		font-size: 0.85rem;
	}
	blockquote cite::before {content: "- "}
/* Heading styles */
	h1,h2,h3,h4,h5,h6,p.h7,p.h8,p.h9,p.h10,p.subheading,p.warning-heading {
		display: block;
		padding: 0;
		margin: 0;
		margin-top: 1em;
		color: var(--darkRed);
	}
	h1 {
		font-size: 2em;
		padding: 1.2em 0;
		margin: 5vw;
		text-align: center;
		color: var(--textColor);
	}
	h2 {
		font-size: 1.5em;
		padding-bottom: 0.1em;
		text-align: left;
		border-bottom: thin solid;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.2em;
		font-size: 1rem;
	}
	h5 {font-size: 1.1rem;}
	h6 {
		font-size: 0.9rem; 
		text-align: center;
		border-bottom: none;
	}
	/* other headings */
	p.subheading {
		font-size: 95%;
		font-weight: bold;
		width: fit-content;
		padding: 1px;
	}
	p.lemma {
		font-size: 0.95rem;
		font-weight: bold;
		font-style: italic;
	}
	p.problem {
		font-size: 0.95rem;
		font-weight: bold;
		text-decoration: underline;
	}
	span.topic, small {
		display: inline-block;
		font-variant: small-caps;
		white-space: nowrap;
		margin-right: 0.6em;
		font-size: 1rem;
	}
	span.exh {
		font-style: italic; 
		font-size: 0.95rem; 
		text-decoration: underline;
	}
	.listHeader {
		font-size: inherit;
		color: var(--darkRed);
		font-weight: bold;
		text-align: left;
		margin: 0.4em;
		margin-left: -1em;
		padding: 0;
	}
	.pset {
		font-size: 0.9rem;
		text-decoration: underline;
		border: none;
		color: var(--darkRed);
	}
/* Text styles */
	section cite {
		font-variant: small-caps;
		font-style: normal;
		font-size: inherit;
	}
	strong {
		font-weight: normal;
		font-variant: small-caps;
	}
	em {
		font-style: normal;
		text-decoration: underline;
	}
	.redText {color: var(--scarlet);}
	.greenText {color: var(--darkGreen);}
	.blueText {color: var(--darkBlue);}
	.orangeText {color: var(--orange);}
	.purpleText {color: var(--indigo);}
	.greyText {color: var(--lightGrey);}
	.underlineText {text-decoration: underline;}
	.italicsText, i {
		font-style: italic; 
	}
	.boldText {font-weight: bold;}
	.boldItalics {
		font-weight: bold; 
		font-style: italic;
	}
	.monoText, var {
		font-family: "Fira"; 
		text-rendering: optimizeLegibility;
		font-size: 0.82em; 
		margin: 0 1px;
		font-style: normal; 
	}
	.monoText *.katex {font-size: 1.1em !important;}
	.smallcaps {font-variant: small-caps;}
	.term, b {
		font-weight: bold; 
	}
	span.hl {
		background-color: gold;
	}	
	span.title {
		font-variant: small-caps;
	}
	.redText {color: #ea3c4dbc;}
	.greenText {color: #6e9841;}
	.blueText {color: #2376b2;}
	.purpleText {color: #6d52b2ed;}
	.underlineText {text-decoration: underline;}
	.italicsText {
		font-style: italic; 
	}
	.boldText {
		font-weight: bold; 
	}
	.boldItalics {
		font-weight: bold; 
	}
	.monoText {
		font-family: var(--mono); 
		font-size: inherit; 
		font-style: normal; 
		white-space: pre;
	}
	.smallcaps {font-variant: small-caps;}
	mark {background-color: #ffe77d}
	
	mark {background-color: rgb(255, 232, 131);}
/* Paragraph styles */
	p {
		font-size: 0.9rem;
		text-align: left;
		margin-top: 0;
	}
	section > p {
		line-height: calc(1ex / 0.32);
		margin: calc(0.7ex / 0.32) 0;
	}
	section h2 + p, 
	section h3 + p, 
	section h4 + p, 
	section h5 + p, 
	section h6 + p {
		margin-top: 0.2em; 
		padding-top: 0;
	}
/* Drop cap */
		span.drop {
			float: left;
			font-family: Georgia, var(--serif);
			font-size: 75px;
			line-height: 60px;
			padding-top: 4px;
			padding-right: 8px;
			padding-left: 3px;
		}
/* Button Elements */
	div.nav button {
		cursor: pointer;
		background: var(--page);
		border: 1px solid #ececec;
		border-radius: 0.4em;
		box-shadow: 0px 1px 0 #bbbbbb, 1px 1px 2px #bdbdbd;
		font-family: var(--serif);
		font-size: 0.9rem;
		transition: all 1ms linear;
		color: var(--textColor);
	}
	div.nav button:hover {
		border: 1px solid rgba(0, 0, 0, 0.05);
		box-shadow: 1px 1px 2px rgb(228, 228, 228);
		text-decoration: none;
		transition: all 1ms linear;
	}
	div.nav button:active {
		box-shadow: 1px 1px 2px rgb(104, 104, 104);
		transform: translateY(2px);
	}
	div.nav button.pressed {
		background-color: rgb(73, 73, 73);
		border: 1px solid rgba(0, 0, 0, 0.05);
		color: white;
		box-shadow: inset 0.063rem 0.063rem 0.125rem #242424, inset -0.063rem -0.063rem 0.125rem #181818;	
	}
/* List styles */
	li {
		font-size: 0.9rem;
		padding: 0.3em 0.7em;
	}
	ul li::marker {
		font-size: 0.7rem;
	}
	ol,ul {
		margin: 0;
		padding: 0.3em;
		padding-left: 2em;
	}
	/* Circle List */
		ol.recipe {
			list-style: decimal;
			background-image: linear-gradient(var(--textColor), var(--textColor)),
			linear-gradient(var(--textColor), var(--textColor)),
			linear-gradient(var(--textColor), var(--textColor)),
			linear-gradient(var(--textColor), var(--textColor));
			background-repeat: no-repeat;
			background-size: 8px 1px;
			background-position: top left, top right, bottom left, bottom right;
			border: solid var(--textColor);
			border-width: 0 1px;
		}
		ol.recipe ol {list-style-type: lower-alpha;}
		ol.recipe ol ol {list-style-type: lower-latin;}
		ol.recipe ol ol ol {list-style-type: upper-alpha;}
		ol.recipe ol ol ol ol {list-style-type: decimal;}

	ol ol {list-style-type:lower-latin;}
	figure.math-display>div>ul {margin: 0 10%;}
	figure.math-display>div>ul>li {margin-bottom: 1%;}
	figure.math-display>div>ul.larg {
		list-style-type: 
		none; font-size: 0.7rem; 
		margin: 0;
	}
	figure.math-display>div ul.def {
		list-style-type: none; 
		width: fit-content; 
		margin: 0;
		margin-top: 0.5em;
	}
	ul.larg li:nth-last-child(2) {
		border-bottom: 1px solid rgb(35, 35, 35); 
		padding-bottom: 0.3em;
	}
	ul.larg li {width:100%}
	ul.larg li.conc::marker {content: "\2234  "; font-size: 1.4em;}
	ul.def {
		margin: 1.5% 0 0 0;
		list-style-type: none;
	}
	ul.def {
		margin-left: 8%;
	}
	ul.def li.where::marker {
		content: "where  "; 
		font-size: 1em;
	}
	ul.answer li {margin: 0.8em 0;}
	article {
		counter-reset: fig;
	}
	figcaption:before {
		content: "Fig. " counter(fig, decimal);
		margin-right: 0.3em;
		font-size: 0.75rem;
	}
	section {
    counter-reset: list;
	}
	ol.numd > li {
			list-style: none;
			position: relative;
	}
	ol.numd > li:before {
			counter-increment: list;
			content: "(" counter(list, decimal) ") ";
			position: absolute;
			left: -3.5em;
			font-size: 0.85rem;
	}
	/* Use this list class for definitions/theorems/etc */
	ul.list {
		padding: 0.3em 0;
		padding-left: 0.2em;
		margin: 0;
	}
	ul.list li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
/* Pascal Triangle - Flex List */ 
	ul.flex {
		list-style-type: none;
		padding: 5px 0;
		margin: 0 auto;
		width: fit-content;
	}
	ul.flex li div {
		padding: 0;
		font-size: 0.75rem;
		margin: 1px;
		width: 23px;
		height: 22px;
		text-align: center;
		line-height: 1.8;
		background-color: rgb(255, 116, 92);
		box-shadow: 
			0 2px 2px 0px rgba(161, 0, 0, 0.4), 
			0 2px 2px 0 rgba(161,0,0,0.4);
		color: white;
		border-radius: 50%;
		transition: 0.3s;
	}
	ul.flex li div:hover {
		cursor: pointer;
		box-shadow: none;
		transform: translate3d(0, 0.3em, -0.5em);
	}
	ul.flex li {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content:center;
	}
/* Function i/o */
	div.func {
		margin: 0 auto;
		width: 50%;
		display: grid;
		grid-template-columns: auto;
		flex-flow: row wrap;
	}
	div.func ul {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	div.func ul li {
		font-size: 0.75rem;
		flex: 1 1 0px;
		text-align: center;
		margin: 0;
		padding: 0.2em 0.8em;
	}
	div.func ul li p {
		font-size: 0.75rem;
	}
	div.func ul:not(:nth-child(1)) li + li {
		border-left: solid thin var(--textColor);
	}
	div.func ul:first-child li {
		border-bottom: solid thin var(--textColor);
	}
/* Checklist */
	ol.checklist {
		box-shadow: 0.063rem 0.063rem 0.188rem #929292, -0.063rem -0.063rem 0.188rem #e4e4e4;
		border-radius: 0.3em;
		padding: 0.5em 1.5em;
		padding-bottom: 1em;
		width: fit-content;
	}
	ol.checklist p {
		width: 100%;
	}
	ol.checklist li {
		display: block;
		padding: 0 1em;
		text-indent: -1.7em;
	}
	ol.checklist, ol.checklist ol {
		list-style-type: none;
		padding-right: 0;
	}
	ol.checklist ol {
		padding-bottom: 0;
		padding-top: 0;
	}
	ol.checklist input[type=checkbox] {
		position: relative;
		vertical-align: middle;
		margin-right: 0.8em;
		width: 12px;
		height: 12px;
		color: #363839;
		border: 1px solid #bdc1c6;
		border-radius: 0.15em;
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;
		outline: 0;
		cursor: pointer;
		transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
	}
	ol.checklist input[type=checkbox]::before {
		position: absolute;
		content: "";
		display: block;
		top: 0px;
		left: 3px;
		width: 2px;
		height: 6px;
		border-style: solid;
		border-color: white;
		border-width: 0 2px 2px 0;
		border-radius: 1px;
		transform: rotate(45deg);
		opacity: 0;
	}
	ol.checklist input[type=checkbox]:checked {
		color: #fff;
		border-color: #00641e;
		background: #74be67;
	}
	ol.checklist input[type=checkbox]:checked::before {
		opacity: 1;
	}
/* Links */
	section a {
		position: relative;
		padding:0;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		color: inherit;
	}
	section p a {
		border-bottom: thin dotted rgb(71, 71, 71);
	}
	section a:visited {
		color: none;
		outline: 0;
	}
	section a:hover {
		cursor: pointer;
	}
	section a::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #000;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}
	section a:hover::before {
		transform: scaleX(1);
	}

	/* Highlight Section Header on Reaching Target for Links */
	@keyframes highlight {
		0% {background-color: rgb(255, 239, 134);}
		100% {background-color: transparent;}
	}
	section:target h1,
	section:target h2, 
	section:target h3,
	section:target h4, 
	section:target h5, 
	section:target span.topic, 
	section:target small {
		animation-name: highlight;
		animation-fill-mode: forwards;
		animation-duration: 4s;
		animation-delay: 1.5s;
	}
/* Code */
	code, pre {
		width: fit-content;
		font-family: var(--mono);
		text-align: left;
		font-size: 0.7rem;
		white-space: pre-wrap;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.4;
		-moz-tab-size: 3;
		-o-tab-size: 3;
		tab-size: 3;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	pre {
		padding: 0;
		overflow: auto;
	}
	pre[class*="language-pseudo"] {
		padding: 0.5em;
		border: dashed thin grey;
		background-color: rgb(247, 247, 247);
		margin: 0.8em 0;
		text-align: left;
		height: fit-content;
		white-space: pre-wrap;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1;
		-moz-tab-size: 3;
		-o-tab-size: 3;
		tab-size: 3;


		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	code[class*="language-pseudo"] {
		font-family: Courier, monospace;
		color: #232323; /* base00 */
	}

/* Details styling */
	details {
		padding: 0; 
		margin: 0;
		margin-bottom: 0.5rem;
		border: 1px solid #ececec;
		width: 100%;
		box-shadow: 0px 1px 0 #bbbbbb, 1px 1px 2px #bdbdbd;
	}
	details:hover {
		box-shadow: 1px 1px 2px rgb(228, 228, 228);
	}
	details.answer {
			padding: 0.2em;
			background-color: var(--page);
			width: fit-content;
			margin: 1% 0;
			text-decoration: none;
			display: block;
	}
	details.answer[open] {
		border-radius: 0.2em;
		padding: 0.7em;
		border: thin solid rgb(217, 217, 217);
		box-shadow: inset 0.063rem 0.063rem 0.125rem #a6a6a6bd, inset -0.063rem -0.063rem 0.125rem #f0f0f0;
	}
	details > p {padding: 0;}
	details:hover {cursor: pointer;}
	details.answer summary {
		color: rgb(146, 146, 146);
		list-style: none; 
		font-size: 0.75rem;
		margin: 0; 
		padding: 0;
	}
	details summary::-webkit-details-marker {display: none;}
	details > ol ul {
		margin: 0;
		padding: 0;
		margin-left: 1em;
	}
	ul.answer li {list-style-type: none;}
	details li {margin-bottom: 1%;}
/* Katex styles */
	.katex {
		font-size: 1em !important;
		font-weight: inherit !important;
		color: inherit !important;
		overflow: visible !important;
	}
	span.katex-display {
		font-size: 1em !important;
		margin-top: 1px;
		margin-bottom: 1px;
		overflow: visible !important;
	}
	span.katex-html {max-width: 100% !important;}
	.katex-display > .newline {padding-bottom: 1em !important;}
	.mord.texttt {font-family: var(--mono) !important;}
/* Pseudocode */
	div.syntax {
		margin: 0;
	}
	div.syntax ul {
		padding: 0;
		padding-left: 1rem;
	}
	div.syntax li {
		list-style-type: decimal;
		padding: 0;
		margin: 0;
		font-size: 0.9rem;
		font-family: var(--mono);
	}
	div.syntax li::marker {
		font-size: 0.7rem;
		color: rgb(187, 187, 187);
	}
	
	/* Figure styles */

	figure {
		width: 70%;
		margin: 2% auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow-x: auto;
		overflow-y: hidden;
	}
	figure img {margin: 0 auto;}
	figcaption {
		counter-increment: fig;
		font-size: 0.7rem;
		margin: 1% auto;
		padding: 0;
		font-family: var(--serif);
		text-align: center;
	}
	figure div {
		width: fit-content;
		padding: 0.4em;
		margin: 0 auto;
		overflow: auto;
	}
	figure div p {
		margin: 0;
	}

/* Aside */
	aside {
		float: right;
		width: 50%;
		margin: 0.1rem;
		margin-right: 0;
		padding: 0;
		clear: both;
	}
	aside figure {
		margin: 0; padding: 0;
	}
/* Special divs */
	div.compare {
		margin: 5% 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	div.compare figure {
		margin: 0 2px;
		flex-grow: 1;
	}
	div.compare figure pre {
		height: 100%;
	}
	div.compare div {
		width: fit-content;
		height: fit-content;
	}
	div.rule {
		padding: 0.3em;
		margin: 0 2%;
	}
	div.rule p {
		width: 100%;
		padding: 0;
		margin: 2vh 0;
	}
	div.rule span.topic,
	div.rule small {
		display: block;
		font-family: var(--serif);
		font-size: 0.9rem;
		font-variant: small-caps; 
		font-weight: normal;
		text-decoration: underline;
		margin-top: 0;
		padding-top: 0;
	}
	/* Problem Illustration */
	div.prob {grid-area: problem;}
	div.com {
		grid-area: comment;}
	div.step {grid-area: step;}
	div.illus div {
		border: solid thin grey;
	}
	div.illus {
		display: grid;
		width: 80%;
		margin: 0 auto;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas: 
		"problem problem"
		"comment step";
	}
/* Aside */
	aside {
		float: right;
		width: 25%;
		margin: 0.4rem;
		margin-right: 0;
		padding: 0;
		clear: both;
	}
	aside figure {
		margin: 0; padding: 0;
	}
/* Image styles */
	img {width: 100%;}
	/* Image widths for SVGs */
	.ten-p {width: 10vw;}
	.fifteen-p {width: 15vw;}
	.twenty-p {width: 20vw;}
	.quarter-p {width: 25vw;}
	.thirty-p {width: 30vw;}
	.forty-p {width: 40vw;}
	.fifty-p {width: 50vw;}
	.sixty-p {width: 60vw;}
	.seventy-p {width: 70vw;}
	.eighty-p {width: 80vw;}
	.ninety-p {width: 90vw;}
	.hundred-p {width: 100vw;}
/* Table styles */
	table {
		border: solid 1px rgb(175, 175, 175);
		border-collapse: collapse;
		margin: 0.6em 0;
		width: 100%;
		font-size: 0.8rem;
	}
	th,td {
		border: solid 1px rgb(175, 175, 175);
		width: fit-content;
		padding: 0.5vmin;
	}
	.center {text-align: center;}
	/* tr > td:nth-child(1) {text-align: center;} */
	th {text-align: center}
	td {text-align: left;}
	.cell-hl {background-color: rgb(254, 244, 194)}
	table.truth_table {padding: 0;}
	table.truth_table * {font-size: 0.8rem;}
	table.truth_table th {
		margin: 0; 
		padding: 0.2em; 
		text-align: center; 
		width: fit-content;
		font-family: var(--sansSerif);
		font-style: normal;
	}
	table.truth_table td {
		margin: 0; 
		padding: 0.2em; 
		text-align: center; 
		width: fit-content;
		font-style: normal;
	}
	/* Property Table - for properties of entities/summaries */
	table.property_table {margin: 0; padding: 0; width: fit-content}
	table.property_table * {font-size: 0.75rem;}
	table.property_table th {
		margin: 0; 
		padding: 0.2em; 
		text-align: center;
		width: fit-content;
		font-style: normal;
	}
	table.property_table td {
		width: fit-content;
		font-style: normal;
	}
	table.proof_table {margin: 0; padding: 0; width: fit-content; border: none;}
	table.proof_table td {padding: 1%}
	table.proof_table * {border: none; font-size: 0.9rem;}
	table.proof_table tr > td {text-align: left;}
	table.proof {
		border: none;
		margin: 0.3em 4vw;
	}
	table.proof th,
	table.proof td {
		border: none;
		border-top: solid thin var(--lightGrey);
		border-bottom: solid thin var(--lightGrey);
	}
	table.proof td {
		padding: 0.8em 0;
		font-size: 0.75rem;
	}
	table.proof tr td:nth-child(1) {
		padding-right: 1em;
	}
	table.api {
		background-color: rgb(255, 239, 210);
	}
	table.api td, 
	table.api th {
		border: solid thin rgba(97, 97, 97, 0.176);
	}
	table.api td {
		padding: 0.6em;
	}
	table.api th {
		background-color: rgb(215, 0, 0);
		color: white;
	}
	table.api p {
		width: fit-content;
		padding: 0;
		margin: 0;
	}
	table.relation {
		border: none;
		width: fit-content;
	}
	table.relation td {
		text-align: center;
		border: none;
		padding: 0.3em;
		padding-bottom: 0;
	}
	table.relation tr:nth-child(1) {
		border-bottom: solid thin lightgray;
	}
	table.relation td:nth-child(2) {
		border-left: solid thin lightgray;
	}
	/* Table for comparing functions, values, cost-benefit-analysis */
	table.punnett { 
		border: none; 
		width: fit-content;
	}
	table.punnett td, 
	table.punnett th {
		text-align: center;
		max-width: fit-content;
		padding: 0.2em 0.4em;
	}
	table.punnett th { border-top: none; }
	table.punnett th:first-child { border-left: none; }
	table.punnett th:last-child { border-right: none; }
	table.punnett tr td:first-child { 
		border-left: none; 
		font-weight: bold;
	}
	table.punnett tr td:last-child { border-right: none; }
	table.punnett tr:last-child td {border-bottom: none}
/* proof styles */
	div.conclusion > ul,
	div.premises > ul {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.premises > ul li:nth-child(2):before {content: "\2235"; padding-right: 1ch;}
	div.premises > ul li:nth-child(2) {padding-left: 1em; text-indent: -1em;}
	div.conclusion > ul li, 
	div.premises > ul li {
		font-size: 0.85rem;
		width: 50%;
		margin-bottom: 1em;
		display: block;
		flex: 0 1 auto;
		list-style-type: none;
	}
	div.premises ul li:nth-child(2) {
		font-style: italic;
	}
	div.mproof {margin: 2% 5%;}

	/* Another proof style, this one is vertical; horizontal layout is not good for long equations -- longer equations, need wrapping, less readable. This uses nested list items. Reasons are numbered, computation is nested below number. Some margin placed on the ul element because with large fractions, becomes too unreadable.*/
	ol.arg>ul {list-style: none; margin: 0.5em}

/* Main Idea DIV - Header is created by JavaScript */
	.header {
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	.mainIdea * {
		font-size: 0.8rem;
		width: fit-content;
	}
	.mainIdea {
		margin: 0;
		margin-left: 0.5em;
		margin-bottom: 0.25em;
		margin-right: 0;
		float: right;
		border: solid thin rgb(255, 255, 255);
		border-radius: 0.2em;
		box-shadow: 0.063rem 0.063rem 0.188rem #929292, -0.063rem -0.063rem 0.188rem #e4e4e4;
		padding: 0.1em 0.4em;
		padding-right: 0.7em;
		padding-bottom: 0.3em;
		width: fit-content;
	}
/* Margin Notes */
	div.note {
		display: none;
		padding: 0 0.3em;
		height: fit-content;
		color: var(--darkBlue);
		border-top: solid thin var(--mediumBlue);
		border-bottom: solid thin var(--mediumBlue);
	}
	div.note pre {border-radius: 0.5em;}
	div.note p {
		font-size: 0.8rem;
		padding: 0;
		padding-left: 0.8em;
		margin-top: 0;
	}
	div.note code {font-size: 0.7rem}
	div.annotated {display: block;}
	span.noteNumber {
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
		margin-top: -0.8em;
		top: 1em;
		font-size: 0.63rem;
	}
/* SVG */
	.demo-container {
		display: flex;
		margin: 2% 0;
		justify-content: center;
	}
	.svg-container {
		display: inline-block;
		position: relative;
		width: 50%;
		padding-bottom: 25%; /* aspect ratio */
		vertical-align: top;
		overflow: hidden;
	}
	.bubblePack {
		width: 60%;
		padding-bottom: 40%; /* aspect ratio */
	}
	.svg-content-responsive {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
/* Circled Letters */
	span.c {
		border: solid thin var(--textColor);
		color: var(--textColor);
		display: inline-block;
		text-align: center;
		line-height: 1.3;
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}
	.c.Black {
		color: white;
		background-color: black;
	}
	.c.cancel {
		color: lightgray;
		border-color: lightgray;
	}
	.c.Grey {
		color: white;
		background-color: grey;
	}
	.c.Green {
		color: white;
		background-color: rgb(51, 128, 0);
	}
	.c.Blue {
		color: white;
		background-color: rgb(0, 116, 145);
	}
	.c.Yellow {
		color: white;
		background-color: rgb(196, 134, 53);
	}
	.c.Orange {
		color: white;
		background-color: rgb(187, 28, 3);
	}
/* Del element */
	table del {
		position:relative;
		text-decoration:none;
		background-color: var(--textColor);
	}
/* Definitions/Lemmas/Theorems */
	dfn {
		font-style: normal;
		display: block;
		width: 50%;
		margin: 2% auto;
		padding: 0;
	}
	dfn p {
		margin: 0; 
		padding: 0.5em 0;
	}
	dfn p:first-child {
		padding-top: 0;
	}
	dfn p:last-child {
		padding-top: 0;
	}
	dfn span.topic,
	dfn>small, dfn>dt{
		display:block;
		font-variant: small-caps;
		margin-top: 0;
	}
	dfn ul {
		list-style: circle;
		padding-left: 3em;
		padding-top: 0;
		padding-bottom: 0;
	}
	dfn ul li {
		margin: 0;
		padding: 0;
	}
	@media (max-width: 500px) {
		dfn {width: 90%}
	}
/* Proofs */
	math-proof {
		display: flex;
		margin: 1% 3%;
	}
	math-proof span.topic,
	math-proof small {
		display: block;
		float: left;
		font-variant: small-caps;
		margin-top: 0;
	}
/* Question Sets / <details> Styling */
	/* Question sets are styled with masonry */
	details {padding: 0; margin: 1%;}
	details>summary {
		list-style: none; 
		padding: 0; 
		font-size: 0.75rem;
	}
	details>ol {margin: 0 0 0 0.9em;}
	details>ol>ol{margin: 0 0 0 0.9em;}
	details.answer {
		margin: 0;
		margin-top: 0.2em;
	}
	details:hover {cursor: pointer;}
	li pre code, details li pre code {
		font-size: 0.65rem !important;
		width: 100%;
		margin: 0;
	}
	ol.ex li { font-size: 0.85rem; }
	ol.ex li figure {
		display: block; 
		width: fit-content;
		margin: 0 2%;
	}
	ol.ex li p {
		width: fit-content;
		margin: 0;
		font-size: 0.85rem;
	}
	ol.ex span.monoText {font-size: 0.83em;}
	ol.ex {
		margin: 0.5em 0;
		padding: 0;
	}
	ol.ex li {
		padding: 0.2em 0;
		padding-left: 0.1em;
		margin: 0;
	}
	ol.ex li.grid-item::marker {
		margin: 0;
		padding: 0;
		color: rgb(0, 161, 161);
	}
	ol.ex li.grid-item { margin: 0 0.8em; }
	.grid {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.grid-col {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
	.grid-col--2, .grid-col--3, .grid-col--4 {
		display: none
	}
	@media (min-width: 1000px) {
		.grid-col--2 { display: block; }}

	@media ( min-width: 1100px ) {
		.grid-col--3 { display: block; }}	

	@media (min-width: 1000px) {
		.grid-col--2 { display: block; }}

	@media ( min-width: 1100px ) {
		.grid-col--3 { display: block; }}	
	
	/* Grid for cheatsheets */
	div.grid-item {
		margin: 2px;
		background: var(--page);
		border: solid thin var(--lightGrey);
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
	}
	div.grid-item:hover {
		box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);;
	}
	
	div.grid-item span.topic,
	div.grid-item small {
		display: block;
		margin: 0;
	}
	@media (min-width: 0px) {
		section.grid div.grid-col--2 {display: block;}
	}

	ol.alg {
		font-family: var(--mono);
		cursor: pointer;
		background-color: rgb(246, 248, 250);
		counter-reset: lineNumber;
		list-style: none;
		margin: 0;
		padding: 0;
		padding-right: 0.3em;
		box-shadow: inset 20px 0 0 0 rgb(239, 239, 239);
	}
	ol.alg ol {margin: 0; padding: 0;}
	ol.alg li {
		display: block;
		white-space: nowrap;
		padding: 0;
		margin: 0;
		font-size: 0.8rem;
		color: rgb(82, 82, 82);
		counter-increment: lineNumber;
	}
	ol.alg li::before {
		display: inline-block;
		content: counter(lineNumber);
		color: rgb(144, 144, 144);
		padding: 3px;
	}
	ol.alg>li::before {width: 1.8em;}
	ol.alg>ol>li::before {width: 3.8em;}
	ol.alg>ol>ol>li::before {width: 5.8em;}
	ol.alg>ol>ol>ol>li::before {width: 7.8em;}
	ol.alg>ol>ol>ol>ol>li::before {width: 9.8em;}
	ol.alg li .katex {
		font-size: inherit !important;
	}
	/* Table for counting operations - algorithmic analysis */
	table.alg {
		border: none;
		width: fit-content;
		margin: 0 auto;
	}
	div.alg {
		overflow-x: auto;
	}
	table.alg pre {
		padding: 0.4em;
	}
	table.alg pre code {
		font-size: 0.9em;
	}
	table.alg ul.linkedlist {
		margin: 0;
	} 
	table.alg th, table.alg td {
		border: none;
		text-align: left;
		font-size: 0.8rem;
		padding: 0.2em 0.3em;
	}
	table.alg th {
		padding: 0.5em;
		padding-bottom: 0;
	}
	table.alg tr td {
		border-top: solid thin var(--lightGrey);
		border-bottom: none;
	}
	table.alg tr td + td {
		border-left: solid thin var(--lightGrey);
	}
/* Media Queries */
	@media (max-width: 600px) { html {font-size: 8px;} }
	@media (max-width: 800px) { html {font-size: 9px;} }
	@media (max-width: 1180px) { html {font-size: 10px;} }
	@media (max-width: 1300px) { html {font-size: 11px;} }
	@media (max-width: 1750px) { html {font-size: 12px;} }
	@media (max-width: 1900px) { html {font-size: 13px;} }
	@media (max-width: 2100px) { html {font-size: 14px;} }
	@media (max-width: 2400px) { html {font-size: 15px;} }
	@media (min-width: 1101px) {
		button#tocButton { display: none; }
		.section-nav ul li {
			font-size: 0.75rem;
		}
		.section-nav ul li::marker {font-size: 0.6rem;}
		.ten-p {width: 5vw;}
		.fifteen-p {width: 10vw;}
		.twenty-p {width: 15vw;}
		.quarter-p {width: 20vw;}
		.thirty-p {width: 25vw;}
		.forty-p {width: 30vw;}
		.fifty-p {width: 35vw;}
		.sixty-p {width: 40vw;}
		.seventy-p {width: 45vw;}
		.eighty-p {width: 50vw;}
		.ninety-p {width: 55vw;}
		.hundred-p {width: 60vw;}
		/* Margin notes */
		div.note {
			display: block;
			float: right;
			clear: right;
			margin: 0 -65% 0 0;
			width: 60%;
			position: relative;
		}
	}
	@media (max-width: 1100px) {
		nav {
			display: none;
		}
		nav.tocShow {
			display: block;
			width: 100%;
			height: 100vh;
			position: fixed;
			padding-top: 5vh;
			padding-bottom: 15vh;
			z-index: 1;
		}
		main {
			display: block;
			grid-template-columns: none;
		}
		section {
			padding: 0.5em 10vw;
			margin: 0 2%;
		}
		pre {margin: 1px 0;}
		.sidenote,
		.marginnote {
				display: block;
				float: left;
				left: 0;
				clear: both;
				width: 100%;
				margin: 1em 0;
				padding: 0;
				position: relative;
		}
		label.margin-toggle:not(.sidenote-number) {
				display: inline;
		}

		.sidenote,
		.marginnote {
				display: none;
		}

		.margin-toggle:checked + .sidenote,
		.margin-toggle:checked + .marginnote {
				display: block;
				float: left;
				left: 1rem;
				clear: both;
				width: 95%;
				margin: 1rem 2.5%;
				vertical-align: baseline;
				position: relative;
		}

		label {
				cursor: pointer;
		}
		article .tooltip:before {
			width: 12rem;
			top: -8.5rem;
			transform:translateY(0%);
			transform: translateX(-120%);
		}
		@media (max-width: 900px) {
			figure.table {overflow-x: auto;}
			
		}
	}
	/* @media (max-width: 800px) {
		nav {display: none}
		main {
			display: block;
			grid-template-columns: none;
		}
		section {
			padding: 0;
			padding-right: 30%;
			padding-left: 1%;
		}
		div.note {
			display: block;
			float: right;
			clear: right;
			margin: 0 -45% 0 0;
			width: 40%;
			position: relative;
		}
	} */
	@media (max-width: 900px) {
		figure.table {overflow-x: auto;}
	}
	@media (max-width: 900px) {
		.ten-p {width: 9vw;}
		.fifteen-p {width: 18vw;}
		.twenty-p {width: 27vw;}
		.quarter-p {width: 36vw;}
		.thirty-p {width: 45vw;}
		.forty-p {width: 54vw;}
		.fifty-p {width: 63vw;}
		.sixty-p {width: 72vw;}
		.seventy-p {width: 81vw;}
		.eighty-p {width: 90vw;}
		.ninety-p {width: 99vw;}
		.hundred-p {width: 108vw;}
	}
	@media (max-width: 600px) {
		div.content {padding: 0;}
		section {padding: 1vw 3vw;}
	}
	@media (max-width: 500px) {
		section {padding: 1em 3vw}
	}
	@media (min-width: 200px) {
		div.split, div.bipart {
			display: grid;
			grid-template-columns: 50% 50%;
			column-gap: 1%;
		}
		div.bipart div {
			margin: 2% 0;
		}
		div.tripart {
			display: grid;
			grid-template-columns: 33% 33% 33%;
		}
		div.split dfn, div.bipart dfn {
			width: 100%;
		}
		div.split p, div.bipart p {
			margin: 0 0.5em;
		}
		div.split ol li, div.bipart ol li {
			margin: 0;
			padding: 1px 0;
		}
		div.split>p>span.topic,  div.bipart>p>span.topic{
			font-variant: small-caps;
		}
		div.split figure, div.bipart figure{
			display: block;
		}
	}
	/* @media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
		table, thead, tbody, th, td, tr { 
			display: block; 
			border-collapse: collapse;
		}
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr {border: thin solid rgba(200, 200, 200, 0.774);}
		td { 
			border: none !important;
			position: relative;
		}
	} */
	/* @media (prefers-color-scheme: dark) {
		html {filter: invert(100%);}
	} */