{% extends '../layout.html' %} {% load static %} {% block description %}
<meta name="description" content="Arguments" />
{% endblock %} {% block title %}
<title>Arguments</title>
{% endblock %} {% block content %}
<h1>Arguments</h1>
<section id="arguments_intro">
	<p>
		<span class="drop">A</span>n <span class="boldText">argument</span> is a
		sequence of propositions leading to a conclusion. Needless to say, arguments
		are the building blocks of mathematics, so their careful study is
		indispensable to any budding mathematician. Arguments have strict
		terminology that we must always keep in mind when we evaluate them.
	</p>
</section>

<section id="logic_intro">
	<p>
		<span class="topic">Arguments: Form v. Substance.</span>
		<span class="boldText">Logic</span> is the study of systematically
		evaluating arguments for <span class="italicsText">internal cogency</span>.
		There are numerous standards for internal cogency, but the standard we are
		most often concerned with in mathematics is
		<span class="boldText">logical validity</span>. Consider the argument
		synonymous with introductory logic texts:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>All men are mortal.</li>
				<li>Socrates is a man.</li>
				<li class="conc">Socrates is mortal.</li>
			</ul>
		</div>
	</figure>
	<p>From the argument, we can ask two questions:</p>
	<ol>
		<li>Are the <span class="boldText">premises</span> true?</li>
		<li>
			What is the <span class="italicsText">quality</span> of the
			<span class="boldText">inference steps</span> from the premises to the
			conclusion?
		</li>
	</ol>
	<p>
		These two questions evidence a distinction: Asking whether an argument
		starts from true premises is different from asking how the argument moves
		from one proposition to the next. True, we generally want our arguments to
		satisfy both conditions. Nevertheless, they are two separate questions
		requiring different knowledge. Whether premises are true is an issue of
		<span class="italicsText">substance</span> &mdash; the question is
		determined by reference to data or known facts. Thus, the issue is within
		the expert's domain. If the argument concerns economics, then whether the
		premises are true is answered by the economist. If physics, the physicist,
		and if mathematics, the mathematician. On the other hand,
		<span class="boldText">internal cogency</span> &mdash; an argument's
		movement, or flow, from one proposition to the next &mdash; is an issue of
		<span class="italicsText">form</span>. It concerns both the expert and the
		logician.
	</p>
</section>

<section id="deduction_vs_induction">
	<p>
		<span class="topic">Deduction v. Induction.</span> The argument in the
		preceding example is described as
		<span class="boldText">deductively valid</span>. Now consider this argument:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>My doctor has never poisoned anyone.</li>
				<li>The medicine I've been prescribed is a routine prescription.</li>
				<li class="conc">My doctor will not poison me.</li>
			</ul>
		</div>
	</figure>
	<p>
		Notice the difference between this argument and the preceding one. It does
		not share the same &#8220;air-tight&#8221; quality. There is nothing
		&#8220;wrong&#8221; with the argument, but it's internal cogency is
		different. When we extrapolate from past data to arrive at conclusions about
		the future, we engage in <span class="boldText">inductive reasoning</span>.
		Inductive arguments can have
		<span class="italicsText">inductively strong</span> conclusions (it his
		highly probable that, assuming the premises are true, the conclusion is
		true) or <span class="italicsText">inductively weak</span> conclusions (it
		is unlikely that, assuming the premises are true, the conclusion is true).
		Inductive reasoning is the kind of reasoning we use daily. Time management,
		decisions concerning our relationships with others, whether to buy something
		now or later, these all involve inductions. Inductive reasoning is a
		difficult and complex area of logic, and we can only study it meaningfully
		if we have a good grasp of deductive reasoning. Accordingly, we will
		relegate our discussion to deductive reasoning for now.
	</p>
</section>

<section id="argument_form">
	<h3>Argument Form</h3>
	<p>
		All arguments have an <span class="boldText">argument form</span> &mdash;
		the sequence of <span class="italicsText">propositional forms</span>. All
		propositions in an argument and all propositional forms in an argument form,
		except for the very last, are called <span class="boldText">premises</span>.
		Every premise relies on either one or more
		<span class="boldText">assumptions</span>, propositions treated as true
		without further proof, and are themselves premises in an argument. Premises
		may be <span class="boldText">explicit</span> &mdash; stated clearly to the
		audience, or <span class="boldText">implicit</span> &mdash; unstated. All
		premises lead to a final proposition or propositional form called the
		<span class="boldText">conclusion</span>.
	</p>
	<p>
		Implicit premises are often the best place to find weaknesses and problems
		in arguments. However, before we even assess an argument's premises, we must
		consider the argument's <span class="boldText">validity</span>. Whether an
		argument is <span class="italicsText">valid</span> depends on
		<span class="italicsText">argument form</span>. An argument is valid if, and
		only if, no matter what propositions are substituted for the proposition
		variables in the argument's premises, if the argument's premises are
		<span class="italicsText">all true</span>, then the conclusion
		<span class="italicsText">is also true</span>. If an argument satisfies this
		requirement, then the argument is <span class="boldText">valid</span>;
		otherwise, the argument is <span class="boldText">invalid</span>.
	</p>
	<p>
		The core requirement for validity is: If the argument's premises are all
		true, then the argument's conclusion must follow by logical form alone.
		Notice what this means. It is logically impossible for a valid argument to
		have all true premises and a false conclusion. When an argument is valid and
		its premises are true, we say that the conclusion's truth is
		<span class="boldText">inferred</span> or
		<span class="boldText">deduced</span> from the truth of the premises. If a
		conclusion does not necessarily follow from the premises being true (i.e.,
		the premises are all true but the conclusion is false or the conclusion
		could be true <span class="italicsText">or</span> false), then the
		conclusion is not validly deduced.
	</p>
	<p>We can test for an argument's validity procedurally:</p>
	<ol>
		<li>Identify all of the argument's assumptions.</li>
		<li>Identify all of the argument's premises.</li>
		<li>Identify the argument's conclusion.</li>
		<li>
			Identify all logical connectives linking each proposition (this constructs
			the argument's form).
		</li>
		<li>Construct a truth table:</li>
		<ol>
			<li>Enumerate the truth values for the assumptions.</li>
			<li>Enumerate the truth values for the premises.</li>
			<li>Enumerate the truth values for the conclusion.</li>
			<li>
				Evaluate the truth values for the logical connectives between the
				propositions in (a) through (c).
			</li>
		</ol>
		<li>
			If a row in the truth table shows all of the premises are true, that row
			is called the <span class="boldText">critical row</span>.
		</li>
		<li>
			If there is a critical row where the conclusion is false, then it is
			<span class="italicsText">possible</span> for an argument of the given
			form to have true premises and a false conclusion, so the argument form is
			<span class="boldText">invalid</span>.
		</li>
		<li>
			Else, if the conclusion of
			<span class="underlineText">every critical row</span> is true, then the
			argument form is <span class="boldText">valid</span>.
		</li>
	</ol>
</section>

<section id="modus_ponens">
	<p>
		<span class="topic">Modus Ponens.</span> An argument form composed of two
		premises and a conclusion is called a
		<span class="boldText">syllogism</span>. The first premise is called the
		<span class="boldText">major premise</span>, and the second the
		<span class="boldText">minor premise</span>. A syllogism we are likely all
		familiar with is <span class="boldText">modus ponens</span>:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${a \implies b}$</li>
				<li>$a$</li>
				<li class="conc">$b$</li>
			</ul>
		</div>
	</figure>
	<p>
		The Latin phrase <span class="italicsText">modus ponens</span> means
		&#8220;method of affirming,&#8221; drawn directly to the fact that the
		conclusion affirms the conditional. We can see that
		<span class="italicsText">modus ponens</span> is a valid argument form with
		a truth table:
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>$a$</th>
				<th>$b$</th>
				<th>${a \implies b}$</th>
				<th>$a$</th>
				<th>$b$</th>
			</thead>
			<tbody>
				<tr>
					<td>T</td>
					<td>T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td>T</td>
					<td>F</td>
					<td>F</td>
					<td>T</td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>T</td>
					<td>T</td>
					<td>F</td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>F</td>
					<td>T</td>
					<td>F</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>

<section id="modus_tollens">
	<p>
		<span class="topic">Modus Tollens.</span> Another syllogism is
		<span class="boldText">modus tollens</span>:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \implies q}$</li>
				<li>${\neg q}$</li>
				<li class="conc">${\neg p}$</li>
			</ul>
		</div>
	</figure>
	<p>
		The phrase <span class="italicsText">modus tollens</span> is Latin for
		&#8220;method of denying,&#8221; describing the argument's form of denying
		the necessary condition. A truth table demonstrates
		<span class="italicsText">modus tollens</span> as a valid argument form:
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>$p$</th>
				<th>$q$</th>
				<th>${p \implies q}$</th>
				<th>${\neg q}$</th>
				<th>${\neg p}$</th>
			</thead>
			<tbody>
				<tr>
					<td>T</td>
					<td>T</td>
					<td>T</td>
					<td>F</td>
					<td></td>
				</tr>
				<tr>
					<td>T</td>
					<td>F</td>
					<td>F</td>
					<td>T</td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>T</td>
					<td>T</td>
					<td>F</td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>F</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
				</tr>
			</tbody>
		</table>
	</figure>
</section>

<section id="generalization">
	<p>
		<span class="topic">Generalization</span> Valid argument forms are called
		<span class="boldText">rules of inference</span>. Thus, argument forms like
		<span class="italicsText">modus ponens</span> and
		<span class="italicsText">modus tollens</span> are rules of inference. One
		rule of inference is <span class="boldText">generalization</span>:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p}$</li>
				<li class="conc">${p \lor q}$</li>
			</ul>
		</div>
	</figure>
	<p>Similarly:</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${q}$</li>
				<li class="conc">${p \lor q}$</li>
			</ul>
		</div>
	</figure>
	<p>
		Generalization allows us to infer that, if $p$ is true, then any proposition
		logically connected to $p$ with an <span class="monoText">OR</span> is true.
		For example, suppose that the proposition "Apples are red" is true. From
		generalization, we can conclude that, more generally, "Apples are red or
		apples are green" is true.
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>$p$</th>
				<th>$q$</th>
				<th>${p \lor q}$</th>
			</thead>
			<tbody>
				<tr>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td class="cell-hl">T</td>
					<td>F</td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td>F</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td>F</td>
					<td>F</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		As an example: Suppose we are counting the number of seeding plants in our
		green house. We reach plant $x$, and find that it is labeled, "dicot." We
		can then conclude:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>$x$ is a dicot</li>
				<li class="conc">
					(<span class="italicsText">more generally</span>) $x$ is a dicot
					<span class="monoText">OR</span> $x$ is a monocot
				</li>
			</ul>
		</div>
	</figure>
	<p>Knowing that seeding plants includes dicots and monocots, we tally $x$.</p>
</section>

<section id="specialization">
	<p>
		<span class="topic">Specialization.</span> Another rule of inference is
		<span class="boldText">specialization</span>. Specialization takes the
		following argument form:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \land q}$</li>
				<li class="conc">$p$</li>
			</ul>
		</div>
	</figure>
	<p>Similarly,</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \land q}$</li>
				<li class="conc">$q$</li>
			</ul>
		</div>
	</figure>
	<p>A truth table demonstrates specialization's validity:</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>$p$</th>
				<th>$q$</th>
				<th>${p \land q}$</th>
				<th>$p$</th>
				<th>$q$</th>
			</thead>
			<tbody>
				<tr>
					<td>T</td>
					<td>T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td>T</td>
					<td>F</td>
					<td>F</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>T</td>
					<td>F</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>F</td>
					<td>F</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		For example, suppose we are told the following proposition is true:
		&#8220;Ada is a computer scientist and a mathematician.&#8221; With
		specialization, we can validly argue:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>Ada is a computer scientist and Ada is a mathematician.</li>
				<li class="conc">
					(<span class="italicsText">in particular</span>) Ada is a computer
					scientist.
				</li>
			</ul>
		</div>
	</figure>
	<p>
		Generalization and specialization are often the first steps to reaching new
		mathematical results. Not every fact is relevant in mathematical inquiry,
		but neither do we always have enough facts. Generalization and
		specialization allow us to expand or shrink the pool of "givens," tailoring
		known facts to fit into the hypotheses of known theorems.
	</p>
</section>

<section id="elimination">
	<p>
		<span class="topic">Elimination.</span>
		<span class="boldText">Elimination</span> is another rule of inference used
		extensively in mathematics. It takes the following form:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \lor q}$</li>
				<li>${\neg q}$</li>
				<li class="conc">${p}$</li>
			</ul>
		</div>
	</figure>
	<p>Similiarly:</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \lor q}$</li>
				<li>${\neg p}$</li>
				<li class="conc">${q}$</li>
			</ul>
		</div>
	</figure>
	<p>
		Elimination provides that given the compound proposition $x$, consisting of
		an $n$ number of propositions all linked with an
		<span class="monoText">OR</span>, if we prove that all of the component
		propositions are false <span class="underlineText">except</span> one
		component proposition $y$, it must be the case that $y$ is true. This is
		effectively the strategy of eliminating all possible cases to prove that a
		particular case is true.
	</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>$p$</th>
				<th>$q$</th>
				<th>${p \lor q}$</th>
				<th>${\neg p}$</th>
				<th>${\neg q}$</th>
				<th>$p$</th>
				<th>$q$</th>
			</thead>
			<tbody>
				<tr>
					<td>T</td>
					<td>T</td>
					<td>T</td>
					<td>F</td>
					<td>F</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>T</td>
					<td>F</td>
					<td class="cell-hl">T</td>
					<td>F</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
					<td></td>
				</tr>
				<tr>
					<td>F</td>
					<td>T</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
					<td>F</td>
					<td></td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td>F</td>
					<td>F</td>
					<td>F</td>
					<td>T</td>
					<td>T</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		For example: Suppose we are told that, ${x - 3 = 0}$
		<span class="monoText">OR</span> ${x + 2 = 0.}$ Then we are told that ${x
		\neq -2.}$ Elimination applies:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${(x - 3 = 0) \lor (x + 2 = 0)}$</li>
				<li>${x \neq -2}$</li>
				<li>${(x \neq -2) \implies \bot(x + 2 = 0)}$</li>
				<li class="conc">${x - 3 = 0}$</li>
			</ul>
		</div>
	</figure>
</section>

<section id="transitivity">
	<p>
		<span class="topic">Transitivity.</span> A frequent argument in mathematics
		is a chain of <span class="monoText">if-then</span> statements. We find that
		one fact is true, which implies that a second a fact is true, which implies
		a third fact is true. <span class="boldText">Transitivity</span> is the rule
		of inference that allows us to conclude, "Because the first fact is true,
		this third fact is true." The rule takes the form:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \implies q}$</li>
				<li>${q \implies r}$</li>
				<li class="conc">${p \implies r}$</li>
			</ul>
		</div>
	</figure>
</section>

<section id="proof_by_division_into_cases">
	<p>
		<span class="topic">Proof-by-Division-into-Cases.</span> The rule of
		inference <span class="boldText">proof-by-division-into-cases</span> takes
		the form:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \lor q}$</li>
				<li>${p \implies r}$</li>
				<li>${q \implies r}$</li>
				<li class="conc">${r}$</li>
			</ul>
		</div>
	</figure>
	<p>
		Proof-by-division-into-cases is particularly useful when we know that one
		proposition or another proposition is true. If we show that, either or, a
		certain conclusion follows, then such a conclusion must be true. For
		example:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>$x$ is positive or $x$ is negative.</li>
				<li>If $x$ is positive, then ${x^2 > 0.}$</li>
				<li>If $x$ is negative, then ${x^2 > 0.}$</li>
				<li class="conc">${x^2 > 0.}$</li>
			</ul>
		</div>
	</figure>
</section>

<section id="logical_errors">
	<h3>Fallacies</h3>
	<p>
		An error in deductive reasoning is called a
		<span class="boldText">fallacy</span>. A fallacy automatically results in an
		invalid argument, greatly reducing the argument's strength and credibility.
		As with valid arguments, we can spot fallacies by finding at least one
		critical row where all the argument's premises are true and the conclusion
		is false. Alternatively, we can identify fallacies by
		<span class="boldText">analogizing</span> &mdash; we find an argument $A$ of
		the same form, then show that argument $A$ has true premises and a false
		conclusion (remember, the standard of validity applies to all arguments;
		validity pertains to <span class="italicsText">form</span>, not
		<span class="italicsText">substance</span>). In the next sections, we
		identify several common fallacies.
	</p>
</section>

<section id="converse_error">
	<h3>The Converse Error.</h3>
	<p>Consider the following argument:</p>
	<figure>
		<div>
			<ul class="larg">
				<li>If Loki is a man, then Loki is human.</li>
				<li>Loki is human.</li>
				<li class="conc">Loki is a man.</li>
			</ul>
		</div>
	</figure>
	<p>
		This is an invalid argument. The fact that Loki is human does not preclude
		Loki being a woman or of non-binary identification. The fallacy in the
		argument above is called a <span class="boldText">converse error </span
		><sup>2</sup> &mdash; concluding that the sufficient condition is true
		because the necessary condition is true. The converse error takes the form:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${p \implies q}$</li>
				<li>${q}$</li>
				<li class="conc">${p}$</li>
			</ul>
		</div>
	</figure>
	<p class="fn">
		<sup>2</sup> The converse error is also called
		<span class="italicsText">affirming the consequent</span>.
	</p>
</section>

<section id="inverse_error">
	<h3>The Inverse Error.</h3>
	<p>Here's another invalid argument:</p>
	<figure>
		<div>
			<ul class="larg">
				<li>If Romulus's mother is a wolf, then a wolf suckled Romulus.</li>
				<li>Romulus's mother is not a wolf.</li>
				<li class="conc">A wolf did not suckle Romulus.</li>
			</ul>
		</div>
	</figure>
	<p>
		This argument is invalid because a wolf could very well have suckled Romulus
		even if Romulus's mother was not a wolf. Indeed, both Romulus and Remus were
		suckled by a she-wolf (unusual, but
		<span class="italicsText">possible</span>). The error here is called an
		<span class="boldText">inverse error</span>.<label
			for="inverse"
			class="margin-toggle"
			><sup></sup
		></label>
		<input type="checkbox" id="inverse" class="margin-toggle sidenote-number" />
		<span class="marginnote">
			The inverse error is also called
			<span class="italicsText">denying the antecedent</span>.</span
		>
	</p>
</section>

<section id="valid_arguments_false_premiseAndconclusion">
	<h3>Valid Arguments with False Premises and a False Conclusion</h3>
	<p>
		The fact that an argument rests on false premises and results in a false
		conclusion <span class="underlineText">does not</span> prevent the argument
		from being <span class="underlineText">valid</span>. For example, this
		argument is deductively valid:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>The city of Versailles is the capital of France.</li>
				<li>
					If a city is a country's capital, then it is the country's largest
					city.
				</li>
				<li class="conc">Versailles is France's largest city.</li>
			</ul>
		</div>
	</figure>
	<p>
		The premises above are all false. Paris is the capital of france, and there
		are numerous countries where the largest city is not the capital (e.g.,
		Washington D.C. is the United States's capital, but it dwarfs in comparison
		to New York City by any metric). The conclusion is also false &mdash;
		Versailles is small compared to Paris, Arles, Marseille, or Toulouse.
	</p>
	<p>
		Nevertheless, the argument is deductively valid. It is a simple exercise of
		<span class="italicsText">modus ponens</span>. Again, validity concerns
		form, not susbstance.
	</p>
</section>

<section id="valid_arguments_false_premiseAndTrueConclusion">
	<h3>Valid Arguments with Falses Premises and a True Conclusion</h3>
	<p>
		Similarly, the fact that an argument rests on false premises and results in
		a true conclusion <span class="underlineText">does not prevent</span> the
		argument from being <span class="underlineText">valid</span>. Here's a valid
		argument:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>If an organism is a moth, then the organism is a human.</li>
				<li>Brad Pitt is an organism that is a moth.</li>
				<li class="conc">Brad Pitt is a human.</li>
			</ul>
		</div>
	</figure>
	<p>
		The premises above are all false. Moths are not humans, and Brad Pitt is
		certainly not a moth. But, the conclusion is true &mdash; Brad Pitt is a
		human. But, like the previous example, this is another simple exercise of
		<span class="italicsText">modus ponens</span>, a valid argument form.
	</p>
</section>

<section id="invalid_argument_with_true_premisesAndconclusion">
	<h3>Invalid Arguments with True Premises and a True Conclusion</h3>
	<p>
		The fact that an argument rests on true premises and results in a true
		conclusion <span class="underlineText">does not</span> prevent the argument
		from being <span class="underlineText">invalid</span>. For example:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>If an animal is a reptile, then the animal is cold-blooded.</li>
				<li>Crocodiles are cold-blooded animals.</li>
				<li class="conc">Crocodiles are reptiles.</li>
			</ul>
		</div>
	</figure>
	<p>
		The above argument's premises and conclusion are all true. However, the
		argument is invalid because it commits a converse error &mdash; concluding
		that the sufficient condition is true because the necessary condition is
		true.
	</p>
</section>

<section id="sound_arguments">
	<h2>Sound Arguments</h2>
	<p>If an argument satisfies these two conditions:</p>
	<ol>
		<li>The argument is valid; <span class="underlineText">and</span></li>
		<li>all of the argument's premises are true</li>
	</ol>
	<p>
		then we say that the argument is <span class="boldText">sound</span>. More
		generally, the property of
		<span class="italicsText">soundness</span> results when an argument
		satisifies the relevant standards of
		<span class="italicsText">form</span> and
		<span class="italicsText">substance</span>. Soundness is the standard for
		obtaining new mathematical results. Validity is the bare minimum. This is
		because there are three different possibilities for valid arguments:
	</p>
	<ol>
		<li>true premises and a true conclusion</li>
		<li>false premise(s) and a true conclusion</li>
		<li>false premise(s) and a false conclusion</li>
	</ol>
	<p>
		Soundness ensures that only the first possibility occurs with valid argument
		forms: We accept a conclusion as fact in mathematics
		<span class="boldText">only if</span> the argument producing that conclusion
		is <span class="boldText">sound</span>.
	</p>
</section>

<section id="contradiction">
	<h2>Contradiction</h2>
	<p>
		The principle of <span class="boldText">contradiction</span> is a
		cornerstone of mathematics. It is at the very heart of the method of
		<span class="italicsText">proof by contradiction</span>. Suppose $p$ is a
		proposition we wish to deduce. We can prove that $p$ is true with the
		following argument form:
	</p>
	<div class="mproof">
		<div class="premises">
			<ul>
				<li>Suppose that $p$ is false.</li>
				<li>assumption</li>
			</ul>
			<ul>
				<li>If $p$ is false, then there is a logical contradiction.</li>
				<li>the data</li>
			</ul>
			<ul>
				<li>$p$ is false.</li>
				<li>the assumption</li>
			</ul>
			<ul>
				<li>&#8756; $p$ must be true.</li>
				<li>the contradiction rule</li>
			</ul>
		</div>
		<div class="conclusion">
			<ul>
				<li>$p$ is true</li>
				<li>Q.E.D.</li>
			</ul>
		</div>
	</div>

	<p>
		The critical step in this argument is the second premise: That there is a
		logical contradiction if $p$ is false. For this premise to be true, $p$
		being false must contradict the <span class="boldText">data</span> &mdash;
		what we know as facts. This rule of inference is called the
		<span class="boldText">contradiction rule</span>. Symbolically:
	</p>
	<figure>
		<div>
			<ul class="larg">
				<li>${\neg p \implies \bot}$</li>
				<li>${\neg p}$</li>
				<li class="conc">${p}$</li>
			</ul>
		</div>
	</figure>
	<p>The contradiction rule can be proved with a truth table:</p>
	<figure class="table">
		<table class="truth_table">
			<thead>
				<th>${p}$</th>
				<th>${\neg p}$</th>
				<th>${\bot}$</th>
				<th>${\neg p \implies \bot}$</th>
				<th>${p}$</th>
			</thead>
			<tbody>
				<tr>
					<td>T</td>
					<td>F</td>
					<td>F</td>
					<td class="cell-hl">T</td>
					<td class="cell-hl">T</td>
				</tr>
				<tr>
					<td>T</td>
					<td>F</td>
					<td>F</td>
					<td>F</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>
		<span class="boldText">Eliminating possible cases.</span> The contradiction
		rule also allows us to narrow down possible cases by way of a powerful rule:
		If an assumption leads to a contradiction, then that assumption
		<span class="underlineText">must be false</span>.
	</p>
	<p>
		As an example of how useful this rule is, consider the following problem
		presented by the logician Raymond Smullyan:
	</p>
	<ul>
		<li>There exists an island with two types of inhabitants:</li>
		<ol>
			<li>Knights who always tell the truth; and</li>
			<li>Knaves who always lie.</li>
		</ol>
		<li>
			On visiting the island, you are approached by two natives, $A$ and $B$,
			who state:
		</li>
		<ul>
			<li>$A$: $B$ is a knight.</li>
			<li>$B$: $A$ and I are of opposite type.</li>
		</ul>
	</ul>
	<p>What are $A$ and $B$?</p>
	<details class="answer">
		<summary>Answer</summary>
		<p>First, we observe that there are four possibilites:</p>
		<ol>
			<li>$A$ is a knight and $B$ is a knight.</li>
			<li>$A$ is a knight and $B$ is a knave.</li>
			<li>$A$ is a knave and $B$ is a knight.</li>
			<li>$A$ is a knave and $B$ is a knave.</li>
		</ol>
		<p>
			Next, suppose that $A$ is a knight. If $A$ is a knight, then $A$ always
			tells the truth. Thus, $B$ is a knight. But, if $B$ is a knight, then $B$
			always tells the truth, so $A$ is a knave. This is a contradiction. Thus,
			$A$ cannot be a knight. $A$ must be a knave.
		</p>
		<p>
			If $A$ is a knave, then $A$ always tells lies. Thus, $B$ is not a knight.
			$B$ is therefore a knave. And since $B$ is a knave, $B$ always tells lies,
			so $A$ and $B$ are not of opposite type. Accordingly, both $A$ and $B$ are
			knaves.
		</p>
	</details>
</section>
{% endblock %}
