{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="Learn Regex: An overview of regular expressions."
/>
{% endblock %} {% block title %}
<title>Regex</title>
{% endblock %} {% block content %}
<h1>Regex</h1>
<section id="intro">
	<p>
		<span class="drop">R</span>egular expressions are some of the most useful
		tools in development. For example, suppose we had the HTML tag
		<span class="monoText">&lt;div class=&quot;light&quot;&gt;&lt;/div&gt</span>
		written throughout a page. We want to replace every instance of this tag
		with
		<span class="monoText"
			>&lt;figure class=&quot;dark&quot;&gt;&lt;/figure&gt;</span
		>, while keeping the contents inside the tag. We can't exactly
		search-and-replace with just natural language because we want to keep
		variable content. It seems like manually changing these tags, one by one, is
		the only way out. But the task is daunting &mdash; there could very well be
		hundreds of them. This problem is precisely what regular expressions are
		for. With regular expressions, we can search for the tag and replace
		everything other than the variable content.
	</p>
</section>
{% endblock %}
