{% extends '../layout.html' %} {% load static %} {% block description %}
<meta
	name="description"
	content="Notes on Webpack, Kubernetes, and various orchestration tools."
/>
{% endblock %} {% block title %}
<title>Bundling Tools</title>
{% endblock %} {% block content %}
<h1>Orchestration Tools</h1>
<section id="intro">
	<p>
		One way to identify high-quality software is by examining its source
		code's modularity. More modularized, more likely high-quality. Why?
		Because modularized software is easier to debug, test, maintain, and
		improve. And the easier these actions are, the easier it is to ship a
		polished, high-end product.
	</p>
	<p>
		The trouble: we need a way to organize all of these modules. A large
		software application can consist of several hundred modules, many of
		which might consist of submodules, which themselves consist of
		sub-submodules. It's not that difficult to imagine ourselves getting
		lost trying to navigate all these different components.
	</p>
	<p>
		This problem is precisely what the <b>orchestration tools</b> explored
		in this chapter address. Orchestration tools are what they sound like
		&mdash; they aid in orchestrating the software manufacturing process.
		Where some tools are directly used to manufacture the software
		components, orchestration tools are what we use to direct, and help
		direct, the flow of manufacture.
	</p>
</section>

<section id="bundlers">
	<h2>Module Bundlers</h2>
	<p></p>
</section>
{% endblock %}
