<li><a href="{% url 'numerc:des_index' %}"><span class="boldText">Software Engineering</span></a>
	<ul>
		<li><a href="{% url 'numerc:des_naming' %}">Naming</a></li>
		<li><a href="{% url 'numerc:des_functions' %}">Functions</a></li>
		<li><a href="{% url 'numerc:des_classes' %}">Classes</a></li>
		<li><a href="{% url 'numerc:des_shell' %}">Shells</a></li>
		<li><a href="{% url 'numerc:des_git' %}">Git & Github</a></li>
		<li><a href="{% url 'numerc:des_regex' %}">Regular Expressions</a></li>
	</ul>
</li>