{% extends '../layout.html' %} {% load static %} {% block content %}
<h1>Sequences & Series: Prelude</h1>
<section>
	<p>
		This volume explores sequences and series. In the typical U.S. math
		sequence, sequences and series are covered in a course called Calculus II.
		However, in my experience (both personally and surveying course reviews),
		the sequences and series module in Calculus II appears almost out of nowhere
		and entirely unrelated to calculus. Only later in the calculus course do the
		connections begin creeping in.
	</p>
	<p>
		Because of this abruption, sequences and series are treated in a separate
		volume. And rightly so; they require a shift in thinking, and are important
		to not just calculus, but a variety of other mathematical fields.
		Furthermore, the benefit to online formatted text is the availability of
		hyperlinking. With a physical textbook, separating sequences and series
		entirely would require students to purchase separate textbooks. No such cost
		appears here, so the liberty to separate the topics entirely is at our
		disposal. Accordingly, there are portions of the calculus volume that link
		directly to these materials.
	</p>
	<p>
		Sequences and series, however, can be studied in their own right. As we'll
		see, sequences and series is one of the oldest and most developed topics in
		mathematics, and its impacts on mathematics, the sciences, and technology is
		undisputed.
	</p>
</section>
{% endblock %}
