{% extends 'numerm/layout.html' %} {% block description %}
<meta
	name="description"
	content="Math notes: Discrete Math, Algebra 1, Algebra 2, Calculus, Linear Algebra, Differential Equations"
/>
{% endblock %} {% block title %}
<title>Numerm</title>
{% endblock %} {% block forward %} {% endblock %} {% block content %}
<h1>Preface</h1>
<section>
	<p>
		The following pages contain notes from various math courses I've taken, as
		well as my own independent readings. I allocate what free time I can find
		each day learning something new in mathematics, then
		recording my findings here. I've made a separate page,
		<a href="{% url 'numerc:index' %}">numerc</a>, containing similar notes for
		computer science. Given my often hectic schedule, there may be errors or
		omissions. I try my best to correct these blunders during my week's end
		review, and during a broader cumulative review at month's end.
	</p>

	<p>
		I am so fortunate to have the time and opportunity to read mathematics, when
		so many of us go through life without ever getting the chance. I hope the
		materials evidence some of the field's beauty, and more importantly, provide
		others the opportunity.
	</p>
</section>

<section id="toc">
	<h2>Table of Contents</h2>
	<ul>
		{% include './navlist.html' %}
	</ul>
</section>
{% endblock %}
