{% extends 'numerm/layout.html' %} 
{% block forward %}
<p><a href="{% url 'numerm:balg_preface' %}">Prelude: Basic Algebra</a></p>
{% endblock %} 

{% block content %}
<section>
	<h1>Preface</h1>
	<p>
		The following pages contain notes synthesized from my study of mathematics.
		I have a separate page,
		<a href="{% url 'numerc:index' %}">numerc</a
		>, containing notes for computer science. I allocate what free time I can
		find each day learning something new in mathematics and computer science and
		record my findings here. Given my often hectic schedule, there may be errors
		or omissions. I try my best to correct these blunders during my week's end
		review, and during a broader cumulative review at month's end.
	</p>

	<p>
		I am so fortunate to have the time and opportunity to study mathematics,
		when so many of us go through life without ever getting the chance. I hope
		the materials evidence some of the beauty in mathematics, and more
		importantly, provide others the opportunity.
	</p>
</section>
{% endblock %}
