
<li><a href="{% url 'numerm:index' %}">Preface</a></li>
<li><a href="{% url 'numerm:toc' %}">Table of Contents</a></li>
<li><a href="{% url 'numerm:balg_preface' %}">Elementary Algebra</a></li>
<ul>
	<li><a href="{% url 'numerm:balg_realProperties' %}">Properties of Reals</a></li>
	<li><a href="{% url 'numerm:balg_ratios' %}">Ratios</a></li>
	<li><a href="{% url 'numerm:balg_percents' %}">Percents</a></li>
	<li><a href="{% url 'numerm:balg_proportion' %}">Proportions</a></li>
	<li><a href="{% url 'numerm:balg_exponents' %}">Exponents</a></li>
	<li><a href="{% url 'numerm:balg_radicals' %}">Radicals & Radical Expressions</a></li>
	<li><a href="{% url 'numerm:balg_rationalizingDenominators' %}">Rationalizing Denominators</a></li>
	<li><a href="{% url 'numerm:balg_nthRoot' %}">${n^{\text{\scriptsize{th}}}}$ Root</a></li>
	<li><a href="{% url 'numerm:balg_rationalExponents' %}">Rational Exponents</a></li>
	<li><a href="{% url 'numerm:balg_rationalExpressions' %}">Rational Expressions</a></li>
	<li><a href="{% url 'numerm:balg_absoluteValue' %}">Absolute Value</a></li>
</ul>
<li><a href="{% url 'numerm:disc_preface' %}">Basic Discrete Mathematics</a></li>
<ul>
	<li><a href="{% url 'numerm:disc_induction' %}">Induction</a></li>
	<li><a href="{% url 'numerm:disc_invariants' %}">Invariants</a></li>
	<li><a href="{% url 'numerm:disc_strongInduction' %}">Strong Induction</a></li>
	<li><a href="{% url 'numerm:disc_numberTheory' %}">Number Theory</a></li>
	<li><a href="{% url 'numerm:disc_variables' %}">Variables</a></li>
	<li><a href="{% url 'numerm:disc_setTheory' %}">Set Theory</a></li>
	<li><a href="{% url 'numerm:disc_openSentences' %}">Open Sentences</a></li>
	<li><a href="{% url 'numerm:disc_orderedPairs' %}">Ordered Pairs</a></li>
	<li><a href="{% url 'numerm:disc_tuples' %}">Tuples</a></li>
	<li><a href="{% url 'numerm:disc_strings' %}">Strings</a></li>
	<li><a href="{% url 'numerm:disc_relations' %}">Relations</a></li>
	<li><a href="{% url 'numerm:disc_functionsRelations' %}">Functions</a></li>
	<li><a href="{% url 'numerm:disc_logic' %}">Logic</a></li>
	<li><a href="{% url 'numerm:disc_logicCircuits' %}">Applications: Logic Circuits</a></li>
	<li><a href="{% url 'numerm:disc_counting' %}">Counting</a></li>
</ul>
<li><a href="">Basic Continuous Mathematics</a></li>
<ul>
	<li><a href="{% url 'numerm:cont_setTheoryReview' %}">Review: Set Theory</a></li>
	<li><a href="{% url 'numerm:cont_intervals' %}">Intervals</a></li>
	<li><a href="{% url 'numerm:cont_basicAlgebra' %}">Basic Algebra</a></li>
	<li><a href="{% url 'numerm:cont_expressionDomain' %}">Expression Domain</a></li>
	<li><a href="{% url 'numerm:cont_equations' %}">Equations</a></li>
	<li><a href="{% url 'numerm:cont_quadratics' %}">Quadratics</a></li>
	<li><a href="{% url 'numerm:cont_polynomials' %}">Polynomial Equations</a></li>
	<li><a href="{% url 'numerm:cont_cartesianPlane' %}">Cartesian Plane</a></li>
	<li><a href="{% url 'numerm:cont_pythagoreanCartesian' %}">Pythagorean Theorem & Coordinates</a></li>
	<li><a href="{% url 'numerm:cont_distanceFormula' %}">Distance Formula</a></li>
	<li><a href="{% url 'numerm:cont_graphLines' %}">Slope</a></li>
	<li><a href="{% url 'numerm:cont_quadraticEquations' %}">Quadratic Formula</a></li>
	<li><a href="{% url 'numerm:cont_equationInequalities' %}">Inequalities & Equations</a></li>
	<li><a href="{% url 'numerm:cont_absoluteValuesInequalities'%}">Absolute Values & Inequalities</a></li>
	<li><a href="{% url 'numerm:cont_introFunctions' %}">Functions Introduction</a></li>
	<li><a href="{% url 'numerm:cont_functionBehaviors' %}">Function Behaviors</a></li>
	<li><a href="{% url 'numerm:cont_commonDomainMistakes' %}">Common Domain Mistakes</a></li>
	<li><a href="{% url 'numerm:cont_graphsFunctions' %}">Function Graphs</a></li>
	<li><a href="{% url 'numerm:cont_graphAbsoluteValue' %}">Absolute Value Function</a></li>
	<li><a href="{% url 'numerm:cont_graphExponential' %}">Exponential Functions</a></li>
	<li><a href="{% url 'numerm:cont_graphLog' %}">Logarithmic Functions</a></li>
	<li><a href="{% url 'numerm:cont_graphSquaring' %}">Squaring Function</a></li>
	<li><a href="{% url 'numerm:cont_graphCubic' %}">Cubic Function</a></li>
	<li><a href="{% url 'numerm:cont_graphReciprocal' %}">Reciprocal Function</a></li>
	<li><a href="{% url 'numerm:cont_graphSquareRoot' %}">Square Root Function</a></li>
	<li><a href="{% url 'numerm:cont_graphSemiCircle' %}">Semicircle Function</a></li>
	<li><a href="{% url 'numerm:cont_piecewiseFunctions' %}">Piece-wise Functions</a></li>
	<li><a href="{% url 'numerm:cont_implicitFunctions' %}">Implicit Functions</a></li>
	<li><a href="{% url 'numerm:cont_graphAnalysis' %}">Function Graph Analysis</a></li>
	<li><a href="{% url 'numerm:cont_averageRateOfChange' %}">Average Rate of Change</a></li>
	<li><a href="{% url 'numerm:cont_functionComposition' %}">Composition of Functions</a></li>
	<li><a href="{% url 'numerm:cont_introTrigFunctions' %}">Introduction: The Trigonometric Functions</a></li>
	<li><a href="{% url 'numerm:cont_angles' %}">Angles</a></li>
	<li><a href="{% url 'numerm:cont_radiansDegrees' %}">Radians v. Degrees</a></li>
	<li><a href="{% url 'numerm:cont_convertRadians' %}">Convert Radians</a></li>
	<li><a href="{% url 'numerm:cont_arcSector' %}">Arc Length & Sector</a></li>
	<li><a href="{% url 'numerm:cont_rightAngleTrig' %}">Right Angle Trigonometry</a></li>
	<li><a href="{% url 'numerm:cont_trigFunctions' %}">Trigonometric Functions</a></li>
	<li><a href="{% url 'numerm:cont_transcendentalFunctions' %}">Transcendental Functions</a></li>
</ul>
<li><a href="{% url 'numerm:lin_intro' %}">Linear Algebra</a></li>
<ul>
	<li><a href="">Foundations</a></li>
</ul>
<li><a href="{% url 'numerm:calc_preface' %}">Single-variable Calculus</a></li>
<ul>
	<li><a href="{% url 'numerm:calc_reals' %}">Properties of Reals</a></li>
	<li><a href="{% url 'numerm:calc_thederivative' %}">The Derivative</a></li>
	<li><a href="{% url 'numerm:calc_derivativePowerFunction' %}">Derivative of a Power Function</a></li>
	<li><a href="{% url 'numerm:calc_rateOfChange' %}">Rate of Change</a></li>
	<li><a href="{% url 'numerm:calc_limits' %}">Limits & Continuity</a></li>
	<li><a href="{% url 'numerm:calc_derivativeFormulas' %}">Derivative Formulas</a></li>
</ul>
